e2-solucoes-bot/n8n/workflows/02_ai_agent_conversation_V62_COMPLETE_UX_FIX.json
{
  "name": "02 - AI Agent V62 (Complete UX Fix - All Issues Resolved)",
  "nodes": [
    {
      "parameters": {},
      "id": "e007064a-93ec-4da7-a718-bf4a4bcf331f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validação de entrada do Workflow 01\nconst inputData = $input.first().json;\n\n// Validação crítica do phone_number\nif (!inputData.phone_number || inputData.phone_number === 'undefined') {\n    throw new Error('Phone number is required but was not received from Workflow 01');\n}\n\n// Limpar e validar formato do phone_number\nlet phone_number = String(inputData.phone_number).replace(/[^0-9]/g, '');\n\n// Remover @s.whatsapp.net se existir\nif (phone_number.includes('@')) {\n  phone_number = phone_number.split('@')[0];\n}\n\n// IMPORTANTE: Adicionar código 55 se não tiver (MOVIDO DO PREPARE UPDATE DATA)\nif (phone_number && !phone_number.startsWith('55')) {\n  // Se tem 10 ou 11 dígitos (formato brasileiro), adiciona 55\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n    console.log('Adicionado código 55:', phone_number);\n  }\n  // Se tem 12 ou 13 dígitos começando com outro código, mantém\n  else if (phone_number.length >= 12) {\n    console.log('Número já tem código de país:', phone_number);\n  }\n  // Qualquer outro caso, tenta adicionar 55\n  else {\n    phone_number = '55' + phone_number;\n    console.log('Formato desconhecido, adicionado 55:', phone_number);\n  }\n}\n\n// Validação de formato brasileiro (DDD + número) - AGORA COM 55\nif (phone_number.length < 12 || phone_number.length > 13) {\n    console.warn(`Phone number format unusual: ${phone_number} (expected 12-13 digits with country code)`);\n}\n\nconsole.log('Validated input:', {\n    phone_number: phone_number,  // Agora já tem 55\n    whatsapp_name: inputData.whatsapp_name,\n    message_type: inputData.message_type\n});\n\nreturn {\n    phone_number: phone_number,  // COM código 55\n    whatsapp_name: inputData.whatsapp_name || '',\n    message: inputData.message || '',\n    message_type: inputData.message_type || 'text',\n    media_url: inputData.media_url || null,\n    message_id: inputData.message_id || '',\n    timestamp: inputData.timestamp || new Date().toISOString()\n};"
      },
      "id": "56bd8c6a-b7a0-40a4-a6c4-57f05ca25744",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare both phone formats for SQL queries\n// This node receives data directly from WEBHOOK (not from Validate Input Data)\nconst inputData = $input.first().json;\n\n// Get phone number - could come from webhook or validate input\nlet phone_with_code = String(inputData.phone_number || '');\n\n// Clean the phone number\nphone_with_code = phone_with_code.replace(/[^0-9]/g, '');\n\n// Add country code if missing\nif (phone_with_code && !phone_with_code.startsWith('55')) {\n    if (phone_with_code.length === 10 || phone_with_code.length === 11) {\n        phone_with_code = '55' + phone_with_code;\n        console.log('Added country code 55:', phone_with_code);\n    }\n}\n\n// Create version without country code for compatibility\nlet phone_without_code = phone_with_code;\nif (phone_with_code.startsWith('55')) {\n    phone_without_code = phone_with_code.substring(2);\n}\n\nconsole.log('=== PHONE FORMAT PREPARATION ===');\nconsole.log('With code (55):', phone_with_code);\nconsole.log('Without code:', phone_without_code);\n\n// Return both formats and pass through all other data\nreturn {\n    ...inputData, // Pass through all original data\n    phone_with_code: phone_with_code,      // e.g., \"556181755748\"\n    phone_without_code: phone_without_code, // e.g., \"6181755748\"\n    // Keep original for compatibility\n    phone_number: phone_with_code,\n\n    // CRITICAL V26 FIX: Ensure ALL possible message field names are present\n    // This handles different webhook formats from Evolution API\n    message: inputData.message || inputData.body || inputData.text || inputData.content || '',\n    content: inputData.content || inputData.message || inputData.body || inputData.text || '',\n    body: inputData.body || inputData.message || inputData.text || inputData.content || '',\n    text: inputData.text || inputData.message || inputData.body || inputData.content || '',\n\n    // Also ensure whatsapp_name is present\n    whatsapp_name: inputData.whatsapp_name || inputData.pushName || inputData.profileName || ''\n};"
      },
      "id": "580dfe3e-31ea-4337-a502-f8addfbf9367",
      "name": "Prepare Phone Formats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        384
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-ai-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "0c70f884-0df7-418d-b238-d74060588bed",
      "name": "Webhook - Receive Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -464,
        688
      ],
      "webhookId": "ai-agent-conversation-v1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_count}}",
        "additionalFields": {}
      },
      "id": "6ce6c308-1183-4ffd-a8b2-1290a45b82d3",
      "name": "Get Conversation Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -256,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_details}}",
        "additionalFields": {}
      },
      "id": "d6f73a5f-97f4-417d-8b06-83f7c2c6e2ea",
      "name": "Get Conversation Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        352,
        928
      ],
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "0"
            }
          ]
        }
      },
      "id": "c21aeec7-83c2-4f54-9ad2-ec3b033d9078",
      "name": "Check If New User",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -64,
        688
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_upsert}}",
        "options": {}
      },
      "id": "4657386e-04f9-4e40-b63d-74bf9cf206fa",
      "name": "Create New Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "\n// =====================================\n// V58.1 STATE MACHINE - COMPLETE UX REFACTOR (ALL 8 GAPS FIXED)\n// =====================================\nconsole.log('V58.1 STATE MACHINE - START (All 8 Gaps Addressed)');\n\n// Extract input data\nconst input = $input.first().json;\nconst message = input.message || input.body || input.text || '';\n\n\n// ============================================================================\n// HELPER FUNCTION: Format Phone Display\n// ============================================================================\n/**\n * Format phone number for display\n * Examples:\n *   \"556281755748\" → \"(62) 98175-5748\"\n *   \"62981755748\" → \"(62) 98175-5748\"\n *   \"(62) 98175-5748\" → \"(62) 98175-5748\" (already formatted)\n */\nfunction formatPhoneDisplay(phone) {\n  if (!phone) return '';\n\n  // Remove all non-digit characters\n  const digits = phone.replace(/\\D/g, '');\n\n  // Handle Brazilian phone numbers\n  // Format: (XX) XXXXX-XXXX for mobile or (XX) XXXX-XXXX for landline\n\n  if (digits.length >= 12 && digits.startsWith('55')) {\n    // International format: 556281755748\n    const ddd = digits.substring(2, 4);\n    const rest = digits.substring(4);\n\n    if (rest.length === 9) {\n      // Mobile: (XX) 9XXXX-XXXX\n      return `(${ddd}) ${rest.substring(0, 5)}-${rest.substring(5)}`;\n    } else if (rest.length === 8) {\n      // Landline: (XX) XXXX-XXXX\n      return `(${ddd}) ${rest.substring(0, 4)}-${rest.substring(4)}`;\n    }\n  } else if (digits.length === 11) {\n    // National mobile: 62981755748\n    const ddd = digits.substring(0, 2);\n    const number = digits.substring(2);\n    return `(${ddd}) ${number.substring(0, 5)}-${number.substring(5)}`;\n  } else if (digits.length === 10) {\n    // National landline: 6232015000\n    const ddd = digits.substring(0, 2);\n    const number = digits.substring(2);\n    return `(${ddd}) ${number.substring(0, 4)}-${number.substring(4)}`;\n  }\n\n  // Return original if format not recognized\n  return phone;\n}\n\n\n// ============================================================================\n// HELPER FUNCTION: Get Service Emoji\n// ============================================================================\nfunction getServiceEmoji(serviceType) {\n  const emojiMap = {\n    'Energia Solar': '☀️',\n    'energia_solar': '☀️',\n    'Subestação': '⚡',\n    'subestacao': '⚡',\n    'Projetos Elétricos': '📐',\n    'projeto_eletrico': '📐',\n    'BESS': '🔋',\n    'armazenamento_energia': '🔋',\n    'Análise e Laudos': '📊',\n    'analise_laudo': '📊'\n  };\n  return emojiMap[serviceType] || '🔧';\n}\n\n// ============================================================================\n// V54: CONVERSATION ID EXTRACTION (PRESERVED FROM V57.2)\n// ============================================================================\nconsole.log('=== V54 CONVERSATION ID EXTRACTION (V57.2 PRESERVED) ===');\n\nconst input_data = $input.first().json;\n\n// Comprehensive extraction\nlet conversation_id = null;\n\nif (input_data.id) {\n  conversation_id = input_data.id;\n  console.log('✅ V54: Found id from database:', conversation_id);\n} else if (input_data.conversation_id) {\n  conversation_id = input_data.conversation_id;\n  console.log('✅ V54: Found conversation_id field:', conversation_id);\n} else if (input_data.conversation && input_data.conversation.id) {\n  conversation_id = input_data.conversation.id;\n  console.log('✅ V54: Found id in conversation object:', conversation_id);\n}\n\nif (!conversation_id) {\n  console.error('V54 CRITICAL ERROR: conversation_id is NULL!');\n  throw new Error('V54: conversation_id extraction failed - no id field found');\n}\n\nconsole.log('✅ V54 SUCCESS: conversation_id validated:', conversation_id);\nconsole.log('=== V54 CONVERSATION ID EXTRACTION COMPLETE ===');\n// ============================================================================\n\nconst phoneNumber = input.phone_number || input.phone_without_code || '';\nconst currentData = input.collected_data || {};\n\nconsole.log('V58.1 Input:');\nconsole.log('  Message:', message);\nconsole.log('  Phone:', phoneNumber);\nconsole.log('  Conversation ID:', conversation_id);\n\n// Get current state\nconst currentStage = input.state_machine_state ||\n                     input.current_state ||\n                     input.state_for_machine ||\n                     'greeting';\n\nconsole.log('V58.1 Current Stage:', currentStage);\n\n// Initialize variables\nlet responseText = '';\nlet nextStage = currentStage;\nlet updateData = {};\nlet errorCount = input.error_count || 0;\n\n// ============================================================================\n// GAP #1 FIX: COMPLETE STATE NAME MAPPING (4 NEW ENTRIES)\n// ============================================================================\nconsole.log('=== GAP #1: COMPLETE STATE NAME MAPPING ===');\n\nconst stateNameMapping = {\n  // V57.2 EXISTING MAPPINGS (PRESERVED)\n  'novo': 'greeting',\n  'greeting': 'greeting',\n  'identificando_servico': 'service_selection',\n  'service_selection': 'service_selection',\n  'coletando_nome': 'collect_name',\n  'collect_name': 'collect_name',\n  'coletando_telefone': 'collect_phone',\n  'collect_phone': 'collect_phone',\n  'coletando_email': 'collect_email',\n  'collect_email': 'collect_email',\n  'coletando_cidade': 'collect_city',\n  'collect_city': 'collect_city',\n  'confirmacao': 'confirmation',\n  'confirmation': 'confirmation',\n\n  // V58.1 NEW MAPPINGS (GAP #1 - 4 ENTRIES) ✅\n  'coletando_telefone_confirmacao_whatsapp': 'collect_phone_whatsapp_confirmation',\n  'collect_phone_whatsapp_confirmation': 'collect_phone_whatsapp_confirmation',\n  'coletando_telefone_alternativo': 'collect_phone_alternative',\n  'collect_phone_alternative': 'collect_phone_alternative'\n};\n\nconst normalizedStage = stateNameMapping[currentStage] || currentStage;\nconsole.log(`V58.1 GAP #1: State normalized: ${currentStage} → ${normalizedStage}`);\nconsole.log('✅ GAP #1 FIXED: Complete state name mapping applied');\n\n// ============================================================================\n// GAP #2 FIX: COMPLETE VALIDATOR MAPPING\n// ============================================================================\nconsole.log('=== GAP #2: VALIDATOR MAPPING ===');\n\nfunction getValidatorForStage(stage) {\n  const validatorMapping = {\n    // V57.2 EXISTING VALIDATORS (PRESERVED)\n    'greeting': null,\n    'service_selection': 'number_1_to_5',\n    'collect_name': 'text_min_3_chars',\n    'collect_phone': 'phone_brazil',\n    'collect_email': 'email_or_skip',\n    'collect_city': 'city_name',\n    'confirmation': 'confirmation_1_or_2',\n\n    // V58.1 NEW VALIDATORS (GAP #2 - 2 ENTRIES) ✅\n    'collect_phone_whatsapp_confirmation': 'confirmation_1_or_2', // Reuse existing\n    'collect_phone_alternative': 'phone_brazil' // Reuse existing\n  };\n\n  const validator = validatorMapping[stage];\n  console.log(`V58.1 GAP #2: Validator for ${stage}: ${validator || 'none'}`);\n  return validator;\n}\n\nconsole.log('✅ GAP #2 FIXED: Complete validator mapping');\n\n// ============================================================================\n// GAP #6 FIX: SERVICE SELECTION MAPPING (NUMBER → STRING)\n// ============================================================================\nconsole.log('=== GAP #6: SERVICE SELECTION MAPPING ===');\n\nconst serviceMapping = {\n  '1': 'Energia Solar',\n  '2': 'Subestação',\n  '3': 'Projetos Elétricos',\n  '4': 'BESS',\n  '5': 'Análise e Laudos'\n};\n\nconsole.log('✅ GAP #6 FIXED: Service selection mapping ready');\n\n// ============================================================================\n// GAP #4 FIX: COMPLETE TEMPLATES (2 NEW TEMPLATES)\n// ============================================================================\nconsole.log('=== GAP #4: COMPLETE TEMPLATES ===');\n\nconst templates = {\n  greeting: `🤖 *Olá! Bem-vindo à E2 Soluções!*\n\nSomos especialistas em engenharia elétrica com *15+ anos de experiência*.\n\n*Qual serviço você precisa?*\n\n☀️ *1 - Energia Solar*\n   Projetos fotovoltaicos residenciais e comerciais\n\n⚡ *2 - Subestação*\n   Reforma, manutenção e construção\n\n📐 *3 - Projetos Elétricos*\n   Adequações e laudos técnicos\n\n🔋 *4 - BESS (Armazenamento)*\n   Sistemas de armazenamento de energia\n\n📊 *5 - Análise e Laudos*\n   Qualidade de energia e eficiência\n\n_Digite o número do serviço (1-5):_`,\n\n  service_selection: `Ótima escolha! Vou precisar de alguns dados.\n\n👤 *Qual é o seu nome completo?*\n\n💡 _Exemplo: Maria Silva Santos_\n_Usaremos para personalizar seu atendimento_`,\n\n  collect_name: `Obrigado, {{name}}!\n\n📱 *Qual é o seu telefone com DDD?*\n\nIdentificaremos se é seu WhatsApp automaticamente.\n\n💡 _Exemplo: (62) 98765-4321_\n_Usaremos este número para agendarmos sua visita técnica_`,\n\n  collect_phone: `📱 *Qual é o seu telefone com DDD?*\n\n💡 _Exemplo: (62) 98765-4321_\n_Usaremos este número para agendarmos sua visita técnica_`,\n\n  collect_phone_whatsapp_confirm: `📱 *Ótimo, {{name}}!*\n\nVi que você está me enviando mensagens pelo número:\n*{{whatsapp_number}}*\n\nEste é o melhor número para contato?\n\n1️⃣ *Sim, pode usar este*\n2️⃣ *Não, vou informar outro*`,\n\n  collect_phone_alternative: `📱 *Certo! Qual o melhor telefone para contato?*\n\n_Informe com DDD:_\nExemplo: (62) 98765-4321 ou 62987654321`,\n\n  invalid_phone: `❌ *Telefone inválido.*\n\nPor favor, informe um telefone válido com DDD.\n\n*Formatos aceitos:*\n• (62) 98765-4321\n• 62 98765-4321\n• 62987654321`,\n\n  collect_email: `📧 *Qual é o seu e-mail?*\n\nEnviaremos a proposta técnica e documentos por e-mail.\n\n💡 _Exemplo: maria.silva@email.com_\n_Digite *\"pular\"* se preferir não informar_\n\n⚠️ _Sem e-mail, os documentos serão enviados apenas por WhatsApp_`,\n\n  collect_city: `🏙️ *Em qual cidade você está?*\n\nPrecisamos saber para agendar a visita técnica.\n\n💡 _Exemplo: Goiânia - GO_\n\n📍 *Área de Atendimento:*\n   Atendemos todo o Centro-Oeste (GO, DF, MT, MS)\n\n_Informe a cidade e estado:_`,\n\n  confirmation: `✅ *Perfeito! Veja o resumo dos seus dados:*\n\n👤 *Nome:* {{name}}\n📱 *Telefone:* {{phone}}\n📧 *E-mail:* {{email}}\n📍 *Cidade:* {{city}}\n{{service_emoji}} *Serviço:* {{service_name}}\n\n---\n\n*Visita Técnica*\n\nDeseja agendar uma visita técnica gratuita para avaliarmos seu projeto?\n\n1️⃣ *Sim, quero agendar*\n2️⃣ *Não agora, falar com uma pessoa*`,\n\n  scheduling_redirect: `🗓️ *Ótima escolha!*\n\nVou te direcionar para o agendamento de visita técnica.\n\n_Um momento, por favor..._`,\n\n  handoff_comercial: `💼 *Entendido!*\n\nVou encaminhar seus dados para nossa equipe comercial.\n\n*Você receberá:*\n✅ Orçamento detalhado em até 24h\n✅ Contato da nossa equipe\n✅ Informações sobre o serviço\n\n_Obrigado por escolher a E2 Soluções!_ 🙏`,\n\n  completed: `✅ *Agendamento Confirmado!*\n\nTudo certo! Seu atendimento foi registrado com sucesso.\n\n📧 *Você receberá:*\n   • E-mail de confirmação em até 1 hora\n   • WhatsApp com detalhes da visita técnica\n\n📞 *Nossa equipe entrará em contato:*\n   Em até 24 horas para agendar data/horário\n\n🙏 *Obrigado por escolher a E2 Soluções!*\n\n_Qualquer dúvida, responda esta mensagem_`\n};\n\nconsole.log('✅ GAP #4 FIXED: Complete templates with 2 new entries');\n\n// Helper function for phone formatting\nfunction formatPhoneDisplay(phone) {\n  if (phone.length === 11) {\n    return `(${phone.substr(0,2)}) ${phone.substr(2,5)}-${phone.substr(7,4)}`;\n  } else if (phone.length === 10) {\n    return `(${phone.substr(0,2)}) ${phone.substr(2,4)}-${phone.substr(6,4)}`;\n  }\n  return phone;\n}\n\n// ============================================================================\n// STATE MACHINE LOGIC\n// ============================================================================\nconsole.log('=== V58.1 STATE MACHINE EXECUTION ===');\n\nswitch (normalizedStage) {\n  case 'greeting':\n  case 'novo':\n    console.log('V58.1: Processing GREETING state');\n    if (/^[1-5]$/.test(message)) {\n      console.log('V58.1: Service selected:', message);\n      updateData.service_selected = message;\n      // GAP #6: Store service name string ✅\n      updateData.service_type = serviceMapping[message];\n      console.log(`V58.1 GAP #6: Service mapped: ${message} → ${updateData.service_type}`);\n      responseText = 'Ótima escolha! Vou precisar de alguns dados.\\n\\n' + templates.collect_name;\n      nextStage = 'collect_name';\n    } else {\n      console.log('V58.1: Showing greeting menu');\n      responseText = templates.greeting;\n      nextStage = 'service_selection';\n    }\n    break;\n\n  case 'service_selection':\n  case 'identificando_servico':\n    console.log('V58.1: Processing SERVICE_SELECTION state');\n    if (/^[1-5]$/.test(message)) {\n      console.log('V58.1: Valid service number:', message);\n      updateData.service_selected = message;\n      // GAP #6: Store both number AND string ✅\n      updateData.service_type = serviceMapping[message];\n      console.log(`V58.1 GAP #6: Service mapped: ${message} → ${updateData.service_type}`);\n      responseText = templates.collect_name;\n      nextStage = 'collect_name';\n    } else {\n      console.log('V58.1: Invalid service selection');\n      // GAP #7: Error handling ✅\n      responseText = templates.invalid_option + '\\n\\n' + templates.greeting;\n      nextStage = 'service_selection';\n      updateData.errorCount = (currentData.errorCount || 0) + 1;\n    }\n    break;\n\n  case 'collect_name':\n  case 'coletando_nome':\n    console.log('V58.1: Processing COLLECT_NAME state');\n    const trimmedName = message.trim();\n\n    if (trimmedName.length >= 2 && !/^[0-9]+$/.test(trimmedName)) {\n      console.log('✅ V58.1: NAME ACCEPTED:', trimmedName);\n      updateData.lead_name = trimmedName;\n      // V62: Use template with {{name}} placeholder\n      responseText = templates.collect_name.replace('{{name}}', trimmedName);\n      nextStage = 'collect_phone';\n      updateData.errorCount = 0;\n    } else {\n      console.log('❌ V58.1: NAME REJECTED');\n      // GAP #7: Error handling ✅\n      responseText = templates.invalid_name;\n      nextStage = 'collect_name';\n      updateData.errorCount = (currentData.errorCount || 0) + 1;\n    }\n    break;\n\n  // ============================================================================\n  // GAP #3 FIX: MODIFIED COLLECT_PHONE (TRANSITION TO CONFIRMATION)\n  // ============================================================================\n  case 'collect_phone':\n  case 'coletando_telefone':\n    console.log('V58.1 GAP #3: Processing COLLECT_PHONE state (modified flow)');\n\n    const phoneRegex = /^\\(?\\d{2}\\)?\\s?\\d{4,5}-?\\d{4}$/;\n    if (phoneRegex.test(message.trim())) {\n      console.log('V58.1: Valid phone number');\n      const cleanPhone = message.replace(/\\D/g, '');\n      updateData.phone = cleanPhone;\n      updateData.phone_number = cleanPhone;\n\n      // GAP #3: NEW FLOW - Transition to WhatsApp confirmation ✅\n      responseText = templates.collect_phone_whatsapp_confirmation\n        .replace('{{phone}}', formatPhoneDisplay(cleanPhone));\n      nextStage = 'collect_phone_whatsapp_confirmation';\n\n      console.log('✅ V58.1 GAP #3: Transitioning to WhatsApp confirmation (NEW)');\n    } else {\n      console.log('V58.1: Invalid phone format');\n      // GAP #7: Error handling ✅\n      responseText = `❌ *Telefone inválido*\\n\\n${templates.collect_phone}`;\n      nextStage = 'collect_phone';\n      updateData.errorCount = (currentData.errorCount || 0) + 1;\n    }\n    break;\n\n  // ============================================================================\n  // GAP #3 FIX: NEW STATE - collect_phone_whatsapp_confirmation\n  // ============================================================================\n  case 'collect_phone_whatsapp_confirmation':\n  case 'coletando_telefone_confirmacao_whatsapp':\n    console.log('V58.1 GAP #3: Processing COLLECT_PHONE_WHATSAPP_CONFIRMATION state (NEW)');\n\n    if (message === '1') {\n      console.log('V58.1: User confirmed WhatsApp number as primary contact');\n      updateData.phone_primary = currentData.phone_number || currentData.phone;\n      updateData.contact_phone = currentData.phone_number || currentData.phone; // GAP #8 ✅\n      responseText = templates.collect_email;\n      nextStage = 'collect_email';\n    } else if (message === '2') {\n      console.log('V58.1: User wants to provide alternative phone');\n      responseText = templates.collect_phone_alternative;\n      nextStage = 'collect_phone_alternative';\n    } else {\n      console.log('V58.1: Invalid input for phone confirmation');\n      // GAP #7: Error handling ✅\n      const errorCountLocal = (currentData.errorCount || 0) + 1;\n\n      if (errorCountLocal >= 3) {\n        responseText = `❌ *Desculpe, tivemos dificuldade*\\n\\nVocê gostaria de:\\n\\n1️⃣ - Voltar ao menu principal\\n2️⃣ - Falar com um atendente\\n\\n💡 _Responda 1 ou 2_`;\n        nextStage = 'error_recovery';\n      } else {\n        responseText = `❌ *Opção inválida*\\n\\n${templates.collect_phone_whatsapp_confirmation.replace('{{phone}}', formatPhoneDisplay(currentData.phone_number || currentData.phone))}`;\n        nextStage = currentStage;\n      }\n\n      updateData.errorCount = errorCountLocal;\n    }\n\n    console.log('✅ V58.1 GAP #3: WhatsApp confirmation state complete');\n    break;\n\n  // ============================================================================\n  // GAP #3 FIX: NEW STATE - collect_phone_alternative\n  // ============================================================================\n  case 'collect_phone_alternative':\n  case 'coletando_telefone_alternativo':\n    console.log('V58.1 GAP #3: Processing COLLECT_PHONE_ALTERNATIVE state (NEW)');\n\n    const altPhoneRegex = /^\\(?\\d{2}\\)?\\s?\\d{4,5}-?\\d{4}$/;\n    if (altPhoneRegex.test(message.trim())) {\n      console.log('V58.1: Valid alternative phone number provided');\n      const cleanAltPhone = message.replace(/\\D/g, '');\n      updateData.phone_alternative = cleanAltPhone;\n      updateData.contact_phone = cleanAltPhone; // GAP #8 ✅ - Primary contact is alternative\n      updateData.phone_primary = cleanAltPhone;\n      responseText = templates.collect_email;\n      nextStage = 'collect_email';\n    } else {\n      console.log('V58.1: Invalid alternative phone format');\n      // GAP #7: Error handling ✅\n      const errorCountLocal = (currentData.errorCount || 0) + 1;\n\n      if (errorCountLocal >= 3) {\n        responseText = `❌ *Desculpe, tivemos dificuldade*\\n\\nVocê gostaria de:\\n\\n1️⃣ - Voltar ao menu principal\\n2️⃣ - Falar com um atendente\\n\\n💡 _Responda 1 ou 2_`;\n        nextStage = 'error_recovery';\n      } else {\n        responseText = `❌ *Telefone inválido*\\n\\nPor favor, informe um telefone válido no formato:\\n(62) 98765-4321\\n\\n💡 _Digite apenas números com DDD_`;\n        nextStage = currentStage;\n      }\n\n      updateData.errorCount = errorCountLocal;\n    }\n\n    console.log('✅ V58.1 GAP #3: Alternative phone state complete');\n    break;\n\n  // ============================================================================\n  // GAP #7 FIX: ERROR RECOVERY STATE (OPTIONAL ENHANCEMENT)\n  // ============================================================================\n  case 'error_recovery':\n    console.log('V58.1 GAP #7: Processing ERROR_RECOVERY state');\n\n    if (message === '1') {\n      // Return to menu\n      responseText = templates.service_selection || templates.greeting;\n      nextStage = 'service_selection';\n      updateData.errorCount = 0;\n    } else if (message === '2') {\n      // Handoff to human\n      responseText = '👤 *Transferindo para atendente...*\\n\\nEm breve um de nossos especialistas entrará em contato!';\n      nextStage = 'handoff_comercial';\n      updateData.errorCount = 0;\n    } else {\n      responseText = '❌ *Opção inválida*\\n\\nDigite:\\n1 - Menu principal\\n2 - Atendente';\n      nextStage = 'error_recovery';\n    }\n\n    console.log('✅ V58.1 GAP #7: Error recovery complete');\n    break;\n\n  case 'collect_email':\n  case 'coletando_email':\n    console.log('V58.1: Processing COLLECT_EMAIL state');\n    if (message.toLowerCase() !== 'pular') {\n      updateData.email = message;\n    }\n    responseText = templates.collect_city;\n    nextStage = 'collect_city';\n    break;\n\n  case 'collect_city':\n  case 'coletando_cidade':\n    console.log('V58.1: Processing COLLECT_CITY state');\n    updateData.city = message;\n    responseText = '✅ Perfeito! Recebi todos os seus dados.\\n\\n' +\n                  'Em breve, um de nossos especialistas entrará em contato.\\n\\n' +\n                  'Obrigado por escolher a E2 Soluções! 🚀';\n    nextStage = 'completed';\n    break;\n\n  default:\n    console.log('V58.1: UNKNOWN STATE:', normalizedStage);\n    responseText = templates.greeting;\n    nextStage = 'greeting';\n    break;\n}\n\nconsole.log('V58.1 State Machine Complete');\nconsole.log('  Response:', responseText.substring(0, 50) + '...');\nconsole.log('  Next Stage:', nextStage);\n\n// ============================================================================\n// FINAL RESULT ASSEMBLY\n// ============================================================================\nconst result = {\n  // CRITICAL FIELDS - V34 nomenclature (PRESERVED)\n  response_text: responseText,\n  next_stage: nextStage,\n  current_state: normalizedStage,\n\n  // Phone fields\n  phone_number: phoneNumber,\n  phone_with_code: phoneNumber,\n  phone_without_code: phoneNumber.replace(/^55/, ''),\n\n  // Update data (includes GAP #6 service_type and GAP #8 contact_phone)\n  collected_data: {\n    ...input.collected_data,\n    ...updateData\n  },\n\n  // State machine fields\n  state_machine_state: nextStage,\n  errorCount: errorCount,\n\n  // Message data\n  message: message,\n  message_type: 'text',\n\n  // Conversation data\n  conversation_id: conversation_id,\n  lead_id: phoneNumber,\n\n  // Execution tracking\n  v58_1_executed: true,\n  v58_1_timestamp: new Date().toISOString(),\n  v58_1_gaps_fixed: 8,\n  v58_1_gap_list: 'state_mapping,validator_mapping,state_design,templates,architecture_preserved,service_mapping,error_handling,contact_phone_field'\n};\n\nconsole.log('V58.1 Final Result Keys:', Object.keys(result));\nconsole.log('V58.1 CRITICAL: response_text =', result.response_text ? 'SET' : 'MISSING');\nconsole.log('V58.1 CRITICAL: next_stage =', result.next_stage);\nconsole.log('V58.1 CRITICAL: conversation_id =', result.conversation_id || 'NULL');\nconsole.log('V58.1 CRITICAL: service_type =', result.collected_data.service_type || 'NONE');\nconsole.log('V58.1 CRITICAL: contact_phone =', result.collected_data.contact_phone || 'NONE');\nconsole.log('');\nconsole.log('✅ ALL 8 GAPS FIXED:');\nconsole.log('  ✅ GAP #1: State name mapping (4 entries)');\nconsole.log('  ✅ GAP #2: Validator mapping (2 entries)');\nconsole.log('  ✅ GAP #3: State design complete (2 new states)');\nconsole.log('  ✅ GAP #4: Templates complete (2 new templates)');\nconsole.log('  ✅ GAP #5: V57 architecture preserved');\nconsole.log('  ✅ GAP #6: Service selection mapping');\nconsole.log('  ✅ GAP #7: Error handling patterns');\nconsole.log('  ✅ GAP #8: contact_phone field mapping');\nconsole.log('V58.1 STATE MACHINE - END');\n\nreturn result;\n"
      },
      "id": "3b0d5abe-e6f6-435d-9ff1-8d55163dcaa4",
      "name": "State Machine Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        320,
        432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_update_conversation }}"
      },
      "id": "66353703-f1f3-484e-9968-38434542d35f",
      "name": "Update Conversation State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        608,
        752
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_save_inbound }}"
      },
      "id": "81b1fa8f-a8d0-4ff8-8181-ee25c085d2f3",
      "name": "Save Inbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        720,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_save_outbound }}"
      },
      "id": "73cd6d71-0a16-427a-aaae-f46a450c7788",
      "name": "Save Outbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        912,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-evolution-dev:8080/message/sendText/e2-solucoes-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "ae569043cfa169380c378347f91a1141ea572541d2d1cadbed222db519c8a891"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Build Update Queries\"].json[\"phone_number\"] }}"
            },
            {
              "name": "text",
              "value": "={{ $node[\"Build Update Queries\"].json[\"response_text\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f54980b-240b-43f6-bd38-6cd95e547d86",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        928,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.next_stage }}",
              "value2": "scheduling"
            }
          ]
        }
      },
      "id": "689d6869-74ad-486c-920d-75feff34c381",
      "name": "Check If Scheduling",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1136,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.next_stage }}",
              "value2": "handoff_comercial"
            }
          ]
        }
      },
      "id": "e6eb8498-894a-42c5-9ab2-268128a46989",
      "name": "Check If Handoff",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1136,
        880
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id + 3 }}",
        "options": {}
      },
      "id": "4881d6ce-2c8a-4acc-af3e-2d41eaf35f36",
      "name": "Trigger Appointment Scheduler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1344,
        592
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id + 8 }}",
        "options": {}
      },
      "id": "88c3d6ed-566a-41d8-a3c9-d0b6ac5d903d",
      "name": "Trigger Human Handoff",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1344,
        880
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_upsert_lead }}",
        "options": {}
      },
      "id": "6e324676-b9d4-4075-9033-aaaef8880693",
      "name": "Upsert Lead Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        928,
        1024
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ { success: true, stage: $json.next_stage } }}",
        "options": {}
      },
      "id": "16badfa3-fda3-43e7-9690-0ca5a6db30cd",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1536,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build SQL Queries Node - Prepara todas as queries SQL\n// Recebe dados do node anterior\nconst data = $input.first().json;\nconst phone_with_code = data.phone_with_code || '';\nconst phone_without_code = data.phone_without_code || '';\n\n// Validação de segurança\nif (!phone_with_code || !phone_without_code) {\n  throw new Error('Phone numbers not properly formatted');\n}\n\n// Escape simples para SQL injection\nconst escapeSql = (str) => {\n  return String(str).replace(/'/g, \"''\");\n};\n\n// Query para contar conversas existentes\nconst query_count = `\n  SELECT COUNT(*) as count\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n`.trim();\n\n// Query para buscar detalhes da conversa\nconst query_details = `\n  SELECT\n    *,\n    COALESCE(state_machine_state,\n      CASE current_state\n        WHEN 'novo' THEN 'greeting'\n        WHEN 'identificando_servico' THEN 'service_selection'\n        WHEN 'coletando_dados' THEN 'collect_name'\n        WHEN 'agendando' THEN 'scheduling'\n        WHEN 'handoff_comercial' THEN 'handoff_comercial'\n        WHEN 'concluido' THEN 'completed'\n        ELSE 'greeting'\n      END\n    ) as state_for_machine\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  ORDER BY updated_at DESC\n  LIMIT 1\n`.trim();\n\n// Query para criar/atualizar conversa\nconst query_upsert = `\n  -- Limpar duplicatas antigas\n  DELETE FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  AND id NOT IN (\n    SELECT id FROM conversations\n    WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n    ORDER BY updated_at DESC\n    LIMIT 1\n  );\n\n  -- Inserir ou atualizar conversa\n  INSERT INTO conversations (\n    phone_number,\n    whatsapp_name,\n    service_id,\n    contact_name,\n    contact_email,\n    city,\n    current_state,\n    state_machine_state,\n    collected_data,\n    error_count,\n    created_at,\n    updated_at\n  ) VALUES (\n    '${escapeSql(phone_with_code)}',\n    '${escapeSql(data.whatsapp_name || '')}',\n    NULL,\n    NULL,\n    NULL,\n    NULL,\n    'novo',\n    'greeting',\n    '{}'::jsonb,\n    0,\n    CURRENT_TIMESTAMP,\n    CURRENT_TIMESTAMP\n  )\n  ON CONFLICT (phone_number) DO UPDATE SET\n    whatsapp_name = COALESCE(EXCLUDED.whatsapp_name, conversations.whatsapp_name),\n    last_message_at = CURRENT_TIMESTAMP,\n    updated_at = CURRENT_TIMESTAMP,\n    state_machine_state = CASE\n      WHEN conversations.state_machine_state IN ('completed', 'handoff_comercial')\n      THEN 'greeting'\n      ELSE conversations.state_machine_state\n    END\n  RETURNING *\n`.trim();\n\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (FIXED) ===');\nconsole.log('Phone with code:', phone_with_code);\nconsole.log('Phone without code:', phone_without_code);\nconsole.log('Queries built successfully as STRINGS');\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V27) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V27: PRESERVAR CAMPOS DE MENSAGEM\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V28) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V28: PRESERVAR CAMPOS DE MENSAGEM E RETORNAR ARRAY\nconst result = {\n  ...data,  // Pass through ALL original data\n\n  // SQL Queries\n  query_count: query_count,        // String SQL\n  query_details: query_details,    // String SQL\n  query_upsert: query_upsert,      // String SQL\n\n  // V28 CRITICAL: Explicitly preserve message fields\n  message: data.message || '',\n  content: data.content || '',\n  body: data.body || '',\n  text: data.text || '',\n\n  // Phone fields\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  phone_number: data.phone_number || phone_with_code,\n\n  // Other fields\n  whatsapp_name: data.whatsapp_name || ''\n};\n\n// V28: Return as array for n8n compatibility\nconsole.log('V28: Build SQL Queries returning array');\nreturn [result];"
      },
      "id": "720cb1d4-f306-4b9a-885c-4819e20ba03d",
      "name": "Build SQL Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        272
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados após o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // ← ARRAY RETURN FIX"
      },
      "id": "fa6e38f7-1d32-4861-bc3d-1fe9355fe60e",
      "name": "Merge Queries Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        16
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados após o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // ← ARRAY RETURN FIX"
      },
      "id": "f5af431d-1cd1-41f9-8253-3023f61c18de",
      "name": "Merge Queries Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        1040
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Build Update Queries - V58.1 (GAP #6 and #8 FIXES)\nconst inputData = $input.first().json;\n\nconsole.log('=== V58.1 BUILD UPDATE QUERIES (GAP #6 & #8 FIXES) ===');\nconsole.log('Input keys:', Object.keys(inputData));\n\n// Helper functions\nconst escapeSql = (str) => {\n  if (str === null || str === undefined || str === '') return '';\n  return String(str).replace(/'/g, \"''\");\n};\n\nconst prepareJsonb = (obj) => {\n  if (!obj || typeof obj !== 'object') return '{}';\n  return JSON.stringify(obj).replace(/'/g, \"''\");\n};\n\n// Extract phone data\nlet phone_number = String(inputData.phone_number || '');\nphone_number = phone_number.replace(/[^0-9]/g, '');\n\nif (phone_number && !phone_number.startsWith('55')) {\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n  }\n}\n\nconst phone_with_code = phone_number;\nconst phone_without_code = phone_number.startsWith('55') ? phone_number.substring(2) : phone_number;\n\n// Extract other data\nconst response_text = escapeSql(inputData.response_text || 'Olá! Como posso ajudar?');\nconst next_stage = inputData.next_stage || inputData.current_state || 'greeting';\nconst collected_data = inputData.collected_data || {};\nconst collected_data_json = prepareJsonb(collected_data);\nconst message_content = escapeSql(inputData.message || '');\nconst message_type = inputData.message_type || 'text';\nconst message_id = inputData.message_id || '';\nconst conversation_id = inputData.conversation_id || null;\n\n// GAP #6: Extract service_type from collected_data ✅\nconst service_type = collected_data?.service_type || null;\nconsole.log('V58.1 GAP #6: service_type extracted:', service_type);\n\n// GAP #8: Extract contact_phone with priority fallback ✅\nconst contact_phone = collected_data?.contact_phone ||\n                     collected_data?.phone_primary ||\n                     collected_data?.phone ||\n                     '';\nconsole.log('V58.1 GAP #8: contact_phone extracted:', contact_phone);\n\n// State mapping\nconst state_mapping = {\n  'greeting': 'novo',\n  'service_selection': 'identificando_servico',\n  'collect_name': 'coletando_dados',\n  'collect_phone': 'coletando_dados',\n  'collect_phone_whatsapp_confirmation': 'coletando_dados',  // V58.1 NEW\n  'collect_phone_alternative': 'coletando_dados',            // V58.1 NEW\n  'collect_email': 'coletando_dados',\n  'collect_city': 'coletando_dados',\n  'confirmation': 'coletando_dados',\n  'scheduling': 'agendando',\n  'handoff_comercial': 'handoff_comercial',\n  'completed': 'concluido'\n};\n\nconst db_state = state_mapping[next_stage] || 'novo';\n\nconsole.log('V58.1: Building queries with GAP #6 and #8 fixes');\n\n// Query 1: Update Conversation State (V58.1 with GAP #6 and #8)\nconst query_update_conversation = `\nINSERT INTO conversations (\n  phone_number,\n  whatsapp_name,\n  current_state,\n  state_machine_state,\n  collected_data,\n  service_type,           -- GAP #6 ✅\n  contact_name,\n  contact_email,\n  contact_phone,          -- GAP #8 ✅\n  city,\n  status,\n  last_message_at,\n  created_at,\n  updated_at\n) VALUES (\n  '${phone_with_code}',\n  '${escapeSql(collected_data?.lead_name || '')}',\n  '${db_state}',\n  '${next_stage}',\n  '${collected_data_json}'::jsonb,\n  ${service_type ? \"'\" + escapeSql(service_type) + \"'\" : 'NULL'},  -- GAP #6 ✅\n  '${escapeSql(collected_data?.lead_name || '')}',\n  '${escapeSql(collected_data?.email || '')}',\n  '${escapeSql(contact_phone)}',  -- GAP #8 ✅\n  '${escapeSql(collected_data?.city || '')}',\n  'active',\n  NOW(),\n  NOW(),\n  NOW()\n)\nON CONFLICT (phone_number)\nDO UPDATE SET\n  current_state = EXCLUDED.current_state,\n  state_machine_state = EXCLUDED.state_machine_state,\n  collected_data = conversations.collected_data || EXCLUDED.collected_data,\n  service_type = COALESCE(EXCLUDED.service_type, conversations.service_type),  -- GAP #6 ✅\n  contact_name = COALESCE(NULLIF(EXCLUDED.contact_name, ''), conversations.contact_name),\n  contact_email = COALESCE(NULLIF(EXCLUDED.contact_email, ''), conversations.contact_email),\n  contact_phone = COALESCE(EXCLUDED.contact_phone, conversations.contact_phone),  -- GAP #8 ✅\n  city = COALESCE(NULLIF(EXCLUDED.city, ''), conversations.city),\n  whatsapp_name = COALESCE(NULLIF(EXCLUDED.whatsapp_name, ''), conversations.whatsapp_name),\n  last_message_at = NOW(),\n  updated_at = NOW()\nRETURNING *`.trim();\n\nconsole.log('✅ V58.1: UPSERT query with GAP #6 (service_type) and GAP #8 (contact_phone)');\n\n// Query 2: Save Inbound Message (unchanged)\nconst query_save_inbound = `\nINSERT INTO messages (\n  conversation_id,\n  direction,\n  content,\n  message_type,\n  whatsapp_message_id,\n  created_at\n)\nVALUES (\n  (SELECT id FROM conversations WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}') ORDER BY updated_at DESC LIMIT 1),\n  'inbound',\n  '${message_content}',\n  '${message_type}',\n  '${message_id}',\n  NOW()\n)\nON CONFLICT (whatsapp_message_id)\nWHERE whatsapp_message_id IS NOT NULL AND whatsapp_message_id != ''\nDO NOTHING\nRETURNING *`.trim();\n\n// Query 3: Save Outbound Message (unchanged)\nconst query_save_outbound = `\nINSERT INTO messages (\n  conversation_id,\n  direction,\n  content,\n  message_type,\n  whatsapp_message_id,\n  created_at\n)\nVALUES (\n  (SELECT id FROM conversations WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}') ORDER BY updated_at DESC LIMIT 1),\n  'outbound',\n  '${response_text}',\n  'text',\n  'out_' || extract(epoch from NOW())::bigint || '_' || random()::text,\n  NOW()\n)\nRETURNING *`.trim();\n\n// Query 4: Upsert Lead Data (unchanged)\nconst query_upsert_lead = `\nWITH existing_lead AS (\n  SELECT id\n  FROM leads\n  WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}')\n  LIMIT 1\n),\nupdated AS (\n  UPDATE leads\n  SET\n    name = COALESCE(NULLIF('${escapeSql(collected_data?.lead_name || '')}', ''), name),\n    email = COALESCE(NULLIF('${escapeSql(collected_data?.email || '')}', ''), email),\n    city = COALESCE(NULLIF('${escapeSql(collected_data?.city || '')}', ''), city),\n    service_type = COALESCE(NULLIF('${escapeSql(collected_data?.service_type || '')}', ''), service_type),\n    service_details = '${collected_data_json}'::jsonb,\n    updated_at = NOW()\n  WHERE id IN (SELECT id FROM existing_lead)\n  RETURNING *, 'updated' as operation\n),\ninserted AS (\n  INSERT INTO leads (\n    phone_number,\n    name,\n    email,\n    city,\n    service_type,\n    service_details,\n    created_at,\n    updated_at\n  )\n  SELECT\n    '${phone_with_code}',\n    '${escapeSql(collected_data?.lead_name || '')}',\n    '${escapeSql(collected_data?.email || '')}',\n    '${escapeSql(collected_data?.city || '')}',\n    '${escapeSql(collected_data?.service_type || '')}',\n    '${collected_data_json}'::jsonb,\n    NOW(),\n    NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM existing_lead)\n  RETURNING *, 'inserted' as operation\n)\nSELECT * FROM updated\nUNION ALL\nSELECT * FROM inserted`.trim();\n\nconsole.log('✅ V58.1: All queries built with GAP #6 and #8 fixes');\n\n// Return all queries and data\nreturn {\n  phone_number: phone_with_code,\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  response_text: inputData.response_text,\n  next_stage: next_stage,\n  collected_data: collected_data,\n  conversation_id: conversation_id,\n  message: inputData.message,\n  message_type: message_type,\n  message_id: message_id,\n\n  // Queries SQL\n  query_update_conversation,\n  query_save_inbound,\n  query_save_outbound,\n  query_upsert_lead,\n\n  // V58.1 metadata\n  v58_1_gap_6_applied: !!service_type,\n  v58_1_gap_8_applied: !!contact_phone,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "7ed4b34c-e158-4180-8d42-63042a07188e",
      "name": "Build Update Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        496
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "49d1b29d-e96c-45fa-b3e8-d87c09910b53",
      "name": "Merge Append New User V57",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        176,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// V57 Code Processor - Process append-merged data (NEW USER PATH)\nconsole.log('=== V57 CODE PROCESSOR NEW USER START ===');\n\n// Get all items from Merge append (should be exactly 2)\nconst items = $input.all();\nconsole.log(`V57: Received ${items.length} items from Merge append`);\n\n// VALIDATION: Must have exactly 2 items\nif (items.length !== 2) {\n  console.error(`V57 ERROR: Expected 2 items from append, received ${items.length}`);\n  throw new Error(`V57: Merge append should produce 2 items, got ${items.length}`);\n}\n\n// Extract data from both items (append preserves input order)\nconst queriesData = items[0].json;  // Input 0 from Merge (Queries)\nconst dbData = items[1].json;       // Input 1 from Merge (Database)\n\nconsole.log('V57 Item 0 (Queries) keys:', Object.keys(queriesData).join(', '));\nconsole.log('V57 Item 1 (Database) keys:', Object.keys(dbData).join(', '));\n\n// CRITICAL: Extract conversation_id from database result (item[1])\nconst conversation_id = dbData.id ||           // PostgreSQL RETURNING id\n                       dbData.conversation_id || // Explicit field\n                       null;\n\nconsole.log('V57: Extracted conversation_id:', conversation_id);\nconsole.log('V57: Type:', typeof conversation_id);\n\n// VALIDATION: conversation_id must not be null\nif (!conversation_id) {\n  console.error('V57 CRITICAL ERROR: conversation_id is NULL!');\n  console.error('V57: Database data (item[1]):', JSON.stringify(dbData, null, 2));\n  throw new Error('V57: No conversation_id found in database result');\n}\n\n// Manually combine data from both items\n// Database fields have priority for duplicates\nconst combinedData = {\n  ...queriesData,  // All fields from Queries (item[0])\n  ...dbData,       // All fields from Database (item[1])\n\n  // EXPLICIT conversation_id mapping (CRITICAL)\n  conversation_id: conversation_id,\n  id: conversation_id,\n\n  // Preserve critical fields explicitly\n  phone_number: dbData.phone_number || queriesData.phone_number || '',\n  message: queriesData.message || queriesData.body || queriesData.text || '',\n\n  // V57 metadata for debugging\n  v57_processor_executed: true,\n  v57_processor_timestamp: new Date().toISOString(),\n  v57_items_processed: items.length,\n  v57_conversation_id_source: 'dbData.id',\n  v57_path: 'new_user'\n};\n\nconsole.log('V57: Combined data keys:', Object.keys(combinedData).join(', '));\nconsole.log('V57: conversation_id in output:', combinedData.conversation_id);\nconsole.log('V57: phone_number in output:', combinedData.phone_number);\nconsole.log('✅ V57 CODE PROCESSOR NEW USER COMPLETE');\n\n// Return as array (n8n expects arrays)\nreturn [combinedData];\n"
      },
      "id": "22ec745c-5fa0-490b-9144-9545693e2503",
      "name": "Process New User Data V57",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        326,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "3c99d347-346a-4119-aabe-2a096dbc8a09",
      "name": "Merge Append Existing User V57",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        176,
        1100
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// V57 Code Processor - Process append-merged data (EXISTING USER PATH)\nconsole.log('=== V57 CODE PROCESSOR EXISTING USER START ===');\n\nconst items = $input.all();\nconsole.log(`V57: Received ${items.length} items from Merge append`);\n\nif (items.length !== 2) {\n  console.error(`V57 ERROR: Expected 2 items from append, received ${items.length}`);\n  throw new Error(`V57: Merge append should produce 2 items, got ${items.length}`);\n}\n\nconst queriesData = items[0].json;  // Input 0 from Merge (Queries)\nconst dbData = items[1].json;       // Input 1 from Merge (Database)\n\nconsole.log('V57 Item 0 (Queries) keys:', Object.keys(queriesData).join(', '));\nconsole.log('V57 Item 1 (Database) keys:', Object.keys(dbData).join(', '));\n\n// CRITICAL: Extract conversation_id from existing conversation\nconst conversation_id = dbData.id || dbData.conversation_id || null;\n\nconsole.log('V57: Extracted conversation_id:', conversation_id);\nconsole.log('V57: Type:', typeof conversation_id);\n\nif (!conversation_id) {\n  console.error('V57 CRITICAL ERROR: No conversation_id in existing user data!');\n  console.error('V57: Database data (item[1]):', JSON.stringify(dbData, null, 2));\n  throw new Error('V57: No conversation_id found in existing conversation');\n}\n\nconst combinedData = {\n  ...queriesData,\n  ...dbData,\n\n  // EXPLICIT conversation_id mapping\n  conversation_id: conversation_id,\n  id: conversation_id,\n\n  phone_number: dbData.phone_number || queriesData.phone_number || '',\n  message: queriesData.message || queriesData.body || queriesData.text || '',\n\n  v57_processor_executed: true,\n  v57_processor_timestamp: new Date().toISOString(),\n  v57_items_processed: items.length,\n  v57_conversation_id_source: 'dbData.id',\n  v57_path: 'existing_user'\n};\n\nconsole.log('V57: Combined data keys:', Object.keys(combinedData).join(', '));\nconsole.log('V57: conversation_id in output:', combinedData.conversation_id);\nconsole.log('V57: phone_number in output:', combinedData.phone_number);\nconsole.log('✅ V57 CODE PROCESSOR EXISTING USER COMPLETE');\n\nreturn [combinedData];\n"
      },
      "id": "f94a3de5-d69a-4662-a132-1bf0613a17f2",
      "name": "Process Existing User Data V57",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        326,
        1100
      ],
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Receive Message": {
      "main": [
        [
          {
            "node": "Prepare Phone Formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Count": {
      "main": [
        [
          {
            "node": "Check If New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If New User": {
      "main": [
        [
          {
            "node": "Merge Queries Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Queries Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Details": {
      "main": [
        [
          {
            "node": "Merge Append Existing User V57",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create New Conversation": {
      "main": [
        [
          {
            "node": "Merge Append New User V57",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "State Machine Logic": {
      "main": [
        [
          {
            "node": "Build Update Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Check If Scheduling",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check If Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Scheduling": {
      "main": [
        [
          {
            "node": "Trigger Appointment Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Handoff": {
      "main": [
        [
          {
            "node": "Trigger Human Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Appointment Scheduler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Human Handoff": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Data": {
      "main": [
        [
          {
            "node": "Prepare Phone Formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Phone Formats": {
      "main": [
        [
          {
            "node": "Build SQL Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL Queries": {
      "main": [
        [
          {
            "node": "Get Conversation Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Queries Data": {
      "main": [
        [
          {
            "node": "Create New Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Append New User V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Queries Data1": {
      "main": [
        [
          {
            "node": "Get Conversation Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Append Existing User V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Queries": {
      "main": [
        [
          {
            "node": "Update Conversation State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Inbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Outbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Append New User V57": {
      "main": [
        [
          {
            "node": "Process New User Data V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Append Existing User V57": {
      "main": [
        [
          {
            "node": "Process Existing User Data V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process New User Data V57": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Existing User Data V57": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v58-1-ux-refactor-complete",
  "meta": {
    "instanceId": "2d06ab7e4b229c8b36c3844fc8460ea6b891c39a3f5920e60f273c62eb6ab041",
    "version": "v62-complete-ux-fix",
    "generated_at": "2026-03-10",
    "changes": [
      "V60.2: Syntax fix (escaped \\n)",
      "V61: formatPhoneDisplay helper function",
      "V62: User's exact UX templates",
      "V62: Individual placeholders ({{name}}, {{phone}}, etc.)",
      "V62: 1/2 routing logic (scheduling vs handoff)",
      "V62: New templates (scheduling_redirect, handoff_comercial)",
      "V62: getServiceEmoji helper function"
    ]
  },
  "id": "LS2EakwfZkKyqeb4",
  "tags": [
    {
      "name": "v62-complete-ux-fix"
    },
    {
      "name": "production-ready"
    },
    {
      "name": "all-fixes-applied"
    }
  ]
}