e2-solucoes-bot/n8n/workflows/05_appointment_scheduler_v2.1.json
{
  "name": "05 - Appointment Scheduler V2.1",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "execute-workflow-trigger-v2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate Input Data (V69.2 pattern)\nconst inputData = $input.first().json;\n\n// Validate appointment_id exists\nif (!inputData.appointment_id) {\n    throw new Error('appointment_id is required');\n}\n\n// Validate UUID format\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(inputData.appointment_id)) {\n    throw new Error('Invalid appointment_id format (must be UUID)');\n}\n\nconsole.log('✅ [Validate Input] Valid appointment_id:', inputData.appointment_id);\n\nreturn {\n    appointment_id: inputData.appointment_id,\n    source: inputData.source || 'workflow_trigger',\n    timestamp: new Date().toISOString(),\n    validation_status: 'approved'\n};"
      },
      "id": "validate-input-data-v2",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "alwaysOutputData": true,
      "notes": "V69.2 pattern: Input validation with UUID check and structured logging"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    a.id as appointment_id,\n    a.scheduled_date,\n    a.scheduled_time_start,\n    a.scheduled_time_end,\n    a.service_type,\n    a.notes,\n    a.status,\n    l.id as lead_id,\n    l.name as lead_name,\n    l.email as lead_email,\n    l.phone_number,\n    l.address,\n    l.city,\n    l.state,\n    l.zip_code,\n    l.service_details,\n    l.rdstation_deal_id,\n    c.whatsapp_name\nFROM appointments a\nINNER JOIN leads l ON a.lead_id = l.id\nLEFT JOIN conversations c ON l.conversation_id = c.id\nWHERE a.id = $1\n  AND a.status IN ('agendado', 'reagendado')\nLIMIT 1;",
        "additionalFields": {
          "queryParameters": "={{ $json.appointment_id }}"
        }
      },
      "id": "get-appointment-lead-v2",
      "name": "Get Appointment & Lead Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "alwaysOutputData": true,
      "notes": "Single JOIN query for performance (V2.0 optimization)"
    },
    {
      "parameters": {
        "jsCode": "// Validate Availability\nconst data = $input.first().json;\n\nconst scheduledDate = data.scheduled_date;\nconst timeStart = data.scheduled_time_start;\nconst timeEnd = data.scheduled_time_end;\n\n// Check business hours\nconst startHour = parseInt(timeStart.split(':')[0]);\nconst endHour = parseInt(timeEnd.split(':')[0]);\n\nconst workStart = parseInt($env.CALENDAR_WORK_START.split(':')[0]);\nconst workEnd = parseInt($env.CALENDAR_WORK_END.split(':')[0]);\n\nif (startHour < workStart || endHour > workEnd) {\n    throw new Error(`Horário fora do expediente: ${timeStart}-${timeEnd} (expediente: ${$env.CALENDAR_WORK_START}-${$env.CALENDAR_WORK_END})`);\n}\n\n// Check weekend\nconst dayOfWeek = new Date(scheduledDate).getDay();\nconst workDays = $env.CALENDAR_WORK_DAYS.split(',').map(d => parseInt(d));\n\nif (!workDays.includes(dayOfWeek)) {\n    throw new Error(`Dia não útil: ${scheduledDate} (dia da semana: ${dayOfWeek})`);\n}\n\nconsole.log('✅ [Validate Availability] Approved:', scheduledDate, timeStart);\n\nreturn {\n    ...data,\n    validation_status: 'approved',\n    validated_at: new Date().toISOString()\n};"
      },
      "id": "validate-availability-v2",
      "name": "Validate Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ],
      "alwaysOutputData": true,
      "notes": "Business hours validation (CALENDAR_WORK_START/END/DAYS)"
    },
    {
      "parameters": {
        "jsCode": "// Build Calendar Event Data (V2.0 - Modular)\nconst data = $input.first().json;\n\n// --- Configuration ---\nconst SERVICE_CONFIG = {\n    'energia_solar': {\n        name: 'Energia Solar',\n        duration: 120,\n        color: '9'\n    },\n    'subestacao': {\n        name: 'Subestação',\n        duration: 180,\n        color: '11'\n    },\n    'projeto_eletrico': {\n        name: 'Projeto Elétrico',\n        duration: 90,\n        color: '5'\n    },\n    'armazenamento_energia': {\n        name: 'BESS',\n        duration: 120,\n        color: '10'\n    },\n    'analise_laudo': {\n        name: 'Análise/Laudo',\n        duration: 120,\n        color: '8'\n    }\n};\n\n// --- Get Service Config ---\nconst serviceConfig = SERVICE_CONFIG[data.service_type] || {\n    name: data.service_type,\n    duration: 90,\n    color: '1'\n};\n\n// --- Build DateTime ---\nconst startDateTime = new Date(`${data.scheduled_date}T${data.scheduled_time_start}`);\nconst endDateTime = new Date(`${data.scheduled_date}T${data.scheduled_time_end}`);\n\n// --- Build Event Title ---\nconst eventTitle = `[E2] Visita ${serviceConfig.name} - ${data.lead_name}`;\n\n// --- Build Description ---\nlet description = `=== VISITA TÉCNICA E2 SOLUÇÕES ===\\n\\n`;\ndescription += `CLIENTE: ${data.lead_name}\\n`;\ndescription += `TELEFONE: ${data.phone_number}\\n`;\ndescription += `EMAIL: ${data.lead_email || 'Não informado'}\\n`;\ndescription += `ENDEREÇO: ${data.address}, ${data.city}/${data.state}\\n`;\ndescription += `\\nSERVIÇO: ${serviceConfig.name}\\n`;\n\n// Service details (if JSONB exists)\nif (data.service_details) {\n    const details = typeof data.service_details === 'string'\n        ? JSON.parse(data.service_details)\n        : data.service_details;\n\n    description += `\\n--- DADOS DO SERVIÇO ---\\n`;\n\n    for (const [key, value] of Object.entries(details)) {\n        if (value) {\n            description += `${key}: ${value}\\n`;\n        }\n    }\n}\n\n// Appointment notes\nif (data.notes) {\n    description += `\\n--- OBSERVAÇÕES ---\\n${data.notes}\\n`;\n}\n\n// Links\ndescription += `\\n--- LINKS ---\\n`;\nif (data.rdstation_deal_id) {\n    description += `RD Station Deal: ${$env.RDSTATION_URL}/deals/${data.rdstation_deal_id}\\n`;\n}\ndescription += `WhatsApp: https://wa.me/${data.phone_number.replace(/\\D/g, '')}\\n`;\n\n// --- Build Attendees ---\nconst attendees = [\n    { email: $env.GOOGLE_TECHNICIAN_EMAIL }\n];\n\nif (data.lead_email && data.lead_email.includes('@')) {\n    attendees.push({ email: data.lead_email });\n}\n\n// --- Build Location ---\nconst location = `${data.address}, ${data.city} - ${data.state}${data.zip_code ? ', ' + data.zip_code : ''}`;\n\n// --- Build Reminders ---\nconst reminders = {\n    useDefault: false,\n    overrides: [\n        { method: 'email', minutes: 1440 }, // 24h\n        { method: 'popup', minutes: 120 },  // 2h\n        { method: 'email', minutes: 120 }   // 2h\n    ]\n};\n\n// --- Return Event Data ---\nconsole.log('✅ [Build Calendar Event] Created:', eventTitle);\n\nreturn {\n    // Event data for Google Calendar\n    calendar_event: {\n        summary: eventTitle,\n        description: description,\n        location: location,\n        start: {\n            dateTime: startDateTime.toISOString(),\n            timeZone: $env.CALENDAR_TIMEZONE || 'America/Sao_Paulo'\n        },\n        end: {\n            dateTime: endDateTime.toISOString(),\n            timeZone: $env.CALENDAR_TIMEZONE || 'America/Sao_Paulo'\n        },\n        attendees: attendees,\n        reminders: reminders,\n        colorId: serviceConfig.color\n    },\n\n    // Metadata for next nodes\n    appointment_id: data.appointment_id,\n    lead_id: data.lead_id,\n    lead_name: data.lead_name,\n    service_type: data.service_type,\n    rdstation_deal_id: data.rdstation_deal_id,\n    phone_number: data.phone_number\n};"
      },
      "id": "build-calendar-event-v2",
      "name": "Build Calendar Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ],
      "alwaysOutputData": true,
      "notes": "V2.0: Modular config-driven event builder"
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendarId": "={{ $env.GOOGLE_CALENDAR_ID }}",
        "start": "={{ $json.calendar_event.start.dateTime }}",
        "end": "={{ $json.calendar_event.end.dateTime }}",
        "summary": "={{ $json.calendar_event.summary }}",
        "additionalFields": {
          "description": "={{ $json.calendar_event.description }}",
          "location": "={{ $json.calendar_event.location }}",
          "attendees": "={{ JSON.stringify($json.calendar_event.attendees) }}",
          "colorId": "={{ $json.calendar_event.colorId }}",
          "reminders": "={{ JSON.stringify($json.calendar_event.reminders) }}"
        }
      },
      "id": "create-google-event-v2",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "={{ $env.GOOGLE_CALENDAR_CREDENTIAL_ID }}",
          "name": "Google Calendar API"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "notes": "V2.0: Retry logic (3x) + continueOnFail for error handling"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments\nSET\n    google_calendar_event_id = CASE\n        WHEN $2 IS NOT NULL THEN $2\n        ELSE google_calendar_event_id\n    END,\n    status = CASE\n        WHEN $2 IS NOT NULL THEN 'confirmado'\n        ELSE 'erro_calendario'\n    END,\n    notes = CASE\n        WHEN $2 IS NULL AND $3 IS NOT NULL\n        THEN COALESCE(notes, '') || '\\n[ERRO] Falha ao criar evento no Google Calendar: ' || $3\n        ELSE notes\n    END,\n    updated_at = NOW()\nWHERE id = $1\nRETURNING\n    id,\n    status,\n    google_calendar_event_id,\n    CASE\n        WHEN google_calendar_event_id IS NOT NULL THEN true\n        ELSE false\n    END as calendar_success;",
        "additionalFields": {
          "queryParameters": "={{ $('Build Calendar Event Data').item.json.appointment_id }},={{ $('Create Google Calendar Event').item.json.id || null }},={{ $('Create Google Calendar Event').item.json.error || null }}"
        }
      },
      "id": "update-appointment-v2",
      "name": "Update Appointment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "alwaysOutputData": true,
      "notes": "V2.0: Atomic update with CASE for success/error handling"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT create_appointment_reminders($1);",
        "additionalFields": {
          "queryParameters": "={{ $('Build Calendar Event Data').item.json.appointment_id }}"
        }
      },
      "id": "create-appointment-reminders-v2",
      "name": "Create Appointment Reminders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "onlyIf": "{{ $json.calendar_success === true }}",
      "notes": "Only execute if Google Calendar success"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RDSTATION_API_URL }}/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.RDSTATION_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ subject: 'Visita Técnica - ' + $('Build Calendar Event Data').item.json.lead_name, deal_id: $('Build Calendar Event Data').item.json.rdstation_deal_id, assigned_user_id: $env.RDSTATION_USER_TECNICO, due_date: $('Get Appointment & Lead Data').item.json.scheduled_date, notes: 'Visita técnica agendada via bot WhatsApp' }) }}"
      },
      "id": "create-rdstation-task-v2",
      "name": "Create RD Station Task (OPTIONAL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1850,
        300
      ],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "onlyIf": "{{ $json.calendar_success === true }}",
      "notes": "V2.0: RD Station integration is OPTIONAL. Workflow continues even if this fails."
    },
    {
      "parameters": {
        "workflowId": "={{ $env.WORKFLOW_ID_EMAIL_CONFIRMATION || '7' }}",
        "options": {}
      },
      "id": "send-confirmation-email-v2",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2050,
        300
      ],
      "onlyIf": "{{ $json.calendar_success === true }}",
      "notes": "Only send if Google Calendar success"
    },
    {
      "parameters": {
        "jsCode": "// Log Error & Notify\nconst error = $input.first().json.error || 'Unknown error';\nconst appointmentId = $('Build Calendar Event Data').first().json.appointment_id;\n\nconsole.error('❌ [Google Calendar Error]', {\n    appointment_id: appointmentId,\n    error: error,\n    timestamp: new Date().toISOString()\n});\n\n// Send notification to admin (placeholder)\nreturn {\n    error_type: 'google_calendar_failure',\n    appointment_id: appointmentId,\n    error_message: error,\n    notify_admin: true,\n    retry_scheduled: false\n};"
      },
      "id": "log-error-notify-v2",
      "name": "Log Error & Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        500
      ],
      "alwaysOutputData": true,
      "notes": "V2.0: Error logging and admin notification"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Data": {
      "main": [
        [
          {
            "node": "Get Appointment & Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointment & Lead Data": {
      "main": [
        [
          {
            "node": "Validate Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Availability": {
      "main": [
        [
          {
            "node": "Build Calendar Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Calendar Event Data": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Update Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error & Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Appointment": {
      "main": [
        [
          {
            "node": "Create Appointment Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment Reminders": {
      "main": [
        [
          {
            "node": "Create RD Station Task (OPTIONAL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create RD Station Task (OPTIONAL)": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error & Notify": {
      "main": [
        [
          {
            "node": "Update Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "appointment",
      "createdAt": "2026-03-13T16:15:34.736955"
    },
    {
      "name": "google-calendar",
      "createdAt": "2026-03-13T16:15:34.736955"
    },
    {
      "name": "v2.0",
      "createdAt": "2026-03-13T16:15:34.736955"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-13T16:15:34.736955",
  "versionId": "2.1"
}