e2-solucoes-bot/n8n/workflows/05_appointment_scheduler_v3.3.json
{
  "name": "05 - Appointment Scheduler V3.3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "execute-workflow-trigger-v2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate Input Data (V69.2 pattern)\nconst inputData = $input.first().json;\n\n// Validate appointment_id exists\nif (!inputData.appointment_id) {\n    throw new Error('appointment_id is required');\n}\n\n// Validate UUID format\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(inputData.appointment_id)) {\n    throw new Error('Invalid appointment_id format (must be UUID)');\n}\n\nconsole.log('✅ [Validate Input] Valid appointment_id:', inputData.appointment_id);\n\nreturn {\n    appointment_id: inputData.appointment_id,\n    source: inputData.source || 'workflow_trigger',\n    timestamp: new Date().toISOString(),\n    validation_status: 'approved'\n};"
      },
      "id": "validate-input-data-v2",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "alwaysOutputData": true,
      "notes": "V69.2 pattern: Input validation with UUID check and structured logging"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    a.id as appointment_id,\n    a.scheduled_date,\n    a.scheduled_time_start,\n    a.scheduled_time_end,\n    a.service_type,\n    a.notes,\n    a.status,\n    l.id as lead_id,\n    l.name as lead_name,\n    l.email as lead_email,\n    l.phone_number,\n    l.address,\n    l.city,\n    l.state,\n    l.zip_code,\n    l.service_details,\n    l.rdstation_deal_id,\n    c.whatsapp_name\nFROM appointments a\nINNER JOIN leads l ON a.lead_id = l.id\nLEFT JOIN conversations c ON l.conversation_id = c.id\nWHERE a.id = '{{ $json.appointment_id }}'\n  AND a.status IN ('agendado', 'reagendado')\nLIMIT 1;",
        "additionalFields": {}
      },
      "id": "get-appointment-lead-v2",
      "name": "Get Appointment & Lead Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "alwaysOutputData": true,
      "notes": "Single JOIN query for performance (V2.0 optimization)"
    },
    {
      "parameters": {
        "jsCode": "// Validate Availability - V3.1 FIX\nconst data = $input.first().json;\n\ntry {\n    // ===== VALIDATE INPUT DATA =====\n    const scheduledDate = data.scheduled_date;\n    const timeStartRaw = data.scheduled_time_start;\n    const timeEndRaw = data.scheduled_time_end;\n\n    if (!scheduledDate || !timeStartRaw || !timeEndRaw) {\n        throw new Error('Dados de agendamento incompletos: ' + JSON.stringify({\n            scheduledDate: !!scheduledDate,\n            timeStart: !!timeStartRaw,\n            timeEnd: !!timeEndRaw\n        }));\n    }\n\n    // ===== NORMALIZE TIME VALUES =====\n    // PostgreSQL TIME type may be object or string\n    const timeStart = typeof timeStartRaw === 'string'\n        ? timeStartRaw\n        : timeStartRaw?.toString() || '';\n\n    const timeEnd = typeof timeEndRaw === 'string'\n        ? timeEndRaw\n        : timeEndRaw?.toString() || '';\n\n    console.log('⏰ [Validate Availability] Times:', { timeStart, timeEnd });\n\n    // ===== CHECK ENV VARS EXIST =====\n    if (!$env.CALENDAR_WORK_START || !$env.CALENDAR_WORK_END || !$env.CALENDAR_WORK_DAYS) {\n        console.warn('⚠️  Calendar env vars not configured - skipping validation');\n        return {\n            ...data,\n            validation_status: 'skipped',\n            validation_reason: 'env_vars_missing',\n            validated_at: new Date().toISOString()\n        };\n    }\n\n    // ===== CHECK BUSINESS HOURS =====\n    const startHour = parseInt(timeStart.split(':')[0]);\n    const endHour = parseInt(timeEnd.split(':')[0]);\n\n    const workStart = parseInt($env.CALENDAR_WORK_START.split(':')[0]);\n    const workEnd = parseInt($env.CALENDAR_WORK_END.split(':')[0]);\n\n    if (startHour < workStart || endHour > workEnd) {\n        throw new Error(`Horário fora do expediente: ${timeStart}-${timeEnd} (expediente: ${$env.CALENDAR_WORK_START}-${$env.CALENDAR_WORK_END})`);\n    }\n\n    // ===== CHECK WEEKEND =====\n    const dateObj = scheduledDate instanceof Date\n        ? scheduledDate\n        : new Date(scheduledDate);\n\n    const dayOfWeek = dateObj.getDay();\n    const workDays = $env.CALENDAR_WORK_DAYS.split(',').map(d => parseInt(d.trim()));\n\n    if (!workDays.includes(dayOfWeek)) {\n        throw new Error(`Dia não útil: ${scheduledDate} (dia da semana: ${dayOfWeek})`);\n    }\n\n    console.log('✅ [Validate Availability] Approved:', scheduledDate, timeStart);\n\n    return {\n        ...data,\n        validation_status: 'approved',\n        validated_at: new Date().toISOString()\n    };\n\n} catch (error) {\n    console.error('❌ [Validate Availability] Error:', error.message);\n    console.error('Data received:', JSON.stringify(data, null, 2));\n    throw error;\n}"
      },
      "id": "validate-availability-v2",
      "name": "Validate Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ],
      "alwaysOutputData": true,
      "notes": "Business hours validation (CALENDAR_WORK_START/END/DAYS)"
    },
    {
      "parameters": {
        "jsCode": "// Build Calendar Event Data - V3.2 FIX (ISO Date Handling)\nconst data = $input.first().json;\n\ntry {\n    // ===== NORMALIZE DATE AND TIME =====\n    const scheduledDateRaw = data.scheduled_date;\n    const timeStartRaw = data.scheduled_time_start;\n    const timeEndRaw = data.scheduled_time_end;\n\n    // ===== FIX: Extract date part from ISO strings =====\n    // PostgreSQL may return DATE as \"2026-04-25T00:00:00.000Z\" (ISO string with time)\n    let dateString;\n\n    if (scheduledDateRaw instanceof Date) {\n        // If Date object, convert to YYYY-MM-DD\n        dateString = scheduledDateRaw.toISOString().split('T')[0];\n    } else if (typeof scheduledDateRaw === 'string' && scheduledDateRaw.includes('T')) {\n        // If ISO string (contains 'T'), extract date part\n        dateString = scheduledDateRaw.split('T')[0];\n    } else {\n        // Already in YYYY-MM-DD format (or other string format)\n        dateString = scheduledDateRaw;\n    }\n\n    const timeStart = typeof timeStartRaw === 'string'\n        ? timeStartRaw\n        : timeStartRaw?.toString() || '00:00:00';\n\n    const timeEnd = typeof timeEndRaw === 'string'\n        ? timeEndRaw\n        : timeEndRaw?.toString() || '00:00:00';\n\n    console.log('📅 [Build Calendar] Normalized:', {\n        original_date: scheduledDateRaw,\n        extracted_date: dateString,\n        timeStart,\n        timeEnd\n    });\n\n    // ===== BUILD DATETIME =====\n    const startDateTime = new Date(`${dateString}T${timeStart}`);\n    const endDateTime = new Date(`${dateString}T${timeEnd}`);\n\n    console.log('📅 [Build Calendar] DateTime constructed:', {\n        start_string: `${dateString}T${timeStart}`,\n        end_string: `${dateString}T${timeEnd}`,\n        start_valid: !isNaN(startDateTime.getTime()),\n        end_valid: !isNaN(endDateTime.getTime())\n    });\n\n    if (isNaN(startDateTime.getTime()) || isNaN(endDateTime.getTime())) {\n        throw new Error('Invalid date/time format: ' + JSON.stringify({\n            dateString,\n            timeStart,\n            timeEnd,\n            start_result: startDateTime.toString(),\n            end_result: endDateTime.toString()\n        }));\n    }\n\n    // ===== BUILD CALENDAR EVENT =====\n    const calendarEvent = {\n        summary: `Agendamento E2 Soluções - ${data.service_type || 'Serviço'}`,\n        description: `\nCliente: ${data.lead_name || 'N/A'}\nTelefone: ${data.phone_number || 'N/A'}\nEmail: ${data.lead_email || 'N/A'}\nServiço: ${data.service_type || 'N/A'}\nCidade: ${data.city || 'N/A'}\nDetalhes: ${data.service_details || 'N/A'}\nObservações: ${data.notes || 'N/A'}\n        `.trim(),\n        location: `${data.address || ''}, ${data.city || ''}, ${data.state || ''}`.trim(),\n        start: {\n            dateTime: startDateTime.toISOString(),\n            timeZone: $env.CALENDAR_TIMEZONE || 'America/Sao_Paulo'\n        },\n        end: {\n            dateTime: endDateTime.toISOString(),\n            timeZone: $env.CALENDAR_TIMEZONE || 'America/Sao_Paulo'\n        },\n        attendees: data.lead_email ? [{ email: data.lead_email }] : [],\n        reminders: {\n            useDefault: false,\n            overrides: [\n                { method: 'email', minutes: 24 * 60 },\n                { method: 'popup', minutes: 30 }\n            ]\n        },\n        colorId: '9'\n    };\n\n    console.log('✅ [Build Calendar] Event created:', {\n        summary: calendarEvent.summary,\n        start: calendarEvent.start.dateTime,\n        end: calendarEvent.end.dateTime\n    });\n\n    return {\n        ...data,\n        calendar_event: calendarEvent\n    };\n\n} catch (error) {\n    console.error('❌ [Build Calendar] Error:', error.message);\n    console.error('Data received:', JSON.stringify(data, null, 2));\n    throw error;\n}"
      },
      "id": "build-calendar-event-v2",
      "name": "Build Calendar Event Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ],
      "alwaysOutputData": true,
      "notes": "V2.0: Modular config-driven event builder"
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendarId": "={{ $env.GOOGLE_CALENDAR_ID }}",
        "start": "={{ $json.calendar_event.start.dateTime }}",
        "end": "={{ $json.calendar_event.end.dateTime }}",
        "summary": "={{ $json.calendar_event.summary }}",
        "additionalFields": {
          "description": "={{ $json.calendar_event.description }}",
          "location": "={{ $json.calendar_event.location }}",
          "attendees": "={{ JSON.stringify($json.calendar_event.attendees) }}",
          "colorId": "={{ $json.calendar_event.colorId }}",
          "reminders": "={{ JSON.stringify($json.calendar_event.reminders) }}"
        }
      },
      "id": "create-google-event-v2",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1",
          "name": "Google Calendar API"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "notes": "V2.0: Retry logic (3x) + continueOnFail for error handling"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments\nSET\n    google_calendar_event_id = CASE\n        WHEN '{{ $('Create Google Calendar Event').item.json.id || 'NULL' }}' != 'NULL'\n        THEN '{{ $('Create Google Calendar Event').item.json.id }}'\n        ELSE google_calendar_event_id\n    END,\n    status = CASE\n        WHEN '{{ $('Create Google Calendar Event').item.json.id || 'NULL' }}' != 'NULL'\n        THEN 'confirmado'\n        ELSE 'erro_calendario'\n    END,\n    notes = CASE\n        WHEN '{{ $('Create Google Calendar Event').item.json.id || 'NULL' }}' = 'NULL'\n             AND '{{ $('Create Google Calendar Event').item.json.error || 'NULL' }}' != 'NULL'\n        THEN COALESCE(notes, '') || '\n[ERRO] Falha ao criar evento no Google Calendar: ' || '{{ $('Create Google Calendar Event').item.json.error || '' }}'\n        ELSE notes\n    END,\n    updated_at = NOW()\nWHERE id = '{{ $('Build Calendar Event Data').item.json.appointment_id }}'\nRETURNING\n    id,\n    status,\n    google_calendar_event_id,\n    CASE\n        WHEN google_calendar_event_id IS NOT NULL THEN true\n        ELSE false\n    END as calendar_success;",
        "additionalFields": {}
      },
      "id": "update-appointment-v2",
      "name": "Update Appointment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "alwaysOutputData": true,
      "notes": "V2.0: Atomic update with CASE for success/error handling"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT create_appointment_reminders('{{ $('Build Calendar Event Data').item.json.appointment_id }}');",
        "additionalFields": {}
      },
      "id": "create-appointment-reminders-v2",
      "name": "Create Appointment Reminders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "onlyIf": "{{ $json.calendar_success === true }}",
      "notes": "Only execute if Google Calendar success"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RDSTATION_API_URL }}/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.RDSTATION_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ subject: 'Visita Técnica - ' + $('Build Calendar Event Data').item.json.lead_name, deal_id: $('Build Calendar Event Data').item.json.rdstation_deal_id, assigned_user_id: $env.RDSTATION_USER_TECNICO, due_date: $('Get Appointment & Lead Data').item.json.scheduled_date, notes: 'Visita técnica agendada via bot WhatsApp' }) }}"
      },
      "id": "create-rdstation-task-v2",
      "name": "Create RD Station Task (OPTIONAL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1850,
        300
      ],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "onlyIf": "{{ $json.calendar_success === true }}",
      "notes": "V2.0: RD Station integration is OPTIONAL. Workflow continues even if this fails."
    },
    {
      "parameters": {
        "workflowId": "={{ $env.WORKFLOW_ID_EMAIL_CONFIRMATION || '7' }}",
        "options": {}
      },
      "id": "send-confirmation-email-v2",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2050,
        300
      ],
      "onlyIf": "{{ $json.calendar_success === true }}",
      "notes": "Only send if Google Calendar success"
    },
    {
      "parameters": {
        "jsCode": "// Log Error & Notify\nconst error = $input.first().json.error || 'Unknown error';\nconst appointmentId = $('Build Calendar Event Data').first().json.appointment_id;\n\nconsole.error('❌ [Google Calendar Error]', {\n    appointment_id: appointmentId,\n    error: error,\n    timestamp: new Date().toISOString()\n});\n\n// Send notification to admin (placeholder)\nreturn {\n    error_type: 'google_calendar_failure',\n    appointment_id: appointmentId,\n    error_message: error,\n    notify_admin: true,\n    retry_scheduled: false\n};"
      },
      "id": "log-error-notify-v2",
      "name": "Log Error & Notify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        500
      ],
      "alwaysOutputData": true,
      "notes": "V2.0: Error logging and admin notification"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Data": {
      "main": [
        [
          {
            "node": "Get Appointment & Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointment & Lead Data": {
      "main": [
        [
          {
            "node": "Validate Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Availability": {
      "main": [
        [
          {
            "node": "Build Calendar Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Calendar Event Data": {
      "main": [
        [
          {
            "node": "Create Google Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Calendar Event": {
      "main": [
        [
          {
            "node": "Update Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error & Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Appointment": {
      "main": [
        [
          {
            "node": "Create Appointment Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment Reminders": {
      "main": [
        [
          {
            "node": "Create RD Station Task (OPTIONAL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create RD Station Task (OPTIONAL)": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error & Notify": {
      "main": [
        [
          {
            "node": "Update Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "appointment",
      "createdAt": "2026-03-24T00:00:00.000000"
    },
    {
      "name": "google-calendar",
      "createdAt": "2026-03-24T00:00:00.000000"
    },
    {
      "name": "v3.3",
      "createdAt": "2026-03-24T00:00:00.000000"
    },
    {
      "name": "typeversion-fixed",
      "createdAt": "2026-03-24T00:00:00.000000"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-13T16:15:34.736955",
  "versionId": "3.3"
}