e2-solucoes-bot/n8n/workflows/historical/wf02/02_ai_agent_conversation_V97_CONVERSATION_ID_COMPLETE_FIX.json
{
  "name": "02 - AI Agent Conversation V97 (Conversation ID Complete Fix)",
  "nodes": [
    {
      "parameters": {},
      "id": "ccc0904c-b53c-4166-bd31-ea6b4b7795e7",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validação de entrada do Workflow 01\nconst inputData = $input.first().json;\n\n// Validação crítica do phone_number\nif (!inputData.phone_number || inputData.phone_number === 'undefined') {\n    throw new Error('Phone number is required but was not received from Workflow 01');\n}\n\n// Limpar e validar formato do phone_number\nlet phone_number = String(inputData.phone_number).replace(/[^0-9]/g, '');\n\n// Remover @s.whatsapp.net se existir\nif (phone_number.includes('@')) {\n  phone_number = phone_number.split('@')[0];\n}\n\n// IMPORTANTE: Adicionar código 55 se não tiver (MOVIDO DO PREPARE UPDATE DATA)\nif (phone_number && !phone_number.startsWith('55')) {\n  // Se tem 10 ou 11 dígitos (formato brasileiro), adiciona 55\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n    console.log('Adicionado código 55:', phone_number);\n  }\n  // Se tem 12 ou 13 dígitos começando com outro código, mantém\n  else if (phone_number.length >= 12) {\n    console.log('Número já tem código de país:', phone_number);\n  }\n  // Qualquer outro caso, tenta adicionar 55\n  else {\n    phone_number = '55' + phone_number;\n    console.log('Formato desconhecido, adicionado 55:', phone_number);\n  }\n}\n\n// Validação de formato brasileiro (DDD + número) - AGORA COM 55\nif (phone_number.length < 12 || phone_number.length > 13) {\n    console.warn(`Phone number format unusual: ${phone_number} (expected 12-13 digits with country code)`);\n}\n\nconsole.log('Validated input:', {\n    phone_number: phone_number,  // Agora já tem 55\n    whatsapp_name: inputData.whatsapp_name,\n    message_type: inputData.message_type\n});\n\nreturn {\n    phone_number: phone_number,  // COM código 55\n    whatsapp_name: inputData.whatsapp_name || '',\n    message: inputData.message || '',\n    message_type: inputData.message_type || 'text',\n    media_url: inputData.media_url || null,\n    message_id: inputData.message_id || '',\n    timestamp: inputData.timestamp || new Date().toISOString()\n};"
      },
      "id": "2ddb3c98-71e8-4e13-baf1-da3a2c963d51",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare both phone formats for SQL queries\n// This node receives data directly from WEBHOOK (not from Validate Input Data)\nconst inputData = $input.first().json;\n\n// Get phone number - could come from webhook or validate input\nlet phone_with_code = String(inputData.phone_number || '');\n\n// Clean the phone number\nphone_with_code = phone_with_code.replace(/[^0-9]/g, '');\n\n// Add country code if missing\nif (phone_with_code && !phone_with_code.startsWith('55')) {\n    if (phone_with_code.length === 10 || phone_with_code.length === 11) {\n        phone_with_code = '55' + phone_with_code;\n        console.log('Added country code 55:', phone_with_code);\n    }\n}\n\n// Create version without country code for compatibility\nlet phone_without_code = phone_with_code;\nif (phone_with_code.startsWith('55')) {\n    phone_without_code = phone_with_code.substring(2);\n}\n\nconsole.log('=== PHONE FORMAT PREPARATION ===');\nconsole.log('With code (55):', phone_with_code);\nconsole.log('Without code:', phone_without_code);\n\n// Return both formats and pass through all other data\nreturn {\n    ...inputData, // Pass through all original data\n    phone_with_code: phone_with_code,      // e.g., \"556181755748\"\n    phone_without_code: phone_without_code, // e.g., \"6181755748\"\n    // Keep original for compatibility\n    phone_number: phone_with_code,\n\n    // CRITICAL V26 FIX: Ensure ALL possible message field names are present\n    // This handles different webhook formats from Evolution API\n    message: inputData.message || inputData.body || inputData.text || inputData.content || '',\n    content: inputData.content || inputData.message || inputData.body || inputData.text || '',\n    body: inputData.body || inputData.message || inputData.text || inputData.content || '',\n    text: inputData.text || inputData.message || inputData.body || inputData.content || '',\n\n    // Also ensure whatsapp_name is present\n    whatsapp_name: inputData.whatsapp_name || inputData.pushName || inputData.profileName || ''\n};"
      },
      "id": "04a79d45-ae2b-4f4d-a7e7-cb85475ef4c6",
      "name": "Prepare Phone Formats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        192
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-ai-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "8b9b3b82-b5a3-4cb5-8260-318305ca5dbc",
      "name": "Webhook - Receive Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -416,
        496
      ],
      "webhookId": "ai-agent-conversation-v1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_count}}",
        "additionalFields": {}
      },
      "id": "4615a60a-b758-463d-9698-47c411060985",
      "name": "Get Conversation Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -208,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_details}}",
        "additionalFields": {}
      },
      "id": "9c87fd50-707d-47a0-b526-ceb45d920036",
      "name": "Get Conversation Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        400,
        736
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "connections": {
        "main": [
          [
            {
              "node": "Merge WF06 Next Dates with User Data",
              "type": "main",
              "index": 1
            },
            {
              "node": "Merge WF06 Available Slots with User Data",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "0"
            }
          ]
        }
      },
      "id": "b67330f3-5700-4396-a56a-baa64f5f66f9",
      "name": "Check If New User",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -16,
        496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_upsert}}",
        "options": {}
      },
      "id": "8ce312ad-d87c-47d5-b573-535765e43c4d",
      "name": "Create New Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        48,
        -192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\n// ===================================================\n// V94 STATE MACHINE - COMPLETE LOOP FIX\n// ===================================================\n// DEFINITIVE FIX: Prevent infinite loops with proper state preservation\n// - 5-level state resolution fallback chain\n// - Explicit state preservation in output\n// - Proper handling of intermediate states\n// - Auto-correction for WF06 responses\n// Date: 2026-04-23\n// Version: V94 Complete Fix\n// ===================================================\n\n// Helper function for phone formatting\nfunction formatPhoneDisplay(phone) {\n  if (!phone) return '';\n  const cleaned = phone.replace(/\\D/g, '');\n  if (cleaned.length === 11) {\n    return `(${cleaned.substring(0,2)}) ${cleaned.substring(2,7)}-${cleaned.substring(7,11)}`;\n  } else if (cleaned.length === 10) {\n    return `(${cleaned.substring(0,2)}) ${cleaned.substring(2,6)}-${cleaned.substring(6,10)}`;\n  }\n  return phone;\n}\n\n// Helper function for service names\nfunction getServiceName(serviceCode) {\n  const serviceNames = {\n    '1': 'Energia Solar',\n    '2': 'Subestações',\n    '3': 'Projetos Elétricos',\n    '4': 'BESS (Armazenamento de Energia)',\n    '5': 'Análise e Laudos'\n  };\n  return serviceNames[serviceCode] || 'serviço selecionado';\n}\n\n// Main execution\nconst input = $input.all()[0].json;\nconst message = (input.message || '').toString().trim().toLowerCase();\n\n// ===================================================\n// V94 CRITICAL FIX: 5-Level State Resolution\n// ===================================================\n// This ensures state is never lost between executions\nconst currentStage = input.current_stage ||\n                     input.next_stage ||\n                     input.currentData?.current_stage ||\n                     input.currentData?.next_stage ||\n                     'greeting';\n\nconst currentData = input.currentData || {};\n\n// V94: Identify intermediate states that trigger WF06\nconst intermediateStates = [\n  'trigger_wf06_next_dates',\n  'trigger_wf06_available_slots'\n];\n\nconst isIntermediateState = intermediateStates.includes(currentStage);\n\n// V94: Enhanced logging for debugging\nconsole.log('=== V97 STATE MACHINE START (CONVERSATION ID FIX) ===');\nconsole.log('V97: conversation_id:', input.conversation_id || input.id || 'NULL');\nconsole.log('V94: Current stage:', currentStage);\nconsole.log('V94: Is intermediate state:', isIntermediateState);\nconsole.log('V94: User message:', message);\nconsole.log('V94: Current data keys:', Object.keys(currentData));\nconsole.log('V94: Input keys:', Object.keys(input));\n\n// V94: Check for WF06 responses\nconst hasWF06NextDates = !!(input.wf06_next_dates);\nconst hasWF06Slots = !!(input.wf06_available_slots);\nconst hasWF06Response = hasWF06NextDates || hasWF06Slots;\n\nconsole.log('V94: Has WF06 response:', hasWF06Response);\nif (hasWF06NextDates) console.log('V94: Has next_dates data');\nif (hasWF06Slots) console.log('V94: Has available_slots data');\n\n// Service mappings\nconst serviceMapping = {\n  '1': 'energia_solar',\n  '2': 'subestacao',\n  '3': 'projeto_eletrico',\n  '4': 'armazenamento_energia',\n  '5': 'analise_laudo'\n};\n\nconst serviceDisplay = {\n  'energia_solar': { emoji: '☀️', name: 'Energia Solar' },\n  'subestacao': { emoji: '⚡', name: 'Subestações' },\n  'projeto_eletrico': { emoji: '📐', name: 'Projetos Elétricos' },\n  'armazenamento_energia': { emoji: '🔋', name: 'BESS (Armazenamento de Energia)' },\n  'analise_laudo': { emoji: '📊', name: 'Análise e Laudos' }\n};\n\n// Initialize response variables\nlet responseText = '';\nlet nextStage = currentStage;\nlet updateData = {};\n\n// V94 FIX: Auto-correct state if we have WF06 response but wrong state\nif (hasWF06Response) {\n  if (hasWF06NextDates && currentStage !== 'show_available_dates') {\n    console.log('V94: AUTO-CORRECTING state to show_available_dates (has WF06 next_dates)');\n    nextStage = 'show_available_dates';\n    // Process immediately without re-entering switch\n    const nextDatesResponse = input.wf06_next_dates;\n\n    if (nextDatesResponse.success && nextDatesResponse.dates && nextDatesResponse.dates.length > 0) {\n      let dateOptions = '';\n      nextDatesResponse.dates.forEach((dateObj, index) => {\n        const number = index + 1;\n        const qualityEmoji = dateObj.quality === 'high' ? '✨' :\n                            dateObj.quality === 'medium' ? '📅' : '⚠️';\n        dateOptions += `${number}️⃣ *${dateObj.display}*\\n   🕐 ${dateObj.total_slots} horários livres ${qualityEmoji}\\n\\n`;\n      });\n\n      responseText = `📅 *Agendar Visita Técnica - ${getServiceName(currentData.service_selected || '1')}*\\n\\n` +\n                    `📆 *Próximas datas com horários disponíveis:*\\n\\n` +\n                    dateOptions +\n                    `💡 *Escolha uma opção (1-3)*\\n` +\n                    `_Ou digite uma data específica em DD/MM/AAAA_\\n\\n` +\n                    `⏱️ *Duração*: 2 horas\\n` +\n                    `📍 *Cidade*: ${currentData.city}`;\n\n      updateData.date_suggestions = nextDatesResponse.dates;\n      nextStage = 'process_date_selection';\n    }\n  } else if (hasWF06Slots && currentStage !== 'show_available_slots') {\n    console.log('V94: AUTO-CORRECTING state to show_available_slots (has WF06 available_slots)');\n    nextStage = 'show_available_slots';\n    // Process immediately\n    const slotsResponse = input.wf06_available_slots;\n\n    if (slotsResponse.success && slotsResponse.available_slots && slotsResponse.available_slots.length > 0) {\n      let slotOptions = '';\n      slotsResponse.available_slots.forEach((slot, index) => {\n        const number = index + 1;\n        slotOptions += `${number}️⃣ *${slot.formatted}* ✅\\n`;\n      });\n\n      responseText = `🕐 *Horários Disponíveis - ${currentData.scheduled_date_display}*\\n\\n` +\n                    slotOptions + `\\n` +\n                    `💡 *Escolha um horário (1-${slotsResponse.available_slots.length})*\\n` +\n                    `_Ou digite 0 para voltar e escolher outra data_`;\n\n      updateData.slot_suggestions = slotsResponse.available_slots;\n      nextStage = 'process_slot_selection';\n    }\n  }\n}\n\n// V94 FIX: Skip switch for intermediate states without message and no WF06 response\nif (isIntermediateState && !message && !hasWF06Response) {\n  console.log('V94: Intermediate state without data - maintaining transition');\n\n  if (currentStage === 'trigger_wf06_next_dates') {\n    nextStage = 'show_available_dates';\n    responseText = ''; // Empty is OK for intermediate\n  } else if (currentStage === 'trigger_wf06_available_slots') {\n    nextStage = 'show_available_slots';\n    responseText = '';\n  }\n}\n// Only process switch if we haven't already handled the state\nelse if (!hasWF06Response || (currentStage !== 'show_available_dates' && currentStage !== 'show_available_slots')) {\n\n// ===================================================\n// V94 STATE MACHINE LOGIC - ALL STATES IMPLEMENTED\n// ===================================================\n\nswitch (currentStage) {\n\n  // ===== STATE 1: GREETING - Show menu =====\n  case 'greeting':\n  case 'menu':\n    console.log('V94: Processing GREETING state');\n    responseText = `🤖 *Olá! Bem-vindo à E2 Soluções!*\n\nSomos especialistas em engenharia elétrica com 15+ anos de experiência.\n\n*Qual serviço você precisa?*\n\n☀️ *1 - Energia Solar*\n   Projetos fotovoltaicos residenciais e comerciais\n\n⚡ *2 - Subestação*\n   Reforma, manutenção e construção\n\n📐 *3 - Projetos Elétricos*\n   Adequações e laudos técnicos\n\n🔋 *4 - BESS (Armazenamento)*\n   Sistemas de armazenamento de energia\n\n📊 *5 - Análise e Laudos*\n   Qualidade de energia e eficiência\n\n_Digite o número do serviço (1-5):_`;\n    nextStage = 'service_selection';\n    break;\n\n  // ===== STATE 2: SERVICE SELECTION =====\n  case 'service_selection':\n  case 'identificando_servico':\n    console.log('V94: Processing SERVICE_SELECTION state');\n\n    if (/^[1-5]$/.test(message)) {\n      console.log('V94: Valid service number:', message);\n      updateData.service_selected = message;\n      updateData.service_type = serviceMapping[message];\n      console.log('V94: Service mapped:', message, '→', updateData.service_type);\n\n      responseText = `✅ *Perfeito!*\n\n👤 *Qual é o seu nome completo?*\n\n💡 _Exemplo: Maria Silva Santos_\n_Usaremos para personalizar seu atendimento_`;\n      nextStage = 'collect_name';\n    } else {\n      console.log('V94: Invalid service selection');\n      responseText = `❌ *Opção inválida*\n\nPor favor, escolha uma das opções disponíveis:\n\n1️⃣ - Energia Solar\n2️⃣ - Subestações\n3️⃣ - Projetos Elétricos\n4️⃣ - BESS\n5️⃣ - Análise de Consumo\n\n_Digite apenas o número (1 a 5)_`;\n      nextStage = 'service_selection';\n    }\n    break;\n\n  // ===== STATE 3: COLLECT NAME =====\n  case 'collect_name':\n  case 'coletando_nome':\n    console.log('V94: Processing COLLECT_NAME state');\n\n    const trimmedName = message.trim();\n\n    if (trimmedName.length >= 2 && !/^[0-9]+$/.test(trimmedName)) {\n      console.log('V94: Valid name received:', trimmedName);\n      updateData.lead_name = trimmedName;\n\n      const whatsappPhone = input.phone_number || input.phone_with_code || '';\n      console.log('V94: WhatsApp phone from input:', whatsappPhone);\n\n      responseText = `📱 *Ótimo, ${trimmedName}!*\n\nVi que você está me enviando mensagens pelo número:\n*${formatPhoneDisplay(whatsappPhone)}*\n\nEste é o melhor número para contato?\n\n1️⃣ *Sim, pode usar este*\n2️⃣ *Não, vou informar outro*\n\n💡 _Digite 1 ou 2_`;\n\n      nextStage = 'collect_phone_whatsapp_confirmation';\n      console.log('V94: Skip collect_phone, go directly to WhatsApp confirmation');\n\n    } else {\n      console.log('V94: Invalid name format');\n      responseText = `❌ *Nome inválido*\n\nPor favor, informe seu nome completo (mínimo 2 letras).\n\n_Não use apenas números ou caracteres especiais._`;\n      nextStage = 'collect_name';\n    }\n    break;\n\n  // ===== STATE 4: PHONE WHATSAPP CONFIRMATION =====\n  case 'collect_phone_whatsapp_confirmation':\n    console.log('V94: Processing PHONE_WHATSAPP_CONFIRMATION state');\n\n    if (message === '1') {\n      console.log('V94: WhatsApp number confirmed');\n\n      const confirmedPhone = input.phone_number || input.phone_with_code || '';\n      updateData.phone_number = confirmedPhone;\n      updateData.contact_phone = confirmedPhone;\n\n      responseText = `📧 *Qual é o seu e-mail, ${currentData.lead_name || 'cliente'}?*\n\n💡 _Exemplo: maria.silva@email.com_\n\nSe preferir não informar, digite *pular*\n_O e-mail nos ajuda a enviar documentação técnica e propostas_`;\n      nextStage = 'collect_email';\n\n    } else if (message === '2') {\n      console.log('V94: User wants alternative phone');\n\n      responseText = `📱 *Qual número prefere para contato, ${currentData.lead_name || 'cliente'}?*\n\nPor favor, informe com DDD:\n\n💡 _Exemplo: (62) 98765-4321_\n_Usaremos este número para agendarmos sua visita técnica_`;\n      nextStage = 'collect_phone_alternative';\n\n    } else {\n      console.log('V94: Invalid WhatsApp confirmation option');\n      const whatsappPhone = input.phone_number || input.phone_with_code || '';\n      responseText = `❌ *Opção inválida*\n\n${`📱 *Ótimo, ${currentData.lead_name || 'cliente'}!*\n\nVi que você está me enviando mensagens pelo número:\n*${formatPhoneDisplay(whatsappPhone)}*\n\nEste é o melhor número para contato?\n\n1️⃣ *Sim, pode usar este*\n2️⃣ *Não, vou informar outro*\n\n💡 _Digite 1 ou 2_`}`;\n      nextStage = 'collect_phone_whatsapp_confirmation';\n    }\n    break;\n\n  // ===== STATE 5: COLLECT PHONE ALTERNATIVE =====\n  case 'collect_phone_alternative':\n    console.log('V94: Processing COLLECT_PHONE_ALTERNATIVE state');\n\n    const phoneRegex = /^\\(?\\d{2}\\)?\\s?9?\\d{4}[-\\s]?\\d{4}$/;\n\n    if (phoneRegex.test(message)) {\n      console.log('V94: Valid alternative phone received');\n\n      const cleanedPhone = message.replace(/\\D/g, '');\n      updateData.phone_number = cleanedPhone;\n      updateData.contact_phone = cleanedPhone;\n\n      responseText = `📧 *Qual é o seu e-mail, ${currentData.lead_name || 'cliente'}?*\n\n💡 _Exemplo: maria.silva@email.com_\n\nSe preferir não informar, digite *pular*\n_O e-mail nos ajuda a enviar documentação técnica e propostas_`;\n      nextStage = 'collect_email';\n\n    } else {\n      console.log('V94: Invalid alternative phone format');\n      responseText = `❌ *Telefone inválido*\n\nPor favor, informe um telefone válido com DDD.\n\n💡 _Exemplos aceitos:_\n• (62) 98765-4321\n• 62987654321\n• 6298765-4321\n\n_Use apenas números, espaços, parênteses e hífen_`;\n      nextStage = 'collect_phone_alternative';\n    }\n    break;\n\n  // ===== STATE 6: COLLECT EMAIL =====\n  case 'collect_email':\n  case 'coletando_email':\n    console.log('V94: Processing COLLECT_EMAIL state');\n\n    if (message === 'pular') {\n      console.log('V94: User skipped email');\n      updateData.email = 'não informado';\n      responseText = `📍 *Em qual cidade você está, ${currentData.lead_name || 'cliente'}?*\n\n💡 _Exemplo: Goiânia - GO_\n_Precisamos saber para agendar a visita técnica com nossa equipe local_`;\n      nextStage = 'collect_city';\n\n    } else {\n      const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\n      if (emailRegex.test(message)) {\n        console.log('V94: Valid email received');\n        updateData.email = message;\n        responseText = `📍 *Em qual cidade você está, ${currentData.lead_name || 'cliente'}?*\n\n💡 _Exemplo: Goiânia - GO_\n_Precisamos saber para agendar a visita técnica com nossa equipe local_`;\n        nextStage = 'collect_city';\n      } else {\n        console.log('V94: Invalid email format');\n        responseText = `❌ *E-mail inválido*\n\nPor favor, informe um e-mail válido.\n\n*Exemplos:*\n• maria@gmail.com\n• joao.silva@empresa.com.br\n\nOu digite *pular* se não quiser informar.`;\n        nextStage = 'collect_email';\n      }\n    }\n    break;\n\n  // ===== STATE 7: COLLECT CITY =====\n  case 'collect_city':\n  case 'coletando_cidade':\n    console.log('V94: Processing COLLECT_CITY state');\n\n    if (message.length >= 2) {\n      console.log('V94: Valid city received');\n      updateData.city = message;\n\n      const leadName = currentData.lead_name || updateData.lead_name || 'não informado';\n      const phoneNumber = currentData.contact_phone || currentData.phone_number || updateData.phone_number || updateData.contact_phone || 'não informado';\n      const email = currentData.email || updateData.email || 'não informado';\n      const city = updateData.city || 'não informado';\n      const serviceType = currentData.service_type || 'não informado';\n      const serviceInfo = serviceDisplay[serviceType] || { emoji: '❓', name: 'Não informado' };\n\n      responseText = `✅ *Perfeito! Veja o resumo dos seus dados:*\n\n👤 *Nome:* ${leadName}\n📱 *Telefone:* ${formatPhoneDisplay(phoneNumber)}\n📧 *E-mail:* ${email}\n📍 *Cidade:* ${city}\n${serviceInfo.emoji} *Serviço:* ${serviceInfo.name}\n\n---\n\nDeseja agendar uma visita técnica gratuita para avaliarmos seu projeto?\n\n1️⃣ *Sim, quero agendar*\n2️⃣ *Não agora, falar com uma pessoa*\n3️⃣ *Meus dados estão errados, quero corrigir*`;\n\n      nextStage = 'confirmation';\n      console.log('V94: Going to State 8 (confirmation)');\n\n    } else {\n      console.log('V94: Invalid city (too short)');\n      responseText = `❌ *Cidade inválida*\n\nPor favor, informe uma cidade válida (mínimo 2 letras).\n\n_Exemplo: Goiânia, Brasília, Anápolis..._`;\n      nextStage = 'collect_city';\n    }\n    break;\n\n  // ===== STATE 8: CONFIRMATION =====\n  case 'confirmation':\n    console.log('V94: Processing CONFIRMATION state');\n\n    if (message === '1') {\n      const serviceSelected = currentData.service_type || '1';\n\n      if (serviceSelected === 'energia_solar' || serviceSelected === 'projeto_eletrico') {\n        console.log('V94: Services 1 or 3 → trigger WF06 next_dates');\n\n        nextStage = 'trigger_wf06_next_dates';\n        responseText = '⏳ *Buscando próximas datas disponíveis...*\\n\\n_Aguarde um momento..._';\n\n        updateData.awaiting_wf06_next_dates = true;\n\n      } else {\n        console.log('V94: Services 2, 4, or 5 → handoff to commercial');\n        responseText = `Obrigado pelas informações, ${currentData.lead_name}! 👍\\n\\n` +\n                      `Para o serviço de *${getServiceName(currentData.service_selected || '1')}*, nossa equipe comercial ` +\n                      `entrará em contato em breve para alinhar os detalhes.\\n\\n` +\n                      `📞 Caso prefira falar agora: (62) 3092-2900\\n\\n` +\n                      `Tenha um ótimo dia! ✨`;\n        nextStage = 'handoff_comercial';\n      }\n    }\n    else if (message === '2') {\n      responseText = `👔 *Transferência para Atendimento Comercial*\n\nObrigado pelas informações!\n\nNossa equipe comercial especializada entrará em contato para:\n✅ Apresentar soluções personalizadas\n✅ Elaborar proposta técnica-comercial\n✅ Esclarecer dúvidas sobre investimento\n\n🕐 *Retorno em:* até 24 horas úteis\n\n📱 *Contato direto:* (62) 3092-2900\n\n_Aguarde nosso retorno!_`;\n      nextStage = 'handoff_comercial';\n      updateData.status = 'handoff';\n    }\n    else if (message === '3') {\n      responseText = `📝 *Correção de Dados*\\n\\n` +\n                    `Digite o que deseja corrigir:\\n\\n` +\n                    `1️⃣ - Nome\\n` +\n                    `2️⃣ - Telefone\\n` +\n                    `3️⃣ - Email\\n` +\n                    `4️⃣ - Cidade\\n` +\n                    `5️⃣ - Serviço\\n\\n` +\n                    `_Digite o número correspondente:_`;\n      nextStage = 'correction_choice';\n    }\n    else {\n      responseText = `❌ *Opção inválida*\n\nPor favor, escolha uma das opções:\n\n1️⃣ *Sim, quero agendar*\n2️⃣ *Não agora, falar com uma pessoa*\n3️⃣ *Meus dados estão errados, quero corrigir*`;\n      nextStage = 'confirmation';\n    }\n    break;\n\n  // ===== STATE 9: INTERMEDIATE - Trigger WF06 Next Dates =====\n  case 'trigger_wf06_next_dates':\n    console.log('V94: INTERMEDIATE STATE - Trigger WF06 next_dates');\n    nextStage = 'show_available_dates';\n    responseText = ''; // Empty for intermediate state\n    break;\n\n  // ===== STATE 10: SHOW AVAILABLE DATES =====\n  case 'show_available_dates':\n    console.log('V94: Processing SHOW_AVAILABLE_DATES');\n\n    const nextDatesResponse = input.wf06_next_dates || {};\n\n    if (nextDatesResponse.success && nextDatesResponse.dates && nextDatesResponse.dates.length > 0) {\n      let dateOptions = '';\n      nextDatesResponse.dates.forEach((dateObj, index) => {\n        const number = index + 1;\n        const qualityEmoji = dateObj.quality === 'high' ? '✨' :\n                            dateObj.quality === 'medium' ? '📅' : '⚠️';\n        dateOptions += `${number}️⃣ *${dateObj.display}*\\n   🕐 ${dateObj.total_slots} horários livres ${qualityEmoji}\\n\\n`;\n      });\n\n      responseText = `📅 *Agendar Visita Técnica - ${getServiceName(currentData.service_selected || '1')}*\\n\\n` +\n                    `📆 *Próximas datas com horários disponíveis:*\\n\\n` +\n                    dateOptions +\n                    `💡 *Escolha uma opção (1-3)*\\n` +\n                    `_Ou digite uma data específica em DD/MM/AAAA_\\n\\n` +\n                    `⏱️ *Duração*: 2 horas\\n` +\n                    `📍 *Cidade*: ${currentData.city}`;\n\n      updateData.date_suggestions = nextDatesResponse.dates;\n      nextStage = 'process_date_selection';\n\n    } else {\n      console.warn('V94: WF06 failed, falling back to manual');\n      responseText = `⚠️ *Não conseguimos buscar disponibilidade automaticamente*\\n\\n` +\n                    `Por favor, informe a data desejada (DD/MM/AAAA):\\n\\n` +\n                    `💡 *Lembre-se:*\\n` +\n                    `• Data futura (não pode ser hoje ou passado)\\n` +\n                    `• Dia útil (segunda a sexta-feira)\\n\\n` +\n                    `_Digite a data..._`;\n\n      nextStage = 'collect_appointment_date_manual';\n    }\n    break;\n\n  // ===== STATE 11: PROCESS DATE SELECTION =====\n  case 'process_date_selection':\n    console.log('V94: Processing DATE SELECTION');\n\n    const dateChoice = message.trim();\n\n    if (/^[1-3]$/.test(dateChoice)) {\n      const selectedIndex = parseInt(dateChoice) - 1;\n      const suggestions = currentData.date_suggestions || [];\n\n      if (selectedIndex >= 0 && selectedIndex < suggestions.length) {\n        const selectedDate = suggestions[selectedIndex];\n        console.log('V94: Date selected:', selectedDate.date);\n\n        updateData.scheduled_date = selectedDate.date;\n        updateData.scheduled_date_display = selectedDate.display;\n\n        console.log('V94: Date → trigger WF06 available_slots');\n        nextStage = 'trigger_wf06_available_slots';\n        responseText = '⏳ *Buscando horários disponíveis...*\\n\\n_Aguarde um momento..._';\n\n        updateData.awaiting_wf06_available_slots = true;\n\n      } else {\n        responseText = `❌ *Opção inválida*\\n\\nEscolha 1, 2 ou 3.`;\n        nextStage = 'process_date_selection';\n      }\n    }\n    else if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(dateChoice)) {\n      console.log('V94: Custom date:', dateChoice);\n\n      const [day, month, year] = dateChoice.split('/');\n      const isoDate = `${year}-${month}-${day}`;\n      const dateObj = new Date(isoDate);\n\n      const today = new Date();\n      today.setHours(0, 0, 0, 0);\n\n      const dayOfWeek = dateObj.getDay();\n      const isWeekend = (dayOfWeek === 0 || dayOfWeek === 6);\n      const isPast = dateObj < today;\n\n      if (isPast) {\n        responseText = `❌ *Data inválida*\\n\\nA data deve ser no futuro.\\n\\nPor favor, escolha uma das opções ou digite outra data.`;\n        nextStage = 'process_date_selection';\n      }\n      else if (isWeekend) {\n        responseText = `❌ *Data inválida*\\n\\nNão atendemos aos finais de semana.\\n\\nPor favor, escolha uma data de segunda a sexta.`;\n        nextStage = 'process_date_selection';\n      }\n      else {\n        console.log('V94: Date validated');\n\n        updateData.scheduled_date = isoDate;\n        updateData.scheduled_date_display = dateChoice;\n\n        nextStage = 'trigger_wf06_available_slots';\n        responseText = '⏳ *Buscando horários disponíveis...*\\n\\n_Aguarde um momento..._';\n\n        updateData.awaiting_wf06_available_slots = true;\n      }\n    }\n    else {\n      responseText = `❌ *Formato inválido*\\n\\nEscolha 1-3 ou digite uma data em DD/MM/AAAA`;\n      nextStage = 'process_date_selection';\n    }\n    break;\n\n  // ===== STATE 12: INTERMEDIATE - Trigger WF06 Slots =====\n  case 'trigger_wf06_available_slots':\n    console.log('V94: INTERMEDIATE STATE - Trigger WF06 available_slots');\n    nextStage = 'show_available_slots';\n    responseText = ''; // Empty for intermediate\n    break;\n\n  // ===== STATE 13: SHOW AVAILABLE SLOTS =====\n  case 'show_available_slots':\n    console.log('V94: Processing SHOW_AVAILABLE_SLOTS');\n\n    const slotsResponse = input.wf06_available_slots || {};\n\n    if (slotsResponse.success && slotsResponse.available_slots && slotsResponse.available_slots.length > 0) {\n      let slotOptions = '';\n      slotsResponse.available_slots.forEach((slot, index) => {\n        const number = index + 1;\n        slotOptions += `${number}️⃣ *${slot.formatted}* ✅\\n`;\n      });\n\n      responseText = `🕐 *Horários Disponíveis - ${currentData.scheduled_date_display}*\\n\\n` +\n                    slotOptions + `\\n` +\n                    `💡 *Escolha um horário (1-${slotsResponse.available_slots.length})*\\n` +\n                    `_Ou digite 0 para voltar e escolher outra data_`;\n\n      updateData.slot_suggestions = slotsResponse.available_slots;\n      nextStage = 'process_slot_selection';\n\n    } else {\n      console.warn('V94: No slots available');\n      responseText = `⚠️ *Sem horários disponíveis nesta data*\\n\\n` +\n                    `Por favor, escolha outra data ou entre em contato:\\n` +\n                    `📞 (62) 3092-2900\\n\\n` +\n                    `Digite *voltar* para escolher outra data.`;\n\n      nextStage = 'process_date_selection';\n    }\n    break;\n\n  // ===== STATE 14: PROCESS SLOT SELECTION =====\n  case 'process_slot_selection':\n    console.log('V94: Processing SLOT SELECTION');\n\n    const slotChoice = message.trim();\n\n    if (slotChoice === '0' || slotChoice === 'voltar') {\n      console.log('V94: User wants different date');\n\n      // Go back to date selection\n      const nextDatesResponse = currentData.date_suggestions || [];\n      if (nextDatesResponse.length > 0) {\n        let dateOptions = '';\n        nextDatesResponse.forEach((dateObj, index) => {\n          const number = index + 1;\n          const qualityEmoji = dateObj.quality === 'high' ? '✨' :\n                              dateObj.quality === 'medium' ? '📅' : '⚠️';\n          dateOptions += `${number}️⃣ *${dateObj.display}*\\n   🕐 ${dateObj.total_slots} horários livres ${qualityEmoji}\\n\\n`;\n        });\n\n        responseText = `📅 *Escolha outra data:*\\n\\n` + dateOptions +\n                      `💡 *Escolha uma opção (1-3)*\\n` +\n                      `_Ou digite uma data específica em DD/MM/AAAA_`;\n      } else {\n        responseText = `📅 *Informe a data desejada (DD/MM/AAAA):*\\n\\n` +\n                      `💡 *Lembre-se:*\\n` +\n                      `• Data futura\\n` +\n                      `• Dia útil (segunda a sexta-feira)`;\n      }\n\n      nextStage = 'process_date_selection';\n    }\n    else if (/^[1-9]\\d*$/.test(slotChoice)) {\n      const selectedIndex = parseInt(slotChoice) - 1;\n      const suggestions = currentData.slot_suggestions || [];\n\n      if (selectedIndex >= 0 && selectedIndex < suggestions.length) {\n        const selectedSlot = suggestions[selectedIndex];\n        console.log('V94: Slot selected:', selectedSlot.formatted);\n\n        updateData.scheduled_time = selectedSlot.start;\n        updateData.scheduled_time_display = selectedSlot.formatted;\n        updateData.scheduled_end_time = selectedSlot.end;\n\n        // Final confirmation\n        const leadName = currentData.lead_name || 'Cliente';\n        const serviceInfo = serviceDisplay[currentData.service_type] || { emoji: '📋', name: 'Serviço' };\n\n        responseText = `✅ *Agendamento Confirmado!*\\n\\n` +\n                      `👤 *Cliente:* ${leadName}\\n` +\n                      `${serviceInfo.emoji} *Serviço:* ${serviceInfo.name}\\n` +\n                      `📅 *Data:* ${currentData.scheduled_date_display}\\n` +\n                      `🕐 *Horário:* ${selectedSlot.formatted}\\n` +\n                      `📍 *Cidade:* ${currentData.city}\\n\\n` +\n                      `🎯 *Próximos passos:*\\n` +\n                      `1️⃣ Você receberá um e-mail de confirmação\\n` +\n                      `2️⃣ Nossa equipe técnica entrará em contato 24h antes\\n` +\n                      `3️⃣ Prepare documentação do imóvel para a visita\\n\\n` +\n                      `📞 *Dúvidas?* (62) 3092-2900\\n\\n` +\n                      `Obrigado por escolher a E2 Soluções! 🚀`;\n\n        nextStage = 'schedule_confirmation';\n        updateData.appointment_scheduled = true;\n        updateData.status = 'scheduled';\n\n      } else {\n        responseText = `❌ *Opção inválida*\\n\\nEscolha um número entre 1 e ${suggestions.length}.`;\n        nextStage = 'process_slot_selection';\n      }\n    }\n    else {\n      responseText = `❌ *Formato inválido*\\n\\nEscolha o número do horário desejado ou digite 0 para voltar.`;\n      nextStage = 'process_slot_selection';\n    }\n    break;\n\n  // ===== STATE 15: SCHEDULE CONFIRMATION =====\n  case 'schedule_confirmation':\n    console.log('V94: SCHEDULE CONFIRMATION - Flow complete');\n    // This is a final state, no next action needed\n    nextStage = 'completed';\n    responseText = ''; // Already sent confirmation\n    break;\n\n  // ===== DEFAULT: Unknown state =====\n  default:\n    console.error('V94: Unknown state:', currentStage);\n    responseText = `❌ *Erro no sistema*\\n\\nPor favor, digite *reiniciar* para começar novamente.`;\n    nextStage = 'greeting';\n    break;\n}\n\n} // End of switch wrapper\n\n// ===================================================\n// V94 CRITICAL: Build output with explicit state preservation\n// ===================================================\nconst output = {\n  response_text: responseText,\n  conversation_id: input.conversation_id || input.id || input.currentData?.conversation_id || null,  // V97: Preserve conversation_id\n  update_data: updateData,\n  next_stage: nextStage,\n  current_stage: nextStage,  // V94: EXPLICIT state preservation for next execution\n  phone_number: input.phone_number || input.phone_with_code,\n  previous_stage: currentStage,  // V94: Track previous state for debugging\n  version: 'V97',  // V94: Version tracking\n  timestamp: new Date().toISOString()\n};\n\n// V94: Enhanced logging for state transitions\nconsole.log('V94: Current → Next:', currentStage, '→', nextStage);\nconsole.log('V94: Response length:', responseText.length);\nconsole.log('V94: Update data keys:', Object.keys(updateData));\nconsole.log('V97: Output conversation_id:', output.conversation_id);\nconsole.log('=== V97 STATE MACHINE END ===');\n\nreturn output;\n",
        "jsCode": "// ===================================================\n// V91 STATE MACHINE - CRITICAL FIX: State Initialization\n// ===================================================\n// ROOT CAUSE FIX (V90 Bug):\n// - State Machine executes TWICE in workflow\n// - First: trigger_wf06_next_dates → next_stage: 'show_available_dates' ✅\n// - Second: input.current_stage UNDEFINED → defaults to 'greeting' ❌\n//\n// V91 SOLUTION:\n// 1. Enhanced currentStage resolution with fallback chain\n// 2. Explicit validation of state consistency\n// 3. WARNING logs for undefined state scenarios\n// 4. Defensive programming for WF06 return path\n//\n// CRITICAL STATES FOR WF06 INTEGRATION:\n// State 8: confirmation → trigger_wf06_next_dates\n// State 9: trigger_wf06_next_dates → show_available_dates (MUST RETURN HERE)\n// State 10: show_available_dates → display 3 dates\n// State 11: process_date_selection → trigger_wf06_available_slots\n// State 12: trigger_wf06_available_slots → show_available_slots\n// State 13: show_available_slots → display N slots\n//\n// Date: 2026-04-20\n// Version: V91 CRITICAL FIX\n// ===================================================\n\n// ===================================================\n// HELPER FUNCTIONS\n// ===================================================\n\nfunction formatPhoneDisplay(phone) {\n  if (!phone) return '';\n  const cleaned = phone.replace(/\\D/g, '');\n  if (cleaned.length === 11) {\n    return `(${cleaned.substring(0,2)}) ${cleaned.substring(2,7)}-${cleaned.substring(7,11)}`;\n  } else if (cleaned.length === 10) {\n    return `(${cleaned.substring(0,2)}) ${cleaned.substring(2,6)}-${cleaned.substring(6,10)}`;\n  }\n  return phone;\n}\n\nfunction getServiceName(serviceCode) {\n  const serviceNames = {\n    '1': 'Energia Solar',\n    '2': 'Subestações',\n    '3': 'Projetos Elétricos',\n    '4': 'BESS (Armazenamento de Energia)',\n    '5': 'Análise e Laudos'\n  };\n  return serviceNames[serviceCode] || 'serviço selecionado';\n}\n\n// ===================================================\n// CONFIGURATION\n// ===================================================\n\nconst SERVICE_MAPPING = {\n  '1': 'energia_solar',\n  '2': 'subestacao',\n  '3': 'projeto_eletrico',\n  '4': 'armazenamento_energia',\n  '5': 'analise_laudo'\n};\n\nconst SERVICE_DISPLAY = {\n  'energia_solar': { emoji: '☀️', name: 'Energia Solar' },\n  'subestacao': { emoji: '⚡', name: 'Subestações' },\n  'projeto_eletrico': { emoji: '📐', name: 'Projetos Elétricos' },\n  'armazenamento_energia': { emoji: '🔋', name: 'BESS (Armazenamento de Energia)' },\n  'analise_laudo': { emoji: '📊', name: 'Análise e Laudos' }\n};\n\n// ===================================================\n// MAIN EXECUTION\n// ===================================================\n\nconst input = $input.all()[0].json;\nconst message = (input.message || '').toString().trim().toLowerCase();\nconst currentData = input.currentData || {};\n\n// ===================================================\n// V91 CRITICAL FIX: Enhanced State Resolution\n// ===================================================\n// Priority chain for currentStage resolution:\n// 1. input.current_stage (direct from previous node)\n// 2. input.next_stage (from previous State Machine execution)\n// 3. currentData.current_stage (from database via Get Conversation Details)\n// 4. currentData.next_stage (database backup)\n// 5. Default: 'greeting'\n//\n// CRITICAL: WF06 return path MUST preserve state from previous execution\n// ===================================================\n\nlet currentStage = input.current_stage ||\n                   input.next_stage ||\n                   currentData.current_stage ||\n                   currentData.next_stage ||\n                   'greeting';\n\n// V91: Enhanced validation logging\nconsole.log('=== V91 STATE MACHINE START ===');\nconsole.log('V91: ========================================');\nconsole.log('V91: STATE INITIALIZATION');\nconsole.log('V91: ========================================');\nconsole.log('V91: input.current_stage:', input.current_stage);\nconsole.log('V91: input.next_stage:', input.next_stage);\nconsole.log('V91: currentData.current_stage:', currentData.current_stage);\nconsole.log('V91: currentData.next_stage:', currentData.next_stage);\nconsole.log('V91: ========================================');\nconsole.log('V91: RESOLVED currentStage:', currentStage);\nconsole.log('V91: ========================================');\n\n// V91: WARNING if state is undefined at ANY level\nif (!input.current_stage && !input.next_stage && !currentData.current_stage && !currentData.next_stage) {\n  console.warn('V91: ⚠️⚠️⚠️ WARNING: ALL stage sources are undefined!');\n  console.warn('V91: ⚠️⚠️⚠️ This may indicate a workflow configuration issue');\n  console.warn('V91: ⚠️⚠️⚠️ Defaulting to greeting, but review node connections');\n}\n\nconsole.log('V91: User message:', message);\nconsole.log('V91: CurrentData keys:', Object.keys(currentData));\n\n// V91: Enhanced WF06 data logging\nconsole.log('V91: ========================================');\nconsole.log('V91: WF06 DATA AVAILABILITY');\nconsole.log('V91: ========================================');\nconsole.log('V91: input.wf06_next_dates:', !!input.wf06_next_dates);\nconsole.log('V91: currentData.wf06_next_dates:', !!currentData.wf06_next_dates);\nconsole.log('V91: input.wf06_available_slots:', !!input.wf06_available_slots);\nconsole.log('V91: currentData.wf06_available_slots:', !!currentData.wf06_available_slots);\nconsole.log('V91: ========================================');\n\n// Initialize response variables\nlet responseText = '';\nlet nextStage = currentStage;  // V91: Maintain current stage by default\nlet updateData = {};\n\n// ===================================================\n// STATE MACHINE LOGIC\n// ===================================================\n\nswitch (currentStage) {\n\n  // ===== STATE 1: GREETING =====\n  case 'greeting':\n  case 'menu':\n    console.log('V91: ■ STATE 1 - GREETING');\n    responseText = `🤖 *Olá! Bem-vindo à E2 Soluções!*\n\nSomos especialistas em engenharia elétrica com 15+ anos de experiência.\n\n*Qual serviço você precisa?*\n\n☀️ *1 - Energia Solar*\n   Projetos fotovoltaicos residenciais e comerciais\n\n⚡ *2 - Subestação*\n   Reforma, manutenção e construção\n\n📐 *3 - Projetos Elétricos*\n   Adequações e laudos técnicos\n\n🔋 *4 - BESS (Armazenamento)*\n   Sistemas de armazenamento de energia\n\n📊 *5 - Análise e Laudos*\n   Qualidade de energia e eficiência\n\n_Digite o número do serviço (1-5):_`;\n    nextStage = 'service_selection';\n    break;\n\n  // ===== STATE 2: SERVICE SELECTION =====\n  case 'service_selection':\n  case 'identificando_servico':\n    console.log('V91: ■ STATE 2 - SERVICE SELECTION');\n\n    if (/^[1-5]$/.test(message)) {\n      updateData.service_selected = message;\n      updateData.service_type = SERVICE_MAPPING[message];\n      console.log('V91: ✅ Service selected:', message, '→', updateData.service_type);\n\n      responseText = `✅ *Perfeito!*\n\n👤 *Qual é o seu nome completo?*\n\n💡 _Exemplo: Maria Silva Santos_\n_Usaremos para personalizar seu atendimento_`;\n      nextStage = 'collect_name';\n    } else {\n      responseText = `❌ *Opção inválida*\n\nPor favor, escolha uma das opções disponíveis:\n\n1️⃣ - Energia Solar\n2️⃣ - Subestações\n3️⃣ - Projetos Elétricos\n4️⃣ - BESS\n5️⃣ - Análise de Consumo\n\n_Digite apenas o número (1 a 5)_`;\n      nextStage = 'service_selection';\n    }\n    break;\n\n  // ===== STATE 3: COLLECT NAME =====\n  case 'collect_name':\n  case 'coletando_nome':\n    console.log('V91: ■ STATE 3 - COLLECT NAME');\n\n    const trimmedName = message.trim();\n\n    if (trimmedName.length >= 2 && !/^[0-9]+$/.test(trimmedName)) {\n      updateData.lead_name = trimmedName;\n\n      const whatsappPhone = input.phone_number || input.phone_with_code || '';\n      responseText = `📱 *Ótimo, ${trimmedName}!*\n\nVi que você está me enviando mensagens pelo número:\n*${formatPhoneDisplay(whatsappPhone)}*\n\nEste é o melhor número para contato?\n\n1️⃣ *Sim, pode usar este*\n2️⃣ *Não, vou informar outro*\n\n💡 _Digite 1 ou 2_`;\n      nextStage = 'collect_phone_whatsapp_confirmation';\n\n    } else {\n      responseText = `❌ *Nome inválido*\n\nPor favor, informe seu nome completo (mínimo 2 letras).\n\n_Não use apenas números ou caracteres especiais._`;\n      nextStage = 'collect_name';\n    }\n    break;\n\n  // ===== STATE 4: PHONE WHATSAPP CONFIRMATION =====\n  case 'collect_phone_whatsapp_confirmation':\n    console.log('V91: ■ STATE 4 - PHONE WHATSAPP CONFIRMATION');\n\n    if (message === '1') {\n      const confirmedPhone = input.phone_number || input.phone_with_code || '';\n      updateData.phone_number = confirmedPhone;\n      updateData.contact_phone = confirmedPhone;\n\n      responseText = `📧 *Qual é o seu e-mail, ${currentData.lead_name || 'cliente'}?*\n\n💡 _Exemplo: maria.silva@email.com_\n\nSe preferir não informar, digite *pular*\n_O e-mail nos ajuda a enviar documentação técnica e propostas_`;\n      nextStage = 'collect_email';\n\n    } else if (message === '2') {\n      responseText = `📱 *Qual número prefere para contato, ${currentData.lead_name || 'cliente'}?*\n\nPor favor, informe com DDD:\n\n💡 _Exemplo: (62) 98765-4321_\n_Usaremos este número para agendarmos sua visita técnica_`;\n      nextStage = 'collect_phone_alternative';\n\n    } else {\n      const whatsappPhone = input.phone_number || input.phone_with_code || '';\n      responseText = `❌ *Opção inválida*\n\n📱 *Ótimo, ${currentData.lead_name || 'cliente'}!*\n\nVi que você está me enviando mensagens pelo número:\n*${formatPhoneDisplay(whatsappPhone)}*\n\nEste é o melhor número para contato?\n\n1️⃣ *Sim, pode usar este*\n2️⃣ *Não, vou informar outro*\n\n💡 _Digite 1 ou 2_`;\n      nextStage = 'collect_phone_whatsapp_confirmation';\n    }\n    break;\n\n  // ===== STATE 5: COLLECT PHONE ALTERNATIVE =====\n  case 'collect_phone_alternative':\n    console.log('V91: ■ STATE 5 - COLLECT PHONE ALTERNATIVE');\n\n    const phoneRegex = /^\\(?\\d{2}\\)?\\s?9?\\d{4}[-\\s]?\\d{4}$/;\n\n    if (phoneRegex.test(message)) {\n      const cleanedPhone = message.replace(/\\D/g, '');\n      updateData.phone_number = cleanedPhone;\n      updateData.contact_phone = cleanedPhone;\n\n      responseText = `📧 *Qual é o seu e-mail, ${currentData.lead_name || 'cliente'}?*\n\n💡 _Exemplo: maria.silva@email.com_\n\nSe preferir não informar, digite *pular*\n_O e-mail nos ajuda a enviar documentação técnica e propostas_`;\n      nextStage = 'collect_email';\n\n    } else {\n      responseText = `❌ *Telefone inválido*\n\nPor favor, informe um telefone válido com DDD.\n\n💡 _Exemplos aceitos:_\n• (62) 98765-4321\n• 62987654321\n• 6298765-4321\n\n_Use apenas números, espaços, parênteses e hífen_`;\n      nextStage = 'collect_phone_alternative';\n    }\n    break;\n\n  // ===== STATE 6: COLLECT EMAIL =====\n  case 'collect_email':\n  case 'coletando_email':\n    console.log('V91: ■ STATE 6 - COLLECT EMAIL');\n\n    if (message === 'pular') {\n      updateData.email = 'não informado';\n      responseText = `📍 *Em qual cidade você está, ${currentData.lead_name || 'cliente'}?*\n\n💡 _Exemplo: Goiânia - GO_\n_Precisamos saber para agendar a visita técnica com nossa equipe local_`;\n      nextStage = 'collect_city';\n\n    } else {\n      const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\n      if (emailRegex.test(message)) {\n        updateData.email = message;\n        responseText = `📍 *Em qual cidade você está, ${currentData.lead_name || 'cliente'}?*\n\n💡 _Exemplo: Goiânia - GO_\n_Precisamos saber para agendar a visita técnica com nossa equipe local_`;\n        nextStage = 'collect_city';\n      } else {\n        responseText = `❌ *E-mail inválido*\n\nPor favor, informe um e-mail válido.\n\n*Exemplos:*\n• maria@gmail.com\n• joao.silva@empresa.com.br\n\nOu digite *pular* se não quiser informar.`;\n        nextStage = 'collect_email';\n      }\n    }\n    break;\n\n  // ===== STATE 7: COLLECT CITY =====\n  case 'collect_city':\n  case 'coletando_cidade':\n    console.log('V91: ■ STATE 7 - COLLECT CITY');\n\n    if (message.length >= 2) {\n      updateData.city = message;\n\n      const leadName = currentData.lead_name || updateData.lead_name || 'não informado';\n      const phoneNumber = currentData.contact_phone || currentData.phone_number || updateData.phone_number || updateData.contact_phone || 'não informado';\n      const email = currentData.email || updateData.email || 'não informado';\n      const city = updateData.city || 'não informado';\n      const serviceType = currentData.service_type || 'não informado';\n      const serviceInfo = SERVICE_DISPLAY[serviceType] || { emoji: '❓', name: 'Não informado' };\n\n      responseText = `✅ *Perfeito! Veja o resumo dos seus dados:*\n\n👤 *Nome:* ${leadName}\n📱 *Telefone:* ${formatPhoneDisplay(phoneNumber)}\n📧 *E-mail:* ${email}\n📍 *Cidade:* ${city}\n${serviceInfo.emoji} *Serviço:* ${serviceInfo.name}\n\n---\n\nDeseja agendar uma visita técnica gratuita para avaliarmos seu projeto?\n\n1️⃣ *Sim, quero agendar*\n2️⃣ *Não agora, falar com uma pessoa*\n3️⃣ *Meus dados estão errados, quero corrigir*`;\n      nextStage = 'confirmation';\n\n    } else {\n      responseText = `❌ *Cidade inválida*\n\nPor favor, informe uma cidade válida (mínimo 2 letras).\n\n_Exemplo: Goiânia, Brasília, Anápolis..._`;\n      nextStage = 'collect_city';\n    }\n    break;\n\n  // ===== STATE 8: CONFIRMATION =====\n  case 'confirmation':\n    console.log('V91: ■ STATE 8 - CONFIRMATION');\n\n    if (message === '1') {\n      const serviceSelected = currentData.service_type || '1';\n\n      if (serviceSelected === 'energia_solar' || serviceSelected === 'projeto_eletrico') {\n        console.log('V91: ✅ Services 1 or 3 → trigger WF06 next_dates');\n\n        nextStage = 'trigger_wf06_next_dates';\n        responseText = '⏳ *Buscando próximas datas disponíveis...*\\n\\n_Aguarde um momento..._';\n        updateData.awaiting_wf06_next_dates = true;\n\n      } else {\n        console.log('V91: ✅ Services 2, 4, or 5 → handoff to commercial');\n        responseText = `Obrigado pelas informações, ${currentData.lead_name}! 👍\\n\\n` +\n                      `Para o serviço de *${getServiceName(currentData.service_selected || '1')}*, nossa equipe comercial ` +\n                      `entrará em contato em breve para alinhar os detalhes.\\n\\n` +\n                      `📞 Caso prefira falar agora: (62) 3092-2900\\n\\n` +\n                      `Tenha um ótimo dia! ✨`;\n        nextStage = 'handoff_comercial';\n      }\n    }\n    else if (message === '2') {\n      responseText = `👔 *Transferência para Atendimento Comercial*\n\nObrigado pelas informações!\n\nNossa equipe comercial especializada entrará em contato para:\n✅ Apresentar soluções personalizadas\n✅ Elaborar proposta técnica-comercial\n✅ Esclarecer dúvidas sobre investimento\n\n🕐 *Retorno em:* até 24 horas úteis\n\n📱 *Contato direto:* (62) 3092-2900\n\n_Aguarde nosso retorno!_`;\n      nextStage = 'handoff_comercial';\n      updateData.status = 'handoff';\n    }\n    else if (message === '3') {\n      responseText = `📝 *Correção de Dados*\\n\\n` +\n                    `Digite o que deseja corrigir:\\n\\n` +\n                    `1️⃣ - Nome\\n` +\n                    `2️⃣ - Telefone\\n` +\n                    `3️⃣ - Email\\n` +\n                    `4️⃣ - Cidade\\n` +\n                    `5️⃣ - Serviço\\n\\n` +\n                    `_Digite o número correspondente:_`;\n      nextStage = 'correction_choice';\n    }\n    else {\n      responseText = `❌ *Opção inválida*\n\nPor favor, escolha uma das opções:\n\n1️⃣ *Sim, quero agendar*\n2️⃣ *Não agora, falar com uma pessoa*\n3️⃣ *Meus dados estão errados, quero corrigir*`;\n      nextStage = 'confirmation';\n    }\n    break;\n\n  // ===== STATE 9: INTERMEDIATE - TRIGGER WF06 NEXT DATES =====\n  case 'trigger_wf06_next_dates':\n    console.log('V91: ■ STATE 9 - INTERMEDIATE - Triggering WF06 next_dates');\n    console.log('V91: ⚠️ CRITICAL: This is pass-through state, WF06 HTTP Request executes externally');\n    console.log('V91: ⚠️ CRITICAL: MUST return to show_available_dates after WF06 completes');\n\n    nextStage = 'show_available_dates';\n    responseText = '';  // Empty for intermediate state\n\n    // V91: Explicit flag for debugging\n    updateData.v91_expecting_wf06_return = true;\n    break;\n\n  // ===== STATE 10: SHOW AVAILABLE DATES =====\n  case 'show_available_dates':\n    console.log('V91: ■ STATE 10 - SHOW AVAILABLE DATES');\n    console.log('V91: ========================================');\n    console.log('V91: WF06 NEXT_DATES DATA SEARCH');\n    console.log('V91: ========================================');\n\n    // V91: Multi-location WF06 data access with enhanced logging\n    let nextDatesResponse = null;\n    let dataSource = 'NONE';\n\n    if (input.wf06_next_dates) {\n      nextDatesResponse = input.wf06_next_dates;\n      dataSource = 'input.wf06_next_dates';\n    }\n    else if (currentData.wf06_next_dates) {\n      nextDatesResponse = currentData.wf06_next_dates;\n      dataSource = 'currentData.wf06_next_dates';\n    }\n    else if (input.currentData && input.currentData.wf06_next_dates) {\n      nextDatesResponse = input.currentData.wf06_next_dates;\n      dataSource = 'input.currentData.wf06_next_dates';\n    }\n    else {\n      nextDatesResponse = {};\n      dataSource = 'NOT_FOUND';\n    }\n\n    console.log('V91: WF06 data source:', dataSource);\n    console.log('V91: WF06 success:', !!nextDatesResponse.success);\n    console.log('V91: WF06 dates count:', nextDatesResponse.dates?.length || 0);\n    console.log('V91: ========================================');\n\n    if (nextDatesResponse && nextDatesResponse.success && nextDatesResponse.dates && nextDatesResponse.dates.length > 0) {\n      let dateOptions = '';\n      nextDatesResponse.dates.forEach((dateObj, index) => {\n        const number = index + 1;\n        const qualityEmoji = dateObj.quality === 'high' ? '✨' :\n                            dateObj.quality === 'medium' ? '📅' : '⚠️';\n        dateOptions += `${number}️⃣ *${dateObj.display}*\\n   🕐 ${dateObj.total_slots} horários livres ${qualityEmoji}\\n\\n`;\n      });\n\n      responseText = `📅 *Agendar Visita Técnica - ${getServiceName(currentData.service_selected || '1')}*\\n\\n` +\n                    `📆 *Próximas datas com horários disponíveis:*\\n\\n` +\n                    dateOptions +\n                    `💡 *Escolha uma opção (1-3)*\\n` +\n                    `_Ou digite uma data específica em DD/MM/AAAA_\\n\\n` +\n                    `⏱️ *Duração*: 2 horas\\n` +\n                    `📍 *Cidade*: ${currentData.city}`;\n\n      updateData.date_suggestions = nextDatesResponse.dates;\n      nextStage = 'process_date_selection';\n      console.log('V91: ✅ SUCCESS - Displaying', nextDatesResponse.dates.length, 'dates to user');\n\n    } else {\n      console.warn('V91: ❌ WF06 failed or no data, fallback to manual');\n      responseText = `⚠️ *Não conseguimos buscar disponibilidade automaticamente*\\n\\n` +\n                    `Por favor, informe a data desejada (DD/MM/AAAA):\\n\\n` +\n                    `💡 *Lembre-se:*\\n` +\n                    `• Data futura (não pode ser hoje ou passado)\\n` +\n                    `• Dia útil (segunda a sexta-feira)\\n\\n` +\n                    `_Digite a data..._`;\n\n      nextStage = 'collect_appointment_date_manual';\n    }\n    break;\n\n  // ===== STATE 11: PROCESS DATE SELECTION =====\n  case 'process_date_selection':\n    console.log('V91: ■ STATE 11 - PROCESS DATE SELECTION');\n\n    const dateChoice = message.trim();\n\n    if (/^[1-3]$/.test(dateChoice)) {\n      const selectedIndex = parseInt(dateChoice) - 1;\n      const suggestions = currentData.date_suggestions || [];\n\n      if (selectedIndex >= 0 && selectedIndex < suggestions.length) {\n        const selectedDate = suggestions[selectedIndex];\n        console.log('V91: ✅ Date selected:', selectedDate.date);\n\n        updateData.scheduled_date = selectedDate.date;\n        updateData.scheduled_date_display = selectedDate.display;\n\n        nextStage = 'trigger_wf06_available_slots';\n        responseText = '⏳ *Buscando horários disponíveis...*\\n\\n_Aguarde um momento..._';\n        updateData.awaiting_wf06_available_slots = true;\n\n      } else {\n        responseText = `❌ *Opção inválida*\\n\\nEscolha 1, 2 ou 3.`;\n        nextStage = 'process_date_selection';\n      }\n    }\n    else if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(dateChoice)) {\n      console.log('V91: Custom date entered:', dateChoice);\n\n      const [day, month, year] = dateChoice.split('/');\n      const isoDate = `${year}-${month}-${day}`;\n      const dateObj = new Date(isoDate);\n\n      const today = new Date();\n      today.setHours(0, 0, 0, 0);\n\n      const dayOfWeek = dateObj.getDay();\n      const isWeekend = (dayOfWeek === 0 || dayOfWeek === 6);\n      const isPast = dateObj < today;\n\n      if (isPast) {\n        responseText = `❌ *Data inválida*\\n\\nA data deve ser no futuro.\\n\\nPor favor, escolha uma das opções ou digite outra data.`;\n        nextStage = 'process_date_selection';\n      }\n      else if (isWeekend) {\n        responseText = `❌ *Data inválida*\\n\\nNão atendemos aos finais de semana.\\n\\nPor favor, escolha uma data de segunda a sexta.`;\n        nextStage = 'process_date_selection';\n      }\n      else {\n        updateData.scheduled_date = isoDate;\n        updateData.scheduled_date_display = dateChoice;\n\n        nextStage = 'trigger_wf06_available_slots';\n        responseText = '⏳ *Buscando horários disponíveis...*\\n\\n_Aguarde um momento..._';\n        updateData.awaiting_wf06_available_slots = true;\n      }\n    }\n    else {\n      responseText = `❌ *Formato inválido*\\n\\nEscolha 1-3 ou digite uma data em DD/MM/AAAA`;\n      nextStage = 'process_date_selection';\n    }\n    break;\n\n  // ===== STATE 12: INTERMEDIATE - TRIGGER WF06 AVAILABLE SLOTS =====\n  case 'trigger_wf06_available_slots':\n    console.log('V91: ■ STATE 12 - INTERMEDIATE - Triggering WF06 available_slots');\n    console.log('V91: ⚠️ CRITICAL: MUST return to show_available_slots after WF06 completes');\n\n    nextStage = 'show_available_slots';\n    responseText = '';\n    updateData.v91_expecting_wf06_slots_return = true;\n    break;\n\n  // ===== STATE 13: SHOW AVAILABLE SLOTS =====\n  case 'show_available_slots':\n    console.log('V91: ■ STATE 13 - SHOW AVAILABLE SLOTS');\n\n    // V91: Multi-location slots access with enhanced logging\n    let slotsResponse = null;\n    let slotsDataSource = 'NONE';\n\n    if (input.wf06_available_slots) {\n      slotsResponse = input.wf06_available_slots;\n      slotsDataSource = 'input.wf06_available_slots';\n    }\n    else if (currentData.wf06_available_slots) {\n      slotsResponse = currentData.wf06_available_slots;\n      slotsDataSource = 'currentData.wf06_available_slots';\n    }\n    else if (input.currentData && input.currentData.wf06_available_slots) {\n      slotsResponse = input.currentData.wf06_available_slots;\n      slotsDataSource = 'input.currentData.wf06_available_slots';\n    }\n    else {\n      slotsResponse = {};\n      slotsDataSource = 'NOT_FOUND';\n    }\n\n    console.log('V91: WF06 slots data source:', slotsDataSource);\n    console.log('V91: WF06 slots success:', !!slotsResponse.success);\n    console.log('V91: WF06 slots count:', slotsResponse.available_slots?.length || 0);\n\n    if (slotsResponse && slotsResponse.success && slotsResponse.available_slots && slotsResponse.available_slots.length > 0) {\n      let slotOptions = '';\n      slotsResponse.available_slots.forEach((slot, index) => {\n        const number = index + 1;\n        slotOptions += `${number}️⃣ *${slot.formatted}* ✅\\n`;\n      });\n\n      responseText = `🕐 *Horários Disponíveis - ${currentData.scheduled_date_display}*\\n\\n` +\n                    slotOptions + `\\n` +\n                    `💡 *Escolha um horário (1-${slotsResponse.total_available})*\\n` +\n                    `_Ou digite um horário específico em HH:MM_\\n\\n` +\n                    `⏱️ *Duração*: 2 horas\\n` +\n                    `📍 *Cidade*: ${currentData.city}\\n` +\n                    `${SERVICE_DISPLAY[currentData.service_type]?.emoji || '🔧'} *Serviço*: ${getServiceName(currentData.service_selected || '1')}`;\n\n      updateData.available_slots = slotsResponse.available_slots;\n      nextStage = 'process_slot_selection';\n      console.log('V91: ✅ SUCCESS - Displaying', slotsResponse.available_slots.length, 'slots');\n\n    } else if (slotsResponse && slotsResponse.success && slotsResponse.total_available === 0) {\n      console.warn('V91: ⚠️ No slots available');\n      responseText = `❌ *Esta data está totalmente ocupada*\\n\\n` +\n                    `Vamos escolher outra data com mais disponibilidade.\\n\\n` +\n                    `_Voltando para seleção de datas..._`;\n      nextStage = 'show_available_dates';\n    } else {\n      console.error('V91: ❌ WF06 slots failed, fallback to manual');\n      responseText = `⚠️ *Não conseguimos buscar horários disponíveis*\\n\\n` +\n                    `Por favor, informe o horário desejado (HH:MM):\\n\\n` +\n                    `⏰ *Horários de atendimento:*\\n` +\n                    `• Segunda a Sexta: 08:00 às 18:00\\n\\n` +\n                    `_Digite o horário..._`;\n      nextStage = 'collect_appointment_time_manual';\n    }\n    break;\n\n  // ===== STATE 14: PROCESS SLOT SELECTION =====\n  case 'process_slot_selection':\n    console.log('V91: ■ STATE 14 - PROCESS SLOT SELECTION');\n\n    const slotChoice = message.trim();\n    const availableSlots = currentData.available_slots || [];\n\n    if (/^\\d+$/.test(slotChoice)) {\n      const selectedIndex = parseInt(slotChoice) - 1;\n\n      if (selectedIndex >= 0 && selectedIndex < availableSlots.length) {\n        const selectedSlot = availableSlots[selectedIndex];\n\n        updateData.scheduled_time_start = selectedSlot.start_time;\n        updateData.scheduled_time_end = selectedSlot.end_time;\n\n        responseText = `✅ *Agendamento Confirmado!*\\n\\n` +\n                      `📅 *Data:* ${currentData.scheduled_date_display}\\n` +\n                      `🕐 *Horário:* ${selectedSlot.formatted}\\n` +\n                      `📍 *Cidade*: ${currentData.city}\\n` +\n                      `${SERVICE_DISPLAY[currentData.service_type]?.emoji || '🔧'} *Serviço*: ${getServiceName(currentData.service_selected || '1')}\\n\\n` +\n                      `_Processando agendamento..._`;\n\n        nextStage = 'appointment_final_confirmation';\n\n      } else {\n        responseText = `❌ *Opção inválida*\\n\\nEscolha um número de 1 a ${availableSlots.length}`;\n        nextStage = 'process_slot_selection';\n      }\n    }\n    else if (/^\\d{2}:\\d{2}$/.test(slotChoice)) {\n      const [hours, minutes] = slotChoice.split(':').map(Number);\n\n      if (hours < 8 || hours >= 18 || minutes < 0 || minutes >= 60) {\n        responseText = `❌ *Horário inválido*\\n\\nNosso atendimento é de Segunda a Sexta, 08:00 às 18:00.\\n\\nPor favor, escolha um horário dentro deste período.`;\n        nextStage = 'process_slot_selection';\n      } else {\n        updateData.scheduled_time_start = slotChoice;\n        const endHours = hours + 2;\n        updateData.scheduled_time_end = `${String(endHours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}`;\n\n        responseText = `✅ *Horário registrado*\\n\\n` +\n                      `📅 *Data:* ${currentData.scheduled_date_display}\\n` +\n                      `🕐 *Horário:* ${slotChoice} às ${updateData.scheduled_time_end}\\n\\n` +\n                      `_Processando agendamento..._`;\n        nextStage = 'appointment_final_confirmation';\n      }\n    }\n    else {\n      responseText = `❌ *Formato inválido*\\n\\nEscolha um número (1-${availableSlots.length}) ou digite um horário em HH:MM`;\n      nextStage = 'process_slot_selection';\n    }\n    break;\n\n  // ===== FALLBACK STATES =====\n  case 'collect_appointment_date_manual':\n  case 'collect_appointment_time_manual':\n    console.log('V91: ■ FALLBACK - Manual input');\n    responseText = `⚠️ *Sistema temporariamente indisponível*\\n\\nPor favor, entre em contato diretamente:\\n📱 (62) 3092-2900`;\n    nextStage = 'handoff_comercial';\n    break;\n\n  // ===== STATE 15: APPOINTMENT FINAL CONFIRMATION =====\n  case 'appointment_final_confirmation':\n  case 'scheduling_redirect':\n    console.log('V91: ■ STATE 15 - APPOINTMENT FINAL CONFIRMATION');\n\n    responseText = `✅ *Agendamento realizado com sucesso!*\\n\\n` +\n                  `📅 *Data:* ${currentData.scheduled_date_display}\\n` +\n                  `🕐 *Horário:* ${currentData.scheduled_time_start} às ${currentData.scheduled_time_end}\\n\\n` +\n                  `📧 Você receberá um email de confirmação em breve.\\n\\n` +\n                  `Até lá! ✨`;\n\n    nextStage = 'completed';\n    updateData.appointment_completed = true;\n    break;\n\n  // ===== REMAINING STATES =====\n  case 'handoff_comercial':\n    console.log('V91: ■ Handoff to commercial team');\n    responseText = responseText || 'Obrigado! Nossa equipe entrará em contato em breve.';\n    nextStage = 'completed';\n    break;\n\n  case 'correction_choice':\n    console.log('V91: ■ Correction flow');\n    responseText = `⚠️ *Sistema de correção temporariamente indisponível*\\n\\nPor favor, entre em contato:\\n📱 (62) 3092-2900`;\n    nextStage = 'handoff_comercial';\n    break;\n\n  case 'completed':\n    console.log('V91: ■ Conversation completed');\n    responseText = 'Conversa finalizada. Digite *menu* para reiniciar.';\n    nextStage = 'completed';\n    break;\n\n  default:\n    console.error('V91: ■ ❌ UNKNOWN STATE:', currentStage);\n    console.error('V91: ❌ This should NEVER happen - investigate workflow configuration!');\n    console.error('V91: ❌ Falling back to greeting');\n    responseText = `⚠️ *Estado desconhecido*\\n\\nPor favor, reinicie a conversa digitando: *menu*`;\n    nextStage = 'greeting';\n}\n\n// ===================================================\n// RETURN RESULT\n// ===================================================\n\nconsole.log('V91: ========================================');\nconsole.log('V91: STATE MACHINE RESULT');\nconsole.log('V91: ========================================');\nconsole.log('V91: Current stage:', currentStage);\nconsole.log('V91: Next stage:', nextStage);\nconsole.log('V91: Response text length:', responseText.length);\nconsole.log('V91: Update data keys:', Object.keys(updateData));\nconsole.log('V91: ========================================');\nconsole.log('=== V91 STATE MACHINE END ===');\n\nreturn {\n  response_text: responseText,\n  next_stage: nextStage,\n  update_data: updateData,\n\n  // V91: Explicit current_stage for next execution\n  current_stage: nextStage,\n\n  // Pass phone data\n  phone_number: input.phone_number || input.phone_with_code || '',\n  phone_with_code: input.phone_with_code || input.phone_number || '',\n  phone_without_code: input.phone_without_code || '',\n\n  // Pass conversation data\n  conversation_id: input.conversation_id || null,\n  message: input.message || '',\n  message_id: input.message_id || '',\n  message_type: input.message_type || 'text',\n\n  // Pass collected_data\n  collected_data: {\n    ...currentData,\n    ...updateData,\n    lead_name: updateData.lead_name || currentData.lead_name || '',\n    contact_name: updateData.contact_name || currentData.contact_name || updateData.lead_name || currentData.lead_name || ''\n  },\n\n  // V91 Metadata\n  v91_state_initialization_fix: true,\n  v91_enhanced_logging: true,\n  v91_wf06_return_path_defensive: true,\n  timestamp: new Date().toISOString()\n};\n"
      },
      "id": "246b6a88-7d09-43f1-b0f3-480961d76ab1",
      "name": "State Machine Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        368,
        240
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Build Update Queries",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Claude AI Agent State 9 (collect_appointment_date)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Claude AI Agent State 10 (collect_appointment_time)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Claude AI Agent State 11 (appointment_confirmation)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_update_conversation }}",
        "options": {}
      },
      "id": "ae8f8c0b-b15e-42a5-8e5c-71283a365a08",
      "name": "Update Conversation State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        656,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_save_inbound }}",
        "options": {}
      },
      "id": "e4d5fc3e-022e-4321-9e4f-0ee73dc20b17",
      "name": "Save Inbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        768,
        -80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_save_outbound }}",
        "options": {}
      },
      "id": "2ce1c09b-74cb-4132-b440-dd324f38e2c1",
      "name": "Save Outbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        960,
        -64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-evolution-dev:8080/message/sendText/e2-solucoes-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "ae569043cfa169380c378347f91a1141ea572541d2d1cadbed222db519c8a891"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Build Update Queries\"].json[\"phone_number\"] }}"
            },
            {
              "name": "text",
              "value": "={{ $node[\"Build Update Queries\"].json[\"response_text\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1ace9b32-0411-4d46-97a3-fa7637ab2667",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        976,
        320
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Check If Scheduling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Build Update Queries\"].json.next_stage }}",
              "value2": "handoff_comercial"
            }
          ]
        }
      },
      "id": "c3db8e0d-8454-44de-9697-dbd09cf687e9",
      "name": "Check If Handoff",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1184,
        688
      ]
    },
    {
      "parameters": {
        "workflowId": "0EDOkLmXFaA3snVL",
        "options": {}
      },
      "id": "0fb324ce-ebf9-4afd-95f9-b1330b0c4057",
      "name": "Trigger Appointment Scheduler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1840,
        -400
      ],
      "notes": "V70: MODIFIED - Now sends appointment_id from database INSERT"
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id + 8 }}",
        "options": {}
      },
      "id": "cfffabfa-7588-450b-afe1-7d23890a5fbd",
      "name": "Trigger Human Handoff",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1392,
        688
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_upsert_lead }}",
        "options": {}
      },
      "id": "e068ea11-2c62-4ed9-a530-d337df9eacef",
      "name": "Upsert Lead Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        976,
        832
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ { success: true, stage: $json.next_stage } }}",
        "options": {}
      },
      "id": "aeb70794-6f7e-49f1-aaa5-e522c0ca0b9b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1584,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build SQL Queries Node - Prepara todas as queries SQL\n// Recebe dados do node anterior\nconst data = $input.first().json;\nconst phone_with_code = data.phone_with_code || '';\nconst phone_without_code = data.phone_without_code || '';\n\n// Validação de segurança\nif (!phone_with_code || !phone_without_code) {\n  throw new Error('Phone numbers not properly formatted');\n}\n\n// Escape simples para SQL injection\nconst escapeSql = (str) => {\n  return String(str).replace(/'/g, \"''\");\n};\n\n// Query para contar conversas existentes\nconst query_count = `\n  SELECT COUNT(*) as count\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n`.trim();\n\n// Query para buscar detalhes da conversa\nconst query_details = `\n  SELECT\n    *,\n    COALESCE(state_machine_state,\n      CASE current_state\n        WHEN 'novo' THEN 'greeting'\n        WHEN 'identificando_servico' THEN 'service_selection'\n        WHEN 'coletando_dados' THEN 'collect_name'\n        WHEN 'agendando' THEN 'scheduling'\n        WHEN 'handoff_comercial' THEN 'handoff_comercial'\n        WHEN 'concluido' THEN 'completed'\n        ELSE 'greeting'\n      END\n    ) as state_for_machine\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  ORDER BY updated_at DESC\n  LIMIT 1\n`.trim();\n\n// Query para criar/atualizar conversa\nconst query_upsert = `\n  -- Limpar duplicatas antigas\n  DELETE FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  AND id NOT IN (\n    SELECT id FROM conversations\n    WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n    ORDER BY updated_at DESC\n    LIMIT 1\n  );\n\n  -- Inserir ou atualizar conversa\n  INSERT INTO conversations (\n    phone_number,\n    whatsapp_name,\n    service_id,\n    contact_name,\n    contact_email,\n    city,\n    current_state,\n    state_machine_state,\n    collected_data,\n    error_count,\n    created_at,\n    updated_at\n  ) VALUES (\n    '${escapeSql(phone_with_code)}',\n    '${escapeSql(data.whatsapp_name || '')}',\n    NULL,\n    NULL,\n    NULL,\n    NULL,\n    'novo',\n    'greeting',\n    '{}'::jsonb,\n    0,\n    CURRENT_TIMESTAMP,\n    CURRENT_TIMESTAMP\n  )\n  ON CONFLICT (phone_number) DO UPDATE SET\n    whatsapp_name = COALESCE(EXCLUDED.whatsapp_name, conversations.whatsapp_name),\n    last_message_at = CURRENT_TIMESTAMP,\n    updated_at = CURRENT_TIMESTAMP,\n    state_machine_state = CASE\n      WHEN conversations.state_machine_state IN ('completed', 'handoff_comercial')\n      THEN 'greeting'\n      ELSE conversations.state_machine_state\n    END\n  RETURNING *\n`.trim();\n\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (FIXED) ===');\nconsole.log('Phone with code:', phone_with_code);\nconsole.log('Phone without code:', phone_without_code);\nconsole.log('Queries built successfully as STRINGS');\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V27) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V27: PRESERVAR CAMPOS DE MENSAGEM\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V28) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V28: PRESERVAR CAMPOS DE MENSAGEM E RETORNAR ARRAY\nconst result = {\n  ...data,  // Pass through ALL original data\n\n  // SQL Queries\n  query_count: query_count,        // String SQL\n  query_details: query_details,    // String SQL\n  query_upsert: query_upsert,      // String SQL\n\n  // V28 CRITICAL: Explicitly preserve message fields\n  message: data.message || '',\n  content: data.content || '',\n  body: data.body || '',\n  text: data.text || '',\n\n  // Phone fields\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  phone_number: data.phone_number || phone_with_code,\n\n  // Other fields\n  whatsapp_name: data.whatsapp_name || ''\n};\n\n// V28: Return as array for n8n compatibility\nconsole.log('V28: Build SQL Queries returning array');\nreturn [result];"
      },
      "id": "7ccaf146-6d0f-41ee-b915-e4057147f362",
      "name": "Build SQL Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        80
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados após o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // ← ARRAY RETURN FIX"
      },
      "id": "4b8a64c9-b020-47eb-9ac7-8a847483c9d3",
      "name": "Merge Queries Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -176
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados após o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // ← ARRAY RETURN FIX"
      },
      "id": "3e9ade90-0c6e-4fb2-a3e4-f6700d2e36c1",
      "name": "Merge Queries Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        848
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\n// ===================================================\n// V97 BUILD UPDATE QUERIES - CONVERSATION ID COMPLETE FIX\n// ===================================================\n// DEFINITIVE FIX: Prevent conversation_id loss with robust extraction\n// - Multi-level fallback chain for conversation_id\n// - Comprehensive debugging logs\n// - Validation warnings when conversation_id is null\n// Date: 2026-04-27\n// Version: V97 Complete Fix\n// ===================================================\n\n// Get input from State Machine\nconst inputData = $input.first().json;\n\nconsole.log('=== V97 BUILD UPDATE QUERIES START ===');\nconsole.log('V97: Input keys:', Object.keys(inputData));\n\n// ===================================================\n// V97 CRITICAL FIX: Multi-level conversation_id extraction\n// ===================================================\n// This ensures conversation_id is NEVER lost, even when State Machine\n// executes twice or context is incomplete\nconst conversation_id =\n  inputData.conversation_id ||          // First: Direct from input\n  inputData.id ||                       // Second: Alternative ID field\n  inputData.currentData?.conversation_id ||  // Third: From currentData object\n  inputData.currentData?.id ||          // Fourth: currentData alternative ID\n  null;\n\nconsole.log('V97: Conversation ID resolution:');\nconsole.log('  - inputData.conversation_id:', inputData.conversation_id);\nconsole.log('  - inputData.id:', inputData.id);\nconsole.log('  - inputData.currentData?.conversation_id:', inputData.currentData?.conversation_id);\nconsole.log('  - inputData.currentData?.id:', inputData.currentData?.id);\nconsole.log('V97: RESOLVED conversation_id:', conversation_id);\n\n// V97: Critical validation - warn if conversation_id is null\nif (!conversation_id) {\n  console.error('V97 CRITICAL WARNING: conversation_id is NULL!');\n  console.error('V97 DEBUG: Full inputData:', JSON.stringify(inputData, null, 2));\n  console.error('V97 DEBUG: This will cause database UPDATE to fail!');\n}\n\n// Extract other data\nconst phone_number = inputData.phone_number || inputData.phone_with_code || null;\nconst next_stage = inputData.next_stage || inputData.current_stage || 'greeting';\nconst update_data = inputData.update_data || {};\n\nconsole.log('V97: Phone number:', phone_number);\nconsole.log('V97: Next stage:', next_stage);\nconsole.log('V97: Update data keys:', Object.keys(update_data));\n\n// ===================================================\n// V97: Build dynamic UPDATE query\n// ===================================================\nconst updates = [];\nconst values = [];\nlet paramIndex = 2; // $1 is phone_number\n\n// Always update current_stage (prevents loops)\nupdates.push(`current_stage = $${paramIndex}`);\nvalues.push(next_stage);\nparamIndex++;\n\n// Add updates from State Machine\nObject.entries(update_data).forEach(([key, value]) => {\n  updates.push(`${key} = $${paramIndex}`);\n  values.push(value);\n  paramIndex++;\n});\n\n// Always update timestamps\nupdates.push(`updated_at = NOW()`);\nupdates.push(`last_message_at = NOW()`);\n\n// Build final query\nconst updateQuery = `\n  UPDATE conversations\n  SET ${updates.join(', ')}\n  WHERE phone_number = $1\n  RETURNING *\n`;\n\nconsole.log('V97: Update query:', updateQuery);\nconsole.log('V97: Query values:', [phone_number, ...values]);\nconsole.log('=== V97 BUILD UPDATE QUERIES END ===');\n\n// V97: Return with explicit conversation_id preservation\nreturn {\n  query_update_conversation: updateQuery,\n  phone_number: phone_number,\n  values: [phone_number, ...values],\n  conversation_id: conversation_id,  // V97: EXPLICIT preservation\n  next_stage: next_stage,\n  version: 'V97'\n};\n"
      },
      "id": "0c6d0776-5508-4811-aa42-2da802f0dbd0",
      "name": "Build Update Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        304
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "ee0cdf63-04db-4f1f-adf4-ce79574019dc",
      "name": "Merge Append New User V57",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        224,
        208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// V57 Code Processor - Process append-merged data (NEW USER PATH)\nconsole.log('=== V63.2 CODE PROCESSOR NEW USER START ===');\n\nconst items = $input.all();\nconsole.log(`V63.2: Received ${items.length} items from Merge append`);\n\nif (items.length !== 2) {\n  console.error(`V63.2 ERROR: Expected 2 items from append, received ${items.length}`);\n  throw new Error(`V63.2: Merge append should produce 2 items, got ${items.length}`);\n}\n\nconst queriesData = items[0].json;  // Input 0 from Merge (Queries)\nconst dbData = items[1].json;       // Input 1 from Merge (Database)\n\nconsole.log('V63.2 Item 0 (Queries) keys:', Object.keys(queriesData).join(', '));\nconsole.log('V63.2 Item 1 (Database) keys:', Object.keys(dbData).join(', '));\n\nconst conversation_id = dbData.id || dbData.conversation_id || null;\n\nconsole.log('V63.2: Extracted conversation_id:', conversation_id);\n\nif (!conversation_id) {\n  console.error('V63.2 CRITICAL ERROR: conversation_id is NULL!');\n  console.error('V63.2: Database data (item[1]):', JSON.stringify(dbData, null, 2));\n  throw new Error('V63.2: No conversation_id found in database result');\n}\n\n// V63.2 CRITICAL FIX: Create currentData and current_stage for NEW users\nconst currentData = {};  // Empty for new users\nconst current_stage = 'greeting';  // Always greeting for new users\n\nconsole.log('V63.2 NEW USER: Setting current_stage:', current_stage);\nconsole.log('V63.2 NEW USER: Setting currentData:', JSON.stringify(currentData));\n\nconst combinedData = {\n  ...queriesData,\n  ...dbData,\n\n  conversation_id: conversation_id,\n  id: conversation_id,\n  phone_number: dbData.phone_number || queriesData.phone_number || '',\n  message: queriesData.message || queriesData.body || queriesData.text || '',\n\n  // V63.2 CRITICAL FIX: Add currentData and current_stage\n  currentData: currentData,        // ✅ NEW! (empty for new user)\n  current_stage: current_stage,    // ✅ NEW! (always greeting)\n  collected_data: {},              // ✅ Empty for new user\n\n  v63_2_fix_applied: true,\n  v63_2_processor_executed: true,\n  v63_2_processor_timestamp: new Date().toISOString(),\n  v63_2_items_processed: items.length,\n  v63_2_conversation_id_source: 'dbData.id',\n  v63_2_path: 'new_user',\n  v63_2_current_stage_set: current_stage,\n  v63_2_currentData_keys: ''  // Empty for new user\n};\n\nconsole.log('V63.2: Combined data keys:', Object.keys(combinedData).join(', '));\nconsole.log('V63.2: conversation_id in output:', combinedData.conversation_id);\nconsole.log('V63.2: phone_number in output:', combinedData.phone_number);\nconsole.log('V63.2: current_stage in output:', combinedData.current_stage);\nconsole.log('✅ V63.2 CODE PROCESSOR NEW USER COMPLETE');\n\nreturn [combinedData];\n"
      },
      "id": "0f672ab1-1a79-49bb-848b-f0102cdda5e3",
      "name": "Process New User Data V57",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "bb8c77f5-8937-4e95-83c5-1d3b18f16a0a",
      "name": "Merge Append Existing User V57",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        224,
        912
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// V57 Code Processor - Process append-merged data (EXISTING USER PATH)\nconsole.log('=== V63.2 CODE PROCESSOR EXISTING USER START ===');\n\nconst items = $input.all();\nconsole.log(`V63.2: Received ${items.length} items from Merge append`);\n\nif (items.length !== 2) {\n  console.error(`V63.2 ERROR: Expected 2 items from append, received ${items.length}`);\n  throw new Error(`V63.2: Merge append should produce 2 items, got ${items.length}`);\n}\n\nconst queriesData = items[0].json;  // Input 0 from Merge (Queries)\nconst dbData = items[1].json;       // Input 1 from Merge (Database)\n\nconsole.log('V63.2 Item 0 (Queries) keys:', Object.keys(queriesData).join(', '));\nconsole.log('V63.2 Item 1 (Database) keys:', Object.keys(dbData).join(', '));\n\n// CRITICAL: Extract conversation_id from existing conversation\nconst conversation_id = dbData.id || dbData.conversation_id || null;\n\nconsole.log('V63.2: Extracted conversation_id:', conversation_id);\nconsole.log('V63.2: Type:', typeof conversation_id);\n\nif (!conversation_id) {\n  console.error('V63.2 CRITICAL ERROR: No conversation_id in existing user data!');\n  console.error('V63.2: Database data (item[1]):', JSON.stringify(dbData, null, 2));\n  throw new Error('V63.2: No conversation_id found in existing conversation');\n}\n\n// V63.2 CRITICAL FIX: Parse collected_data from database JSONB column\nlet collectedDataFromDb = {};\ntry {\n  // Database returns collected_data as string or already parsed object\n  if (typeof dbData.collected_data === 'string') {\n    collectedDataFromDb = JSON.parse(dbData.collected_data);\n  } else if (typeof dbData.collected_data === 'object' && dbData.collected_data !== null) {\n    collectedDataFromDb = dbData.collected_data;\n  }\n  console.log('V63.2: Parsed collected_data:', JSON.stringify(collectedDataFromDb));\n} catch (e) {\n  console.error('V63.2: Failed to parse collected_data:', e.message);\n  collectedDataFromDb = {};\n}\n\n// V63.2 CRITICAL FIX: Set current_stage from database state_machine_state\nconst current_stage = dbData.state_machine_state ||\n                     dbData.state_for_machine ||\n                     dbData.current_state ||\n                     'greeting';\n\nconsole.log('V63.2 CRITICAL: Setting current_stage:', current_stage);\n\n// V63.2 CRITICAL FIX: Create currentData object for State Machine\nconst currentData = {\n  ...collectedDataFromDb,  // All collected data from previous messages\n\n  // Add database fields to currentData\n  service_selected: collectedDataFromDb.service_selected || null,\n  service_type: collectedDataFromDb.service_type || dbData.service_type || null,\n  lead_name: collectedDataFromDb.lead_name || dbData.contact_name || null,\n  contact_phone: collectedDataFromDb.contact_phone || dbData.contact_phone || null,\n  email: collectedDataFromDb.email || dbData.contact_email || null,\n  city: collectedDataFromDb.city || dbData.city || null\n};\n\nconsole.log('V63.2 CRITICAL: Created currentData:', JSON.stringify(currentData));\n\n// V64 DEBUG: Extended logging\nconsole.log('=== V64 EXISTING USER EXTENDED DEBUG ===');\nconsole.log('V64: dbData.collected_data TYPE:', typeof dbData.collected_data);\nconsole.log('V64: dbData.collected_data RAW:', dbData.collected_data);\nconsole.log('V64: collectedDataFromDb PARSED:', JSON.stringify(collectedDataFromDb));\nconsole.log('V64: currentData.service_selected:', currentData.service_selected);\nconsole.log('V64: currentData.service_type:', currentData.service_type);\nconsole.log('V64: currentData.lead_name:', currentData.lead_name);\nconsole.log('V64: dbData.state_machine_state:', dbData.state_machine_state);\nconsole.log('V64: current_stage SET TO:', current_stage);\nconsole.log('=== V64 EXISTING USER DEBUG END ===');\n\nconst combinedData = {\n  ...queriesData,\n  ...dbData,\n\n  // EXPLICIT conversation_id mapping\n  conversation_id: conversation_id,\n  id: conversation_id,\n\n  phone_number: dbData.phone_number || queriesData.phone_number || '',\n  message: queriesData.message || queriesData.body || queriesData.text || '',\n\n  // V63.2 CRITICAL FIX: Add currentData and current_stage\n  currentData: currentData,                    // ✅ NEW!\n  current_stage: current_stage,                // ✅ NEW!\n  collected_data: collectedDataFromDb,         // ✅ Parsed from DB\n\n  v63_2_fix_applied: true,                     // ✅ NEW metadata\n  v63_2_processor_executed: true,\n  v63_2_processor_timestamp: new Date().toISOString(),\n  v63_2_items_processed: items.length,\n  v63_2_conversation_id_source: 'dbData.id',\n  v63_2_path: 'existing_user',\n  v63_2_current_stage_set: current_stage,      // ✅ Debug info\n  v63_2_currentData_keys: Object.keys(currentData).join(',')  // ✅ Debug info\n};\n\nconsole.log('V63.2: Combined data keys:', Object.keys(combinedData).join(', '));\nconsole.log('V63.2: conversation_id in output:', combinedData.conversation_id);\nconsole.log('V63.2: phone_number in output:', combinedData.phone_number);\nconsole.log('V63.2: current_stage in output:', combinedData.current_stage);\nconsole.log('V63.2: currentData keys in output:', Object.keys(combinedData.currentData || {}).join(', '));\nconsole.log('✅ V63.2 CODE PROCESSOR EXISTING USER COMPLETE');\n\nreturn [combinedData];\n"
      },
      "id": "9821df2c-7324-43e7-b234-fa8be6cf1e17",
      "name": "Process Existing User Data V57",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        912
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "cf03b003-39fd-4d2e-8f97-5690bb5a2db5",
      "name": "Claude AI Agent State 9 (collect_appointment_date)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        1904,
        112
      ],
      "credentials": {},
      "notes": "V70: NEW STATE - Collect appointment date"
    },
    {
      "parameters": {
        "jsCode": "// Validate Appointment Date (V70)\nconst collectedData = $json.collected_data || {};\nconst userResponse = ($json.message || '').toLowerCase().trim();\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\n// Parse date (multiple formats)\nlet parsedDate = null;\n\n// 1. DD/MM/YYYY\nif (userResponse.match(/\\d{2}\\/\\d{2}\\/\\d{4}/)) {\n    const [day, month, year] = userResponse.split('/');\n    parsedDate = new Date(`${year}-${month}-${day}`);\n}\n// 2. DD/MM (assume current year)\nelse if (userResponse.match(/\\d{2}\\/\\d{2}/)) {\n    const [day, month] = userResponse.split('/');\n    const year = new Date().getFullYear();\n    parsedDate = new Date(`${year}-${month}-${day}`);\n}\n// 3. \"amanhã\"\nelse if (userResponse.includes('amanhã') || userResponse.includes('amanha')) {\n    parsedDate = new Date(today);\n    parsedDate.setDate(parsedDate.getDate() + 1);\n}\n// 4. \"próxima segunda\"\nelse if (userResponse.includes('próxima segunda') || userResponse.includes('proxima segunda')) {\n    parsedDate = new Date(today);\n    const daysUntilMonday = (1 + 7 - parsedDate.getDay()) % 7 || 7;\n    parsedDate.setDate(parsedDate.getDate() + daysUntilMonday);\n}\n// 5. Other weekdays\nelse if (userResponse.includes('próxima') || userResponse.includes('proxima')) {\n    const weekdays = {\n        'segunda': 1, 'terça': 2, 'terca': 2, 'quarta': 3,\n        'quinta': 4, 'sexta': 5\n    };\n\n    for (const [day, num] of Object.entries(weekdays)) {\n        if (userResponse.includes(day)) {\n            parsedDate = new Date(today);\n            const daysUntil = (num + 7 - parsedDate.getDay()) % 7 || 7;\n            parsedDate.setDate(parsedDate.getDate() + daysUntil);\n            break;\n        }\n    }\n}\n\n// Validations\nif (!parsedDate || isNaN(parsedDate)) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Data inválida. Por favor, use o formato DD/MM/YYYY ou DD/MM.',\n        ai_response_needed: true\n    };\n}\n\n// Check if date is in the past\nif (parsedDate < today) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Data não pode ser no passado. Por favor, escolha uma data futura.',\n        ai_response_needed: true\n    };\n}\n\n// Check if date is too far (>60 days)\nconst maxDate = new Date(today);\nmaxDate.setDate(maxDate.getDate() + 60);\nif (parsedDate > maxDate) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Data muito distante. Por favor, escolha uma data nos próximos 60 dias.',\n        ai_response_needed: true\n    };\n}\n\n// Check if weekday (Monday-Friday)\nconst dayOfWeek = parsedDate.getDay();\nif (dayOfWeek === 0 || dayOfWeek === 6) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Visitas técnicas apenas de segunda a sexta-feira. Por favor, escolha um dia útil.',\n        ai_response_needed: true\n    };\n}\n\n// Date is VALID\nconst formattedDate = parsedDate.toISOString().split('T')[0]; // YYYY-MM-DD\nconst dayNames = ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'];\nconst dayName = dayNames[dayOfWeek];\n\nconsole.log('✅ [Validate Date] Valid:', formattedDate, dayName);\n\nreturn {\n    ...collectedData,\n    scheduled_date: formattedDate,\n    scheduled_date_display: `${parsedDate.getDate()}/${parsedDate.getMonth()+1}/${parsedDate.getFullYear()} (${dayName})`,\n    current_state: 'collect_appointment_date',\n    next_stage: 'collect_appointment_time',\n    validation_error: null,\n    ai_response_needed: false\n};\n"
      },
      "id": "3dac391c-f183-4362-8d45-c9b4e026aba5",
      "name": "Validate Appointment Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        112
      ],
      "alwaysOutputData": true,
      "notes": "V70: Validate appointment date (weekday, not past, <60 days)"
    },
    {
      "parameters": {},
      "id": "12c41bf4-8aa5-4de2-9b4c-9fa9f0e50e95",
      "name": "Claude AI Agent State 10 (collect_appointment_time)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        2304,
        112
      ],
      "credentials": {},
      "notes": "V70: NEW STATE - Collect appointment time"
    },
    {
      "parameters": {
        "jsCode": "// Validate Appointment Time (V70)\nconst collectedData = $json.collected_data || {};\nconst userResponse = ($json.message || '').toLowerCase().trim();\n\nlet timeStart, timeEnd;\n\n// Parse time formats\nif (userResponse.includes('manhã') || userResponse.includes('manha')) {\n    timeStart = '09:00';\n    timeEnd = '11:00';\n}\nelse if (userResponse.includes('tarde')) {\n    timeStart = '14:00';\n    timeEnd = '16:00';\n}\nelse if (userResponse.match(/\\d{1,2}:\\d{2}/)) {\n    const match = userResponse.match(/(\\d{1,2}):(\\d{2})/);\n    const hour = parseInt(match[1]);\n    const min = match[2];\n\n    // Validate hour format\n    if (hour < 0 || hour > 23) {\n        return {\n            ...collectedData,\n            current_state: 'collect_appointment_time',\n            next_stage: 'collect_appointment_time',\n            validation_error: 'Horário inválido. Use formato HH:MM (exemplo: 09:00).',\n            ai_response_needed: true\n        };\n    }\n\n    timeStart = `${String(hour).padStart(2, '0')}:${min}`;\n\n    // Calculate end time (+2 hours)\n    const endHour = hour + 2;\n    timeEnd = `${String(endHour).padStart(2, '0')}:${min}`;\n}\nelse {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_time',\n        next_stage: 'collect_appointment_time',\n        validation_error: 'Formato não reconhecido. Use HH:MM, \"manhã\" ou \"tarde\".',\n        ai_response_needed: true\n    };\n}\n\n// Validate business hours (08:00-18:00)\nconst startHour = parseInt(timeStart.split(':')[0]);\nconst endHour = parseInt(timeEnd.split(':')[0]);\n\nif (startHour < 8) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_time',\n        next_stage: 'collect_appointment_time',\n        validation_error: 'Horário muito cedo. Nosso atendimento inicia às 08:00.',\n        ai_response_needed: true\n    };\n}\n\nif (endHour > 18) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_time',\n        next_stage: 'collect_appointment_time',\n        validation_error: 'Horário muito tarde. Nosso atendimento encerra às 18:00. Escolha um horário que permita 2h de visita.',\n        ai_response_needed: true\n    };\n}\n\n// Time is VALID\nconsole.log('✅ [Validate Time] Valid:', timeStart, '-', timeEnd);\n\nreturn {\n    ...collectedData,\n    scheduled_time_start: timeStart,\n    scheduled_time_end: timeEnd,\n    scheduled_time_display: `${timeStart} às ${timeEnd}`,\n    current_state: 'collect_appointment_time',\n    next_stage: 'confirmation',\n    validation_error: null,\n    ai_response_needed: false\n};\n"
      },
      "id": "1344f825-46a2-45c5-9a59-c21a326652e4",
      "name": "Validate Appointment Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        112
      ],
      "alwaysOutputData": true,
      "notes": "V70: Validate appointment time (08:00-18:00, +2h visit)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- V73: Create Appointment in Database\n-- FIX: Simplified n8n expressions (use $json instead of $(\"node\").first())\n-- Data flow: Build Update Queries → Prepare Appointment Data (Set) → HERE\n-- IF nodes don't pass data, so we use Set node to extract and pass data\nINSERT INTO appointments (\n    id,\n    lead_id,\n    scheduled_date,\n    scheduled_time_start,\n    scheduled_time_end,\n    service_type,\n    notes,\n    status,\n    created_at,\n    updated_at\n)\nVALUES (\n    gen_random_uuid(),\n    (SELECT id FROM leads WHERE phone_number = '{{ $json.phone_number }}'),\n    '{{ $json.scheduled_date }}',\n    '{{ $json.scheduled_time_start }}',\n    '{{ $json.scheduled_time_end }}',\n    '{{ $json.service_type }}',\n    'Agendamento via WhatsApp Bot - Cliente: {{ $json.lead_name }} | Cidade: {{ $json.city }}',\n    'agendado',\n    NOW(),\n    NOW()\n)\nRETURNING\n    id as appointment_id,\n    lead_id,\n    scheduled_date,\n    scheduled_time_start,\n    scheduled_time_end,\n    service_type,\n    status,\n    created_at;",
        "options": {}
      },
      "id": "26afffa8-8392-47af-9cd7-0efe968dd30c",
      "name": "Create Appointment in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2704,
        112
      ],
      "alwaysOutputData": true,
      "connections": {
        "main": [
          [
            {
              "node": "Trigger Appointment Scheduler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "notes": "V73: CREATE appointment with simplified SQL expressions"
    },
    {
      "parameters": {},
      "id": "1b8cf786-8b7c-4ee6-a897-38c27a1abab5",
      "name": "Claude AI Agent State 11 (appointment_confirmation)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        2304,
        320
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Build Update Queries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "credentials": {},
      "notes": "V70: NEW STATE - Collect appointment time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "phone_number",
              "value": "={{ $('Build Update Queries').first().json.phone_number }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "scheduled_date",
              "value": "={{ $('Build Update Queries').first().json.collected_data.scheduled_date }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "scheduled_time_start",
              "value": "={{ $('Build Update Queries').first().json.collected_data.scheduled_time_start }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "scheduled_time_end",
              "value": "={{ $('Build Update Queries').first().json.collected_data.scheduled_time_end }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "service_type",
              "value": "={{ $('Build Update Queries').first().json.collected_data.service_type }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "lead_name",
              "value": "={{ $('Build Update Queries').first().json.collected_data.lead_name }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "city",
              "value": "={{ $('Build Update Queries').first().json.collected_data.city }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3fbfb3d2-737b-4898-8693-2d4d93b215cf",
      "name": "Prepare Appointment Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2656,
        112
      ],
      "alwaysOutputData": true,
      "notes": "V73: Extract data from Build Update Queries to bypass IF node data loss"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Build Update Queries'].json.next_stage }}",
              "value2": "scheduling_redirect"
            }
          ]
        }
      },
      "id": "b45abaf2-1a43-4039-ae96-875a355941fd",
      "name": "Check If Scheduling",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1232,
        16
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Build Update Queries'].json.next_stage }}",
              "value2": "trigger_wf06_next_dates"
            }
          ]
        }
      },
      "id": "5d558e67-dbfd-4ab6-899e-e72802e209b4",
      "name": "Check If WF06 Next Dates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        204
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Build Update Queries'].json.next_stage }}",
              "value2": "trigger_wf06_available_slots"
            }
          ]
        }
      },
      "id": "4a255ff0-c0c4-4b58-a04e-7b313a901198",
      "name": "Check If WF06 Available Slots",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        404
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-n8n-dev:5678/webhook/calendar-availability",
        "authentication": "none",
        "sendHeaders": false,
        "sendQuery": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\n  \"action\": \"next_dates\",\n  \"count\": 3,\n  \"service_type\": \"energia_solar\",\n  \"duration_minutes\": 120\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            },
            "responseFormat": "json"
          },
          "timeout": 30000
        }
      },
      "id": "97020871-32eb-49c4-84ca-ef1300825796",
      "name": "HTTP Request - Get Next Dates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        960,
        204
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Prepare WF06 Next Dates Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-n8n-dev:5678/webhook/calendar-availability",
        "authentication": "none",
        "sendHeaders": false,
        "sendQuery": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"available_slots\",\n  \"date\": \"{{ $json.collected_data.selected_date || $json.selected_date }}\",\n  \"service_type\": \"{{ $json.service_type || 'energia_solar' }}\",\n  \"duration_minutes\": 120\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            },
            "responseFormat": "json"
          },
          "timeout": 30000
        }
      },
      "id": "3982ea7c-f11e-44f1-97d7-26e5e9644e3c",
      "name": "HTTP Request - Get Available Slots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        960,
        404
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Prepare WF06 Available Slots Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare WF06 Next Dates Response V88\n// FIX: Preserva dados do usuário (phone_number, conversation_id, etc.) do HTTP Request input\n// ANTES V87: Retornava APENAS {wf06_next_dates} → phone_number perdido no Merge\n// DEPOIS V88: Retorna input completo + wf06_next_dates → phone_number preservado\n\n// IMPORTANTE: Este node recebe dados do \"HTTP Request - Get Next Dates\"\n// que contém: phone_number, phone_with_code, conversation_id, message, etc.\n\nconst httpResponse = $input.first().json;\nconst inputData = $input.first().json; // V88: Preservar TODOS os dados de entrada\n\nconsole.log('=== PREPARE WF06 NEXT DATES V88 (DATA PRESERVATION FIX) ===');\nconsole.log('Full inputData keys:', Object.keys(inputData));\nconsole.log('Has phone_number:', !!inputData.phone_number);\nconsole.log('Has conversation_id:', !!inputData.conversation_id);\n\n// Validar resposta existe\nif (!httpResponse) {\n  console.error('ERROR: No httpResponse from HTTP Request node');\n  throw new Error('HTTP Request returned empty response');\n}\n\n// Extrair 'dates' array - TODAS as possibilidades de acesso\nlet datesData = null;\nlet accessPath = '';\n\n// 1. Acesso direto ao root\nif (httpResponse.dates && Array.isArray(httpResponse.dates)) {\n  datesData = httpResponse.dates;\n  accessPath = 'httpResponse.dates';\n  console.log('✅ Found dates at ROOT level');\n}\n// 2. Propriedade 'json' wrapeada (comum em n8n)\nelse if (httpResponse.json && httpResponse.json.dates) {\n  datesData = httpResponse.json.dates;\n  accessPath = 'httpResponse.json.dates';\n  console.log('✅ Found dates in WRAPPED .json property');\n}\n// 3. Propriedade 'body' (algumas versões n8n)\nelse if (httpResponse.body) {\n  console.log('Found .body property, parsing...');\n  const bodyData = typeof httpResponse.body === 'string' ? JSON.parse(httpResponse.body) : httpResponse.body;\n  if (bodyData.dates) {\n    datesData = bodyData.dates;\n    accessPath = 'httpResponse.body.dates';\n    console.log('✅ Found dates in .body property');\n  }\n}\n// 4. Propriedade 'data' (outro padrão comum)\nelse if (httpResponse.data && httpResponse.data.dates) {\n  datesData = httpResponse.data.dates;\n  accessPath = 'httpResponse.data.dates';\n  console.log('✅ Found dates in .data property');\n}\n// 5. Response direta é o JSON do WF06 (raro mas possível)\nelse if (httpResponse.success && httpResponse.dates) {\n  datesData = httpResponse.dates;\n  accessPath = 'httpResponse.dates (WF06 direct)';\n  console.log('✅ Found dates in WF06 direct format');\n}\n\n// Se não encontrou, logar estrutura completa e falhar\nif (!datesData) {\n  console.error('❌ ERROR: Could not find dates property in ANY expected location');\n  console.error('Response structure:', JSON.stringify(httpResponse, null, 2));\n  console.error('Checked paths: root.dates, json.dates, body.dates, data.dates, direct WF06');\n  throw new Error('Invalid WF06 response format - missing dates property in all locations');\n}\n\n// Validar estrutura\nif (!Array.isArray(datesData)) {\n  console.error('ERROR: dates is not an array');\n  console.error('Received type:', typeof datesData);\n  console.error('Received value:', datesData);\n  throw new Error('WF06 returned dates in invalid format (not array)');\n}\n\nif (datesData.length === 0) {\n  console.error('ERROR: dates array is empty');\n  throw new Error('WF06 returned empty dates array');\n}\n\nconsole.log(`✅ SUCCESS: Received ${datesData.length} dates with availability`);\nconsole.log(`Access path used: ${accessPath}`);\n\n// V88 FIX: Preservar TODOS os dados de entrada + adicionar wf06_next_dates\n// Isso garante que phone_number, conversation_id, etc. sejam passados para o Merge\nconst preparedData = {\n  ...inputData,  // V88: Preserva phone_number, conversation_id, message, etc.\n  wf06_next_dates: datesData  // Adiciona resposta do WF06\n};\n\nconsole.log('✅ V88 Data preservation:');\nconsole.log('  - phone_number:', preparedData.phone_number);\nconsole.log('  - conversation_id:', preparedData.conversation_id);\nconsole.log('  - wf06_next_dates count:', preparedData.wf06_next_dates.length);\n\nreturn preparedData;\n"
      },
      "id": "bb747f29-4468-42af-9437-871085182858",
      "name": "Prepare WF06 Next Dates Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        100
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Merge WF06 Next Dates with User Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  phone_number,\n  lead_name,\n  contact_name,\n  contact_phone,\n  email,\n  city,\n  service_type,\n  service_selected,\n  current_state,\n  collected_data::text as collected_data_text,\n  created_at,\n  updated_at\nFROM conversations\nWHERE phone_number = '{{ $node[\"Prepare WF06 Next Dates Data\"].json.phone_number }}'\nLIMIT 1;",
        "additionalFields": {}
      },
      "id": "2be92623-6964-4a50-850f-2ff430d1d399",
      "name": "Get Conversation Details (Refresh)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1140,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "c487710a-8437-4d90-8cb7-4a60d60f3990",
      "name": "Merge WF06 Next Dates with User Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1050,
        200
      ],
      "connections": {
        "main": [
          [
            {
              "node": "State Machine Logic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare WF06 Available Slots Response V88\n// FIX: Preserva dados do usuário (phone_number, conversation_id, etc.) do HTTP Request input\n// ANTES V87: Retornava APENAS {wf06_available_slots} → phone_number perdido no Merge\n// DEPOIS V88: Retorna input completo + wf06_available_slots → phone_number preservado\n\nconst httpResponse = $input.first().json;\nconst inputData = $input.first().json; // V88: Preservar TODOS os dados de entrada\n\nconsole.log('=== PREPARE WF06 AVAILABLE SLOTS V88 (DATA PRESERVATION FIX) ===');\nconsole.log('Full inputData keys:', Object.keys(inputData));\nconsole.log('Has phone_number:', !!inputData.phone_number);\nconsole.log('Has conversation_id:', !!inputData.conversation_id);\n\n// Validar resposta existe\nif (!httpResponse) {\n  console.error('ERROR: No httpResponse from HTTP Request node');\n  throw new Error('HTTP Request returned empty response');\n}\n\n// Extrair 'slots' array - TODAS as possibilidades de acesso\nlet slotsData = null;\nlet accessPath = '';\n\n// 1. Acesso direto ao root (formato WF06 V2.1)\nif (httpResponse.slots && Array.isArray(httpResponse.slots)) {\n  slotsData = httpResponse.slots;\n  accessPath = 'httpResponse.slots';\n  console.log('✅ Found slots at ROOT level');\n}\n// 2. Propriedade 'json' wrapeada\nelse if (httpResponse.json && httpResponse.json.slots) {\n  slotsData = httpResponse.json.slots;\n  accessPath = 'httpResponse.json.slots';\n  console.log('✅ Found slots in WRAPPED .json property');\n}\n// 3. Propriedade 'body'\nelse if (httpResponse.body) {\n  console.log('Found .body property, parsing...');\n  const bodyData = typeof httpResponse.body === 'string' ? JSON.parse(httpResponse.body) : httpResponse.body;\n  if (bodyData.slots) {\n    slotsData = bodyData.slots;\n    accessPath = 'httpResponse.body.slots';\n    console.log('✅ Found slots in .body property');\n  }\n}\n// 4. Propriedade 'data'\nelse if (httpResponse.data && httpResponse.data.slots) {\n  slotsData = httpResponse.data.slots;\n  accessPath = 'httpResponse.data.slots';\n  console.log('✅ Found slots in .data property');\n}\n// 5. Response direta WF06 format\nelse if (httpResponse.success && httpResponse.slots) {\n  slotsData = httpResponse.slots;\n  accessPath = 'httpResponse.slots (WF06 direct)';\n  console.log('✅ Found slots in WF06 direct format');\n}\n// 6. Fallback: WF06 pode retornar 'available_slots' para este endpoint\nelse if (httpResponse.available_slots && Array.isArray(httpResponse.available_slots)) {\n  slotsData = httpResponse.available_slots;\n  accessPath = 'httpResponse.available_slots';\n  console.log('⚠️ Found available_slots (fallback format)');\n}\n\n// Se não encontrou, logar estrutura completa e falhar\nif (!slotsData) {\n  console.error('❌ ERROR: Could not find slots/available_slots property in ANY expected location');\n  console.error('Response structure:', JSON.stringify(httpResponse, null, 2));\n  console.error('Checked paths: root.slots, json.slots, body.slots, data.slots, available_slots');\n  throw new Error('Invalid WF06 response format - missing slots property in all locations');\n}\n\n// Validar estrutura\nif (!Array.isArray(slotsData)) {\n  console.error('ERROR: slots is not an array');\n  console.error('Received type:', typeof slotsData);\n  console.error('Received value:', slotsData);\n  throw new Error('WF06 returned slots in invalid format (not array)');\n}\n\nif (slotsData.length === 0) {\n  console.error('ERROR: slots array is empty');\n  throw new Error('WF06 returned empty slots array');\n}\n\nconsole.log(`✅ SUCCESS: Received ${slotsData.length} available slots`);\nconsole.log(`Access path used: ${accessPath}`);\n\n// V88 FIX: Preservar TODOS os dados de entrada + adicionar wf06_available_slots\nconst preparedData = {\n  ...inputData,  // V88: Preserva phone_number, conversation_id, message, etc.\n  wf06_available_slots: slotsData  // Adiciona resposta do WF06\n};\n\nconsole.log('✅ V88 Data preservation:');\nconsole.log('  - phone_number:', preparedData.phone_number);\nconsole.log('  - conversation_id:', preparedData.conversation_id);\nconsole.log('  - wf06_available_slots count:', preparedData.wf06_available_slots.length);\n\nreturn preparedData;\n"
      },
      "id": "64f4d3df-2fab-471e-bf99-e464cf3812ab",
      "name": "Prepare WF06 Available Slots Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        400
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Merge WF06 Available Slots with User Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "mode": "append",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "5caf6627-4129-4759-b7e0-308943a75ee7",
      "name": "Merge WF06 Available Slots with User Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1050,
        500
      ],
      "connections": {
        "main": [
          [
            {
              "node": "State Machine Logic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// DEBUG WF06 Next Dates Response V85\n// Captura e loga TODA a resposta do HTTP Request\n\nconst httpResponse = $input.first().json;\n\nconsole.log('=== DEBUG WF06 NEXT DATES RESPONSE ===');\nconsole.log('Full HTTP Response:', JSON.stringify(httpResponse, null, 2));\nconsole.log('Response type:', typeof httpResponse);\nconsole.log('Response is array:', Array.isArray(httpResponse));\nconsole.log('Response keys:', Object.keys(httpResponse));\n\n// Verificar se tem property 'json' wrapeada\nif (httpResponse.json) {\n  console.log('Found wrapped .json property');\n  console.log('Wrapped json:', JSON.stringify(httpResponse.json, null, 2));\n  console.log('Wrapped json keys:', Object.keys(httpResponse.json));\n}\n\n// Verificar se tem property 'body'\nif (httpResponse.body) {\n  console.log('Found .body property');\n  console.log('Body type:', typeof httpResponse.body);\n  console.log('Body:', httpResponse.body);\n}\n\n// Verificar se tem property 'data'\nif (httpResponse.data) {\n  console.log('Found .data property');\n  console.log('Data:', JSON.stringify(httpResponse.data, null, 2));\n}\n\n// Verificar propriedades dates e dates_with_availability\nif (httpResponse.dates) {\n  console.log('✅ Found .dates property (EXPECTED FORMAT)');\n  console.log('Dates count:', httpResponse.dates.length);\n}\n\nif (httpResponse.dates_with_availability) {\n  console.log('⚠️ Found .dates_with_availability property (OLD FORMAT)');\n}\n\n// Passar resposta original adiante para Prepare node\nreturn httpResponse;\n"
      },
      "id": "3dcf9877-bcce-4d80-8c45-21e16ed9d8cd",
      "name": "Debug WF06 Next Dates Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        204
      ]
    },
    {
      "parameters": {
        "jsCode": "// DEBUG WF06 Available Slots Response V85\n// Captura e loga TODA a resposta do HTTP Request\n\nconst httpResponse = $input.first().json;\n\nconsole.log('=== DEBUG WF06 AVAILABLE SLOTS RESPONSE ===');\nconsole.log('Full HTTP Response:', JSON.stringify(httpResponse, null, 2));\nconsole.log('Response type:', typeof httpResponse);\nconsole.log('Response is array:', Array.isArray(httpResponse));\nconsole.log('Response keys:', Object.keys(httpResponse));\n\n// Verificar se tem property 'json' wrapeada\nif (httpResponse.json) {\n  console.log('Found wrapped .json property');\n  console.log('Wrapped json:', JSON.stringify(httpResponse.json, null, 2));\n  console.log('Wrapped json keys:', Object.keys(httpResponse.json));\n}\n\n// Verificar se tem property 'body'\nif (httpResponse.body) {\n  console.log('Found .body property');\n  console.log('Body type:', typeof httpResponse.body);\n  console.log('Body:', httpResponse.body);\n}\n\n// Verificar propriedades slots e available_slots\nif (httpResponse.slots) {\n  console.log('✅ Found .slots property (EXPECTED FORMAT)');\n  console.log('Slots count:', httpResponse.slots.length);\n}\n\nif (httpResponse.available_slots) {\n  console.log('⚠️ Found .available_slots property (ALTERNATE FORMAT)');\n}\n\n// Passar resposta original adiante para Prepare node\nreturn httpResponse;\n"
      },
      "id": "f0c36d15-c9db-4cdf-a0b1-e1634d68d4e1",
      "name": "Debug WF06 Available Slots Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        424
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Receive Message": {
      "main": [
        [
          {
            "node": "Prepare Phone Formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Count": {
      "main": [
        [
          {
            "node": "Check If New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If New User": {
      "main": [
        [
          {
            "node": "Merge Queries Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Queries Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Details": {
      "main": [
        [
          {
            "node": "Merge Append Existing User V57",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge WF06 Available Slots with User Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create New Conversation": {
      "main": [
        [
          {
            "node": "Merge Append New User V57",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "State Machine Logic": {
      "main": [
        [
          {
            "node": "Build Update Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Check If Handoff",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check If Scheduling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Scheduling": {
      "main": [
        [
          {
            "node": "Prepare Appointment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Handoff": {
      "main": [
        [
          {
            "node": "Trigger Human Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Appointment Scheduler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Human Handoff": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Data": {
      "main": [
        [
          {
            "node": "Prepare Phone Formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Phone Formats": {
      "main": [
        [
          {
            "node": "Build SQL Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL Queries": {
      "main": [
        [
          {
            "node": "Get Conversation Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Queries Data": {
      "main": [
        [
          {
            "node": "Create New Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Append New User V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Queries Data1": {
      "main": [
        [
          {
            "node": "Get Conversation Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Append Existing User V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Queries": {
      "main": [
        [
          {
            "node": "Check If WF06 Next Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Append New User V57": {
      "main": [
        [
          {
            "node": "Process New User Data V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Append Existing User V57": {
      "main": [
        [
          {
            "node": "Process Existing User Data V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process New User Data V57": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Existing User Data V57": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment in Database": {
      "main": [
        [
          {
            "node": "Trigger Appointment Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Appointment Data": {
      "main": [
        [
          {
            "node": "Create Appointment in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If WF06 Next Dates": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Next Dates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If WF06 Available Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If WF06 Available Slots": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Available Slots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Conversation State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Inbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Outbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Lead Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Next Dates": {
      "main": [
        [
          {
            "node": "Debug WF06 Next Dates Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Available Slots": {
      "main": [
        [
          {
            "node": "Debug WF06 Available Slots Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WF06 Next Dates Data": {
      "main": [
        [
          {
            "node": "Merge WF06 Next Dates with User Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Conversation Details (Refresh)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge WF06 Next Dates with User Data": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WF06 Available Slots Data": {
      "main": [
        [
          {
            "node": "Merge WF06 Available Slots with User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge WF06 Available Slots with User Data": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug WF06 Next Dates Response": {
      "main": [
        [
          {
            "node": "Prepare WF06 Next Dates Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug WF06 Available Slots Response": {
      "main": [
        [
          {
            "node": "Prepare WF06 Available Slots Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Details (Refresh)": {
      "main": [
        [
          {
            "node": "Merge WF06 Next Dates with User Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "6b2ad90b-d1c6-43c8-a1b8-ab569e9597aa",
    "version": "V90",
    "description": "State Machine V90 - Clean refactored code + multi-source state initialization + V89 WF06 data access",
    "changes": [
      "V90: Multi-source state initialization (input.current_stage || input.next_stage || currentData.current_stage)",
      "V90: Clean refactored code structure with constants",
      "V90: Enhanced logging throughout all states",
      "V90: Maintained V89 multi-location WF06 data access",
      "V90: Removed legacy code and redundant comments"
    ]
  },
  "id": "042109ea88e947d192e1",
  "tags": [
    "V87",
    "WF06-Integration",
    "Response-Format-Fix"
  ],
  "updatedAt": "2026-04-27T15:55:46.785403"
}