e2-solucoes-bot/n8n/workflows/historical/wf02/02_ai_agent_conversation_V95_EMERGENCY_FIX.json
{
  "name": "02 - AI Agent Conversation V95 (Emergency Fix)",
  "nodes": [
    {
      "parameters": {},
      "id": "ccc0904c-b53c-4166-bd31-ea6b4b7795e7",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Valida\u00e7\u00e3o de entrada do Workflow 01\nconst inputData = $input.first().json;\n\n// Valida\u00e7\u00e3o cr\u00edtica do phone_number\nif (!inputData.phone_number || inputData.phone_number === 'undefined') {\n    throw new Error('Phone number is required but was not received from Workflow 01');\n}\n\n// Limpar e validar formato do phone_number\nlet phone_number = String(inputData.phone_number).replace(/[^0-9]/g, '');\n\n// Remover @s.whatsapp.net se existir\nif (phone_number.includes('@')) {\n  phone_number = phone_number.split('@')[0];\n}\n\n// IMPORTANTE: Adicionar c\u00f3digo 55 se n\u00e3o tiver (MOVIDO DO PREPARE UPDATE DATA)\nif (phone_number && !phone_number.startsWith('55')) {\n  // Se tem 10 ou 11 d\u00edgitos (formato brasileiro), adiciona 55\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n    console.log('Adicionado c\u00f3digo 55:', phone_number);\n  }\n  // Se tem 12 ou 13 d\u00edgitos come\u00e7ando com outro c\u00f3digo, mant\u00e9m\n  else if (phone_number.length >= 12) {\n    console.log('N\u00famero j\u00e1 tem c\u00f3digo de pa\u00eds:', phone_number);\n  }\n  // Qualquer outro caso, tenta adicionar 55\n  else {\n    phone_number = '55' + phone_number;\n    console.log('Formato desconhecido, adicionado 55:', phone_number);\n  }\n}\n\n// Valida\u00e7\u00e3o de formato brasileiro (DDD + n\u00famero) - AGORA COM 55\nif (phone_number.length < 12 || phone_number.length > 13) {\n    console.warn(`Phone number format unusual: ${phone_number} (expected 12-13 digits with country code)`);\n}\n\nconsole.log('Validated input:', {\n    phone_number: phone_number,  // Agora j\u00e1 tem 55\n    whatsapp_name: inputData.whatsapp_name,\n    message_type: inputData.message_type\n});\n\nreturn {\n    phone_number: phone_number,  // COM c\u00f3digo 55\n    whatsapp_name: inputData.whatsapp_name || '',\n    message: inputData.message || '',\n    message_type: inputData.message_type || 'text',\n    media_url: inputData.media_url || null,\n    message_id: inputData.message_id || '',\n    timestamp: inputData.timestamp || new Date().toISOString()\n};"
      },
      "id": "2ddb3c98-71e8-4e13-baf1-da3a2c963d51",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare both phone formats for SQL queries\n// This node receives data directly from WEBHOOK (not from Validate Input Data)\nconst inputData = $input.first().json;\n\n// Get phone number - could come from webhook or validate input\nlet phone_with_code = String(inputData.phone_number || '');\n\n// Clean the phone number\nphone_with_code = phone_with_code.replace(/[^0-9]/g, '');\n\n// Add country code if missing\nif (phone_with_code && !phone_with_code.startsWith('55')) {\n    if (phone_with_code.length === 10 || phone_with_code.length === 11) {\n        phone_with_code = '55' + phone_with_code;\n        console.log('Added country code 55:', phone_with_code);\n    }\n}\n\n// Create version without country code for compatibility\nlet phone_without_code = phone_with_code;\nif (phone_with_code.startsWith('55')) {\n    phone_without_code = phone_with_code.substring(2);\n}\n\nconsole.log('=== PHONE FORMAT PREPARATION ===');\nconsole.log('With code (55):', phone_with_code);\nconsole.log('Without code:', phone_without_code);\n\n// Return both formats and pass through all other data\nreturn {\n    ...inputData, // Pass through all original data\n    phone_with_code: phone_with_code,      // e.g., \"556181755748\"\n    phone_without_code: phone_without_code, // e.g., \"6181755748\"\n    // Keep original for compatibility\n    phone_number: phone_with_code,\n\n    // CRITICAL V26 FIX: Ensure ALL possible message field names are present\n    // This handles different webhook formats from Evolution API\n    message: inputData.message || inputData.body || inputData.text || inputData.content || '',\n    content: inputData.content || inputData.message || inputData.body || inputData.text || '',\n    body: inputData.body || inputData.message || inputData.text || inputData.content || '',\n    text: inputData.text || inputData.message || inputData.body || inputData.content || '',\n\n    // Also ensure whatsapp_name is present\n    whatsapp_name: inputData.whatsapp_name || inputData.pushName || inputData.profileName || ''\n};"
      },
      "id": "04a79d45-ae2b-4f4d-a7e7-cb85475ef4c6",
      "name": "Prepare Phone Formats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        192
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-ai-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "8b9b3b82-b5a3-4cb5-8260-318305ca5dbc",
      "name": "Webhook - Receive Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -416,
        496
      ],
      "webhookId": "ai-agent-conversation-v1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_count}}",
        "additionalFields": {}
      },
      "id": "4615a60a-b758-463d-9698-47c411060985",
      "name": "Get Conversation Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -208,
        496
      ],
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_details}}",
        "additionalFields": {}
      },
      "id": "9c87fd50-707d-47a0-b526-ceb45d920036",
      "name": "Get Conversation Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        400,
        736
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "connections": {
        "main": [
          [
            {
              "node": "Merge WF06 Next Dates with User Data",
              "type": "main",
              "index": 1
            },
            {
              "node": "Merge WF06 Available Slots with User Data",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "0"
            }
          ]
        }
      },
      "id": "b67330f3-5700-4396-a56a-baa64f5f66f9",
      "name": "Check If New User",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -16,
        496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_upsert}}",
        "options": {}
      },
      "id": "8ce312ad-d87c-47d5-b573-535765e43c4d",
      "name": "Create New Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        48,
        -192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// ===================================================\n// V95 EMERGENCY FIX - DIAGNOSTIC VERSION\n// ===================================================\n// Problem: Names being treated as invalid service selection\n// Solution: Enhanced state detection and validation\n// Date: 2026-04-23\n// ===================================================\n\n// Helper functions\nfunction formatPhoneDisplay(phone) {\n  if (!phone) return 'N\u00famero n\u00e3o dispon\u00edvel';\n  const cleaned = String(phone).replace(/[^0-9]/g, '');\n  if (cleaned.length === 13) {\n    return `+${cleaned.slice(0,2)} ${cleaned.slice(2,4)} ${cleaned.slice(4,9)}-${cleaned.slice(9)}`;\n  } else if (cleaned.length === 11) {\n    return `(${cleaned.slice(0,2)}) ${cleaned.slice(2,7)}-${cleaned.slice(7)}`;\n  }\n  return phone;\n}\n\nfunction getServiceName(serviceCode) {\n  const services = {\n    '1': '\u2600\ufe0f Energia Solar',\n    '2': '\u26a1 Subesta\u00e7\u00e3o',\n    '3': '\ud83d\udcd0 Projetos El\u00e9tricos',\n    '4': '\ud83d\udd0b BESS (Armazenamento)',\n    '5': '\ud83d\udcca An\u00e1lise e Laudos'\n  };\n  return services[serviceCode] || 'Servi\u00e7o n\u00e3o especificado';\n}\n\n// Main execution\nconst input = $input.all()[0].json;\nconst message = (input.message || '').toString().trim().toLowerCase();\n\n// V95 EMERGENCY: Ultra-verbose logging\nconsole.log('=== V95 EMERGENCY DIAGNOSTIC START ===');\nconsole.log('V95: Raw input:', JSON.stringify(input));\nconsole.log('V95: Message received:', message);\nconsole.log('V95: Input keys:', Object.keys(input));\n\n// V95: 7-level state resolution with emergency fallbacks\nconst resolvedStage =\n  input.current_stage ||\n  input.currentStage ||\n  input.next_stage ||\n  input.nextStage ||\n  input.currentData?.current_stage ||\n  input.currentData?.next_stage ||\n  input.current_state || // Check database field name\n  'greeting';\n\nconsole.log('V95: State resolution chain:');\nconsole.log('  Level 1 (current_stage):', input.current_stage);\nconsole.log('  Level 2 (currentStage):', input.currentStage);\nconsole.log('  Level 3 (next_stage):', input.next_stage);\nconsole.log('  Level 4 (nextStage):', input.nextStage);\nconsole.log('  Level 5 (currentData.current):', input.currentData?.current_stage);\nconsole.log('  Level 6 (currentData.next):', input.currentData?.next_stage);\nconsole.log('  Level 7 (current_state):', input.current_state);\nconsole.log('V95: RESOLVED STAGE:', resolvedStage);\n\n// V95 CRITICAL: Detect if we're in wrong state\nlet currentStage = resolvedStage;\n\n// V95: Auto-correct based on conversation context\nconst hasServiceSelected = input.currentData?.service_type || input.service_type;\nconst hasName = input.currentData?.lead_name || input.lead_name;\n\nconsole.log('V95: Context check:');\nconsole.log('  Has service:', hasServiceSelected);\nconsole.log('  Has name:', hasName);\nconsole.log('  Current stage before correction:', currentStage);\n\n// V95 EMERGENCY FIX: Force correct state based on context\nif (currentStage === 'greeting' || currentStage === 'service_selection') {\n  if (hasServiceSelected && !hasName) {\n    console.log('V95: EMERGENCY CORRECTION - Has service but no name, forcing collect_name');\n    currentStage = 'collect_name';\n  } else if (hasServiceSelected && hasName && !input.currentData?.phone_confirmed) {\n    console.log('V95: EMERGENCY CORRECTION - Has service and name, forcing phone confirmation');\n    currentStage = 'collect_phone_whatsapp_confirmation';\n  }\n}\n\n// V95: Check for WF06 data and auto-correct\nif ((currentStage === 'greeting' || currentStage === 'service_selection') && input.wf06_next_dates) {\n  console.log('V95: AUTO-CORRECTING from', currentStage, 'to show_available_dates (WF06 data detected)');\n  currentStage = 'show_available_dates';\n}\n\nif ((currentStage === 'greeting' || currentStage === 'service_selection') && input.wf06_available_slots) {\n  console.log('V95: AUTO-CORRECTING from', currentStage, 'to show_available_slots (WF06 data detected)');\n  currentStage = 'show_available_slots';\n}\n\nconsole.log('V95: Final current stage:', currentStage);\n\nconst currentData = input.currentData || {};\n\n// Initialize response variables\nlet responseText = '';\nlet nextStage = currentStage;\nlet updateData = {};\n\n// V95: Enhanced state machine with emergency fixes\nswitch (currentStage) {\n  case 'greeting':\n    console.log('V95: Processing GREETING state');\n    responseText = `\ud83e\udd16 Ol\u00e1! Bem-vindo \u00e0 E2 Solu\u00e7\u00f5es!\n\nSomos especialistas em engenharia el\u00e9trica com 15+ anos de experi\u00eancia.\n\nQual servi\u00e7o voc\u00ea precisa?\n\n\u2600\ufe0f 1 - Energia Solar\n   Projetos fotovoltaicos residenciais e comerciais\n\n\u26a1 2 - Subesta\u00e7\u00e3o\n   Reforma, manuten\u00e7\u00e3o e constru\u00e7\u00e3o\n\n\ud83d\udcd0 3 - Projetos El\u00e9tricos\n   Adequa\u00e7\u00f5es e laudos t\u00e9cnicos\n\n\ud83d\udd0b 4 - BESS (Armazenamento)\n   Sistemas de armazenamento de energia\n\n\ud83d\udcca 5 - An\u00e1lise e Laudos\n   Qualidade de energia e efici\u00eancia\n\nDigite o n\u00famero do servi\u00e7o (1-5):`;\n    nextStage = 'service_selection';\n    break;\n\n  case 'service_selection':\n    console.log('V95: Processing SERVICE_SELECTION state');\n    console.log('V95: Message for service selection:', message);\n\n    // V95 FIX: Check if this is actually a name (not a number)\n    if (message && !['1','2','3','4','5'].includes(message)) {\n      // Check if we already have a service selected\n      if (hasServiceSelected) {\n        console.log('V95: Detected NAME input in wrong state, processing as name');\n        // This is likely a name, not a service selection\n        updateData.lead_name = message;\n        responseText = `\u2705 Obrigado, ${message}!\n\n\ud83d\udcf1 O n\u00famero ${formatPhoneDisplay(input.phone_number)} \u00e9 seu WhatsApp correto?\n\nDigite:\n1\ufe0f\u20e3 - Sim, est\u00e1 correto\n2\ufe0f\u20e3 - N\u00e3o, preciso informar outro`;\n        nextStage = 'collect_phone_whatsapp_confirmation';\n        break;\n      }\n    }\n\n    if (['1', '2', '3', '4', '5'].includes(message)) {\n      const serviceName = getServiceName(message);\n      updateData.service_type = message;\n      responseText = `\u2705 Perfeito!\n\n\ud83d\udc64 Qual \u00e9 o seu nome completo?\n\n\ud83d\udca1 Exemplo: Maria Silva Santos\nUsaremos para personalizar seu atendimento`;\n      nextStage = 'collect_name';\n    } else {\n      responseText = `\u274c Op\u00e7\u00e3o inv\u00e1lida\n\nPor favor, escolha uma das op\u00e7\u00f5es dispon\u00edveis:\n\n1\ufe0f\u20e3 - Energia Solar\n2\ufe0f\u20e3 - Subesta\u00e7\u00f5es\n3\ufe0f\u20e3 - Projetos El\u00e9tricos\n4\ufe0f\u20e3 - BESS\n5\ufe0f\u20e3 - An\u00e1lise de Consumo\n\nDigite apenas o n\u00famero (1 a 5)`;\n      nextStage = 'service_selection';\n    }\n    break;\n\n  case 'collect_name':\n    console.log('V95: Processing COLLECT_NAME state');\n    console.log('V95: Name received:', message);\n\n    if (message && message.length >= 2) {\n      updateData.lead_name = message;\n      responseText = `\u2705 Obrigado, ${message}!\n\n\ud83d\udcf1 O n\u00famero ${formatPhoneDisplay(input.phone_number)} \u00e9 seu WhatsApp correto?\n\nDigite:\n1\ufe0f\u20e3 - Sim, est\u00e1 correto\n2\ufe0f\u20e3 - N\u00e3o, preciso informar outro`;\n      nextStage = 'collect_phone_whatsapp_confirmation';\n    } else {\n      responseText = `Por favor, informe seu nome completo para continuarmos.\n\n\ud83d\udca1 Exemplo: Jo\u00e3o Silva`;\n      nextStage = 'collect_name';\n    }\n    break;\n\n  case 'collect_phone_whatsapp_confirmation':\n    console.log('V95: Processing PHONE_CONFIRMATION state');\n    if (message === '1' || message === 'sim') {\n      updateData.phone_confirmed = true;\n      responseText = `\ud83d\udce7 Agora, qual \u00e9 o seu melhor e-mail?\n\n\ud83d\udca1 Exemplo: seunome@email.com\nEnviaremos os or\u00e7amentos por e-mail`;\n      nextStage = 'collect_email';\n    } else if (message === '2' || message === 'n\u00e3o' || message === 'nao') {\n      responseText = `\ud83d\udcf1 Por favor, informe o n\u00famero de WhatsApp correto:\n\n\ud83d\udca1 Exemplo: (11) 98765-4321`;\n      nextStage = 'collect_phone_alternative';\n    } else {\n      responseText = `Por favor, digite:\n1\ufe0f\u20e3 se o n\u00famero est\u00e1 correto\n2\ufe0f\u20e3 se precisa informar outro`;\n      nextStage = 'collect_phone_whatsapp_confirmation';\n    }\n    break;\n\n  case 'collect_phone_alternative':\n    console.log('V95: Processing PHONE_ALTERNATIVE state');\n    if (message) {\n      const phoneRegex = /\\d{10,11}/;\n      const cleanPhone = message.replace(/\\D/g, '');\n\n      if (phoneRegex.test(cleanPhone)) {\n        updateData.phone_alternative = cleanPhone;\n        updateData.phone_confirmed = true;\n        responseText = `\u2705 N\u00famero atualizado!\n\n\ud83d\udce7 Agora, qual \u00e9 o seu melhor e-mail?\n\n\ud83d\udca1 Exemplo: seunome@email.com`;\n        nextStage = 'collect_email';\n      } else {\n        responseText = `\u274c Formato inv\u00e1lido\n\nPor favor, informe um n\u00famero de WhatsApp v\u00e1lido\nExemplo: (11) 98765-4321`;\n        nextStage = 'collect_phone_alternative';\n      }\n    }\n    break;\n\n  case 'collect_email':\n    console.log('V95: Processing COLLECT_EMAIL state');\n    if (message) {\n      const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\n      if (emailRegex.test(message)) {\n        updateData.email = message;\n        responseText = `\ud83d\udccd Qual \u00e9 a sua cidade?\n\n\ud83d\udca1 Exemplo: S\u00e3o Paulo - SP\nImportante para calcularmos frete e prazos`;\n        nextStage = 'collect_city';\n      } else {\n        responseText = `\u274c E-mail inv\u00e1lido\n\nPor favor, informe um e-mail v\u00e1lido\nExemplo: seunome@email.com`;\n        nextStage = 'collect_email';\n      }\n    }\n    break;\n\n  case 'collect_city':\n    console.log('V95: Processing COLLECT_CITY state');\n    if (message && message.length >= 2) {\n      updateData.city = message;\n\n      const serviceName = getServiceName(currentData.service_type || updateData.service_type);\n      const name = currentData.lead_name || updateData.lead_name || 'Cliente';\n      const phone = formatPhoneDisplay(input.phone_number);\n      const email = currentData.email || updateData.email || 'N\u00e3o informado';\n      const city = message;\n\n      responseText = `\ud83d\udccb Confirme seus dados:\n\n\ud83d\udc64 Nome: ${name}\n\ud83d\udcf1 WhatsApp: ${phone}\n\ud83d\udce7 E-mail: ${email}\n\ud83d\udccd Cidade: ${city}\n\u26a1 Servi\u00e7o: ${serviceName}\n\nOs dados est\u00e3o corretos?\n\n1\ufe0f\u20e3 - Sim, agendar consulta\n2\ufe0f\u20e3 - N\u00e3o, corrigir dados`;\n      nextStage = 'confirmation';\n    } else {\n      responseText = `Por favor, informe sua cidade para continuarmos.\n\n\ud83d\udca1 Exemplo: Belo Horizonte - MG`;\n      nextStage = 'collect_city';\n    }\n    break;\n\n  case 'confirmation':\n    console.log('V95: Processing CONFIRMATION state');\n    const serviceType = currentData.service_type || updateData.service_type;\n\n    if (message === '1' || message === 'sim') {\n      if (serviceType === '1' || serviceType === '3') {\n        nextStage = 'trigger_wf06_next_dates';\n        responseText = '';\n        console.log('V95: Moving to trigger_wf06_next_dates for service', serviceType);\n      } else {\n        responseText = `\u2705 Perfeito! Seus dados foram registrados.\n\n\ud83e\udd1d Nossa equipe comercial entrar\u00e1 em contato em breve pelo WhatsApp ${formatPhoneDisplay(input.phone_number)}.\n\n\u23f0 Hor\u00e1rio de atendimento:\nSegunda a Sexta: 8h \u00e0s 18h\n\nObrigado pela confian\u00e7a!`;\n        nextStage = 'handoff_comercial';\n      }\n    } else if (message === '2' || message === 'n\u00e3o' || message === 'nao') {\n      responseText = `O que voc\u00ea gostaria de corrigir?\n\n1\ufe0f\u20e3 - Nome\n2\ufe0f\u20e3 - Telefone\n3\ufe0f\u20e3 - E-mail\n4\ufe0f\u20e3 - Cidade\n5\ufe0f\u20e3 - Servi\u00e7o\n\nDigite o n\u00famero correspondente:`;\n      nextStage = 'correction_choice';\n    } else {\n      responseText = `Por favor, digite:\n1\ufe0f\u20e3 para confirmar e prosseguir\n2\ufe0f\u20e3 para corrigir os dados`;\n      nextStage = 'confirmation';\n    }\n    break;\n\n  case 'trigger_wf06_next_dates':\n    console.log('V95: State 9 - TRIGGER_WF06_NEXT_DATES');\n    nextStage = 'show_available_dates';\n    responseText = '';\n    console.log('V95: Transitioning to show_available_dates');\n    break;\n\n  case 'show_available_dates':\n    console.log('V95: State 10 - SHOW_AVAILABLE_DATES');\n\n    const dates = input.wf06_next_dates || [];\n    console.log('V95: Available dates count:', dates.length);\n\n    if (dates.length > 0) {\n      responseText = `\ud83d\udcc5 Datas dispon\u00edveis para agendamento:\n\n`;\n      dates.forEach((date, index) => {\n        responseText += `${index + 1}\ufe0f\u20e3 - ${date.formatted_date} - ${date.available_slots_count} hor\u00e1rios dispon\u00edveis\n`;\n      });\n\n      responseText += `\nDigite o n\u00famero da data desejada (1-${dates.length}):`;\n      nextStage = 'process_date_selection';\n    } else {\n      responseText = `\u26a0\ufe0f N\u00e3o h\u00e1 datas dispon\u00edveis no momento.\n\nNossa equipe entrar\u00e1 em contato para agendar.`;\n      nextStage = 'handoff_comercial';\n    }\n    break;\n\n  case 'process_date_selection':\n    console.log('V95: State 11 - PROCESS_DATE_SELECTION');\n    const availableDates = input.wf06_next_dates || [];\n    const selection = parseInt(message);\n\n    if (selection >= 1 && selection <= availableDates.length) {\n      updateData.selected_date = availableDates[selection - 1];\n      nextStage = 'trigger_wf06_available_slots';\n      responseText = '';\n    } else {\n      responseText = `Por favor, escolha uma data v\u00e1lida (1-${availableDates.length})`;\n      nextStage = 'process_date_selection';\n    }\n    break;\n\n  case 'trigger_wf06_available_slots':\n    console.log('V95: State 12 - TRIGGER_WF06_AVAILABLE_SLOTS');\n    nextStage = 'show_available_slots';\n    responseText = '';\n    break;\n\n  case 'show_available_slots':\n    console.log('V95: State 13 - SHOW_AVAILABLE_SLOTS');\n    const slots = input.wf06_available_slots || [];\n\n    if (slots.length > 0) {\n      responseText = `\ud83d\udd50 Hor\u00e1rios dispon\u00edveis:\n\n`;\n      slots.forEach((slot, index) => {\n        responseText += `${index + 1}\ufe0f\u20e3 - ${slot.start_time}\n`;\n      });\n\n      responseText += `\nDigite o n\u00famero do hor\u00e1rio desejado (1-${slots.length}):`;\n      nextStage = 'process_slot_selection';\n    } else {\n      responseText = `\u26a0\ufe0f N\u00e3o h\u00e1 hor\u00e1rios dispon\u00edveis nesta data.\n\nPor favor, escolha outra data ou aguarde contato da equipe.`;\n      nextStage = 'show_available_dates';\n    }\n    break;\n\n  case 'process_slot_selection':\n    console.log('V95: State 14 - PROCESS_SLOT_SELECTION');\n    const availableSlots = input.wf06_available_slots || [];\n    const slotSelection = parseInt(message);\n\n    if (slotSelection >= 1 && slotSelection <= availableSlots.length) {\n      updateData.selected_slot = availableSlots[slotSelection - 1];\n\n      const selectedDate = currentData.selected_date || updateData.selected_date;\n      const selectedSlot = availableSlots[slotSelection - 1];\n\n      responseText = `\u2705 Agendamento confirmado!\n\n\ud83d\udcc5 Data: ${selectedDate.formatted_date}\n\ud83d\udd50 Hor\u00e1rio: ${selectedSlot.start_time}\n\ud83d\udc64 Nome: ${currentData.lead_name}\n\ud83d\udcf1 WhatsApp: ${formatPhoneDisplay(input.phone_number)}\n\nVoc\u00ea receber\u00e1 uma confirma\u00e7\u00e3o por e-mail e WhatsApp.\n\nObrigado por escolher a E2 Solu\u00e7\u00f5es!`;\n      nextStage = 'schedule_confirmation';\n    } else {\n      responseText = `Por favor, escolha um hor\u00e1rio v\u00e1lido (1-${availableSlots.length})`;\n      nextStage = 'process_slot_selection';\n    }\n    break;\n\n  case 'schedule_confirmation':\n    console.log('V95: State 15 - SCHEDULE_CONFIRMATION');\n    responseText = `Agendamento finalizado. At\u00e9 breve!`;\n    nextStage = 'schedule_confirmation';\n    break;\n\n  case 'handoff_comercial':\n    console.log('V95: HANDOFF_COMERCIAL state');\n    responseText = `Processo finalizado. Nossa equipe entrar\u00e1 em contato.`;\n    nextStage = 'handoff_comercial';\n    break;\n\n  case 'correction_choice':\n    console.log('V95: CORRECTION_CHOICE state');\n    if (['1', '2', '3', '4', '5'].includes(message)) {\n      switch (message) {\n        case '1':\n          responseText = `Digite seu nome correto:`;\n          nextStage = 'correct_name';\n          break;\n        case '2':\n          responseText = `Digite o telefone correto:`;\n          nextStage = 'correct_phone';\n          break;\n        case '3':\n          responseText = `Digite o e-mail correto:`;\n          nextStage = 'correct_email';\n          break;\n        case '4':\n          responseText = `Digite a cidade correta:`;\n          nextStage = 'correct_city';\n          break;\n        case '5':\n          responseText = `Escolha o servi\u00e7o correto:\n\n1\ufe0f\u20e3 - Energia Solar\n2\ufe0f\u20e3 - Subesta\u00e7\u00f5es\n3\ufe0f\u20e3 - Projetos El\u00e9tricos\n4\ufe0f\u20e3 - BESS\n5\ufe0f\u20e3 - An\u00e1lise de Consumo`;\n          nextStage = 'correct_service';\n          break;\n      }\n    } else {\n      responseText = `Por favor, escolha o que deseja corrigir (1-5)`;\n      nextStage = 'correction_choice';\n    }\n    break;\n\n  default:\n    console.log('V95: WARNING - Unknown state:', currentStage);\n    responseText = `Estado desconhecido. Reiniciando...`;\n    nextStage = 'greeting';\n}\n\n// V95: Comprehensive output logging\nconsole.log('=== V95 STATE MACHINE OUTPUT ===');\nconsole.log('V95: Current \u2192 Next:', currentStage, '\u2192', nextStage);\nconsole.log('V95: Response length:', responseText.length);\nconsole.log('V95: Update data:', JSON.stringify(updateData));\n\n// V95: Always return complete state information\nconst output = {\n  response_text: responseText,\n  next_stage: nextStage,\n  update_data: updateData,\n  current_stage: nextStage,  // V95: Explicit state preservation\n  previous_stage: currentStage,  // V95: Track previous for debugging\n  version: 'V95-EMERGENCY',\n  timestamp: new Date().toISOString(),\n  diagnostic: {\n    input_stage: resolvedStage,\n    corrected_stage: currentStage,\n    had_service: hasServiceSelected,\n    had_name: hasName\n  }\n};\n\nconsole.log('V95: Final output:', JSON.stringify(output));\nconsole.log('=== V95 EMERGENCY DIAGNOSTIC END ===');\n\nreturn output;",
        "jsCode": "// ===================================================\n// V91 STATE MACHINE - CRITICAL FIX: State Initialization\n// ===================================================\n// ROOT CAUSE FIX (V90 Bug):\n// - State Machine executes TWICE in workflow\n// - First: trigger_wf06_next_dates \u2192 next_stage: 'show_available_dates' \u2705\n// - Second: input.current_stage UNDEFINED \u2192 defaults to 'greeting' \u274c\n//\n// V91 SOLUTION:\n// 1. Enhanced currentStage resolution with fallback chain\n// 2. Explicit validation of state consistency\n// 3. WARNING logs for undefined state scenarios\n// 4. Defensive programming for WF06 return path\n//\n// CRITICAL STATES FOR WF06 INTEGRATION:\n// State 8: confirmation \u2192 trigger_wf06_next_dates\n// State 9: trigger_wf06_next_dates \u2192 show_available_dates (MUST RETURN HERE)\n// State 10: show_available_dates \u2192 display 3 dates\n// State 11: process_date_selection \u2192 trigger_wf06_available_slots\n// State 12: trigger_wf06_available_slots \u2192 show_available_slots\n// State 13: show_available_slots \u2192 display N slots\n//\n// Date: 2026-04-20\n// Version: V91 CRITICAL FIX\n// ===================================================\n\n// ===================================================\n// HELPER FUNCTIONS\n// ===================================================\n\nfunction formatPhoneDisplay(phone) {\n  if (!phone) return '';\n  const cleaned = phone.replace(/\\D/g, '');\n  if (cleaned.length === 11) {\n    return `(${cleaned.substring(0,2)}) ${cleaned.substring(2,7)}-${cleaned.substring(7,11)}`;\n  } else if (cleaned.length === 10) {\n    return `(${cleaned.substring(0,2)}) ${cleaned.substring(2,6)}-${cleaned.substring(6,10)}`;\n  }\n  return phone;\n}\n\nfunction getServiceName(serviceCode) {\n  const serviceNames = {\n    '1': 'Energia Solar',\n    '2': 'Subesta\u00e7\u00f5es',\n    '3': 'Projetos El\u00e9tricos',\n    '4': 'BESS (Armazenamento de Energia)',\n    '5': 'An\u00e1lise e Laudos'\n  };\n  return serviceNames[serviceCode] || 'servi\u00e7o selecionado';\n}\n\n// ===================================================\n// CONFIGURATION\n// ===================================================\n\nconst SERVICE_MAPPING = {\n  '1': 'energia_solar',\n  '2': 'subestacao',\n  '3': 'projeto_eletrico',\n  '4': 'armazenamento_energia',\n  '5': 'analise_laudo'\n};\n\nconst SERVICE_DISPLAY = {\n  'energia_solar': { emoji: '\u2600\ufe0f', name: 'Energia Solar' },\n  'subestacao': { emoji: '\u26a1', name: 'Subesta\u00e7\u00f5es' },\n  'projeto_eletrico': { emoji: '\ud83d\udcd0', name: 'Projetos El\u00e9tricos' },\n  'armazenamento_energia': { emoji: '\ud83d\udd0b', name: 'BESS (Armazenamento de Energia)' },\n  'analise_laudo': { emoji: '\ud83d\udcca', name: 'An\u00e1lise e Laudos' }\n};\n\n// ===================================================\n// MAIN EXECUTION\n// ===================================================\n\nconst input = $input.all()[0].json;\nconst message = (input.message || '').toString().trim().toLowerCase();\nconst currentData = input.currentData || {};\n\n// ===================================================\n// V91 CRITICAL FIX: Enhanced State Resolution\n// ===================================================\n// Priority chain for currentStage resolution:\n// 1. input.current_stage (direct from previous node)\n// 2. input.next_stage (from previous State Machine execution)\n// 3. currentData.current_stage (from database via Get Conversation Details)\n// 4. currentData.next_stage (database backup)\n// 5. Default: 'greeting'\n//\n// CRITICAL: WF06 return path MUST preserve state from previous execution\n// ===================================================\n\nlet currentStage = input.current_stage ||\n                   input.next_stage ||\n                   currentData.current_stage ||\n                   currentData.next_stage ||\n                   'greeting';\n\n// V91: Enhanced validation logging\nconsole.log('=== V91 STATE MACHINE START ===');\nconsole.log('V91: ========================================');\nconsole.log('V91: STATE INITIALIZATION');\nconsole.log('V91: ========================================');\nconsole.log('V91: input.current_stage:', input.current_stage);\nconsole.log('V91: input.next_stage:', input.next_stage);\nconsole.log('V91: currentData.current_stage:', currentData.current_stage);\nconsole.log('V91: currentData.next_stage:', currentData.next_stage);\nconsole.log('V91: ========================================');\nconsole.log('V91: RESOLVED currentStage:', currentStage);\nconsole.log('V91: ========================================');\n\n// V91: WARNING if state is undefined at ANY level\nif (!input.current_stage && !input.next_stage && !currentData.current_stage && !currentData.next_stage) {\n  console.warn('V91: \u26a0\ufe0f\u26a0\ufe0f\u26a0\ufe0f WARNING: ALL stage sources are undefined!');\n  console.warn('V91: \u26a0\ufe0f\u26a0\ufe0f\u26a0\ufe0f This may indicate a workflow configuration issue');\n  console.warn('V91: \u26a0\ufe0f\u26a0\ufe0f\u26a0\ufe0f Defaulting to greeting, but review node connections');\n}\n\nconsole.log('V91: User message:', message);\nconsole.log('V91: CurrentData keys:', Object.keys(currentData));\n\n// V91: Enhanced WF06 data logging\nconsole.log('V91: ========================================');\nconsole.log('V91: WF06 DATA AVAILABILITY');\nconsole.log('V91: ========================================');\nconsole.log('V91: input.wf06_next_dates:', !!input.wf06_next_dates);\nconsole.log('V91: currentData.wf06_next_dates:', !!currentData.wf06_next_dates);\nconsole.log('V91: input.wf06_available_slots:', !!input.wf06_available_slots);\nconsole.log('V91: currentData.wf06_available_slots:', !!currentData.wf06_available_slots);\nconsole.log('V91: ========================================');\n\n// Initialize response variables\nlet responseText = '';\nlet nextStage = currentStage;  // V91: Maintain current stage by default\nlet updateData = {};\n\n// ===================================================\n// STATE MACHINE LOGIC\n// ===================================================\n\nswitch (currentStage) {\n\n  // ===== STATE 1: GREETING =====\n  case 'greeting':\n  case 'menu':\n    console.log('V91: \u25a0 STATE 1 - GREETING');\n    responseText = `\ud83e\udd16 *Ol\u00e1! Bem-vindo \u00e0 E2 Solu\u00e7\u00f5es!*\n\nSomos especialistas em engenharia el\u00e9trica com 15+ anos de experi\u00eancia.\n\n*Qual servi\u00e7o voc\u00ea precisa?*\n\n\u2600\ufe0f *1 - Energia Solar*\n   Projetos fotovoltaicos residenciais e comerciais\n\n\u26a1 *2 - Subesta\u00e7\u00e3o*\n   Reforma, manuten\u00e7\u00e3o e constru\u00e7\u00e3o\n\n\ud83d\udcd0 *3 - Projetos El\u00e9tricos*\n   Adequa\u00e7\u00f5es e laudos t\u00e9cnicos\n\n\ud83d\udd0b *4 - BESS (Armazenamento)*\n   Sistemas de armazenamento de energia\n\n\ud83d\udcca *5 - An\u00e1lise e Laudos*\n   Qualidade de energia e efici\u00eancia\n\n_Digite o n\u00famero do servi\u00e7o (1-5):_`;\n    nextStage = 'service_selection';\n    break;\n\n  // ===== STATE 2: SERVICE SELECTION =====\n  case 'service_selection':\n  case 'identificando_servico':\n    console.log('V91: \u25a0 STATE 2 - SERVICE SELECTION');\n\n    if (/^[1-5]$/.test(message)) {\n      updateData.service_selected = message;\n      updateData.service_type = SERVICE_MAPPING[message];\n      console.log('V91: \u2705 Service selected:', message, '\u2192', updateData.service_type);\n\n      responseText = `\u2705 *Perfeito!*\n\n\ud83d\udc64 *Qual \u00e9 o seu nome completo?*\n\n\ud83d\udca1 _Exemplo: Maria Silva Santos_\n_Usaremos para personalizar seu atendimento_`;\n      nextStage = 'collect_name';\n    } else {\n      responseText = `\u274c *Op\u00e7\u00e3o inv\u00e1lida*\n\nPor favor, escolha uma das op\u00e7\u00f5es dispon\u00edveis:\n\n1\ufe0f\u20e3 - Energia Solar\n2\ufe0f\u20e3 - Subesta\u00e7\u00f5es\n3\ufe0f\u20e3 - Projetos El\u00e9tricos\n4\ufe0f\u20e3 - BESS\n5\ufe0f\u20e3 - An\u00e1lise de Consumo\n\n_Digite apenas o n\u00famero (1 a 5)_`;\n      nextStage = 'service_selection';\n    }\n    break;\n\n  // ===== STATE 3: COLLECT NAME =====\n  case 'collect_name':\n  case 'coletando_nome':\n    console.log('V91: \u25a0 STATE 3 - COLLECT NAME');\n\n    const trimmedName = message.trim();\n\n    if (trimmedName.length >= 2 && !/^[0-9]+$/.test(trimmedName)) {\n      updateData.lead_name = trimmedName;\n\n      const whatsappPhone = input.phone_number || input.phone_with_code || '';\n      responseText = `\ud83d\udcf1 *\u00d3timo, ${trimmedName}!*\n\nVi que voc\u00ea est\u00e1 me enviando mensagens pelo n\u00famero:\n*${formatPhoneDisplay(whatsappPhone)}*\n\nEste \u00e9 o melhor n\u00famero para contato?\n\n1\ufe0f\u20e3 *Sim, pode usar este*\n2\ufe0f\u20e3 *N\u00e3o, vou informar outro*\n\n\ud83d\udca1 _Digite 1 ou 2_`;\n      nextStage = 'collect_phone_whatsapp_confirmation';\n\n    } else {\n      responseText = `\u274c *Nome inv\u00e1lido*\n\nPor favor, informe seu nome completo (m\u00ednimo 2 letras).\n\n_N\u00e3o use apenas n\u00fameros ou caracteres especiais._`;\n      nextStage = 'collect_name';\n    }\n    break;\n\n  // ===== STATE 4: PHONE WHATSAPP CONFIRMATION =====\n  case 'collect_phone_whatsapp_confirmation':\n    console.log('V91: \u25a0 STATE 4 - PHONE WHATSAPP CONFIRMATION');\n\n    if (message === '1') {\n      const confirmedPhone = input.phone_number || input.phone_with_code || '';\n      updateData.phone_number = confirmedPhone;\n      updateData.contact_phone = confirmedPhone;\n\n      responseText = `\ud83d\udce7 *Qual \u00e9 o seu e-mail, ${currentData.lead_name || 'cliente'}?*\n\n\ud83d\udca1 _Exemplo: maria.silva@email.com_\n\nSe preferir n\u00e3o informar, digite *pular*\n_O e-mail nos ajuda a enviar documenta\u00e7\u00e3o t\u00e9cnica e propostas_`;\n      nextStage = 'collect_email';\n\n    } else if (message === '2') {\n      responseText = `\ud83d\udcf1 *Qual n\u00famero prefere para contato, ${currentData.lead_name || 'cliente'}?*\n\nPor favor, informe com DDD:\n\n\ud83d\udca1 _Exemplo: (62) 98765-4321_\n_Usaremos este n\u00famero para agendarmos sua visita t\u00e9cnica_`;\n      nextStage = 'collect_phone_alternative';\n\n    } else {\n      const whatsappPhone = input.phone_number || input.phone_with_code || '';\n      responseText = `\u274c *Op\u00e7\u00e3o inv\u00e1lida*\n\n\ud83d\udcf1 *\u00d3timo, ${currentData.lead_name || 'cliente'}!*\n\nVi que voc\u00ea est\u00e1 me enviando mensagens pelo n\u00famero:\n*${formatPhoneDisplay(whatsappPhone)}*\n\nEste \u00e9 o melhor n\u00famero para contato?\n\n1\ufe0f\u20e3 *Sim, pode usar este*\n2\ufe0f\u20e3 *N\u00e3o, vou informar outro*\n\n\ud83d\udca1 _Digite 1 ou 2_`;\n      nextStage = 'collect_phone_whatsapp_confirmation';\n    }\n    break;\n\n  // ===== STATE 5: COLLECT PHONE ALTERNATIVE =====\n  case 'collect_phone_alternative':\n    console.log('V91: \u25a0 STATE 5 - COLLECT PHONE ALTERNATIVE');\n\n    const phoneRegex = /^\\(?\\d{2}\\)?\\s?9?\\d{4}[-\\s]?\\d{4}$/;\n\n    if (phoneRegex.test(message)) {\n      const cleanedPhone = message.replace(/\\D/g, '');\n      updateData.phone_number = cleanedPhone;\n      updateData.contact_phone = cleanedPhone;\n\n      responseText = `\ud83d\udce7 *Qual \u00e9 o seu e-mail, ${currentData.lead_name || 'cliente'}?*\n\n\ud83d\udca1 _Exemplo: maria.silva@email.com_\n\nSe preferir n\u00e3o informar, digite *pular*\n_O e-mail nos ajuda a enviar documenta\u00e7\u00e3o t\u00e9cnica e propostas_`;\n      nextStage = 'collect_email';\n\n    } else {\n      responseText = `\u274c *Telefone inv\u00e1lido*\n\nPor favor, informe um telefone v\u00e1lido com DDD.\n\n\ud83d\udca1 _Exemplos aceitos:_\n\u2022 (62) 98765-4321\n\u2022 62987654321\n\u2022 6298765-4321\n\n_Use apenas n\u00fameros, espa\u00e7os, par\u00eanteses e h\u00edfen_`;\n      nextStage = 'collect_phone_alternative';\n    }\n    break;\n\n  // ===== STATE 6: COLLECT EMAIL =====\n  case 'collect_email':\n  case 'coletando_email':\n    console.log('V91: \u25a0 STATE 6 - COLLECT EMAIL');\n\n    if (message === 'pular') {\n      updateData.email = 'n\u00e3o informado';\n      responseText = `\ud83d\udccd *Em qual cidade voc\u00ea est\u00e1, ${currentData.lead_name || 'cliente'}?*\n\n\ud83d\udca1 _Exemplo: Goi\u00e2nia - GO_\n_Precisamos saber para agendar a visita t\u00e9cnica com nossa equipe local_`;\n      nextStage = 'collect_city';\n\n    } else {\n      const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\n      if (emailRegex.test(message)) {\n        updateData.email = message;\n        responseText = `\ud83d\udccd *Em qual cidade voc\u00ea est\u00e1, ${currentData.lead_name || 'cliente'}?*\n\n\ud83d\udca1 _Exemplo: Goi\u00e2nia - GO_\n_Precisamos saber para agendar a visita t\u00e9cnica com nossa equipe local_`;\n        nextStage = 'collect_city';\n      } else {\n        responseText = `\u274c *E-mail inv\u00e1lido*\n\nPor favor, informe um e-mail v\u00e1lido.\n\n*Exemplos:*\n\u2022 maria@gmail.com\n\u2022 joao.silva@empresa.com.br\n\nOu digite *pular* se n\u00e3o quiser informar.`;\n        nextStage = 'collect_email';\n      }\n    }\n    break;\n\n  // ===== STATE 7: COLLECT CITY =====\n  case 'collect_city':\n  case 'coletando_cidade':\n    console.log('V91: \u25a0 STATE 7 - COLLECT CITY');\n\n    if (message.length >= 2) {\n      updateData.city = message;\n\n      const leadName = currentData.lead_name || updateData.lead_name || 'n\u00e3o informado';\n      const phoneNumber = currentData.contact_phone || currentData.phone_number || updateData.phone_number || updateData.contact_phone || 'n\u00e3o informado';\n      const email = currentData.email || updateData.email || 'n\u00e3o informado';\n      const city = updateData.city || 'n\u00e3o informado';\n      const serviceType = currentData.service_type || 'n\u00e3o informado';\n      const serviceInfo = SERVICE_DISPLAY[serviceType] || { emoji: '\u2753', name: 'N\u00e3o informado' };\n\n      responseText = `\u2705 *Perfeito! Veja o resumo dos seus dados:*\n\n\ud83d\udc64 *Nome:* ${leadName}\n\ud83d\udcf1 *Telefone:* ${formatPhoneDisplay(phoneNumber)}\n\ud83d\udce7 *E-mail:* ${email}\n\ud83d\udccd *Cidade:* ${city}\n${serviceInfo.emoji} *Servi\u00e7o:* ${serviceInfo.name}\n\n---\n\nDeseja agendar uma visita t\u00e9cnica gratuita para avaliarmos seu projeto?\n\n1\ufe0f\u20e3 *Sim, quero agendar*\n2\ufe0f\u20e3 *N\u00e3o agora, falar com uma pessoa*\n3\ufe0f\u20e3 *Meus dados est\u00e3o errados, quero corrigir*`;\n      nextStage = 'confirmation';\n\n    } else {\n      responseText = `\u274c *Cidade inv\u00e1lida*\n\nPor favor, informe uma cidade v\u00e1lida (m\u00ednimo 2 letras).\n\n_Exemplo: Goi\u00e2nia, Bras\u00edlia, An\u00e1polis..._`;\n      nextStage = 'collect_city';\n    }\n    break;\n\n  // ===== STATE 8: CONFIRMATION =====\n  case 'confirmation':\n    console.log('V91: \u25a0 STATE 8 - CONFIRMATION');\n\n    if (message === '1') {\n      const serviceSelected = currentData.service_type || '1';\n\n      if (serviceSelected === 'energia_solar' || serviceSelected === 'projeto_eletrico') {\n        console.log('V91: \u2705 Services 1 or 3 \u2192 trigger WF06 next_dates');\n\n        nextStage = 'trigger_wf06_next_dates';\n        responseText = '\u23f3 *Buscando pr\u00f3ximas datas dispon\u00edveis...*\\n\\n_Aguarde um momento..._';\n        updateData.awaiting_wf06_next_dates = true;\n\n      } else {\n        console.log('V91: \u2705 Services 2, 4, or 5 \u2192 handoff to commercial');\n        responseText = `Obrigado pelas informa\u00e7\u00f5es, ${currentData.lead_name}! \ud83d\udc4d\\n\\n` +\n                      `Para o servi\u00e7o de *${getServiceName(currentData.service_selected || '1')}*, nossa equipe comercial ` +\n                      `entrar\u00e1 em contato em breve para alinhar os detalhes.\\n\\n` +\n                      `\ud83d\udcde Caso prefira falar agora: (62) 3092-2900\\n\\n` +\n                      `Tenha um \u00f3timo dia! \u2728`;\n        nextStage = 'handoff_comercial';\n      }\n    }\n    else if (message === '2') {\n      responseText = `\ud83d\udc54 *Transfer\u00eancia para Atendimento Comercial*\n\nObrigado pelas informa\u00e7\u00f5es!\n\nNossa equipe comercial especializada entrar\u00e1 em contato para:\n\u2705 Apresentar solu\u00e7\u00f5es personalizadas\n\u2705 Elaborar proposta t\u00e9cnica-comercial\n\u2705 Esclarecer d\u00favidas sobre investimento\n\n\ud83d\udd50 *Retorno em:* at\u00e9 24 horas \u00fateis\n\n\ud83d\udcf1 *Contato direto:* (62) 3092-2900\n\n_Aguarde nosso retorno!_`;\n      nextStage = 'handoff_comercial';\n      updateData.status = 'handoff';\n    }\n    else if (message === '3') {\n      responseText = `\ud83d\udcdd *Corre\u00e7\u00e3o de Dados*\\n\\n` +\n                    `Digite o que deseja corrigir:\\n\\n` +\n                    `1\ufe0f\u20e3 - Nome\\n` +\n                    `2\ufe0f\u20e3 - Telefone\\n` +\n                    `3\ufe0f\u20e3 - Email\\n` +\n                    `4\ufe0f\u20e3 - Cidade\\n` +\n                    `5\ufe0f\u20e3 - Servi\u00e7o\\n\\n` +\n                    `_Digite o n\u00famero correspondente:_`;\n      nextStage = 'correction_choice';\n    }\n    else {\n      responseText = `\u274c *Op\u00e7\u00e3o inv\u00e1lida*\n\nPor favor, escolha uma das op\u00e7\u00f5es:\n\n1\ufe0f\u20e3 *Sim, quero agendar*\n2\ufe0f\u20e3 *N\u00e3o agora, falar com uma pessoa*\n3\ufe0f\u20e3 *Meus dados est\u00e3o errados, quero corrigir*`;\n      nextStage = 'confirmation';\n    }\n    break;\n\n  // ===== STATE 9: INTERMEDIATE - TRIGGER WF06 NEXT DATES =====\n  case 'trigger_wf06_next_dates':\n    console.log('V91: \u25a0 STATE 9 - INTERMEDIATE - Triggering WF06 next_dates');\n    console.log('V91: \u26a0\ufe0f CRITICAL: This is pass-through state, WF06 HTTP Request executes externally');\n    console.log('V91: \u26a0\ufe0f CRITICAL: MUST return to show_available_dates after WF06 completes');\n\n    nextStage = 'show_available_dates';\n    responseText = '';  // Empty for intermediate state\n\n    // V91: Explicit flag for debugging\n    updateData.v91_expecting_wf06_return = true;\n    break;\n\n  // ===== STATE 10: SHOW AVAILABLE DATES =====\n  case 'show_available_dates':\n    console.log('V91: \u25a0 STATE 10 - SHOW AVAILABLE DATES');\n    console.log('V91: ========================================');\n    console.log('V91: WF06 NEXT_DATES DATA SEARCH');\n    console.log('V91: ========================================');\n\n    // V91: Multi-location WF06 data access with enhanced logging\n    let nextDatesResponse = null;\n    let dataSource = 'NONE';\n\n    if (input.wf06_next_dates) {\n      nextDatesResponse = input.wf06_next_dates;\n      dataSource = 'input.wf06_next_dates';\n    }\n    else if (currentData.wf06_next_dates) {\n      nextDatesResponse = currentData.wf06_next_dates;\n      dataSource = 'currentData.wf06_next_dates';\n    }\n    else if (input.currentData && input.currentData.wf06_next_dates) {\n      nextDatesResponse = input.currentData.wf06_next_dates;\n      dataSource = 'input.currentData.wf06_next_dates';\n    }\n    else {\n      nextDatesResponse = {};\n      dataSource = 'NOT_FOUND';\n    }\n\n    console.log('V91: WF06 data source:', dataSource);\n    console.log('V91: WF06 success:', !!nextDatesResponse.success);\n    console.log('V91: WF06 dates count:', nextDatesResponse.dates?.length || 0);\n    console.log('V91: ========================================');\n\n    if (nextDatesResponse && nextDatesResponse.success && nextDatesResponse.dates && nextDatesResponse.dates.length > 0) {\n      let dateOptions = '';\n      nextDatesResponse.dates.forEach((dateObj, index) => {\n        const number = index + 1;\n        const qualityEmoji = dateObj.quality === 'high' ? '\u2728' :\n                            dateObj.quality === 'medium' ? '\ud83d\udcc5' : '\u26a0\ufe0f';\n        dateOptions += `${number}\ufe0f\u20e3 *${dateObj.display}*\\n   \ud83d\udd50 ${dateObj.total_slots} hor\u00e1rios livres ${qualityEmoji}\\n\\n`;\n      });\n\n      responseText = `\ud83d\udcc5 *Agendar Visita T\u00e9cnica - ${getServiceName(currentData.service_selected || '1')}*\\n\\n` +\n                    `\ud83d\udcc6 *Pr\u00f3ximas datas com hor\u00e1rios dispon\u00edveis:*\\n\\n` +\n                    dateOptions +\n                    `\ud83d\udca1 *Escolha uma op\u00e7\u00e3o (1-3)*\\n` +\n                    `_Ou digite uma data espec\u00edfica em DD/MM/AAAA_\\n\\n` +\n                    `\u23f1\ufe0f *Dura\u00e7\u00e3o*: 2 horas\\n` +\n                    `\ud83d\udccd *Cidade*: ${currentData.city}`;\n\n      updateData.date_suggestions = nextDatesResponse.dates;\n      nextStage = 'process_date_selection';\n      console.log('V91: \u2705 SUCCESS - Displaying', nextDatesResponse.dates.length, 'dates to user');\n\n    } else {\n      console.warn('V91: \u274c WF06 failed or no data, fallback to manual');\n      responseText = `\u26a0\ufe0f *N\u00e3o conseguimos buscar disponibilidade automaticamente*\\n\\n` +\n                    `Por favor, informe a data desejada (DD/MM/AAAA):\\n\\n` +\n                    `\ud83d\udca1 *Lembre-se:*\\n` +\n                    `\u2022 Data futura (n\u00e3o pode ser hoje ou passado)\\n` +\n                    `\u2022 Dia \u00fatil (segunda a sexta-feira)\\n\\n` +\n                    `_Digite a data..._`;\n\n      nextStage = 'collect_appointment_date_manual';\n    }\n    break;\n\n  // ===== STATE 11: PROCESS DATE SELECTION =====\n  case 'process_date_selection':\n    console.log('V91: \u25a0 STATE 11 - PROCESS DATE SELECTION');\n\n    const dateChoice = message.trim();\n\n    if (/^[1-3]$/.test(dateChoice)) {\n      const selectedIndex = parseInt(dateChoice) - 1;\n      const suggestions = currentData.date_suggestions || [];\n\n      if (selectedIndex >= 0 && selectedIndex < suggestions.length) {\n        const selectedDate = suggestions[selectedIndex];\n        console.log('V91: \u2705 Date selected:', selectedDate.date);\n\n        updateData.scheduled_date = selectedDate.date;\n        updateData.scheduled_date_display = selectedDate.display;\n\n        nextStage = 'trigger_wf06_available_slots';\n        responseText = '\u23f3 *Buscando hor\u00e1rios dispon\u00edveis...*\\n\\n_Aguarde um momento..._';\n        updateData.awaiting_wf06_available_slots = true;\n\n      } else {\n        responseText = `\u274c *Op\u00e7\u00e3o inv\u00e1lida*\\n\\nEscolha 1, 2 ou 3.`;\n        nextStage = 'process_date_selection';\n      }\n    }\n    else if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(dateChoice)) {\n      console.log('V91: Custom date entered:', dateChoice);\n\n      const [day, month, year] = dateChoice.split('/');\n      const isoDate = `${year}-${month}-${day}`;\n      const dateObj = new Date(isoDate);\n\n      const today = new Date();\n      today.setHours(0, 0, 0, 0);\n\n      const dayOfWeek = dateObj.getDay();\n      const isWeekend = (dayOfWeek === 0 || dayOfWeek === 6);\n      const isPast = dateObj < today;\n\n      if (isPast) {\n        responseText = `\u274c *Data inv\u00e1lida*\\n\\nA data deve ser no futuro.\\n\\nPor favor, escolha uma das op\u00e7\u00f5es ou digite outra data.`;\n        nextStage = 'process_date_selection';\n      }\n      else if (isWeekend) {\n        responseText = `\u274c *Data inv\u00e1lida*\\n\\nN\u00e3o atendemos aos finais de semana.\\n\\nPor favor, escolha uma data de segunda a sexta.`;\n        nextStage = 'process_date_selection';\n      }\n      else {\n        updateData.scheduled_date = isoDate;\n        updateData.scheduled_date_display = dateChoice;\n\n        nextStage = 'trigger_wf06_available_slots';\n        responseText = '\u23f3 *Buscando hor\u00e1rios dispon\u00edveis...*\\n\\n_Aguarde um momento..._';\n        updateData.awaiting_wf06_available_slots = true;\n      }\n    }\n    else {\n      responseText = `\u274c *Formato inv\u00e1lido*\\n\\nEscolha 1-3 ou digite uma data em DD/MM/AAAA`;\n      nextStage = 'process_date_selection';\n    }\n    break;\n\n  // ===== STATE 12: INTERMEDIATE - TRIGGER WF06 AVAILABLE SLOTS =====\n  case 'trigger_wf06_available_slots':\n    console.log('V91: \u25a0 STATE 12 - INTERMEDIATE - Triggering WF06 available_slots');\n    console.log('V91: \u26a0\ufe0f CRITICAL: MUST return to show_available_slots after WF06 completes');\n\n    nextStage = 'show_available_slots';\n    responseText = '';\n    updateData.v91_expecting_wf06_slots_return = true;\n    break;\n\n  // ===== STATE 13: SHOW AVAILABLE SLOTS =====\n  case 'show_available_slots':\n    console.log('V91: \u25a0 STATE 13 - SHOW AVAILABLE SLOTS');\n\n    // V91: Multi-location slots access with enhanced logging\n    let slotsResponse = null;\n    let slotsDataSource = 'NONE';\n\n    if (input.wf06_available_slots) {\n      slotsResponse = input.wf06_available_slots;\n      slotsDataSource = 'input.wf06_available_slots';\n    }\n    else if (currentData.wf06_available_slots) {\n      slotsResponse = currentData.wf06_available_slots;\n      slotsDataSource = 'currentData.wf06_available_slots';\n    }\n    else if (input.currentData && input.currentData.wf06_available_slots) {\n      slotsResponse = input.currentData.wf06_available_slots;\n      slotsDataSource = 'input.currentData.wf06_available_slots';\n    }\n    else {\n      slotsResponse = {};\n      slotsDataSource = 'NOT_FOUND';\n    }\n\n    console.log('V91: WF06 slots data source:', slotsDataSource);\n    console.log('V91: WF06 slots success:', !!slotsResponse.success);\n    console.log('V91: WF06 slots count:', slotsResponse.available_slots?.length || 0);\n\n    if (slotsResponse && slotsResponse.success && slotsResponse.available_slots && slotsResponse.available_slots.length > 0) {\n      let slotOptions = '';\n      slotsResponse.available_slots.forEach((slot, index) => {\n        const number = index + 1;\n        slotOptions += `${number}\ufe0f\u20e3 *${slot.formatted}* \u2705\\n`;\n      });\n\n      responseText = `\ud83d\udd50 *Hor\u00e1rios Dispon\u00edveis - ${currentData.scheduled_date_display}*\\n\\n` +\n                    slotOptions + `\\n` +\n                    `\ud83d\udca1 *Escolha um hor\u00e1rio (1-${slotsResponse.total_available})*\\n` +\n                    `_Ou digite um hor\u00e1rio espec\u00edfico em HH:MM_\\n\\n` +\n                    `\u23f1\ufe0f *Dura\u00e7\u00e3o*: 2 horas\\n` +\n                    `\ud83d\udccd *Cidade*: ${currentData.city}\\n` +\n                    `${SERVICE_DISPLAY[currentData.service_type]?.emoji || '\ud83d\udd27'} *Servi\u00e7o*: ${getServiceName(currentData.service_selected || '1')}`;\n\n      updateData.available_slots = slotsResponse.available_slots;\n      nextStage = 'process_slot_selection';\n      console.log('V91: \u2705 SUCCESS - Displaying', slotsResponse.available_slots.length, 'slots');\n\n    } else if (slotsResponse && slotsResponse.success && slotsResponse.total_available === 0) {\n      console.warn('V91: \u26a0\ufe0f No slots available');\n      responseText = `\u274c *Esta data est\u00e1 totalmente ocupada*\\n\\n` +\n                    `Vamos escolher outra data com mais disponibilidade.\\n\\n` +\n                    `_Voltando para sele\u00e7\u00e3o de datas..._`;\n      nextStage = 'show_available_dates';\n    } else {\n      console.error('V91: \u274c WF06 slots failed, fallback to manual');\n      responseText = `\u26a0\ufe0f *N\u00e3o conseguimos buscar hor\u00e1rios dispon\u00edveis*\\n\\n` +\n                    `Por favor, informe o hor\u00e1rio desejado (HH:MM):\\n\\n` +\n                    `\u23f0 *Hor\u00e1rios de atendimento:*\\n` +\n                    `\u2022 Segunda a Sexta: 08:00 \u00e0s 18:00\\n\\n` +\n                    `_Digite o hor\u00e1rio..._`;\n      nextStage = 'collect_appointment_time_manual';\n    }\n    break;\n\n  // ===== STATE 14: PROCESS SLOT SELECTION =====\n  case 'process_slot_selection':\n    console.log('V91: \u25a0 STATE 14 - PROCESS SLOT SELECTION');\n\n    const slotChoice = message.trim();\n    const availableSlots = currentData.available_slots || [];\n\n    if (/^\\d+$/.test(slotChoice)) {\n      const selectedIndex = parseInt(slotChoice) - 1;\n\n      if (selectedIndex >= 0 && selectedIndex < availableSlots.length) {\n        const selectedSlot = availableSlots[selectedIndex];\n\n        updateData.scheduled_time_start = selectedSlot.start_time;\n        updateData.scheduled_time_end = selectedSlot.end_time;\n\n        responseText = `\u2705 *Agendamento Confirmado!*\\n\\n` +\n                      `\ud83d\udcc5 *Data:* ${currentData.scheduled_date_display}\\n` +\n                      `\ud83d\udd50 *Hor\u00e1rio:* ${selectedSlot.formatted}\\n` +\n                      `\ud83d\udccd *Cidade*: ${currentData.city}\\n` +\n                      `${SERVICE_DISPLAY[currentData.service_type]?.emoji || '\ud83d\udd27'} *Servi\u00e7o*: ${getServiceName(currentData.service_selected || '1')}\\n\\n` +\n                      `_Processando agendamento..._`;\n\n        nextStage = 'appointment_final_confirmation';\n\n      } else {\n        responseText = `\u274c *Op\u00e7\u00e3o inv\u00e1lida*\\n\\nEscolha um n\u00famero de 1 a ${availableSlots.length}`;\n        nextStage = 'process_slot_selection';\n      }\n    }\n    else if (/^\\d{2}:\\d{2}$/.test(slotChoice)) {\n      const [hours, minutes] = slotChoice.split(':').map(Number);\n\n      if (hours < 8 || hours >= 18 || minutes < 0 || minutes >= 60) {\n        responseText = `\u274c *Hor\u00e1rio inv\u00e1lido*\\n\\nNosso atendimento \u00e9 de Segunda a Sexta, 08:00 \u00e0s 18:00.\\n\\nPor favor, escolha um hor\u00e1rio dentro deste per\u00edodo.`;\n        nextStage = 'process_slot_selection';\n      } else {\n        updateData.scheduled_time_start = slotChoice;\n        const endHours = hours + 2;\n        updateData.scheduled_time_end = `${String(endHours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}`;\n\n        responseText = `\u2705 *Hor\u00e1rio registrado*\\n\\n` +\n                      `\ud83d\udcc5 *Data:* ${currentData.scheduled_date_display}\\n` +\n                      `\ud83d\udd50 *Hor\u00e1rio:* ${slotChoice} \u00e0s ${updateData.scheduled_time_end}\\n\\n` +\n                      `_Processando agendamento..._`;\n        nextStage = 'appointment_final_confirmation';\n      }\n    }\n    else {\n      responseText = `\u274c *Formato inv\u00e1lido*\\n\\nEscolha um n\u00famero (1-${availableSlots.length}) ou digite um hor\u00e1rio em HH:MM`;\n      nextStage = 'process_slot_selection';\n    }\n    break;\n\n  // ===== FALLBACK STATES =====\n  case 'collect_appointment_date_manual':\n  case 'collect_appointment_time_manual':\n    console.log('V91: \u25a0 FALLBACK - Manual input');\n    responseText = `\u26a0\ufe0f *Sistema temporariamente indispon\u00edvel*\\n\\nPor favor, entre em contato diretamente:\\n\ud83d\udcf1 (62) 3092-2900`;\n    nextStage = 'handoff_comercial';\n    break;\n\n  // ===== STATE 15: APPOINTMENT FINAL CONFIRMATION =====\n  case 'appointment_final_confirmation':\n  case 'scheduling_redirect':\n    console.log('V91: \u25a0 STATE 15 - APPOINTMENT FINAL CONFIRMATION');\n\n    responseText = `\u2705 *Agendamento realizado com sucesso!*\\n\\n` +\n                  `\ud83d\udcc5 *Data:* ${currentData.scheduled_date_display}\\n` +\n                  `\ud83d\udd50 *Hor\u00e1rio:* ${currentData.scheduled_time_start} \u00e0s ${currentData.scheduled_time_end}\\n\\n` +\n                  `\ud83d\udce7 Voc\u00ea receber\u00e1 um email de confirma\u00e7\u00e3o em breve.\\n\\n` +\n                  `At\u00e9 l\u00e1! \u2728`;\n\n    nextStage = 'completed';\n    updateData.appointment_completed = true;\n    break;\n\n  // ===== REMAINING STATES =====\n  case 'handoff_comercial':\n    console.log('V91: \u25a0 Handoff to commercial team');\n    responseText = responseText || 'Obrigado! Nossa equipe entrar\u00e1 em contato em breve.';\n    nextStage = 'completed';\n    break;\n\n  case 'correction_choice':\n    console.log('V91: \u25a0 Correction flow');\n    responseText = `\u26a0\ufe0f *Sistema de corre\u00e7\u00e3o temporariamente indispon\u00edvel*\\n\\nPor favor, entre em contato:\\n\ud83d\udcf1 (62) 3092-2900`;\n    nextStage = 'handoff_comercial';\n    break;\n\n  case 'completed':\n    console.log('V91: \u25a0 Conversation completed');\n    responseText = 'Conversa finalizada. Digite *menu* para reiniciar.';\n    nextStage = 'completed';\n    break;\n\n  default:\n    console.error('V91: \u25a0 \u274c UNKNOWN STATE:', currentStage);\n    console.error('V91: \u274c This should NEVER happen - investigate workflow configuration!');\n    console.error('V91: \u274c Falling back to greeting');\n    responseText = `\u26a0\ufe0f *Estado desconhecido*\\n\\nPor favor, reinicie a conversa digitando: *menu*`;\n    nextStage = 'greeting';\n}\n\n// ===================================================\n// RETURN RESULT\n// ===================================================\n\nconsole.log('V91: ========================================');\nconsole.log('V91: STATE MACHINE RESULT');\nconsole.log('V91: ========================================');\nconsole.log('V91: Current stage:', currentStage);\nconsole.log('V91: Next stage:', nextStage);\nconsole.log('V91: Response text length:', responseText.length);\nconsole.log('V91: Update data keys:', Object.keys(updateData));\nconsole.log('V91: ========================================');\nconsole.log('=== V91 STATE MACHINE END ===');\n\nreturn {\n  response_text: responseText,\n  next_stage: nextStage,\n  update_data: updateData,\n\n  // V91: Explicit current_stage for next execution\n  current_stage: nextStage,\n\n  // Pass phone data\n  phone_number: input.phone_number || input.phone_with_code || '',\n  phone_with_code: input.phone_with_code || input.phone_number || '',\n  phone_without_code: input.phone_without_code || '',\n\n  // Pass conversation data\n  conversation_id: input.conversation_id || null,\n  message: input.message || '',\n  message_id: input.message_id || '',\n  message_type: input.message_type || 'text',\n\n  // Pass collected_data\n  collected_data: {\n    ...currentData,\n    ...updateData,\n    lead_name: updateData.lead_name || currentData.lead_name || '',\n    contact_name: updateData.contact_name || currentData.contact_name || updateData.lead_name || currentData.lead_name || ''\n  },\n\n  // V91 Metadata\n  v91_state_initialization_fix: true,\n  v91_enhanced_logging: true,\n  v91_wf06_return_path_defensive: true,\n  timestamp: new Date().toISOString()\n};\n"
      },
      "id": "246b6a88-7d09-43f1-b0f3-480961d76ab1",
      "name": "State Machine Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        368,
        240
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Build Update Queries",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Claude AI Agent State 9 (collect_appointment_date)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Claude AI Agent State 10 (collect_appointment_time)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Claude AI Agent State 11 (appointment_confirmation)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_update_conversation }}",
        "options": {}
      },
      "id": "ae8f8c0b-b15e-42a5-8e5c-71283a365a08",
      "name": "Update Conversation State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        656,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_save_inbound }}",
        "options": {}
      },
      "id": "e4d5fc3e-022e-4321-9e4f-0ee73dc20b17",
      "name": "Save Inbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        768,
        -80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_save_outbound }}",
        "options": {}
      },
      "id": "2ce1c09b-74cb-4132-b440-dd324f38e2c1",
      "name": "Save Outbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        960,
        -64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-evolution-dev:8080/message/sendText/e2-solucoes-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "ae569043cfa169380c378347f91a1141ea572541d2d1cadbed222db519c8a891"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Build Update Queries\"].json[\"phone_number\"] }}"
            },
            {
              "name": "text",
              "value": "={{ $node[\"Build Update Queries\"].json[\"response_text\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1ace9b32-0411-4d46-97a3-fa7637ab2667",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        976,
        320
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Check If Scheduling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Build Update Queries\"].json.next_stage }}",
              "value2": "handoff_comercial"
            }
          ]
        }
      },
      "id": "c3db8e0d-8454-44de-9697-dbd09cf687e9",
      "name": "Check If Handoff",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1184,
        688
      ]
    },
    {
      "parameters": {
        "workflowId": "0EDOkLmXFaA3snVL",
        "options": {}
      },
      "id": "0fb324ce-ebf9-4afd-95f9-b1330b0c4057",
      "name": "Trigger Appointment Scheduler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1840,
        -400
      ],
      "notes": "V70: MODIFIED - Now sends appointment_id from database INSERT"
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id + 8 }}",
        "options": {}
      },
      "id": "cfffabfa-7588-450b-afe1-7d23890a5fbd",
      "name": "Trigger Human Handoff",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1392,
        688
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_upsert_lead }}",
        "options": {}
      },
      "id": "e068ea11-2c62-4ed9-a530-d337df9eacef",
      "name": "Upsert Lead Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        976,
        832
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ { success: true, stage: $json.next_stage } }}",
        "options": {}
      },
      "id": "aeb70794-6f7e-49f1-aaa5-e522c0ca0b9b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1584,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build SQL Queries Node - Prepara todas as queries SQL\n// Recebe dados do node anterior\nconst data = $input.first().json;\nconst phone_with_code = data.phone_with_code || '';\nconst phone_without_code = data.phone_without_code || '';\n\n// Valida\u00e7\u00e3o de seguran\u00e7a\nif (!phone_with_code || !phone_without_code) {\n  throw new Error('Phone numbers not properly formatted');\n}\n\n// Escape simples para SQL injection\nconst escapeSql = (str) => {\n  return String(str).replace(/'/g, \"''\");\n};\n\n// Query para contar conversas existentes\nconst query_count = `\n  SELECT COUNT(*) as count\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n`.trim();\n\n// Query para buscar detalhes da conversa\nconst query_details = `\n  SELECT\n    *,\n    COALESCE(state_machine_state,\n      CASE current_state\n        WHEN 'novo' THEN 'greeting'\n        WHEN 'identificando_servico' THEN 'service_selection'\n        WHEN 'coletando_dados' THEN 'collect_name'\n        WHEN 'agendando' THEN 'scheduling'\n        WHEN 'handoff_comercial' THEN 'handoff_comercial'\n        WHEN 'concluido' THEN 'completed'\n        ELSE 'greeting'\n      END\n    ) as state_for_machine\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  ORDER BY updated_at DESC\n  LIMIT 1\n`.trim();\n\n// Query para criar/atualizar conversa\nconst query_upsert = `\n  -- Limpar duplicatas antigas\n  DELETE FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  AND id NOT IN (\n    SELECT id FROM conversations\n    WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n    ORDER BY updated_at DESC\n    LIMIT 1\n  );\n\n  -- Inserir ou atualizar conversa\n  INSERT INTO conversations (\n    phone_number,\n    whatsapp_name,\n    service_id,\n    contact_name,\n    contact_email,\n    city,\n    current_state,\n    state_machine_state,\n    collected_data,\n    error_count,\n    created_at,\n    updated_at\n  ) VALUES (\n    '${escapeSql(phone_with_code)}',\n    '${escapeSql(data.whatsapp_name || '')}',\n    NULL,\n    NULL,\n    NULL,\n    NULL,\n    'novo',\n    'greeting',\n    '{}'::jsonb,\n    0,\n    CURRENT_TIMESTAMP,\n    CURRENT_TIMESTAMP\n  )\n  ON CONFLICT (phone_number) DO UPDATE SET\n    whatsapp_name = COALESCE(EXCLUDED.whatsapp_name, conversations.whatsapp_name),\n    last_message_at = CURRENT_TIMESTAMP,\n    updated_at = CURRENT_TIMESTAMP,\n    state_machine_state = CASE\n      WHEN conversations.state_machine_state IN ('completed', 'handoff_comercial')\n      THEN 'greeting'\n      ELSE conversations.state_machine_state\n    END\n  RETURNING *\n`.trim();\n\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (FIXED) ===');\nconsole.log('Phone with code:', phone_with_code);\nconsole.log('Phone without code:', phone_without_code);\nconsole.log('Queries built successfully as STRINGS');\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V27) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V27: PRESERVAR CAMPOS DE MENSAGEM\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V28) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V28: PRESERVAR CAMPOS DE MENSAGEM E RETORNAR ARRAY\nconst result = {\n  ...data,  // Pass through ALL original data\n\n  // SQL Queries\n  query_count: query_count,        // String SQL\n  query_details: query_details,    // String SQL\n  query_upsert: query_upsert,      // String SQL\n\n  // V28 CRITICAL: Explicitly preserve message fields\n  message: data.message || '',\n  content: data.content || '',\n  body: data.body || '',\n  text: data.text || '',\n\n  // Phone fields\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  phone_number: data.phone_number || phone_with_code,\n\n  // Other fields\n  whatsapp_name: data.whatsapp_name || ''\n};\n\n// V28: Return as array for n8n compatibility\nconsole.log('V28: Build SQL Queries returning array');\nreturn [result];"
      },
      "id": "7ccaf146-6d0f-41ee-b915-e4057147f362",
      "name": "Build SQL Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        80
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados ap\u00f3s o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // \u2190 ARRAY RETURN FIX"
      },
      "id": "4b8a64c9-b020-47eb-9ac7-8a847483c9d3",
      "name": "Merge Queries Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -176
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados ap\u00f3s o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // \u2190 ARRAY RETURN FIX"
      },
      "id": "3e9ade90-0c6e-4fb2-a3e4-f6700d2e36c1",
      "name": "Merge Queries Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        848
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Build Update Queries - V79.1 (SCHEMA-ALIGNED FIX)\n// ===================================================\n// CRITICAL FIX: Remove contact_phone column (does not exist in PostgreSQL schema)\n//\n// PostgreSQL Schema Analysis:\n// \u2705 phone_number (exists)\n// \u2705 contact_name (exists)\n// \u2705 contact_email (exists)\n// \u274c contact_phone (DOES NOT EXIST!)\n//\n// Reason V74 \"works\": ON CONFLICT may be silently ignoring the error\n// V79.1 Fix: Remove contact_phone from INSERT and UPDATE statements\n//\n// Date: 2026-04-13\n// Version: V79.1 Schema-Aligned Fix\n// ===================================================\n\nconst inputData = $input.first().json;\n\nconsole.log('=== V79.1 BUILD UPDATE QUERIES (SCHEMA-ALIGNED) ===');\n\n// V66 FIX: Declare query_correction_update at function scope\nlet query_correction_update = null;\n\nconsole.log('Input keys:', Object.keys(inputData));\n\n// Helper functions\nconst escapeSql = (str) => {\n  if (str === null || str === undefined || str === '') return '';\n  return String(str).replace(/'/g, \"''\");\n};\n\nconst prepareJsonb = (obj) => {\n  if (!obj || typeof obj !== 'object') return '{}';\n  return JSON.stringify(obj).replace(/'/g, \"''\");\n};\n\n// Extract phone data\nlet phone_number = String(inputData.phone_number || '');\nphone_number = phone_number.replace(/[^0-9]/g, '');\n\nif (phone_number && !phone_number.startsWith('55')) {\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n  }\n}\n\nconst phone_with_code = phone_number;\nconst phone_without_code = phone_number.startsWith('55') ? phone_number.substring(2) : phone_number;\n\n// Extract other data\nconst response_text = escapeSql(inputData.response_text || 'Ol\u00e1! Como posso ajudar?');\nconst next_stage = inputData.next_stage || inputData.current_state || 'greeting';\nconst collected_data = inputData.collected_data || {};\nconst collected_data_json = prepareJsonb(collected_data);\nconst message_content = escapeSql(inputData.message || '');\nconst message_type = inputData.message_type || 'text';\nconst message_id = inputData.message_id || '';\nconst conversation_id = inputData.conversation_id || null;\n\n// Extract service_type from collected_data\nconst service_type = collected_data?.service_type || null;\nconsole.log('V79.1: service_type extracted:', service_type);\n\n// V79.1 FIX: Store contact_phone in collected_data JSONB only (no DB column)\nconst contact_phone = collected_data?.contact_phone ||\n                     collected_data?.phone_primary ||\n                     collected_data?.phone ||\n                     '';\nconsole.log('V79.1: contact_phone extracted (JSONB only):', contact_phone);\n\n// State mapping\nconst state_mapping = {\n  'greeting': 'novo',\n  'service_selection': 'identificando_servico',\n  'collect_name': 'coletando_dados',\n  'collect_phone': 'coletando_dados',\n  'collect_phone_whatsapp_confirmation': 'coletando_dados',\n  'collect_phone_alternative': 'coletando_dados',\n  'collect_email': 'coletando_dados',\n  'collect_city': 'coletando_dados',\n  'confirmation': 'coletando_dados',\n  'scheduling': 'agendando',\n  'handoff_comercial': 'handoff_comercial',\n  'completed': 'concluido'\n};\n\nconst db_state = state_mapping[next_stage] || 'novo';\n\nconsole.log('V79.1: Building queries with SCHEMA-ALIGNED fix (no contact_phone column)');\n\n// ===================================================\n// Query 1: Update Conversation State (V79.1 SCHEMA-ALIGNED)\n// ===================================================\n// REMOVED: contact_phone column (does not exist in PostgreSQL)\n// PRESERVED: All other columns that exist in schema\nconst query_update_conversation = `\nINSERT INTO conversations (\n  phone_number,\n  whatsapp_name,\n  current_state,\n  state_machine_state,\n  collected_data,\n  service_type,\n  contact_name,\n  contact_email,\n  city,\n  status,\n  last_message_at,\n  created_at,\n  updated_at\n) VALUES (\n  '${phone_with_code}',\n  '${escapeSql(collected_data?.lead_name || '')}',\n  '${db_state}',\n  '${next_stage}',\n  '${collected_data_json}'::jsonb,\n  ${service_type ? \"'\" + escapeSql(service_type) + \"'\" : 'NULL'},\n  '${escapeSql(collected_data?.lead_name || '')}',\n  '${escapeSql(collected_data?.email || '')}',\n  '${escapeSql(collected_data?.city || '')}',\n  'active',\n  NOW(),\n  NOW(),\n  NOW()\n)\nON CONFLICT (phone_number)\nDO UPDATE SET\n  current_state = EXCLUDED.current_state,\n  state_machine_state = EXCLUDED.state_machine_state,\n  collected_data = conversations.collected_data || EXCLUDED.collected_data,\n  service_type = COALESCE(EXCLUDED.service_type, conversations.service_type),\n  contact_name = COALESCE(NULLIF(EXCLUDED.contact_name, ''), conversations.contact_name),\n  contact_email = COALESCE(NULLIF(EXCLUDED.contact_email, ''), conversations.contact_email),\n  city = COALESCE(NULLIF(EXCLUDED.city, ''), conversations.city),\n  whatsapp_name = COALESCE(NULLIF(EXCLUDED.whatsapp_name, ''), conversations.whatsapp_name),\n  last_message_at = NOW(),\n  updated_at = NOW()\nRETURNING *`.trim();\n\nconsole.log('\u2705 V79.1: UPSERT query SCHEMA-ALIGNED (no contact_phone column)');\n\n// Query 2: Save Inbound Message (unchanged)\nconst query_save_inbound = `\nINSERT INTO messages (\n  conversation_id,\n  direction,\n  content,\n  message_type,\n  whatsapp_message_id,\n  created_at\n)\nVALUES (\n  (SELECT id FROM conversations WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}') ORDER BY updated_at DESC LIMIT 1),\n  'inbound',\n  '${message_content}',\n  '${message_type}',\n  '${message_id}',\n  NOW()\n)\nON CONFLICT (whatsapp_message_id)\nWHERE whatsapp_message_id IS NOT NULL AND whatsapp_message_id != ''\nDO NOTHING\nRETURNING *`.trim();\n\n// Query 3: Save Outbound Message (unchanged)\nconst query_save_outbound = `\nINSERT INTO messages (\n  conversation_id,\n  direction,\n  content,\n  message_type,\n  whatsapp_message_id,\n  created_at\n)\nVALUES (\n  (SELECT id FROM conversations WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}') ORDER BY updated_at DESC LIMIT 1),\n  'outbound',\n  '${response_text}',\n  'text',\n  'out_' || extract(epoch from NOW())::bigint || '_' || random()::text,\n  NOW()\n)\nRETURNING *`.trim();\n\n// Query 4: Upsert Lead Data (unchanged)\nconst query_upsert_lead = `\nWITH existing_lead AS (\n  SELECT id\n  FROM leads\n  WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}')\n  LIMIT 1\n),\nupdated AS (\n  UPDATE leads\n  SET\n    name = COALESCE(NULLIF('${escapeSql(collected_data?.lead_name || '')}', ''), name),\n    email = COALESCE(NULLIF('${escapeSql(collected_data?.email || '')}', ''), email),\n    city = COALESCE(NULLIF('${escapeSql(collected_data?.city || '')}', ''), city),\n    service_type = COALESCE(NULLIF('${escapeSql(collected_data?.service_type || '')}', ''), service_type),\n    service_details = '${collected_data_json}'::jsonb,\n    updated_at = NOW()\n  WHERE id IN (SELECT id FROM existing_lead)\n  RETURNING *, 'updated' as operation\n),\ninserted AS (\n  INSERT INTO leads (\n    phone_number,\n    name,\n    email,\n    city,\n    service_type,\n    service_details,\n    created_at,\n    updated_at\n  )\n  SELECT\n    '${phone_with_code}',\n    '${escapeSql(collected_data?.lead_name || '')}',\n    '${escapeSql(collected_data?.email || '')}',\n    '${escapeSql(collected_data?.city || '')}',\n    '${escapeSql(collected_data?.service_type || '')}',\n    '${collected_data_json}'::jsonb,\n    NOW(),\n    NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM existing_lead)\n  RETURNING *, 'inserted' as operation\n)\nSELECT * FROM updated\nUNION ALL\nSELECT * FROM inserted`.trim();\n\nconsole.log('\u2705 V79.1: All queries built with SCHEMA-ALIGNED fix');\n\n  // V66: Correction UPDATE Query Builder\n  // V79.1 FIX: Remove contact_phone from correction logic (column does not exist)\n  if (inputData.needs_db_update && inputData.update_field) {\n    console.log('V79.1: Building correction UPDATE query for field:', inputData.update_field);\n\n    const fieldConfig = {\n      'lead_name': { db_column: 'contact_name', jsonb_key: 'lead_name' },\n      // V79.1 REMOVED: contact_phone (no DB column)\n      'email': { db_column: 'contact_email', jsonb_key: 'email' },\n      'city': { db_column: 'city', jsonb_key: 'city' }\n    };\n\n    const config = fieldConfig[inputData.update_field];\n\n    if (!config) {\n      console.warn('V79.1: Field not supported for correction:', inputData.update_field);\n      query_correction_update = null;\n    } else {\n      const newValue = escapeSql(inputData[inputData.update_field] || '');\n\n      let additionalUpdates = '';\n      if (config.also_update) {\n        const additionalValue = escapeSql(inputData[config.also_update] || newValue);\n        additionalUpdates = `${config.also_update} = '${additionalValue}',`;\n      }\n\n      query_correction_update = `\nUPDATE conversations\nSET\n  ${config.db_column} = '${newValue}',\n  ${additionalUpdates}\n  collected_data = jsonb_set(\n    collected_data,\n    '{${config.jsonb_key}}',\n    to_jsonb('${newValue}')\n  ),\n  current_state = 'coletando_dados',\n  state_machine_state = 'confirmation',\n  updated_at = NOW()\nWHERE conversation_id = '${conversation_id}'\n  AND phone_number IN ('${phone_with_code}', '${phone_without_code}')\nRETURNING conversation_id, phone_number, collected_data,\n          ${config.db_column} as corrected_field, current_state,\n          state_machine_state, updated_at\n      `.trim();\n\n      console.log('V79.1: Correction UPDATE query built for field:', inputData.update_field);\n    }\n  }\n\n  // V68 DEBUG: Log trigger check data\n  console.log('V79.1 DEBUG - Trigger check:', {\n    next_stage: inputData.next_stage,\n    service_selected: collected_data.service_selected,\n    status: collected_data.status\n  });\n\n  // V79.1 RETURN\n  return {\n    query_correction_update: query_correction_update || null,\n    correction_field_updated: inputData.update_field || null,\n  phone_number: phone_with_code,\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  response_text: inputData.response_text,\n  next_stage: inputData.next_stage,\n  collected_data: collected_data,\n  conversation_id: conversation_id,\n  message: inputData.message,\n  message_type: message_type,\n  message_id: message_id,\n\n  // Queries SQL\n  query_update_conversation,\n  query_save_inbound,\n  query_save_outbound,\n  query_upsert_lead,\n\n  // V79.1 metadata\n  v79_1_schema_aligned: true,\n  v79_1_contact_phone_removed: true,  // Stored in JSONB only\n  timestamp: new Date().toISOString()\n};\n"
      },
      "id": "0c6d0776-5508-4811-aa42-2da802f0dbd0",
      "name": "Build Update Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        304
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "ee0cdf63-04db-4f1f-adf4-ce79574019dc",
      "name": "Merge Append New User V57",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        224,
        208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// V57 Code Processor - Process append-merged data (NEW USER PATH)\nconsole.log('=== V63.2 CODE PROCESSOR NEW USER START ===');\n\nconst items = $input.all();\nconsole.log(`V63.2: Received ${items.length} items from Merge append`);\n\nif (items.length !== 2) {\n  console.error(`V63.2 ERROR: Expected 2 items from append, received ${items.length}`);\n  throw new Error(`V63.2: Merge append should produce 2 items, got ${items.length}`);\n}\n\nconst queriesData = items[0].json;  // Input 0 from Merge (Queries)\nconst dbData = items[1].json;       // Input 1 from Merge (Database)\n\nconsole.log('V63.2 Item 0 (Queries) keys:', Object.keys(queriesData).join(', '));\nconsole.log('V63.2 Item 1 (Database) keys:', Object.keys(dbData).join(', '));\n\nconst conversation_id = dbData.id || dbData.conversation_id || null;\n\nconsole.log('V63.2: Extracted conversation_id:', conversation_id);\n\nif (!conversation_id) {\n  console.error('V63.2 CRITICAL ERROR: conversation_id is NULL!');\n  console.error('V63.2: Database data (item[1]):', JSON.stringify(dbData, null, 2));\n  throw new Error('V63.2: No conversation_id found in database result');\n}\n\n// V63.2 CRITICAL FIX: Create currentData and current_stage for NEW users\nconst currentData = {};  // Empty for new users\nconst current_stage = 'greeting';  // Always greeting for new users\n\nconsole.log('V63.2 NEW USER: Setting current_stage:', current_stage);\nconsole.log('V63.2 NEW USER: Setting currentData:', JSON.stringify(currentData));\n\nconst combinedData = {\n  ...queriesData,\n  ...dbData,\n\n  conversation_id: conversation_id,\n  id: conversation_id,\n  phone_number: dbData.phone_number || queriesData.phone_number || '',\n  message: queriesData.message || queriesData.body || queriesData.text || '',\n\n  // V63.2 CRITICAL FIX: Add currentData and current_stage\n  currentData: currentData,        // \u2705 NEW! (empty for new user)\n  current_stage: current_stage,    // \u2705 NEW! (always greeting)\n  collected_data: {},              // \u2705 Empty for new user\n\n  v63_2_fix_applied: true,\n  v63_2_processor_executed: true,\n  v63_2_processor_timestamp: new Date().toISOString(),\n  v63_2_items_processed: items.length,\n  v63_2_conversation_id_source: 'dbData.id',\n  v63_2_path: 'new_user',\n  v63_2_current_stage_set: current_stage,\n  v63_2_currentData_keys: ''  // Empty for new user\n};\n\nconsole.log('V63.2: Combined data keys:', Object.keys(combinedData).join(', '));\nconsole.log('V63.2: conversation_id in output:', combinedData.conversation_id);\nconsole.log('V63.2: phone_number in output:', combinedData.phone_number);\nconsole.log('V63.2: current_stage in output:', combinedData.current_stage);\nconsole.log('\u2705 V63.2 CODE PROCESSOR NEW USER COMPLETE');\n\nreturn [combinedData];\n"
      },
      "id": "0f672ab1-1a79-49bb-848b-f0102cdda5e3",
      "name": "Process New User Data V57",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "bb8c77f5-8937-4e95-83c5-1d3b18f16a0a",
      "name": "Merge Append Existing User V57",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        224,
        912
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// V57 Code Processor - Process append-merged data (EXISTING USER PATH)\nconsole.log('=== V63.2 CODE PROCESSOR EXISTING USER START ===');\n\nconst items = $input.all();\nconsole.log(`V63.2: Received ${items.length} items from Merge append`);\n\nif (items.length !== 2) {\n  console.error(`V63.2 ERROR: Expected 2 items from append, received ${items.length}`);\n  throw new Error(`V63.2: Merge append should produce 2 items, got ${items.length}`);\n}\n\nconst queriesData = items[0].json;  // Input 0 from Merge (Queries)\nconst dbData = items[1].json;       // Input 1 from Merge (Database)\n\nconsole.log('V63.2 Item 0 (Queries) keys:', Object.keys(queriesData).join(', '));\nconsole.log('V63.2 Item 1 (Database) keys:', Object.keys(dbData).join(', '));\n\n// CRITICAL: Extract conversation_id from existing conversation\nconst conversation_id = dbData.id || dbData.conversation_id || null;\n\nconsole.log('V63.2: Extracted conversation_id:', conversation_id);\nconsole.log('V63.2: Type:', typeof conversation_id);\n\nif (!conversation_id) {\n  console.error('V63.2 CRITICAL ERROR: No conversation_id in existing user data!');\n  console.error('V63.2: Database data (item[1]):', JSON.stringify(dbData, null, 2));\n  throw new Error('V63.2: No conversation_id found in existing conversation');\n}\n\n// V63.2 CRITICAL FIX: Parse collected_data from database JSONB column\nlet collectedDataFromDb = {};\ntry {\n  // Database returns collected_data as string or already parsed object\n  if (typeof dbData.collected_data === 'string') {\n    collectedDataFromDb = JSON.parse(dbData.collected_data);\n  } else if (typeof dbData.collected_data === 'object' && dbData.collected_data !== null) {\n    collectedDataFromDb = dbData.collected_data;\n  }\n  console.log('V63.2: Parsed collected_data:', JSON.stringify(collectedDataFromDb));\n} catch (e) {\n  console.error('V63.2: Failed to parse collected_data:', e.message);\n  collectedDataFromDb = {};\n}\n\n// V63.2 CRITICAL FIX: Set current_stage from database state_machine_state\nconst current_stage = dbData.state_machine_state ||\n                     dbData.state_for_machine ||\n                     dbData.current_state ||\n                     'greeting';\n\nconsole.log('V63.2 CRITICAL: Setting current_stage:', current_stage);\n\n// V63.2 CRITICAL FIX: Create currentData object for State Machine\nconst currentData = {\n  ...collectedDataFromDb,  // All collected data from previous messages\n\n  // Add database fields to currentData\n  service_selected: collectedDataFromDb.service_selected || null,\n  service_type: collectedDataFromDb.service_type || dbData.service_type || null,\n  lead_name: collectedDataFromDb.lead_name || dbData.contact_name || null,\n  contact_phone: collectedDataFromDb.contact_phone || dbData.contact_phone || null,\n  email: collectedDataFromDb.email || dbData.contact_email || null,\n  city: collectedDataFromDb.city || dbData.city || null\n};\n\nconsole.log('V63.2 CRITICAL: Created currentData:', JSON.stringify(currentData));\n\n// V64 DEBUG: Extended logging\nconsole.log('=== V64 EXISTING USER EXTENDED DEBUG ===');\nconsole.log('V64: dbData.collected_data TYPE:', typeof dbData.collected_data);\nconsole.log('V64: dbData.collected_data RAW:', dbData.collected_data);\nconsole.log('V64: collectedDataFromDb PARSED:', JSON.stringify(collectedDataFromDb));\nconsole.log('V64: currentData.service_selected:', currentData.service_selected);\nconsole.log('V64: currentData.service_type:', currentData.service_type);\nconsole.log('V64: currentData.lead_name:', currentData.lead_name);\nconsole.log('V64: dbData.state_machine_state:', dbData.state_machine_state);\nconsole.log('V64: current_stage SET TO:', current_stage);\nconsole.log('=== V64 EXISTING USER DEBUG END ===');\n\nconst combinedData = {\n  ...queriesData,\n  ...dbData,\n\n  // EXPLICIT conversation_id mapping\n  conversation_id: conversation_id,\n  id: conversation_id,\n\n  phone_number: dbData.phone_number || queriesData.phone_number || '',\n  message: queriesData.message || queriesData.body || queriesData.text || '',\n\n  // V63.2 CRITICAL FIX: Add currentData and current_stage\n  currentData: currentData,                    // \u2705 NEW!\n  current_stage: current_stage,                // \u2705 NEW!\n  collected_data: collectedDataFromDb,         // \u2705 Parsed from DB\n\n  v63_2_fix_applied: true,                     // \u2705 NEW metadata\n  v63_2_processor_executed: true,\n  v63_2_processor_timestamp: new Date().toISOString(),\n  v63_2_items_processed: items.length,\n  v63_2_conversation_id_source: 'dbData.id',\n  v63_2_path: 'existing_user',\n  v63_2_current_stage_set: current_stage,      // \u2705 Debug info\n  v63_2_currentData_keys: Object.keys(currentData).join(',')  // \u2705 Debug info\n};\n\nconsole.log('V63.2: Combined data keys:', Object.keys(combinedData).join(', '));\nconsole.log('V63.2: conversation_id in output:', combinedData.conversation_id);\nconsole.log('V63.2: phone_number in output:', combinedData.phone_number);\nconsole.log('V63.2: current_stage in output:', combinedData.current_stage);\nconsole.log('V63.2: currentData keys in output:', Object.keys(combinedData.currentData || {}).join(', '));\nconsole.log('\u2705 V63.2 CODE PROCESSOR EXISTING USER COMPLETE');\n\nreturn [combinedData];\n"
      },
      "id": "9821df2c-7324-43e7-b234-fa8be6cf1e17",
      "name": "Process Existing User Data V57",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        912
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "cf03b003-39fd-4d2e-8f97-5690bb5a2db5",
      "name": "Claude AI Agent State 9 (collect_appointment_date)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        1904,
        112
      ],
      "credentials": {},
      "notes": "V70: NEW STATE - Collect appointment date"
    },
    {
      "parameters": {
        "jsCode": "// Validate Appointment Date (V70)\nconst collectedData = $json.collected_data || {};\nconst userResponse = ($json.message || '').toLowerCase().trim();\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\n// Parse date (multiple formats)\nlet parsedDate = null;\n\n// 1. DD/MM/YYYY\nif (userResponse.match(/\\d{2}\\/\\d{2}\\/\\d{4}/)) {\n    const [day, month, year] = userResponse.split('/');\n    parsedDate = new Date(`${year}-${month}-${day}`);\n}\n// 2. DD/MM (assume current year)\nelse if (userResponse.match(/\\d{2}\\/\\d{2}/)) {\n    const [day, month] = userResponse.split('/');\n    const year = new Date().getFullYear();\n    parsedDate = new Date(`${year}-${month}-${day}`);\n}\n// 3. \"amanh\u00e3\"\nelse if (userResponse.includes('amanh\u00e3') || userResponse.includes('amanha')) {\n    parsedDate = new Date(today);\n    parsedDate.setDate(parsedDate.getDate() + 1);\n}\n// 4. \"pr\u00f3xima segunda\"\nelse if (userResponse.includes('pr\u00f3xima segunda') || userResponse.includes('proxima segunda')) {\n    parsedDate = new Date(today);\n    const daysUntilMonday = (1 + 7 - parsedDate.getDay()) % 7 || 7;\n    parsedDate.setDate(parsedDate.getDate() + daysUntilMonday);\n}\n// 5. Other weekdays\nelse if (userResponse.includes('pr\u00f3xima') || userResponse.includes('proxima')) {\n    const weekdays = {\n        'segunda': 1, 'ter\u00e7a': 2, 'terca': 2, 'quarta': 3,\n        'quinta': 4, 'sexta': 5\n    };\n\n    for (const [day, num] of Object.entries(weekdays)) {\n        if (userResponse.includes(day)) {\n            parsedDate = new Date(today);\n            const daysUntil = (num + 7 - parsedDate.getDay()) % 7 || 7;\n            parsedDate.setDate(parsedDate.getDate() + daysUntil);\n            break;\n        }\n    }\n}\n\n// Validations\nif (!parsedDate || isNaN(parsedDate)) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Data inv\u00e1lida. Por favor, use o formato DD/MM/YYYY ou DD/MM.',\n        ai_response_needed: true\n    };\n}\n\n// Check if date is in the past\nif (parsedDate < today) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Data n\u00e3o pode ser no passado. Por favor, escolha uma data futura.',\n        ai_response_needed: true\n    };\n}\n\n// Check if date is too far (>60 days)\nconst maxDate = new Date(today);\nmaxDate.setDate(maxDate.getDate() + 60);\nif (parsedDate > maxDate) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Data muito distante. Por favor, escolha uma data nos pr\u00f3ximos 60 dias.',\n        ai_response_needed: true\n    };\n}\n\n// Check if weekday (Monday-Friday)\nconst dayOfWeek = parsedDate.getDay();\nif (dayOfWeek === 0 || dayOfWeek === 6) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Visitas t\u00e9cnicas apenas de segunda a sexta-feira. Por favor, escolha um dia \u00fatil.',\n        ai_response_needed: true\n    };\n}\n\n// Date is VALID\nconst formattedDate = parsedDate.toISOString().split('T')[0]; // YYYY-MM-DD\nconst dayNames = ['Domingo', 'Segunda', 'Ter\u00e7a', 'Quarta', 'Quinta', 'Sexta', 'S\u00e1bado'];\nconst dayName = dayNames[dayOfWeek];\n\nconsole.log('\u2705 [Validate Date] Valid:', formattedDate, dayName);\n\nreturn {\n    ...collectedData,\n    scheduled_date: formattedDate,\n    scheduled_date_display: `${parsedDate.getDate()}/${parsedDate.getMonth()+1}/${parsedDate.getFullYear()} (${dayName})`,\n    current_state: 'collect_appointment_date',\n    next_stage: 'collect_appointment_time',\n    validation_error: null,\n    ai_response_needed: false\n};\n"
      },
      "id": "3dac391c-f183-4362-8d45-c9b4e026aba5",
      "name": "Validate Appointment Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        112
      ],
      "alwaysOutputData": true,
      "notes": "V70: Validate appointment date (weekday, not past, <60 days)"
    },
    {
      "parameters": {},
      "id": "12c41bf4-8aa5-4de2-9b4c-9fa9f0e50e95",
      "name": "Claude AI Agent State 10 (collect_appointment_time)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        2304,
        112
      ],
      "credentials": {},
      "notes": "V70: NEW STATE - Collect appointment time"
    },
    {
      "parameters": {
        "jsCode": "// Validate Appointment Time (V70)\nconst collectedData = $json.collected_data || {};\nconst userResponse = ($json.message || '').toLowerCase().trim();\n\nlet timeStart, timeEnd;\n\n// Parse time formats\nif (userResponse.includes('manh\u00e3') || userResponse.includes('manha')) {\n    timeStart = '09:00';\n    timeEnd = '11:00';\n}\nelse if (userResponse.includes('tarde')) {\n    timeStart = '14:00';\n    timeEnd = '16:00';\n}\nelse if (userResponse.match(/\\d{1,2}:\\d{2}/)) {\n    const match = userResponse.match(/(\\d{1,2}):(\\d{2})/);\n    const hour = parseInt(match[1]);\n    const min = match[2];\n\n    // Validate hour format\n    if (hour < 0 || hour > 23) {\n        return {\n            ...collectedData,\n            current_state: 'collect_appointment_time',\n            next_stage: 'collect_appointment_time',\n            validation_error: 'Hor\u00e1rio inv\u00e1lido. Use formato HH:MM (exemplo: 09:00).',\n            ai_response_needed: true\n        };\n    }\n\n    timeStart = `${String(hour).padStart(2, '0')}:${min}`;\n\n    // Calculate end time (+2 hours)\n    const endHour = hour + 2;\n    timeEnd = `${String(endHour).padStart(2, '0')}:${min}`;\n}\nelse {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_time',\n        next_stage: 'collect_appointment_time',\n        validation_error: 'Formato n\u00e3o reconhecido. Use HH:MM, \"manh\u00e3\" ou \"tarde\".',\n        ai_response_needed: true\n    };\n}\n\n// Validate business hours (08:00-18:00)\nconst startHour = parseInt(timeStart.split(':')[0]);\nconst endHour = parseInt(timeEnd.split(':')[0]);\n\nif (startHour < 8) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_time',\n        next_stage: 'collect_appointment_time',\n        validation_error: 'Hor\u00e1rio muito cedo. Nosso atendimento inicia \u00e0s 08:00.',\n        ai_response_needed: true\n    };\n}\n\nif (endHour > 18) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_time',\n        next_stage: 'collect_appointment_time',\n        validation_error: 'Hor\u00e1rio muito tarde. Nosso atendimento encerra \u00e0s 18:00. Escolha um hor\u00e1rio que permita 2h de visita.',\n        ai_response_needed: true\n    };\n}\n\n// Time is VALID\nconsole.log('\u2705 [Validate Time] Valid:', timeStart, '-', timeEnd);\n\nreturn {\n    ...collectedData,\n    scheduled_time_start: timeStart,\n    scheduled_time_end: timeEnd,\n    scheduled_time_display: `${timeStart} \u00e0s ${timeEnd}`,\n    current_state: 'collect_appointment_time',\n    next_stage: 'confirmation',\n    validation_error: null,\n    ai_response_needed: false\n};\n"
      },
      "id": "1344f825-46a2-45c5-9a59-c21a326652e4",
      "name": "Validate Appointment Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        112
      ],
      "alwaysOutputData": true,
      "notes": "V70: Validate appointment time (08:00-18:00, +2h visit)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- V73: Create Appointment in Database\n-- FIX: Simplified n8n expressions (use $json instead of $(\"node\").first())\n-- Data flow: Build Update Queries \u2192 Prepare Appointment Data (Set) \u2192 HERE\n-- IF nodes don't pass data, so we use Set node to extract and pass data\nINSERT INTO appointments (\n    id,\n    lead_id,\n    scheduled_date,\n    scheduled_time_start,\n    scheduled_time_end,\n    service_type,\n    notes,\n    status,\n    created_at,\n    updated_at\n)\nVALUES (\n    gen_random_uuid(),\n    (SELECT id FROM leads WHERE phone_number = '{{ $json.phone_number }}'),\n    '{{ $json.scheduled_date }}',\n    '{{ $json.scheduled_time_start }}',\n    '{{ $json.scheduled_time_end }}',\n    '{{ $json.service_type }}',\n    'Agendamento via WhatsApp Bot - Cliente: {{ $json.lead_name }} | Cidade: {{ $json.city }}',\n    'agendado',\n    NOW(),\n    NOW()\n)\nRETURNING\n    id as appointment_id,\n    lead_id,\n    scheduled_date,\n    scheduled_time_start,\n    scheduled_time_end,\n    service_type,\n    status,\n    created_at;",
        "options": {}
      },
      "id": "26afffa8-8392-47af-9cd7-0efe968dd30c",
      "name": "Create Appointment in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2704,
        112
      ],
      "alwaysOutputData": true,
      "connections": {
        "main": [
          [
            {
              "node": "Trigger Appointment Scheduler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "notes": "V73: CREATE appointment with simplified SQL expressions"
    },
    {
      "parameters": {},
      "id": "1b8cf786-8b7c-4ee6-a897-38c27a1abab5",
      "name": "Claude AI Agent State 11 (appointment_confirmation)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        2304,
        320
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Build Update Queries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "credentials": {},
      "notes": "V70: NEW STATE - Collect appointment time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "phone_number",
              "value": "={{ $('Build Update Queries').first().json.phone_number }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "scheduled_date",
              "value": "={{ $('Build Update Queries').first().json.collected_data.scheduled_date }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "scheduled_time_start",
              "value": "={{ $('Build Update Queries').first().json.collected_data.scheduled_time_start }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "scheduled_time_end",
              "value": "={{ $('Build Update Queries').first().json.collected_data.scheduled_time_end }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "service_type",
              "value": "={{ $('Build Update Queries').first().json.collected_data.service_type }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "lead_name",
              "value": "={{ $('Build Update Queries').first().json.collected_data.lead_name }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "city",
              "value": "={{ $('Build Update Queries').first().json.collected_data.city }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3fbfb3d2-737b-4898-8693-2d4d93b215cf",
      "name": "Prepare Appointment Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2656,
        112
      ],
      "alwaysOutputData": true,
      "notes": "V73: Extract data from Build Update Queries to bypass IF node data loss"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Build Update Queries'].json.next_stage }}",
              "value2": "scheduling_redirect"
            }
          ]
        }
      },
      "id": "b45abaf2-1a43-4039-ae96-875a355941fd",
      "name": "Check If Scheduling",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1232,
        16
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Build Update Queries'].json.next_stage }}",
              "value2": "trigger_wf06_next_dates"
            }
          ]
        }
      },
      "id": "5d558e67-dbfd-4ab6-899e-e72802e209b4",
      "name": "Check If WF06 Next Dates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        204
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Build Update Queries'].json.next_stage }}",
              "value2": "trigger_wf06_available_slots"
            }
          ]
        }
      },
      "id": "4a255ff0-c0c4-4b58-a04e-7b313a901198",
      "name": "Check If WF06 Available Slots",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        404
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-n8n-dev:5678/webhook/calendar-availability",
        "authentication": "none",
        "sendHeaders": false,
        "sendQuery": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\n  \"action\": \"next_dates\",\n  \"count\": 3,\n  \"service_type\": \"energia_solar\",\n  \"duration_minutes\": 120\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            },
            "responseFormat": "json"
          },
          "timeout": 30000
        }
      },
      "id": "97020871-32eb-49c4-84ca-ef1300825796",
      "name": "HTTP Request - Get Next Dates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        960,
        204
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Prepare WF06 Next Dates Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-n8n-dev:5678/webhook/calendar-availability",
        "authentication": "none",
        "sendHeaders": false,
        "sendQuery": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"available_slots\",\n  \"date\": \"{{ $json.collected_data.selected_date || $json.selected_date }}\",\n  \"service_type\": \"{{ $json.service_type || 'energia_solar' }}\",\n  \"duration_minutes\": 120\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            },
            "responseFormat": "json"
          },
          "timeout": 30000
        }
      },
      "id": "3982ea7c-f11e-44f1-97d7-26e5e9644e3c",
      "name": "HTTP Request - Get Available Slots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        960,
        404
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Prepare WF06 Available Slots Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare WF06 Next Dates Response V88\n// FIX: Preserva dados do usu\u00e1rio (phone_number, conversation_id, etc.) do HTTP Request input\n// ANTES V87: Retornava APENAS {wf06_next_dates} \u2192 phone_number perdido no Merge\n// DEPOIS V88: Retorna input completo + wf06_next_dates \u2192 phone_number preservado\n\n// IMPORTANTE: Este node recebe dados do \"HTTP Request - Get Next Dates\"\n// que cont\u00e9m: phone_number, phone_with_code, conversation_id, message, etc.\n\nconst httpResponse = $input.first().json;\nconst inputData = $input.first().json; // V88: Preservar TODOS os dados de entrada\n\nconsole.log('=== PREPARE WF06 NEXT DATES V88 (DATA PRESERVATION FIX) ===');\nconsole.log('Full inputData keys:', Object.keys(inputData));\nconsole.log('Has phone_number:', !!inputData.phone_number);\nconsole.log('Has conversation_id:', !!inputData.conversation_id);\n\n// Validar resposta existe\nif (!httpResponse) {\n  console.error('ERROR: No httpResponse from HTTP Request node');\n  throw new Error('HTTP Request returned empty response');\n}\n\n// Extrair 'dates' array - TODAS as possibilidades de acesso\nlet datesData = null;\nlet accessPath = '';\n\n// 1. Acesso direto ao root\nif (httpResponse.dates && Array.isArray(httpResponse.dates)) {\n  datesData = httpResponse.dates;\n  accessPath = 'httpResponse.dates';\n  console.log('\u2705 Found dates at ROOT level');\n}\n// 2. Propriedade 'json' wrapeada (comum em n8n)\nelse if (httpResponse.json && httpResponse.json.dates) {\n  datesData = httpResponse.json.dates;\n  accessPath = 'httpResponse.json.dates';\n  console.log('\u2705 Found dates in WRAPPED .json property');\n}\n// 3. Propriedade 'body' (algumas vers\u00f5es n8n)\nelse if (httpResponse.body) {\n  console.log('Found .body property, parsing...');\n  const bodyData = typeof httpResponse.body === 'string' ? JSON.parse(httpResponse.body) : httpResponse.body;\n  if (bodyData.dates) {\n    datesData = bodyData.dates;\n    accessPath = 'httpResponse.body.dates';\n    console.log('\u2705 Found dates in .body property');\n  }\n}\n// 4. Propriedade 'data' (outro padr\u00e3o comum)\nelse if (httpResponse.data && httpResponse.data.dates) {\n  datesData = httpResponse.data.dates;\n  accessPath = 'httpResponse.data.dates';\n  console.log('\u2705 Found dates in .data property');\n}\n// 5. Response direta \u00e9 o JSON do WF06 (raro mas poss\u00edvel)\nelse if (httpResponse.success && httpResponse.dates) {\n  datesData = httpResponse.dates;\n  accessPath = 'httpResponse.dates (WF06 direct)';\n  console.log('\u2705 Found dates in WF06 direct format');\n}\n\n// Se n\u00e3o encontrou, logar estrutura completa e falhar\nif (!datesData) {\n  console.error('\u274c ERROR: Could not find dates property in ANY expected location');\n  console.error('Response structure:', JSON.stringify(httpResponse, null, 2));\n  console.error('Checked paths: root.dates, json.dates, body.dates, data.dates, direct WF06');\n  throw new Error('Invalid WF06 response format - missing dates property in all locations');\n}\n\n// Validar estrutura\nif (!Array.isArray(datesData)) {\n  console.error('ERROR: dates is not an array');\n  console.error('Received type:', typeof datesData);\n  console.error('Received value:', datesData);\n  throw new Error('WF06 returned dates in invalid format (not array)');\n}\n\nif (datesData.length === 0) {\n  console.error('ERROR: dates array is empty');\n  throw new Error('WF06 returned empty dates array');\n}\n\nconsole.log(`\u2705 SUCCESS: Received ${datesData.length} dates with availability`);\nconsole.log(`Access path used: ${accessPath}`);\n\n// V88 FIX: Preservar TODOS os dados de entrada + adicionar wf06_next_dates\n// Isso garante que phone_number, conversation_id, etc. sejam passados para o Merge\nconst preparedData = {\n  ...inputData,  // V88: Preserva phone_number, conversation_id, message, etc.\n  wf06_next_dates: datesData  // Adiciona resposta do WF06\n};\n\nconsole.log('\u2705 V88 Data preservation:');\nconsole.log('  - phone_number:', preparedData.phone_number);\nconsole.log('  - conversation_id:', preparedData.conversation_id);\nconsole.log('  - wf06_next_dates count:', preparedData.wf06_next_dates.length);\n\nreturn preparedData;\n"
      },
      "id": "bb747f29-4468-42af-9437-871085182858",
      "name": "Prepare WF06 Next Dates Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        100
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Merge WF06 Next Dates with User Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  phone_number,\n  lead_name,\n  contact_name,\n  contact_phone,\n  email,\n  city,\n  service_type,\n  service_selected,\n  current_state,\n  collected_data::text as collected_data_text,\n  created_at,\n  updated_at\nFROM conversations\nWHERE phone_number = '{{ $node[\"Prepare WF06 Next Dates Data\"].json.phone_number }}'\nLIMIT 1;",
        "additionalFields": {}
      },
      "id": "2be92623-6964-4a50-850f-2ff430d1d399",
      "name": "Get Conversation Details (Refresh)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1140,
        200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "c487710a-8437-4d90-8cb7-4a60d60f3990",
      "name": "Merge WF06 Next Dates with User Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1050,
        200
      ],
      "connections": {
        "main": [
          [
            {
              "node": "State Machine Logic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare WF06 Available Slots Response V88\n// FIX: Preserva dados do usu\u00e1rio (phone_number, conversation_id, etc.) do HTTP Request input\n// ANTES V87: Retornava APENAS {wf06_available_slots} \u2192 phone_number perdido no Merge\n// DEPOIS V88: Retorna input completo + wf06_available_slots \u2192 phone_number preservado\n\nconst httpResponse = $input.first().json;\nconst inputData = $input.first().json; // V88: Preservar TODOS os dados de entrada\n\nconsole.log('=== PREPARE WF06 AVAILABLE SLOTS V88 (DATA PRESERVATION FIX) ===');\nconsole.log('Full inputData keys:', Object.keys(inputData));\nconsole.log('Has phone_number:', !!inputData.phone_number);\nconsole.log('Has conversation_id:', !!inputData.conversation_id);\n\n// Validar resposta existe\nif (!httpResponse) {\n  console.error('ERROR: No httpResponse from HTTP Request node');\n  throw new Error('HTTP Request returned empty response');\n}\n\n// Extrair 'slots' array - TODAS as possibilidades de acesso\nlet slotsData = null;\nlet accessPath = '';\n\n// 1. Acesso direto ao root (formato WF06 V2.1)\nif (httpResponse.slots && Array.isArray(httpResponse.slots)) {\n  slotsData = httpResponse.slots;\n  accessPath = 'httpResponse.slots';\n  console.log('\u2705 Found slots at ROOT level');\n}\n// 2. Propriedade 'json' wrapeada\nelse if (httpResponse.json && httpResponse.json.slots) {\n  slotsData = httpResponse.json.slots;\n  accessPath = 'httpResponse.json.slots';\n  console.log('\u2705 Found slots in WRAPPED .json property');\n}\n// 3. Propriedade 'body'\nelse if (httpResponse.body) {\n  console.log('Found .body property, parsing...');\n  const bodyData = typeof httpResponse.body === 'string' ? JSON.parse(httpResponse.body) : httpResponse.body;\n  if (bodyData.slots) {\n    slotsData = bodyData.slots;\n    accessPath = 'httpResponse.body.slots';\n    console.log('\u2705 Found slots in .body property');\n  }\n}\n// 4. Propriedade 'data'\nelse if (httpResponse.data && httpResponse.data.slots) {\n  slotsData = httpResponse.data.slots;\n  accessPath = 'httpResponse.data.slots';\n  console.log('\u2705 Found slots in .data property');\n}\n// 5. Response direta WF06 format\nelse if (httpResponse.success && httpResponse.slots) {\n  slotsData = httpResponse.slots;\n  accessPath = 'httpResponse.slots (WF06 direct)';\n  console.log('\u2705 Found slots in WF06 direct format');\n}\n// 6. Fallback: WF06 pode retornar 'available_slots' para este endpoint\nelse if (httpResponse.available_slots && Array.isArray(httpResponse.available_slots)) {\n  slotsData = httpResponse.available_slots;\n  accessPath = 'httpResponse.available_slots';\n  console.log('\u26a0\ufe0f Found available_slots (fallback format)');\n}\n\n// Se n\u00e3o encontrou, logar estrutura completa e falhar\nif (!slotsData) {\n  console.error('\u274c ERROR: Could not find slots/available_slots property in ANY expected location');\n  console.error('Response structure:', JSON.stringify(httpResponse, null, 2));\n  console.error('Checked paths: root.slots, json.slots, body.slots, data.slots, available_slots');\n  throw new Error('Invalid WF06 response format - missing slots property in all locations');\n}\n\n// Validar estrutura\nif (!Array.isArray(slotsData)) {\n  console.error('ERROR: slots is not an array');\n  console.error('Received type:', typeof slotsData);\n  console.error('Received value:', slotsData);\n  throw new Error('WF06 returned slots in invalid format (not array)');\n}\n\nif (slotsData.length === 0) {\n  console.error('ERROR: slots array is empty');\n  throw new Error('WF06 returned empty slots array');\n}\n\nconsole.log(`\u2705 SUCCESS: Received ${slotsData.length} available slots`);\nconsole.log(`Access path used: ${accessPath}`);\n\n// V88 FIX: Preservar TODOS os dados de entrada + adicionar wf06_available_slots\nconst preparedData = {\n  ...inputData,  // V88: Preserva phone_number, conversation_id, message, etc.\n  wf06_available_slots: slotsData  // Adiciona resposta do WF06\n};\n\nconsole.log('\u2705 V88 Data preservation:');\nconsole.log('  - phone_number:', preparedData.phone_number);\nconsole.log('  - conversation_id:', preparedData.conversation_id);\nconsole.log('  - wf06_available_slots count:', preparedData.wf06_available_slots.length);\n\nreturn preparedData;\n"
      },
      "id": "64f4d3df-2fab-471e-bf99-e464cf3812ab",
      "name": "Prepare WF06 Available Slots Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        400
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Merge WF06 Available Slots with User Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "mode": "append",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "id": "5caf6627-4129-4759-b7e0-308943a75ee7",
      "name": "Merge WF06 Available Slots with User Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1050,
        500
      ],
      "connections": {
        "main": [
          [
            {
              "node": "State Machine Logic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// DEBUG WF06 Next Dates Response V85\n// Captura e loga TODA a resposta do HTTP Request\n\nconst httpResponse = $input.first().json;\n\nconsole.log('=== DEBUG WF06 NEXT DATES RESPONSE ===');\nconsole.log('Full HTTP Response:', JSON.stringify(httpResponse, null, 2));\nconsole.log('Response type:', typeof httpResponse);\nconsole.log('Response is array:', Array.isArray(httpResponse));\nconsole.log('Response keys:', Object.keys(httpResponse));\n\n// Verificar se tem property 'json' wrapeada\nif (httpResponse.json) {\n  console.log('Found wrapped .json property');\n  console.log('Wrapped json:', JSON.stringify(httpResponse.json, null, 2));\n  console.log('Wrapped json keys:', Object.keys(httpResponse.json));\n}\n\n// Verificar se tem property 'body'\nif (httpResponse.body) {\n  console.log('Found .body property');\n  console.log('Body type:', typeof httpResponse.body);\n  console.log('Body:', httpResponse.body);\n}\n\n// Verificar se tem property 'data'\nif (httpResponse.data) {\n  console.log('Found .data property');\n  console.log('Data:', JSON.stringify(httpResponse.data, null, 2));\n}\n\n// Verificar propriedades dates e dates_with_availability\nif (httpResponse.dates) {\n  console.log('\u2705 Found .dates property (EXPECTED FORMAT)');\n  console.log('Dates count:', httpResponse.dates.length);\n}\n\nif (httpResponse.dates_with_availability) {\n  console.log('\u26a0\ufe0f Found .dates_with_availability property (OLD FORMAT)');\n}\n\n// Passar resposta original adiante para Prepare node\nreturn httpResponse;\n"
      },
      "id": "3dcf9877-bcce-4d80-8c45-21e16ed9d8cd",
      "name": "Debug WF06 Next Dates Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        204
      ]
    },
    {
      "parameters": {
        "jsCode": "// DEBUG WF06 Available Slots Response V85\n// Captura e loga TODA a resposta do HTTP Request\n\nconst httpResponse = $input.first().json;\n\nconsole.log('=== DEBUG WF06 AVAILABLE SLOTS RESPONSE ===');\nconsole.log('Full HTTP Response:', JSON.stringify(httpResponse, null, 2));\nconsole.log('Response type:', typeof httpResponse);\nconsole.log('Response is array:', Array.isArray(httpResponse));\nconsole.log('Response keys:', Object.keys(httpResponse));\n\n// Verificar se tem property 'json' wrapeada\nif (httpResponse.json) {\n  console.log('Found wrapped .json property');\n  console.log('Wrapped json:', JSON.stringify(httpResponse.json, null, 2));\n  console.log('Wrapped json keys:', Object.keys(httpResponse.json));\n}\n\n// Verificar se tem property 'body'\nif (httpResponse.body) {\n  console.log('Found .body property');\n  console.log('Body type:', typeof httpResponse.body);\n  console.log('Body:', httpResponse.body);\n}\n\n// Verificar propriedades slots e available_slots\nif (httpResponse.slots) {\n  console.log('\u2705 Found .slots property (EXPECTED FORMAT)');\n  console.log('Slots count:', httpResponse.slots.length);\n}\n\nif (httpResponse.available_slots) {\n  console.log('\u26a0\ufe0f Found .available_slots property (ALTERNATE FORMAT)');\n}\n\n// Passar resposta original adiante para Prepare node\nreturn httpResponse;\n"
      },
      "id": "f0c36d15-c9db-4cdf-a0b1-e1634d68d4e1",
      "name": "Debug WF06 Available Slots Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        424
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Receive Message": {
      "main": [
        [
          {
            "node": "Prepare Phone Formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Count": {
      "main": [
        [
          {
            "node": "Check If New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If New User": {
      "main": [
        [
          {
            "node": "Merge Queries Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Queries Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Details": {
      "main": [
        [
          {
            "node": "Merge Append Existing User V57",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge WF06 Available Slots with User Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create New Conversation": {
      "main": [
        [
          {
            "node": "Merge Append New User V57",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "State Machine Logic": {
      "main": [
        [
          {
            "node": "Build Update Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Check If Handoff",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check If Scheduling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Scheduling": {
      "main": [
        [
          {
            "node": "Prepare Appointment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Handoff": {
      "main": [
        [
          {
            "node": "Trigger Human Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Appointment Scheduler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Human Handoff": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Data": {
      "main": [
        [
          {
            "node": "Prepare Phone Formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Phone Formats": {
      "main": [
        [
          {
            "node": "Build SQL Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL Queries": {
      "main": [
        [
          {
            "node": "Get Conversation Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Queries Data": {
      "main": [
        [
          {
            "node": "Create New Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Append New User V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Queries Data1": {
      "main": [
        [
          {
            "node": "Get Conversation Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Append Existing User V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Queries": {
      "main": [
        [
          {
            "node": "Check If WF06 Next Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Append New User V57": {
      "main": [
        [
          {
            "node": "Process New User Data V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Append Existing User V57": {
      "main": [
        [
          {
            "node": "Process Existing User Data V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process New User Data V57": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Existing User Data V57": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment in Database": {
      "main": [
        [
          {
            "node": "Trigger Appointment Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Appointment Data": {
      "main": [
        [
          {
            "node": "Create Appointment in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If WF06 Next Dates": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Next Dates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If WF06 Available Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If WF06 Available Slots": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Available Slots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Conversation State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Inbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Outbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Lead Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Next Dates": {
      "main": [
        [
          {
            "node": "Debug WF06 Next Dates Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Available Slots": {
      "main": [
        [
          {
            "node": "Debug WF06 Available Slots Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WF06 Next Dates Data": {
      "main": [
        [
          {
            "node": "Merge WF06 Next Dates with User Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Conversation Details (Refresh)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge WF06 Next Dates with User Data": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WF06 Available Slots Data": {
      "main": [
        [
          {
            "node": "Merge WF06 Available Slots with User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge WF06 Available Slots with User Data": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug WF06 Next Dates Response": {
      "main": [
        [
          {
            "node": "Prepare WF06 Next Dates Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug WF06 Available Slots Response": {
      "main": [
        [
          {
            "node": "Prepare WF06 Available Slots Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Details (Refresh)": {
      "main": [
        [
          {
            "node": "Merge WF06 Next Dates with User Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "6b2ad90b-d1c6-43c8-a1b8-ab569e9597aa",
    "version": "V90",
    "description": "State Machine V90 - Clean refactored code + multi-source state initialization + V89 WF06 data access",
    "changes": [
      "V90: Multi-source state initialization (input.current_stage || input.next_stage || currentData.current_stage)",
      "V90: Clean refactored code structure with constants",
      "V90: Enhanced logging throughout all states",
      "V90: Maintained V89 multi-location WF06 data access",
      "V90: Removed legacy code and redundant comments"
    ]
  },
  "id": "042109ea88e947d192e1",
  "tags": [
    "V87",
    "WF06-Integration",
    "Response-Format-Fix"
  ]
}