e2-solucoes-bot/n8n/workflows/historical/wf02/wk02_v102_1.json
{
  "name": "wk02_v102_1",
  "nodes": [
    {
      "parameters": {},
      "id": "36318480-72ce-48b6-afd1-33609451a222",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2288,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validação de entrada do Workflow 01\nconst inputData = $input.first().json;\n\n// Validação crítica do phone_number\nif (!inputData.phone_number || inputData.phone_number === 'undefined') {\n    throw new Error('Phone number is required but was not received from Workflow 01');\n}\n\n// Limpar e validar formato do phone_number\nlet phone_number = String(inputData.phone_number).replace(/[^0-9]/g, '');\n\n// Remover @s.whatsapp.net se existir\nif (phone_number.includes('@')) {\n  phone_number = phone_number.split('@')[0];\n}\n\n// IMPORTANTE: Adicionar código 55 se não tiver (MOVIDO DO PREPARE UPDATE DATA)\nif (phone_number && !phone_number.startsWith('55')) {\n  // Se tem 10 ou 11 dígitos (formato brasileiro), adiciona 55\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n    console.log('Adicionado código 55:', phone_number);\n  }\n  // Se tem 12 ou 13 dígitos começando com outro código, mantém\n  else if (phone_number.length >= 12) {\n    console.log('Número já tem código de país:', phone_number);\n  }\n  // Qualquer outro caso, tenta adicionar 55\n  else {\n    phone_number = '55' + phone_number;\n    console.log('Formato desconhecido, adicionado 55:', phone_number);\n  }\n}\n\n// Validação de formato brasileiro (DDD + número) - AGORA COM 55\nif (phone_number.length < 12 || phone_number.length > 13) {\n    console.warn(`Phone number format unusual: ${phone_number} (expected 12-13 digits with country code)`);\n}\n\nconsole.log('Validated input:', {\n    phone_number: phone_number,  // Agora já tem 55\n    whatsapp_name: inputData.whatsapp_name,\n    message_type: inputData.message_type\n});\n\nreturn {\n    phone_number: phone_number,  // COM código 55\n    whatsapp_name: inputData.whatsapp_name || '',\n    message: inputData.message || '',\n    message_type: inputData.message_type || 'text',\n    media_url: inputData.media_url || null,\n    message_id: inputData.message_id || '',\n    timestamp: inputData.timestamp || new Date().toISOString()\n};"
      },
      "id": "de86eda1-b64e-45bf-939f-b40b1c034f6e",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2688,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare both phone formats for SQL queries\n// This node receives data directly from WEBHOOK (not from Validate Input Data)\nconst inputData = $input.first().json;\n\n// Get phone number - could come from webhook or validate input\nlet phone_with_code = String(inputData.phone_number || '');\n\n// Clean the phone number\nphone_with_code = phone_with_code.replace(/[^0-9]/g, '');\n\n// Add country code if missing\nif (phone_with_code && !phone_with_code.startsWith('55')) {\n    if (phone_with_code.length === 10 || phone_with_code.length === 11) {\n        phone_with_code = '55' + phone_with_code;\n        console.log('Added country code 55:', phone_with_code);\n    }\n}\n\n// Create version without country code for compatibility\nlet phone_without_code = phone_with_code;\nif (phone_with_code.startsWith('55')) {\n    phone_without_code = phone_with_code.substring(2);\n}\n\nconsole.log('=== PHONE FORMAT PREPARATION ===');\nconsole.log('With code (55):', phone_with_code);\nconsole.log('Without code:', phone_without_code);\n\n// Return both formats and pass through all other data\nreturn {\n    ...inputData, // Pass through all original data\n    phone_with_code: phone_with_code,      // e.g., \"556181755748\"\n    phone_without_code: phone_without_code, // e.g., \"6181755748\"\n    // Keep original for compatibility\n    phone_number: phone_with_code,\n\n    // CRITICAL V26 FIX: Ensure ALL possible message field names are present\n    // This handles different webhook formats from Evolution API\n    message: inputData.message || inputData.body || inputData.text || inputData.content || '',\n    content: inputData.content || inputData.message || inputData.body || inputData.text || '',\n    body: inputData.body || inputData.message || inputData.text || inputData.content || '',\n    text: inputData.text || inputData.message || inputData.body || inputData.content || '',\n\n    // Also ensure whatsapp_name is present\n    whatsapp_name: inputData.whatsapp_name || inputData.pushName || inputData.profileName || ''\n};"
      },
      "id": "272f908f-2fbf-446f-9fe5-13fcaff5e0b5",
      "name": "Prepare Phone Formats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        432
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-ai-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "6cc8856d-2402-4e43-b9a6-eeab00be506a",
      "name": "Webhook - Receive Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2288,
        736
      ],
      "webhookId": "ai-agent-conversation-v1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query_count}}",
        "additionalFields": {}
      },
      "id": "2a4f6b18-cc1e-4f43-9269-454fcaf7a2a5",
      "name": "Get Conversation Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -2080,
        736
      ],
      "credentials": {
        "postgres": {
          "id": "vsRWyRE8vIjBjSwX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query_details}}",
        "additionalFields": {}
      },
      "id": "cc9301e0-2b2e-4ac0-bfde-2aa640d663da",
      "name": "Get Conversation Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -1472,
        976
      ],
      "alwaysOutputData": true,
      "connections": {
        "main": [
          [
            {
              "node": "Merge WF06 Next Dates with User Data",
              "type": "main",
              "index": 1
            },
            {
              "node": "Merge WF06 Available Slots with User Data",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "credentials": {
        "postgres": {
          "id": "vsRWyRE8vIjBjSwX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "0"
            }
          ]
        }
      },
      "id": "595affbf-b70b-4edd-bb73-7a6928fed061",
      "name": "Check If New User",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1888,
        736
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query_upsert}}",
        "options": {}
      },
      "id": "e029b847-9408-47d5-9071-578289413bbe",
      "name": "Create New Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1760,
        -320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vsRWyRE8vIjBjSwX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// ===================================================\n// V110 STATE MACHINE - INTERMEDIATE STATE MESSAGE HANDLER\n// ===================================================\n// CRITICAL BUG FIX: V109 execution #9045 empty response_text\n//\n// ROOT CAUSE (Execution #9045):\n// - User typed \"1\" while in intermediate state \"trigger_wf06_next_dates\"\n// - WF06 HTTP Request never executed (routing problem or condition failure)\n// - V109 conditional logic has a GAP:\n//   * Line 251: if (isIntermediateState && !message && !hasWF06Response) → FALSE (message exists!)\n//   * Line 263: else if (!wf06HandledByAutoCorrection && !isIntermediateState) → FALSE (isIntermediateState = true!)\n// - Neither condition executed → Switch never called → responseText remained empty ('')\n// - Output sent with empty response_text → User received blank message\n//\n// V110 SOLUTION:\n// 1. Add handler for intermediate state + message scenario (line 261)\n//    - Catches unexpected case where user sends message during intermediate state\n//    - Provides informative error message instead of empty response\n//    - Resets to greeting for clean restart\n// 2. Add response_text validation before output construction (line 920)\n//    - Safety net to catch any empty response_text scenarios\n//    - Provides emergency fallback message\n//    - Comprehensive logging for debugging\n//\n// V110 CHANGES:\n// 1. Lines 261-275: Add intermediate state + message handler\n// 2. Lines 920-940: Add response_text validation with emergency fallback\n// 3. Version marker: V109 → V110\n// 4. All log prefixes: V109 → V110\n//\n// WHY THIS HAPPENED:\n// - Deeper issue: WF06 HTTP Request didn't execute in execution #9045\n// - Investigation required: V105 routing deployment, Check If WF06 condition\n// - V110 provides PROTECTION against this failure mode\n//\n// Date: 2026-04-28\n// Version: V110 Intermediate State Message Handler\n// Based on: V109 Flag Initialization Fix\n// ===================================================\n\n// Helper function for phone formatting\nfunction formatPhoneDisplay(phone) {\n  if (!phone) return '';\n  const cleaned = phone.replace(/\\D/g, '');\n  if (cleaned.length === 11) {\n    return `(${cleaned.substring(0,2)}) ${cleaned.substring(2,7)}-${cleaned.substring(7,11)}`;\n  } else if (cleaned.length === 10) {\n    return `(${cleaned.substring(0,2)}) ${cleaned.substring(2,6)}-${cleaned.substring(6,10)}`;\n  }\n  return phone;\n}\n\n// Helper function for service names\nfunction getServiceName(serviceCode) {\n  const serviceNames = {\n    '1': 'Energia Solar',\n    '2': 'Subestações',\n    '3': 'Projetos Elétricos',\n    '4': 'BESS (Armazenamento de Energia)',\n    '5': 'Análise e Laudos'\n  };\n  return serviceNames[serviceCode] || 'serviço selecionado';\n}\n\n// Main execution\nconst input = $input.all()[0].json;\nconst message = (input.message || '').toString().trim().toLowerCase();\n\n// ===================================================\n// V99 CRITICAL FIX: COMPREHENSIVE DATA PRESERVATION\n// ===================================================\n// Merge ALL data sources to prevent loss\nconst currentData = {\n  // Base: Start with currentData from previous execution\n  ...(input.currentData || {}),\n\n  // Merge: Add collected_data from previous state\n  ...(input.collected_data || {}),\n\n  // Preserve: Individual fields from input root (highest priority)\n  lead_name: input.lead_name || input.currentData?.lead_name || input.collected_data?.lead_name,\n  email: input.email || input.currentData?.email || input.collected_data?.email,\n  phone_number: input.phone_number || input.currentData?.phone_number || input.collected_data?.phone_number,\n  contact_phone: input.contact_phone || input.currentData?.contact_phone || input.collected_data?.contact_phone,\n  service_type: input.service_type || input.currentData?.service_type || input.collected_data?.service_type,\n  service_selected: input.service_selected || input.currentData?.service_selected || input.collected_data?.service_selected,\n  city: input.city || input.currentData?.city || input.collected_data?.city,\n\n  // Preserve scheduling data\n  scheduled_date: input.scheduled_date || input.currentData?.scheduled_date || input.collected_data?.scheduled_date,\n  scheduled_date_display: input.scheduled_date_display || input.currentData?.scheduled_date_display || input.collected_data?.scheduled_date_display,\n  scheduled_time: input.scheduled_time || input.currentData?.scheduled_time || input.collected_data?.scheduled_time,\n  scheduled_time_display: input.scheduled_time_display || input.currentData?.scheduled_time_display || input.collected_data?.scheduled_time_display,\n  scheduled_end_time: input.scheduled_end_time || input.currentData?.scheduled_end_time || input.collected_data?.scheduled_end_time,\n\n  // Preserve suggestions\n  date_suggestions: input.date_suggestions || input.currentData?.date_suggestions || input.collected_data?.date_suggestions,\n  slot_suggestions: input.slot_suggestions || input.currentData?.slot_suggestions || input.collected_data?.slot_suggestions,\n\n  // V108: CRITICAL - Preserve selected_date from previous execution\n  selected_date: input.selected_date || input.currentData?.selected_date || input.collected_data?.selected_date\n};\n\n// ===================================================\n// V108 CRITICAL FIX: WF06 RESPONSE PROCESSING\n// ===================================================\n// Process WF06 awaiting flags WITH user message (not before state resolution!)\nlet forcedStage = null;\nlet processWF06Selection = false;\n\n// Check if user is responding to WF06 next dates\nif (currentData.awaiting_wf06_next_dates === true && message) {\n  console.log('🔄 V110: User responding to WF06 dates WITH message:', message);\n  forcedStage = 'process_date_selection';\n  processWF06Selection = true;  // Flag to process date selection immediately\n\n  // DO NOT clear flag yet - will be cleared after successful processing\n}\n// Check if user is responding to WF06 available slots\nelse if (currentData.awaiting_wf06_available_slots === true && message) {\n  console.log('🔄 V110: User responding to WF06 slots WITH message:', message);\n  forcedStage = 'process_slot_selection';\n  processWF06Selection = true;  // Flag to process slot selection immediately\n\n  // DO NOT clear flag yet - will be cleared after successful processing\n}\n\n// V100: State resolution with preservation (V108: use forcedStage if set)\nconst currentStage = forcedStage ||\n                     input.current_stage ||\n                     input.next_stage ||\n                     input.currentData?.current_stage ||\n                     input.currentData?.next_stage ||\n                     'greeting';\n\n// V100: Identify intermediate states that trigger WF06\nconst intermediateStates = [\n  'trigger_wf06_next_dates',\n  'trigger_wf06_available_slots'\n];\n\nconst isIntermediateState = intermediateStates.includes(currentStage);\n\n// V110: Enhanced logging for debugging\nconsole.log('=== V110 STATE MACHINE START (INTERMEDIATE STATE MESSAGE HANDLER) ===');\nconsole.log('V110: conversation_id:', input.conversation_id || input.id || 'NULL');\nconsole.log('V110: Current stage:', currentStage);\nconsole.log('V110: Is intermediate state:', isIntermediateState);\nconsole.log('V110: Forced stage from awaiting flag:', forcedStage);\nconsole.log('V110: Process WF06 selection immediately:', processWF06Selection);\nconsole.log('V110: User message:', message);\nconsole.log('V110: Merged currentData keys:', Object.keys(currentData));\nconsole.log('V110: Preserved selected_date:', currentData.selected_date);\nconsole.log('V110: Preserved scheduled_date:', currentData.scheduled_date);\nconsole.log('V110: Input keys:', Object.keys(input));\n\n// V100: Check for WF06 responses\nconst hasWF06NextDates = !!(input.wf06_next_dates);\nconst hasWF06Slots = !!(input.wf06_available_slots);\nconst hasWF06Response = hasWF06NextDates || hasWF06Slots;\n\nconsole.log('V110: Has WF06 response:', hasWF06Response);\nif (hasWF06NextDates) console.log('V110: Has next_dates data');\nif (hasWF06Slots) console.log('V110: Has available_slots data');\n\n// Service mappings\nconst serviceMapping = {\n  '1': 'energia_solar',\n  '2': 'subestacao',\n  '3': 'projeto_eletrico',\n  '4': 'armazenamento_energia',\n  '5': 'analise_laudo'\n};\n\nconst serviceDisplay = {\n  'energia_solar': { emoji: '☀️', name: 'Energia Solar' },\n  'subestacao': { emoji: '⚡', name: 'Subestações' },\n  'projeto_eletrico': { emoji: '📐', name: 'Projetos Elétricos' },\n  'armazenamento_energia': { emoji: '🔋', name: 'BESS (Armazenamento de Energia)' },\n  'analise_laudo': { emoji: '📊', name: 'Análise e Laudos' }\n};\n\n// Initialize response variables\nlet responseText = '';\nlet nextStage = currentStage;\nlet updateData = {};\n\n// V104: Track if WF06 was handled by auto-correction\nlet wf06HandledByAutoCorrection = false;\n\n// V104: Auto-correct state if we have WF06 response but wrong state\nif (hasWF06Response) {\n  if (hasWF06NextDates && currentStage !== 'show_available_dates') {\n    console.log('V104: AUTO-CORRECTING state to show_available_dates (has WF06 next_dates)');\n    nextStage = 'show_available_dates';\n    // Process immediately without re-entering switch\n    const nextDatesResponse = input.wf06_next_dates;\n\n    if (nextDatesResponse.success && nextDatesResponse.dates && nextDatesResponse.dates.length > 0) {\n      let dateOptions = '';\n      nextDatesResponse.dates.forEach((dateObj, index) => {\n        const number = index + 1;\n        const qualityEmoji = dateObj.quality === 'high' ? '✨' :\n                            dateObj.quality === 'medium' ? '📅' : '⚠️';\n        dateOptions += `${number}️⃣ *${dateObj.display}*\\n   🕐 ${dateObj.total_slots} horários livres ${qualityEmoji}\\n\\n`;\n      });\n\n      responseText = `📅 *Agendar Visita Técnica - ${getServiceName(currentData.service_selected || '1')}*\\n\\n` +\n                    `📆 *Próximas datas com horários disponíveis:*\\n\\n` +\n                    dateOptions +\n                    `💡 *Escolha uma opção (1-3)*\\n` +\n                    `_Ou digite uma data específica em DD/MM/AAAA_\\n\\n` +\n                    `⏱️ *Duração*: 2 horas\\n` +\n                    `📍 *Cidade*: ${currentData.city}`;\n\n      updateData.date_suggestions = nextDatesResponse.dates;\n      updateData.awaiting_wf06_next_dates = true;  // V108: Set flag for next user input\n      nextStage = 'process_date_selection';\n\n      // V110 DEBUG: Verify flag was actually set\n      console.log('V110: AUTO-CORRECTION - Set flags:', {\n        date_suggestions_count: updateData.date_suggestions?.length || 0,\n        awaiting_wf06_next_dates: updateData.awaiting_wf06_next_dates,\n        nextStage: nextStage\n      });\n\n      // V104: Mark WF06 as handled by auto-correction\n      wf06HandledByAutoCorrection = true;\n    }\n  } else if (hasWF06Slots && currentStage !== 'show_available_slots') {\n    console.log('V104: AUTO-CORRECTING state to show_available_slots (has WF06 available_slots)');\n    nextStage = 'show_available_slots';\n    // Process immediately\n    const slotsResponse = input.wf06_available_slots;\n\n    if (slotsResponse.success && slotsResponse.available_slots && slotsResponse.available_slots.length > 0) {\n      let slotOptions = '';\n      slotsResponse.available_slots.forEach((slot, index) => {\n        const number = index + 1;\n        slotOptions += `${number}️⃣ *${slot.formatted}* ✅\\n`;\n      });\n\n      responseText = `🕐 *Horários Disponíveis - ${currentData.scheduled_date_display}*\\n\\n` +\n                    slotOptions + `\\n` +\n                    `💡 *Escolha um horário (1-${slotsResponse.available_slots.length})*\\n` +\n                    `_Ou digite 0 para voltar e escolher outra data_`;\n\n      updateData.slot_suggestions = slotsResponse.available_slots;\n      updateData.awaiting_wf06_available_slots = true;  // V108: Set flag for next user input\n      nextStage = 'process_slot_selection';\n\n      // V104: Mark WF06 as handled by auto-correction\n      wf06HandledByAutoCorrection = true;\n    }\n  }\n}\n\n// V104: Skip switch for intermediate states without message and no WF06 response\nif (isIntermediateState && !message && !hasWF06Response) {\n  console.log('V104: Intermediate state without data - maintaining transition');\n\n  if (currentStage === 'trigger_wf06_next_dates') {\n    nextStage = 'show_available_dates';\n    responseText = ''; // Empty is OK for intermediate\n  } else if (currentStage === 'trigger_wf06_available_slots') {\n    nextStage = 'show_available_slots';\n    responseText = '';\n  }\n}\n// V110 FIX 1: Handle intermediate states WITH user message (unexpected situation)\nelse if (isIntermediateState && message && !hasWF06Response) {\n  console.error('V110: ❌ UNEXPECTED - User sent message while in intermediate state!');\n  console.error('V110: currentStage:', currentStage);\n  console.error('V110: message:', message);\n  console.error('V110: This means WF06 HTTP Request never executed!');\n\n  // Inform user about the problem and reset to greeting\n  responseText = `⚠️ *Ops! Algo deu errado...*\\n\\n` +\n                `Parece que houve um problema ao buscar as informações.\\n\\n` +\n                `Por favor, digite *reiniciar* para começar novamente.\\n\\n` +\n                `📞 *Ou ligue:* (62) 3092-2900`;\n  nextStage = 'greeting';\n\n  // V110: Log full context for debugging\n  console.error('V110: Full input keys:', Object.keys(input));\n  console.error('V110: state_machine_state from DB:', input.state_machine_state);\n  console.error('V110: awaiting_wf06_next_dates:', currentData.awaiting_wf06_next_dates);\n  console.error('V110: hasWF06NextDates:', hasWF06NextDates);\n  console.error('V110: hasWF06Slots:', hasWF06Slots);\n}\n// V104: Only process switch if NOT already handled by WF06 auto-correction\nelse if (!wf06HandledByAutoCorrection && !isIntermediateState) {\n  console.log('V104: Entering switch - WF06 not handled by auto-correction');\n\n// ===================================================\n// V104 STATE MACHINE LOGIC - ALL STATES IMPLEMENTED\n// ===================================================\n\nswitch (currentStage) {\n\n  // ===== STATE 1: GREETING - Show menu =====\n  case 'greeting':\n  case 'menu':\n    console.log('V101: Processing GREETING state');\n    responseText = `🤖 *Olá! Bem-vindo à E2 Soluções!*\n\nSomos especialistas em engenharia elétrica com 15+ anos de experiência.\n\n*Qual serviço você precisa?*\n\n☀️ *1 - Energia Solar*\n   Projetos fotovoltaicos residenciais e comerciais\n\n⚡ *2 - Subestação*\n   Reforma, manutenção e construção\n\n📐 *3 - Projetos Elétricos*\n   Adequações e laudos técnicos\n\n🔋 *4 - BESS (Armazenamento)*\n   Sistemas de armazenamento de energia\n\n📊 *5 - Análise e Laudos*\n   Qualidade de energia e eficiência\n\n_Digite o número do serviço (1-5):_`;\n    nextStage = 'service_selection';\n    break;\n\n  // ===== STATE 2: SERVICE SELECTION =====\n  case 'service_selection':\n  case 'identificando_servico':\n    console.log('V101: Processing SERVICE_SELECTION state');\n\n    if (/^[1-5]$/.test(message)) {\n      console.log('V101: Valid service number:', message);\n      updateData.service_selected = message;\n      updateData.service_type = serviceMapping[message];\n      console.log('V101: Service mapped:', message, '→', updateData.service_type);\n\n      responseText = `✅ *Perfeito!*\n\n👤 *Qual é o seu nome completo?*\n\n💡 _Exemplo: Maria Silva Santos_\n_Usaremos para personalizar seu atendimento_`;\n      nextStage = 'collect_name';\n    } else {\n      console.log('V101: Invalid service selection');\n      responseText = `❌ *Opção inválida*\n\nPor favor, escolha uma das opções disponíveis:\n\n1️⃣ - Energia Solar\n2️⃣ - Subestações\n3️⃣ - Projetos Elétricos\n4️⃣ - BESS\n5️⃣ - Análise de Consumo\n\n_Digite apenas o número (1 a 5)_`;\n      nextStage = 'service_selection';\n    }\n    break;\n\n  // ===== STATE 3: COLLECT NAME =====\n  case 'collect_name':\n  case 'coletando_nome':\n    console.log('V101: Processing COLLECT_NAME state');\n\n    const trimmedName = message.trim();\n\n    if (trimmedName.length >= 2 && !/^[0-9]+$/.test(trimmedName)) {\n      console.log('V101: Valid name received:', trimmedName);\n      updateData.lead_name = trimmedName;\n\n      const whatsappPhone = input.phone_number || input.phone_with_code || '';\n      console.log('V101: WhatsApp phone from input:', whatsappPhone);\n\n      responseText = `📱 *Ótimo, ${trimmedName}!*\n\nVi que você está me enviando mensagens pelo número:\n*${formatPhoneDisplay(whatsappPhone)}*\n\nEste é o melhor número para contato?\n\n1️⃣ *Sim, pode usar este*\n2️⃣ *Não, vou informar outro*\n\n💡 _Digite 1 ou 2_`;\n\n      nextStage = 'collect_phone_whatsapp_confirmation';\n      console.log('V101: Skip collect_phone, go directly to WhatsApp confirmation');\n\n    } else {\n      console.log('V101: Invalid name format');\n      responseText = `❌ *Nome inválido*\n\nPor favor, informe seu nome completo (mínimo 2 letras).\n\n_Não use apenas números ou caracteres especiais._`;\n      nextStage = 'collect_name';\n    }\n    break;\n\n  // ===== STATE 4: PHONE WHATSAPP CONFIRMATION =====\n  case 'collect_phone_whatsapp_confirmation':\n    console.log('V101: Processing PHONE_WHATSAPP_CONFIRMATION state');\n\n    if (message === '1') {\n      console.log('V101: WhatsApp number confirmed');\n\n      const confirmedPhone = input.phone_number || input.phone_with_code || '';\n      updateData.phone_number = confirmedPhone;\n      updateData.contact_phone = confirmedPhone;\n\n      responseText = `📧 *Qual é o seu e-mail, ${currentData.lead_name || 'cliente'}?*\n\n💡 _Exemplo: maria.silva@email.com_\n\nSe preferir não informar, digite *pular*\n_O e-mail nos ajuda a enviar documentação técnica e propostas_`;\n      nextStage = 'collect_email';\n\n    } else if (message === '2') {\n      console.log('V101: User wants alternative phone');\n\n      responseText = `📱 *Qual número prefere para contato, ${currentData.lead_name || 'cliente'}?*\n\nPor favor, informe com DDD:\n\n💡 _Exemplo: (62) 98765-4321_\n_Usaremos este número para agendarmos sua visita técnica_`;\n      nextStage = 'collect_phone_alternative';\n\n    } else {\n      console.log('V101: Invalid WhatsApp confirmation option');\n      const whatsappPhone = input.phone_number || input.phone_with_code || '';\n      responseText = `❌ *Opção inválida*\n\n${`📱 *Ótimo, ${currentData.lead_name || 'cliente'}!*\n\nVi que você está me enviando mensagens pelo número:\n*${formatPhoneDisplay(whatsappPhone)}*\n\nEste é o melhor número para contato?\n\n1️⃣ *Sim, pode usar este*\n2️⃣ *Não, vou informar outro*\n\n💡 _Digite 1 ou 2_`}`;\n      nextStage = 'collect_phone_whatsapp_confirmation';\n    }\n    break;\n\n  // ===== STATE 5: COLLECT PHONE ALTERNATIVE =====\n  case 'collect_phone_alternative':\n    console.log('V101: Processing COLLECT_PHONE_ALTERNATIVE state');\n\n    const phoneRegex = /^\\(?\\d{2}\\)?\\s?9?\\d{4}[-\\s]?\\d{4}$/;\n\n    if (phoneRegex.test(message)) {\n      console.log('V101: Valid alternative phone received');\n\n      const cleanedPhone = message.replace(/\\D/g, '');\n      updateData.phone_number = cleanedPhone;\n      updateData.contact_phone = cleanedPhone;\n\n      responseText = `📧 *Qual é o seu e-mail, ${currentData.lead_name || 'cliente'}?*\n\n💡 _Exemplo: maria.silva@email.com_\n\nSe preferir não informar, digite *pular*\n_O e-mail nos ajuda a enviar documentação técnica e propostas_`;\n      nextStage = 'collect_email';\n\n    } else {\n      console.log('V101: Invalid alternative phone format');\n      responseText = `❌ *Telefone inválido*\n\nPor favor, informe um telefone válido com DDD.\n\n💡 _Exemplos aceitos:_\n• (62) 98765-4321\n• 62987654321\n• 6298765-4321\n\n_Use apenas números, espaços, parênteses e hífen_`;\n      nextStage = 'collect_phone_alternative';\n    }\n    break;\n\n  // ===== STATE 6: COLLECT EMAIL =====\n  case 'collect_email':\n  case 'coletando_email':\n    console.log('V101: Processing COLLECT_EMAIL state');\n\n    if (message === 'pular') {\n      console.log('V101: User skipped email');\n      updateData.email = 'não informado';\n      responseText = `📍 *Em qual cidade você está, ${currentData.lead_name || 'cliente'}?*\n\n💡 _Exemplo: Goiânia - GO_\n_Precisamos saber para agendar a visita técnica com nossa equipe local_`;\n      nextStage = 'collect_city';\n\n    } else {\n      const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\n      if (emailRegex.test(message)) {\n        console.log('V101: Valid email received');\n        updateData.email = message;\n        responseText = `📍 *Em qual cidade você está, ${currentData.lead_name || 'cliente'}?*\n\n💡 _Exemplo: Goiânia - GO_\n_Precisamos saber para agendar a visita técnica com nossa equipe local_`;\n        nextStage = 'collect_city';\n      } else {\n        console.log('V101: Invalid email format');\n        responseText = `❌ *E-mail inválido*\n\nPor favor, informe um e-mail válido.\n\n*Exemplos:*\n• maria@gmail.com\n• joao.silva@empresa.com.br\n\nOu digite *pular* se não quiser informar.`;\n        nextStage = 'collect_email';\n      }\n    }\n    break;\n\n  // ===== STATE 7: COLLECT CITY =====\n  case 'collect_city':\n  case 'coletando_cidade':\n    console.log('V101: Processing COLLECT_CITY state');\n\n    if (message.length >= 2) {\n      console.log('V101: Valid city received');\n      updateData.city = message;\n\n      // V99 FIX: Use merged currentData with multiple fallbacks\n      const leadName = currentData.lead_name || 'não informado';\n      const phoneNumber = currentData.contact_phone || currentData.phone_number || 'não informado';\n      const email = currentData.email || 'não informado';\n      const city = updateData.city || 'não informado';\n      const serviceType = currentData.service_type || 'não informado';\n      const serviceInfo = serviceDisplay[serviceType] || { emoji: '❓', name: 'Não informado' };\n\n      console.log('V101: Confirmation summary data:');\n      console.log('V101:   lead_name:', leadName);\n      console.log('V101:   phoneNumber:', phoneNumber);\n      console.log('V101:   email:', email);\n      console.log('V101:   city:', city);\n      console.log('V101:   serviceType:', serviceType);\n\n      responseText = `✅ *Perfeito! Veja o resumo dos seus dados:*\n\n👤 *Nome:* ${leadName}\n📱 *Telefone:* ${formatPhoneDisplay(phoneNumber)}\n📧 *E-mail:* ${email}\n📍 *Cidade:* ${city}\n${serviceInfo.emoji} *Serviço:* ${serviceInfo.name}\n\n---\n\nDeseja agendar uma visita técnica gratuita para avaliarmos seu projeto?\n\n1️⃣ *Sim, quero agendar*\n2️⃣ *Não agora, falar com uma pessoa*\n3️⃣ *Meus dados estão errados, quero corrigir*`;\n\n      nextStage = 'confirmation';\n      console.log('V101: Going to State 8 (confirmation)');\n\n    } else {\n      console.log('V101: Invalid city (too short)');\n      responseText = `❌ *Cidade inválida*\n\nPor favor, informe uma cidade válida (mínimo 2 letras).\n\n_Exemplo: Goiânia, Brasília, Anápolis..._`;\n      nextStage = 'collect_city';\n    }\n    break;\n\n  // ===== STATE 8: CONFIRMATION =====\n  case 'confirmation':\n    console.log('V101: Processing CONFIRMATION state');\n\n    if (message === '1') {\n      // V99 CRITICAL FIX: Robust service type resolution\n      const serviceSelected = currentData.service_selected ||\n                             currentData.service_type ||\n                             input.service_selected ||\n                             input.service_type ||\n                             '1';\n\n      // Map numeric to service type if needed\n      const serviceMapped = serviceMapping[serviceSelected] || serviceSelected;\n\n      console.log('V101: Service resolution chain:');\n      console.log('V101:   service_selected from currentData:', currentData.service_selected);\n      console.log('V101:   service_type from currentData:', currentData.service_type);\n      console.log('V101:   Final serviceSelected:', serviceSelected);\n      console.log('V101:   Final serviceMapped:', serviceMapped);\n\n      if (serviceMapped === 'energia_solar' || serviceMapped === 'projeto_eletrico') {\n        console.log('V101: Services 1 or 3 → trigger WF06 next_dates');\n\n        nextStage = 'trigger_wf06_next_dates';\n        responseText = '⏳ *Buscando próximas datas disponíveis...*\\n\\n_Aguarde um momento..._';\n\n        // V108: DO NOT set awaiting flag here - it will be set after WF06 returns dates\n\n      } else {\n        console.log('V101: Services 2, 4, or 5 → handoff to commercial');\n\n        // V99 FIX: Null-safe lead name\n        const leadName = currentData.lead_name || 'Cliente';\n\n        responseText = `Obrigado pelas informações, ${leadName}! 👍\\n\\n` +\n                      `Para o serviço de *${getServiceName(serviceSelected)}*, nossa equipe comercial ` +\n                      `entrará em contato em breve para alinhar os detalhes.\\n\\n` +\n                      `📞 Caso prefira falar agora: (62) 3092-2900\\n\\n` +\n                      `Tenha um ótimo dia! ✨`;\n        nextStage = 'handoff_comercial';\n      }\n    }\n    else if (message === '2') {\n      responseText = `👔 *Transferência para Atendimento Comercial*\n\nObrigado pelas informações!\n\nNossa equipe comercial especializada entrará em contato para:\n✅ Apresentar soluções personalizadas\n✅ Elaborar proposta técnica-comercial\n✅ Esclarecer dúvidas sobre investimento\n\n🕐 *Retorno em:* até 24 horas úteis\n\n📱 *Contato direto:* (62) 3092-2900\n\n_Aguarde nosso retorno!_`;\n      nextStage = 'handoff_comercial';\n      updateData.status = 'handoff';\n    }\n    else if (message === '3') {\n      responseText = `📝 *Correção de Dados*\\n\\n` +\n                    `Digite o que deseja corrigir:\\n\\n` +\n                    `1️⃣ - Nome\\n` +\n                    `2️⃣ - Telefone\\n` +\n                    `3️⃣ - Email\\n` +\n                    `4️⃣ - Cidade\\n` +\n                    `5️⃣ - Serviço\\n\\n` +\n                    `_Digite o número correspondente:_`;\n      nextStage = 'correction_choice';\n    }\n    else {\n      responseText = `❌ *Opção inválida*\n\nPor favor, escolha uma das opções:\n\n1️⃣ *Sim, quero agendar*\n2️⃣ *Não agora, falar com uma pessoa*\n3️⃣ *Meus dados estão errados, quero corrigir*`;\n      nextStage = 'confirmation';\n    }\n    break;\n\n  // ===== STATE 9: INTERMEDIATE - Trigger WF06 Next Dates =====\n  case 'trigger_wf06_next_dates':\n    console.log('V101: INTERMEDIATE STATE - Trigger WF06 next_dates');\n    nextStage = 'show_available_dates';\n    responseText = ''; // Empty for intermediate state\n    break;\n\n  // ===== STATE 10: SHOW AVAILABLE DATES =====\n  case 'show_available_dates':\n    console.log('V101: Processing SHOW_AVAILABLE_DATES');\n\n    const nextDatesResponse = input.wf06_next_dates || {};\n\n    if (nextDatesResponse.success && nextDatesResponse.dates && nextDatesResponse.dates.length > 0) {\n      let dateOptions = '';\n      nextDatesResponse.dates.forEach((dateObj, index) => {\n        const number = index + 1;\n        const qualityEmoji = dateObj.quality === 'high' ? '✨' :\n                            dateObj.quality === 'medium' ? '📅' : '⚠️';\n        dateOptions += `${number}️⃣ *${dateObj.display}*\\n   🕐 ${dateObj.total_slots} horários livres ${qualityEmoji}\\n\\n`;\n      });\n\n      responseText = `📅 *Agendar Visita Técnica - ${getServiceName(currentData.service_selected || '1')}*\\n\\n` +\n                    `📆 *Próximas datas com horários disponíveis:*\\n\\n` +\n                    dateOptions +\n                    `💡 *Escolha uma opção (1-3)*\\n` +\n                    `_Ou digite uma data específica em DD/MM/AAAA_\\n\\n` +\n                    `⏱️ *Duração*: 2 horas\\n` +\n                    `📍 *Cidade*: ${currentData.city}`;\n\n      updateData.date_suggestions = nextDatesResponse.dates;\n      updateData.awaiting_wf06_next_dates = true;  // V108: Set flag AFTER showing dates\n      nextStage = 'process_date_selection';\n\n      // V110 DEBUG: Verify flag was actually set\n      console.log('V110: STATE 10 - Set flags:', {\n        date_suggestions_count: updateData.date_suggestions?.length || 0,\n        awaiting_wf06_next_dates: updateData.awaiting_wf06_next_dates,\n        nextStage: nextStage\n      });\n\n    } else {\n      console.warn('V100: WF06 failed, falling back to manual');\n      responseText = `⚠️ *Não conseguimos buscar disponibilidade automaticamente*\\n\\n` +\n                    `Por favor, informe a data desejada (DD/MM/AAAA):\\n\\n` +\n                    `💡 *Lembre-se:*\\n` +\n                    `• Data futura (não pode ser hoje ou passado)\\n` +\n                    `• Dia útil (segunda a sexta-feira)\\n\\n` +\n                    `_Digite a data..._`;\n\n      nextStage = 'collect_appointment_date_manual';\n    }\n    break;\n\n  // ===== STATE 11: PROCESS DATE SELECTION =====\n  case 'process_date_selection':\n    console.log('V110: Processing DATE SELECTION');\n\n    const dateChoice = message.trim();\n\n    if (/^[1-3]$/.test(dateChoice)) {\n      const selectedIndex = parseInt(dateChoice) - 1;\n      const suggestions = currentData.date_suggestions || [];\n\n      if (selectedIndex >= 0 && selectedIndex < suggestions.length) {\n        const selectedDate = suggestions[selectedIndex];\n        console.log('V110: Date selected:', selectedDate.date);\n\n        // V108 CRITICAL: Store selected_date for HTTP Request access\n        updateData.selected_date = selectedDate.date;  // ISO format for WF06\n        updateData.scheduled_date = selectedDate.date;\n        updateData.scheduled_date_display = selectedDate.display;\n\n        console.log('V110: STORED selected_date:', updateData.selected_date);\n        console.log('V110: Date → trigger WF06 available_slots');\n\n        nextStage = 'trigger_wf06_available_slots';\n        responseText = '⏳ *Buscando horários disponíveis...*\\n\\n_Aguarde um momento..._';\n\n        // V108: Clear awaiting_next_dates flag (user responded successfully)\n        updateData.awaiting_wf06_next_dates = false;\n        // V108: DO NOT set awaiting_slots flag here - will be set after WF06 returns\n\n      } else {\n        responseText = `❌ *Opção inválida*\\n\\nEscolha 1, 2 ou 3.`;\n        nextStage = 'process_date_selection';\n      }\n    }\n    else if (/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(dateChoice)) {\n      console.log('V110: Custom date:', dateChoice);\n\n      const [day, month, year] = dateChoice.split('/');\n      const isoDate = `${year}-${month}-${day}`;\n      const dateObj = new Date(isoDate);\n\n      const today = new Date();\n      today.setHours(0, 0, 0, 0);\n\n      const dayOfWeek = dateObj.getDay();\n      const isWeekend = (dayOfWeek === 0 || dayOfWeek === 6);\n      const isPast = dateObj < today;\n\n      if (isPast) {\n        responseText = `❌ *Data inválida*\\n\\nA data deve ser no futuro.\\n\\nPor favor, escolha uma das opções ou digite outra data.`;\n        nextStage = 'process_date_selection';\n      }\n      else if (isWeekend) {\n        responseText = `❌ *Data inválida*\\n\\nNão atendemos aos finais de semana.\\n\\nPor favor, escolha uma data de segunda a sexta.`;\n        nextStage = 'process_date_selection';\n      }\n      else {\n        console.log('V110: Date validated');\n\n        // V108 CRITICAL: Store selected_date for HTTP Request access\n        updateData.selected_date = isoDate;  // ISO format for WF06\n        updateData.scheduled_date = isoDate;\n        updateData.scheduled_date_display = dateChoice;\n\n        console.log('V110: STORED selected_date:', updateData.selected_date);\n\n        nextStage = 'trigger_wf06_available_slots';\n        responseText = '⏳ *Buscando horários disponíveis...*\\n\\n_Aguarde um momento..._';\n\n        // V108: Clear awaiting_next_dates flag\n        updateData.awaiting_wf06_next_dates = false;\n      }\n    }\n    else {\n      responseText = `❌ *Formato inválido*\\n\\nEscolha 1-3 ou digite uma data em DD/MM/AAAA`;\n      nextStage = 'process_date_selection';\n    }\n    break;\n\n  // ===== STATE 12: INTERMEDIATE - Trigger WF06 Slots =====\n  case 'trigger_wf06_available_slots':\n    console.log('V110: INTERMEDIATE STATE - Trigger WF06 available_slots');\n    console.log('V110: selected_date for WF06:', currentData.selected_date || updateData.selected_date);\n    nextStage = 'show_available_slots';\n    responseText = ''; // Empty for intermediate\n    break;\n\n  // ===== STATE 13: SHOW AVAILABLE SLOTS =====\n  case 'show_available_slots':\n    console.log('V110: Processing SHOW_AVAILABLE_SLOTS');\n\n    const slotsResponse = input.wf06_available_slots || {};\n\n    if (slotsResponse.success && slotsResponse.available_slots && slotsResponse.available_slots.length > 0) {\n      let slotOptions = '';\n      slotsResponse.available_slots.forEach((slot, index) => {\n        const number = index + 1;\n        slotOptions += `${number}️⃣ *${slot.formatted}* ✅\\n`;\n      });\n\n      responseText = `🕐 *Horários Disponíveis - ${currentData.scheduled_date_display}*\\n\\n` +\n                    slotOptions + `\\n` +\n                    `💡 *Escolha um horário (1-${slotsResponse.available_slots.length})*\\n` +\n                    `_Ou digite 0 para voltar e escolher outra data_`;\n\n      updateData.slot_suggestions = slotsResponse.available_slots;\n      updateData.awaiting_wf06_available_slots = true;  // V108: Set flag AFTER showing slots\n      nextStage = 'process_slot_selection';\n\n    } else {\n      console.warn('V100: No slots available');\n      responseText = `⚠️ *Sem horários disponíveis nesta data*\\n\\n` +\n                    `Por favor, escolha outra data ou entre em contato:\\n` +\n                    `📞 (62) 3092-2900\\n\\n` +\n                    `Digite *voltar* para escolher outra data.`;\n\n      nextStage = 'process_date_selection';\n    }\n    break;\n\n  // ===== STATE 14: PROCESS SLOT SELECTION =====\n  case 'process_slot_selection':\n    console.log('V110: Processing SLOT SELECTION');\n\n    const slotChoice = message.trim();\n\n    if (slotChoice === '0' || slotChoice === 'voltar') {\n      console.log('V110: User wants different date');\n\n      // Go back to date selection\n      const nextDatesResponse = currentData.date_suggestions || [];\n      if (nextDatesResponse.length > 0) {\n        let dateOptions = '';\n        nextDatesResponse.forEach((dateObj, index) => {\n          const number = index + 1;\n          const qualityEmoji = dateObj.quality === 'high' ? '✨' :\n                              dateObj.quality === 'medium' ? '📅' : '⚠️';\n          dateOptions += `${number}️⃣ *${dateObj.display}*\\n   🕐 ${dateObj.total_slots} horários livres ${qualityEmoji}\\n\\n`;\n        });\n\n        responseText = `📅 *Escolha outra data:*\\n\\n` + dateOptions +\n                      `💡 *Escolha uma opção (1-3)*\\n` +\n                      `_Ou digite uma data específica em DD/MM/AAAA_`;\n      } else {\n        responseText = `📅 *Informe a data desejada (DD/MM/AAAA):*\\n\\n` +\n                      `💡 *Lembre-se:*\\n` +\n                      `• Data futura\\n` +\n                      `• Dia útil (segunda a sexta-feira)`;\n      }\n\n      updateData.awaiting_wf06_available_slots = false;  // V108: Clear flag\n      updateData.awaiting_wf06_next_dates = true;  // V108: Set flag for date selection\n      nextStage = 'process_date_selection';\n    }\n    else if (/^[1-9]\\d*$/.test(slotChoice)) {\n      const selectedIndex = parseInt(slotChoice) - 1;\n      const suggestions = currentData.slot_suggestions || [];\n\n      if (selectedIndex >= 0 && selectedIndex < suggestions.length) {\n        const selectedSlot = suggestions[selectedIndex];\n        console.log('V110: Slot selected:', selectedSlot.formatted);\n\n        updateData.scheduled_time = selectedSlot.start;\n        updateData.scheduled_time_display = selectedSlot.formatted;\n        updateData.scheduled_end_time = selectedSlot.end;\n\n        // V99 FIX: Null-safe final confirmation\n        const leadName = currentData.lead_name || 'Cliente';\n        const serviceInfo = serviceDisplay[currentData.service_type] || { emoji: '📋', name: 'Serviço' };\n\n        responseText = `✅ *Agendamento Confirmado!*\\n\\n` +\n                      `👤 *Cliente:* ${leadName}\\n` +\n                      `${serviceInfo.emoji} *Serviço:* ${serviceInfo.name}\\n` +\n                      `📅 *Data:* ${currentData.scheduled_date_display}\\n` +\n                      `🕐 *Horário:* ${selectedSlot.formatted}\\n` +\n                      `📍 *Cidade:* ${currentData.city}\\n\\n` +\n                      `🎯 *Próximos passos:*\\n` +\n                      `1️⃣ Você receberá um e-mail de confirmação\\n` +\n                      `2️⃣ Nossa equipe técnica entrará em contato 24h antes\\n` +\n                      `3️⃣ Prepare documentação do imóvel para a visita\\n\\n` +\n                      `📞 *Dúvidas?* (62) 3092-2900\\n\\n` +\n                      `Obrigado por escolher a E2 Soluções! 🚀`;\n\n        nextStage = 'schedule_confirmation';\n        updateData.appointment_scheduled = true;\n        updateData.status = 'scheduled';\n\n        // V108: Clear awaiting flag\n        updateData.awaiting_wf06_available_slots = false;\n\n      } else {\n        responseText = `❌ *Opção inválida*\\n\\nEscolha um número entre 1 e ${suggestions.length}.`;\n        nextStage = 'process_slot_selection';\n      }\n    }\n    else {\n      responseText = `❌ *Formato inválido*\\n\\nEscolha o número do horário desejado ou digite 0 para voltar.`;\n      nextStage = 'process_slot_selection';\n    }\n    break;\n\n  // ===== STATE 15: SCHEDULE CONFIRMATION =====\n  case 'schedule_confirmation':\n    console.log('V110: SCHEDULE CONFIRMATION - Flow complete');\n    // This is a final state, no next action needed\n    nextStage = 'completed';\n    responseText = ''; // Already sent confirmation\n    break;\n\n  // ===== DEFAULT: Unknown state =====\n  default:\n    console.error('V100: Unknown state:', currentStage);\n    responseText = `❌ *Erro no sistema*\\n\\nPor favor, digite *reiniciar* para começar novamente.`;\n    nextStage = 'greeting';\n    break;\n}\n\n} // End of switch wrapper\nelse {\n  // V104: WF06 was handled by auto-correction, skip switch execution\n  console.log('V104: Skipping switch - WF06 already handled by auto-correction');\n  console.log('V104: Using auto-correction output - nextStage:', nextStage);\n  console.log('V104: Using auto-correction output - responseText length:', responseText.length);\n}\n\n// ===================================================\n// V110 FIX 2: CRITICAL VALIDATION - Detect empty response_text\n// ===================================================\nif (!responseText && !isIntermediateState) {\n  console.error('V110: ❌ CRITICAL - response_text is EMPTY in non-intermediate state!');\n  console.error('V110: currentStage:', currentStage);\n  console.error('V110: nextStage:', nextStage);\n  console.error('V110: message:', message);\n  console.error('V110: isIntermediateState:', isIntermediateState);\n  console.error('V110: hasWF06Response:', hasWF06Response);\n  console.error('V110: wf06HandledByAutoCorrection:', wf06HandledByAutoCorrection);\n  console.error('V110: awaiting_wf06_next_dates:', currentData.awaiting_wf06_next_dates);\n  console.error('V110: awaiting_wf06_available_slots:', currentData.awaiting_wf06_available_slots);\n\n  // Emergency fallback\n  responseText = `⚠️ *Erro no processamento*\\n\\n` +\n                `Desculpe, algo deu errado.\\n\\n` +\n                `Por favor, digite *reiniciar* para começar novamente.\\n\\n` +\n                `📞 *Ou ligue:* (62) 3092-2900`;\n  nextStage = 'greeting';\n}\n\n// ===================================================\n// V110 CRITICAL: Build output with data preservation + selected_date\n// ===================================================\nconst output = {\n  response_text: responseText,\n  conversation_id: input.conversation_id || input.id || input.currentData?.conversation_id || null,\n\n  // V100: Merge ALL data for next execution\n  collected_data: {\n    ...updateData,  // New data from current execution\n\n    // V100: PRESERVE existing data if not overwritten\n    lead_name: updateData.lead_name || currentData.lead_name,\n    email: updateData.email || currentData.email,\n    phone_number: updateData.phone_number || currentData.phone_number,\n    contact_phone: updateData.contact_phone || currentData.contact_phone,\n    service_type: updateData.service_type || currentData.service_type,\n    service_selected: updateData.service_selected || currentData.service_selected,\n    city: updateData.city || currentData.city,\n\n    // V108 CRITICAL: Preserve selected_date for HTTP Request access\n    selected_date: updateData.selected_date || currentData.selected_date,\n\n    // Preserve scheduling data\n    scheduled_date: updateData.scheduled_date || currentData.scheduled_date,\n    scheduled_date_display: updateData.scheduled_date_display || currentData.scheduled_date_display,\n    scheduled_time: updateData.scheduled_time || currentData.scheduled_time,\n    scheduled_time_display: updateData.scheduled_time_display || currentData.scheduled_time_display,\n    scheduled_end_time: updateData.scheduled_end_time || currentData.scheduled_end_time,\n\n    // Preserve suggestions\n    date_suggestions: updateData.date_suggestions || currentData.date_suggestions,\n    slot_suggestions: updateData.slot_suggestions || currentData.slot_suggestions,\n\n    // V104 FIX: CRITICAL - Include state information in collected_data\n    // This ensures Build Update Queries can access state fields and update database\n    current_stage: nextStage,\n    next_stage: nextStage,\n    previous_stage: currentStage,\n\n    // V109 FIX: Default to false instead of undefined\n    // Bug: When both updateData and currentData have undefined flags (default when not set),\n    // output will have undefined, causing detection logic at line 94 to fail (undefined !== true)\n    // Solution: Explicitly default to false using || operator\n    awaiting_wf06_next_dates: updateData.awaiting_wf06_next_dates !== undefined ?\n                               updateData.awaiting_wf06_next_dates :\n                               (currentData.awaiting_wf06_next_dates || false),\n    awaiting_wf06_available_slots: updateData.awaiting_wf06_available_slots !== undefined ?\n                                    updateData.awaiting_wf06_available_slots :\n                                    (currentData.awaiting_wf06_available_slots || false)\n  },\n\n  next_stage: nextStage,\n  current_stage: nextStage,  // V100: EXPLICIT state preservation for next execution\n  phone_number: input.phone_number || input.phone_with_code,\n  previous_stage: currentStage,  // V100: Track previous state for debugging\n  version: 'V110',  // V110: Intermediate state message handler + response_text validation\n  timestamp: new Date().toISOString()\n};\n\n// V110: Enhanced logging for state transitions\nconsole.log('V110: Current → Next:', currentStage, '→', nextStage);\nconsole.log('V110: Response length:', responseText.length);\nconsole.log('V110: Update data keys:', Object.keys(output.collected_data));\nconsole.log('V110: Preserved data in collected_data:');\nconsole.log('V110:   lead_name:', output.collected_data.lead_name);\nconsole.log('V110:   email:', output.collected_data.email);\nconsole.log('V110:   phone_number:', output.collected_data.phone_number);\nconsole.log('V110:   service_type:', output.collected_data.service_type);\nconsole.log('V110:   service_selected:', output.collected_data.service_selected);\nconsole.log('V110: ✅ CRITICAL - selected_date in collected_data:', output.collected_data.selected_date);\nconsole.log('V110: ✅ CRITICAL - State fields in collected_data:');\nconsole.log('V110:   current_stage:', output.collected_data.current_stage);\nconsole.log('V110:   next_stage:', output.collected_data.next_stage);\nconsole.log('V110:   previous_stage:', output.collected_data.previous_stage);\nconsole.log('V110: ✅ WF06 FLAGS:');\nconsole.log('V110:   awaiting_wf06_next_dates:', output.collected_data.awaiting_wf06_next_dates);\nconsole.log('V110:   awaiting_wf06_available_slots:', output.collected_data.awaiting_wf06_available_slots);\nconsole.log('V110: Output conversation_id:', output.conversation_id);\nconsole.log('=== V110 STATE MACHINE END ===');\n\nreturn output;\n"
      },
      "id": "81c30a13-d268-4e1b-a810-e52325f5f327",
      "name": "State Machine Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1568,
        608
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Build Update Queries",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Claude AI Agent State 9 (collect_appointment_date)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Claude AI Agent State 10 (collect_appointment_time)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Claude AI Agent State 11 (appointment_confirmation)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query_update_conversation }}",
        "options": {}
      },
      "id": "3211e07a-6d59-4366-8d7a-d947d3d54dfb",
      "name": "Update Conversation State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1184,
        384
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vsRWyRE8vIjBjSwX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query_save_inbound }}",
        "options": {}
      },
      "id": "8feeb2a6-bd10-41e7-b704-83a139b89265",
      "name": "Save Inbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1120,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vsRWyRE8vIjBjSwX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query_save_outbound }}",
        "options": {}
      },
      "id": "ccc7f681-b02b-43fa-bb26-e254e893da24",
      "name": "Save Outbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1120,
        720
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vsRWyRE8vIjBjSwX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-evolution-dev:8080/message/sendText/e2-solucoes-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "ae569043cfa169380c378347f91a1141ea572541d2d1cadbed222db519c8a891"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $input.first().json.phone_number }}"
            },
            {
              "name": "text",
              "value": "={{ $node[\"Build Update Queries\"].json.response_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b308108c-d136-40f2-92b2-e924f4882dd5",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -560,
        448
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Check If Scheduling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Build Update Queries\"].json.next_stage }}",
              "value2": "handoff_comercial"
            }
          ]
        }
      },
      "id": "46f162c6-3dd6-4d67-b74c-899b46619ce7",
      "name": "Check If Handoff",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -304,
        576
      ]
    },
    {
      "parameters": {
        "workflowId": "42eG7UpfmZ2PoBlY",
        "options": {}
      },
      "id": "8b4dea88-03d4-4b00-b45d-cde3fa598093",
      "name": "Trigger Appointment Scheduler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -32,
        -160
      ],
      "notes": "V70: MODIFIED - Now sends appointment_id from database INSERT"
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id + 8 }}",
        "options": {}
      },
      "id": "b5f30d80-6f4d-42cd-a71f-962f9fe9feb1",
      "name": "Trigger Human Handoff",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -48,
        1136
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $node['Build Update Queries'].json.query_upsert_lead }}",
        "options": {}
      },
      "id": "462d2eb8-9499-4401-b221-fc8c36c1e000",
      "name": "Upsert Lead Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -288,
        768
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vsRWyRE8vIjBjSwX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ { success: true, stage: $json.next_stage } }}",
        "options": {}
      },
      "id": "dbc150eb-8f79-4a48-a746-c9995b30a899",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        128,
        768
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build SQL Queries Node - Prepara todas as queries SQL\n// Recebe dados do node anterior\nconst data = $input.first().json;\nconst phone_with_code = data.phone_with_code || '';\nconst phone_without_code = data.phone_without_code || '';\n\n// Validação de segurança\nif (!phone_with_code || !phone_without_code) {\n  throw new Error('Phone numbers not properly formatted');\n}\n\n// Escape simples para SQL injection\nconst escapeSql = (str) => {\n  return String(str).replace(/'/g, \"''\");\n};\n\n// Query para contar conversas existentes\nconst query_count = `\n  SELECT COUNT(*) as count\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n`.trim();\n\n// Query para buscar detalhes da conversa\nconst query_details = `\n  SELECT\n    *,\n    COALESCE(state_machine_state,\n      CASE current_state\n        WHEN 'novo' THEN 'greeting'\n        WHEN 'identificando_servico' THEN 'service_selection'\n        WHEN 'coletando_dados' THEN 'collect_name'\n        WHEN 'agendando' THEN 'scheduling'\n        WHEN 'handoff_comercial' THEN 'handoff_comercial'\n        WHEN 'concluido' THEN 'completed'\n        ELSE 'greeting'\n      END\n    ) as state_for_machine\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  ORDER BY updated_at DESC\n  LIMIT 1\n  FOR UPDATE SKIP LOCKED\n`.trim();\n\n// After query_details definition, add:\nconsole.log('=== V111 DATABASE ROW LOCKING ENABLED ===');\nconsole.log('V111: FOR UPDATE SKIP LOCKED added to query_details');\n\n// Query para criar/atualizar conversa\nconst query_upsert = `\n  -- Limpar duplicatas antigas\n  DELETE FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  AND id NOT IN (\n    SELECT id FROM conversations\n    WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n    ORDER BY updated_at DESC\n    LIMIT 1\n  );\n\n  -- Inserir ou atualizar conversa\n  INSERT INTO conversations (\n    phone_number,\n    whatsapp_name,\n    service_id,\n    contact_name,\n    contact_email,\n    city,\n    current_state,\n    state_machine_state,\n    collected_data,\n    error_count,\n    created_at,\n    updated_at\n  ) VALUES (\n    '${escapeSql(phone_with_code)}',\n    '${escapeSql(data.whatsapp_name || '')}',\n    NULL,\n    NULL,\n    NULL,\n    NULL,\n    'novo',\n    'greeting',\n    '{}'::jsonb,\n    0,\n    CURRENT_TIMESTAMP,\n    CURRENT_TIMESTAMP\n  )\n  ON CONFLICT (phone_number) DO UPDATE SET\n    whatsapp_name = COALESCE(EXCLUDED.whatsapp_name, conversations.whatsapp_name),\n    last_message_at = CURRENT_TIMESTAMP,\n    updated_at = CURRENT_TIMESTAMP,\n    state_machine_state = CASE\n      WHEN conversations.state_machine_state IN ('completed', 'handoff_comercial')\n      THEN 'greeting'\n      ELSE conversations.state_machine_state\n    END\n  RETURNING *\n`.trim();\n\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (FIXED) ===');\nconsole.log('Phone with code:', phone_with_code);\nconsole.log('Phone without code:', phone_without_code);\nconsole.log('Queries built successfully as STRINGS');\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V27) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V27: PRESERVAR CAMPOS DE MENSAGEM\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V28) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V28: PRESERVAR CAMPOS DE MENSAGEM E RETORNAR ARRAY\nconst result = {\n  ...data,  // Pass through ALL original data\n\n  // SQL Queries\n  query_count: query_count,        // String SQL\n  query_details: query_details,    // String SQL\n  query_upsert: query_upsert,      // String SQL\n\n  // V28 CRITICAL: Explicitly preserve message fields\n  message: data.message || '',\n  content: data.content || '',\n  body: data.body || '',\n  text: data.text || '',\n\n  // Phone fields\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  phone_number: data.phone_number || phone_with_code,\n\n  // Other fields\n  whatsapp_name: data.whatsapp_name || ''\n};\n\n// V28: Return as array for n8n compatibility\nconsole.log('V28: Build SQL Queries returning array');\nreturn [result];"
      },
      "id": "0e0404b8-f48d-4b74-a607-ac231d950fe4",
      "name": "Build SQL Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2544,
        320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados após o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // ← ARRAY RETURN FIX"
      },
      "id": "5de6064e-6ce9-4edf-8ef3-7a4a8d9c85eb",
      "name": "Merge Queries Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        64
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados após o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // ← ARRAY RETURN FIX"
      },
      "id": "9a3108c8-244b-4762-9b29-554f84f59ea0",
      "name": "Merge Queries Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        1216
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Build Update Queries - V79.1 (SCHEMA-ALIGNED FIX)\n// ===================================================\n// CRITICAL FIX: Remove contact_phone column (does not exist in PostgreSQL schema)\n//\n// PostgreSQL Schema Analysis:\n// ✅ phone_number (exists)\n// ✅ contact_name (exists)\n// ✅ contact_email (exists)\n// ❌ contact_phone (DOES NOT EXIST!)\n//\n// Reason V74 \"works\": ON CONFLICT may be silently ignoring the error\n// V79.1 Fix: Remove contact_phone from INSERT and UPDATE statements\n//\n// Date: 2026-04-13\n// Version: V79.1 Schema-Aligned Fix\n// ===================================================\n\nconst inputData = $input.first().json;\n\nconsole.log('=== V79.1 BUILD UPDATE QUERIES (SCHEMA-ALIGNED) ===');\n\n// V66 FIX: Declare query_correction_update at function scope\nlet query_correction_update = null;\n\nconsole.log('Input keys:', Object.keys(inputData));\n\n// Helper functions\nconst escapeSql = (str) => {\n  if (str === null || str === undefined || str === '') return '';\n  return String(str).replace(/'/g, \"''\");\n};\n\nconst prepareJsonb = (obj) => {\n  if (!obj || typeof obj !== 'object') return '{}';\n  return JSON.stringify(obj).replace(/'/g, \"''\");\n};\n\n// Extract phone data\nlet phone_number = String(inputData.phone_number || '');\nphone_number = phone_number.replace(/[^0-9]/g, '');\n\nif (phone_number && !phone_number.startsWith('55')) {\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n  }\n}\n\nconst phone_with_code = phone_number;\nconst phone_without_code = phone_number.startsWith('55') ? phone_number.substring(2) : phone_number;\n\n// Extract other data\nconst response_text = escapeSql(inputData.response_text || 'Olá! Como posso ajudar?');\nconst next_stage = inputData.next_stage || inputData.current_state || 'greeting';\nconst collected_data = inputData.collected_data || {};\nconst collected_data_json = prepareJsonb(collected_data);\nconst message_content = escapeSql(inputData.message || '');\nconst message_type = inputData.message_type || 'text';\nconst message_id = inputData.message_id || '';\nconst conversation_id = inputData.conversation_id || null;\n\n// Extract service_type from collected_data\nconst service_type = collected_data?.service_type || null;\nconsole.log('V79.1: service_type extracted:', service_type);\n\n// V79.1 FIX: Store contact_phone in collected_data JSONB only (no DB column)\nconst contact_phone = collected_data?.contact_phone ||\n                     collected_data?.phone_primary ||\n                     collected_data?.phone ||\n                     '';\nconsole.log('V79.1: contact_phone extracted (JSONB only):', contact_phone);\n\n// State mapping\nconst state_mapping = {\n  'greeting': 'novo',\n  'service_selection': 'identificando_servico',\n  'collect_name': 'coletando_dados',\n  'collect_phone': 'coletando_dados',\n  'collect_phone_whatsapp_confirmation': 'coletando_dados',\n  'collect_phone_alternative': 'coletando_dados',\n  'collect_email': 'coletando_dados',\n  'collect_city': 'coletando_dados',\n  'confirmation': 'coletando_dados',\n  'scheduling': 'agendando',\n  'handoff_comercial': 'handoff_comercial',\n  'completed': 'concluido'\n};\n\nconst db_state = state_mapping[next_stage] || 'novo';\n\nconsole.log('V79.1: Building queries with SCHEMA-ALIGNED fix (no contact_phone column)');\n\n// ===================================================\n// Query 1: Update Conversation State (V79.1 SCHEMA-ALIGNED)\n// ===================================================\n// REMOVED: contact_phone column (does not exist in PostgreSQL)\n// PRESERVED: All other columns that exist in schema\nconst query_update_conversation = `\nINSERT INTO conversations (\n  phone_number,\n  whatsapp_name,\n  current_state,\n  state_machine_state,\n  collected_data,\n  service_type,\n  contact_name,\n  contact_email,\n  city,\n  status,\n  last_message_at,\n  created_at,\n  updated_at\n) VALUES (\n  '${phone_with_code}',\n  '${escapeSql(collected_data?.lead_name || '')}',\n  '${db_state}',\n  '${next_stage}',\n  '${collected_data_json}'::jsonb,\n  ${service_type ? \"'\" + escapeSql(service_type) + \"'\" : 'NULL'},\n  '${escapeSql(collected_data?.lead_name || '')}',\n  '${escapeSql(collected_data?.email || '')}',\n  '${escapeSql(collected_data?.city || '')}',\n  'active',\n  NOW(),\n  NOW(),\n  NOW()\n)\nON CONFLICT (phone_number)\nDO UPDATE SET\n  current_state = EXCLUDED.current_state,\n  state_machine_state = EXCLUDED.state_machine_state,\n  collected_data = conversations.collected_data || EXCLUDED.collected_data,\n  service_type = COALESCE(EXCLUDED.service_type, conversations.service_type),\n  contact_name = COALESCE(NULLIF(EXCLUDED.contact_name, ''), conversations.contact_name),\n  contact_email = COALESCE(NULLIF(EXCLUDED.contact_email, ''), conversations.contact_email),\n  city = COALESCE(NULLIF(EXCLUDED.city, ''), conversations.city),\n  whatsapp_name = COALESCE(NULLIF(EXCLUDED.whatsapp_name, ''), conversations.whatsapp_name),\n  last_message_at = NOW(),\n  updated_at = NOW()\nRETURNING *`.trim();\n\nconsole.log('✅ V79.1: UPSERT query SCHEMA-ALIGNED (no contact_phone column)');\n\n// Query 2: Save Inbound Message (unchanged)\nconst query_save_inbound = `\nINSERT INTO messages (\n  conversation_id,\n  direction,\n  content,\n  message_type,\n  whatsapp_message_id,\n  created_at\n)\nVALUES (\n  (SELECT id FROM conversations WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}') ORDER BY updated_at DESC LIMIT 1),\n  'inbound',\n  '${message_content}',\n  '${message_type}',\n  '${message_id}',\n  NOW()\n)\nON CONFLICT (whatsapp_message_id)\nWHERE whatsapp_message_id IS NOT NULL AND whatsapp_message_id != ''\nDO NOTHING\nRETURNING *`.trim();\n\n// Query 3: Save Outbound Message (unchanged)\nconst query_save_outbound = `\nINSERT INTO messages (\n  conversation_id,\n  direction,\n  content,\n  message_type,\n  whatsapp_message_id,\n  created_at\n)\nVALUES (\n  (SELECT id FROM conversations WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}') ORDER BY updated_at DESC LIMIT 1),\n  'outbound',\n  '${response_text}',\n  'text',\n  'out_' || extract(epoch from NOW())::bigint || '_' || random()::text,\n  NOW()\n)\nRETURNING *`.trim();\n\n// Query 4: Upsert Lead Data (unchanged)\nconst query_upsert_lead = `\nWITH existing_lead AS (\n  SELECT id\n  FROM leads\n  WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}')\n  LIMIT 1\n),\nupdated AS (\n  UPDATE leads\n  SET\n    name = COALESCE(NULLIF('${escapeSql(collected_data?.lead_name || '')}', ''), name),\n    email = COALESCE(NULLIF('${escapeSql(collected_data?.email || '')}', ''), email),\n    city = COALESCE(NULLIF('${escapeSql(collected_data?.city || '')}', ''), city),\n    service_type = COALESCE(NULLIF('${escapeSql(collected_data?.service_type || '')}', ''), service_type),\n    service_details = '${collected_data_json}'::jsonb,\n    updated_at = NOW()\n  WHERE id IN (SELECT id FROM existing_lead)\n  RETURNING *, 'updated' as operation\n),\ninserted AS (\n  INSERT INTO leads (\n    phone_number,\n    name,\n    email,\n    city,\n    service_type,\n    service_details,\n    created_at,\n    updated_at\n  )\n  SELECT\n    '${phone_with_code}',\n    '${escapeSql(collected_data?.lead_name || '')}',\n    '${escapeSql(collected_data?.email || '')}',\n    '${escapeSql(collected_data?.city || '')}',\n    '${escapeSql(collected_data?.service_type || '')}',\n    '${collected_data_json}'::jsonb,\n    NOW(),\n    NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM existing_lead)\n  RETURNING *, 'inserted' as operation\n)\nSELECT * FROM updated\nUNION ALL\nSELECT * FROM inserted`.trim();\n\nconsole.log('✅ V79.1: All queries built with SCHEMA-ALIGNED fix');\n\n  // V66: Correction UPDATE Query Builder\n  // V79.1 FIX: Remove contact_phone from correction logic (column does not exist)\n  if (inputData.needs_db_update && inputData.update_field) {\n    console.log('V79.1: Building correction UPDATE query for field:', inputData.update_field);\n\n    const fieldConfig = {\n      'lead_name': { db_column: 'contact_name', jsonb_key: 'lead_name' },\n      // V79.1 REMOVED: contact_phone (no DB column)\n      'email': { db_column: 'contact_email', jsonb_key: 'email' },\n      'city': { db_column: 'city', jsonb_key: 'city' }\n    };\n\n    const config = fieldConfig[inputData.update_field];\n\n    if (!config) {\n      console.warn('V79.1: Field not supported for correction:', inputData.update_field);\n      query_correction_update = null;\n    } else {\n      const newValue = escapeSql(inputData[inputData.update_field] || '');\n\n      let additionalUpdates = '';\n      if (config.also_update) {\n        const additionalValue = escapeSql(inputData[config.also_update] || newValue);\n        additionalUpdates = `${config.also_update} = '${additionalValue}',`;\n      }\n\n      query_correction_update = `\nUPDATE conversations\nSET\n  ${config.db_column} = '${newValue}',\n  ${additionalUpdates}\n  collected_data = jsonb_set(\n    collected_data,\n    '{${config.jsonb_key}}',\n    to_jsonb('${newValue}')\n  ),\n  current_state = 'coletando_dados',\n  state_machine_state = 'confirmation',\n  updated_at = NOW()\nWHERE conversation_id = '${conversation_id}'\n  AND phone_number IN ('${phone_with_code}', '${phone_without_code}')\nRETURNING conversation_id, phone_number, collected_data,\n          ${config.db_column} as corrected_field, current_state,\n          state_machine_state, updated_at\n      `.trim();\n\n      console.log('V79.1: Correction UPDATE query built for field:', inputData.update_field);\n    }\n  }\n\n  // V68 DEBUG: Log trigger check data\n  console.log('V79.1 DEBUG - Trigger check:', {\n    next_stage: inputData.next_stage,\n    service_selected: collected_data.service_selected,\n    status: collected_data.status\n  });\n\n  // V79.1 RETURN\n  return {\n    query_correction_update: query_correction_update || null,\n    correction_field_updated: inputData.update_field || null,\n  phone_number: phone_with_code,\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  response_text: inputData.response_text,\n  next_stage: inputData.next_stage,\n  collected_data: collected_data,\n  conversation_id: conversation_id,\n  message: inputData.message,\n  message_type: message_type,\n  message_id: message_id,\n\n  // Queries SQL\n  query_update_conversation,\n  query_save_inbound,\n  query_save_outbound,\n  query_upsert_lead,\n\n  // V79.1 metadata\n  v79_1_schema_aligned: true,\n  v79_1_contact_phone_removed: true,  // Stored in JSONB only\n  timestamp: new Date().toISOString()\n};\n"
      },
      "id": "8929643d-ef92-4e66-9238-53a2229a3778",
      "name": "Build Update Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        640
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "52663068-f9f5-47b2-b549-d2b2df442c6f",
      "name": "Merge Append New User V57",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1776,
        416
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// V57 Code Processor - Process append-merged data (NEW USER PATH)\nconsole.log('=== V63.2 CODE PROCESSOR NEW USER START ===');\n\nconst items = $input.all();\nconsole.log(`V63.2: Received ${items.length} items from Merge append`);\n\nif (items.length !== 2) {\n  console.error(`V63.2 ERROR: Expected 2 items from append, received ${items.length}`);\n  throw new Error(`V63.2: Merge append should produce 2 items, got ${items.length}`);\n}\n\nconst queriesData = items[0].json;  // Input 0 from Merge (Queries)\nconst dbData = items[1].json;       // Input 1 from Merge (Database)\n\nconsole.log('V63.2 Item 0 (Queries) keys:', Object.keys(queriesData).join(', '));\nconsole.log('V63.2 Item 1 (Database) keys:', Object.keys(dbData).join(', '));\n\nconst conversation_id = dbData.id || dbData.conversation_id || null;\n\nconsole.log('V63.2: Extracted conversation_id:', conversation_id);\n\nif (!conversation_id) {\n  console.error('V63.2 CRITICAL ERROR: conversation_id is NULL!');\n  console.error('V63.2: Database data (item[1]):', JSON.stringify(dbData, null, 2));\n  throw new Error('V63.2: No conversation_id found in database result');\n}\n\n// V63.2 CRITICAL FIX: Create currentData and current_stage for NEW users\nconst currentData = {};  // Empty for new users\nconst current_stage = 'greeting';  // Always greeting for new users\n\nconsole.log('V63.2 NEW USER: Setting current_stage:', current_stage);\nconsole.log('V63.2 NEW USER: Setting currentData:', JSON.stringify(currentData));\n\nconst combinedData = {\n  ...queriesData,\n  ...dbData,\n\n  conversation_id: conversation_id,\n  id: conversation_id,\n  phone_number: dbData.phone_number || queriesData.phone_number || '',\n  message: queriesData.message || queriesData.body || queriesData.text || '',\n\n  // V63.2 CRITICAL FIX: Add currentData and current_stage\n  currentData: currentData,        // ✅ NEW! (empty for new user)\n  current_stage: current_stage,    // ✅ NEW! (always greeting)\n  collected_data: {},              // ✅ Empty for new user\n\n  v63_2_fix_applied: true,\n  v63_2_processor_executed: true,\n  v63_2_processor_timestamp: new Date().toISOString(),\n  v63_2_items_processed: items.length,\n  v63_2_conversation_id_source: 'dbData.id',\n  v63_2_path: 'new_user',\n  v63_2_current_stage_set: current_stage,\n  v63_2_currentData_keys: ''  // Empty for new user\n};\n\nconsole.log('V63.2: Combined data keys:', Object.keys(combinedData).join(', '));\nconsole.log('V63.2: conversation_id in output:', combinedData.conversation_id);\nconsole.log('V63.2: phone_number in output:', combinedData.phone_number);\nconsole.log('V63.2: current_stage in output:', combinedData.current_stage);\nconsole.log('✅ V63.2 CODE PROCESSOR NEW USER COMPLETE');\n\nreturn [combinedData];\n"
      },
      "id": "0614ed8f-a832-488a-afe8-7ed2b2552c44",
      "name": "Process New User Data V57",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        -112
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "70063979-fa59-4f6c-8ce6-7634928c13e3",
      "name": "Merge Append Existing User V57",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1856,
        1360
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// V57 Code Processor - Process append-merged data (EXISTING USER PATH)\nconsole.log('=== V63.2 CODE PROCESSOR EXISTING USER START ===');\n\nconst items = $input.all();\nconsole.log(`V63.2: Received ${items.length} items from Merge append`);\n\nif (items.length !== 2) {\n  console.error(`V63.2 ERROR: Expected 2 items from append, received ${items.length}`);\n  throw new Error(`V63.2: Merge append should produce 2 items, got ${items.length}`);\n}\n\nconst queriesData = items[0].json;  // Input 0 from Merge (Queries)\nconst dbData = items[1].json;       // Input 1 from Merge (Database)\n\nconsole.log('V63.2 Item 0 (Queries) keys:', Object.keys(queriesData).join(', '));\nconsole.log('V63.2 Item 1 (Database) keys:', Object.keys(dbData).join(', '));\n\n// CRITICAL: Extract conversation_id from existing conversation\nconst conversation_id = dbData.id || dbData.conversation_id || null;\n\nconsole.log('V63.2: Extracted conversation_id:', conversation_id);\nconsole.log('V63.2: Type:', typeof conversation_id);\n\nif (!conversation_id) {\n  console.error('V63.2 CRITICAL ERROR: No conversation_id in existing user data!');\n  console.error('V63.2: Database data (item[1]):', JSON.stringify(dbData, null, 2));\n  throw new Error('V63.2: No conversation_id found in existing conversation');\n}\n\n// V63.2 CRITICAL FIX: Parse collected_data from database JSONB column\nlet collectedDataFromDb = {};\ntry {\n  // Database returns collected_data as string or already parsed object\n  if (typeof dbData.collected_data === 'string') {\n    collectedDataFromDb = JSON.parse(dbData.collected_data);\n  } else if (typeof dbData.collected_data === 'object' && dbData.collected_data !== null) {\n    collectedDataFromDb = dbData.collected_data;\n  }\n  console.log('V63.2: Parsed collected_data:', JSON.stringify(collectedDataFromDb));\n} catch (e) {\n  console.error('V63.2: Failed to parse collected_data:', e.message);\n  collectedDataFromDb = {};\n}\n\n// V63.2 CRITICAL FIX: Set current_stage from database state_machine_state\nconst current_stage = dbData.state_machine_state ||\n                     dbData.state_for_machine ||\n                     dbData.current_state ||\n                     'greeting';\n\nconsole.log('V63.2 CRITICAL: Setting current_stage:', current_stage);\n\n// V63.2 CRITICAL FIX: Create currentData object for State Machine\nconst currentData = {\n  ...collectedDataFromDb,  // All collected data from previous messages\n\n  // Add database fields to currentData\n  service_selected: collectedDataFromDb.service_selected || null,\n  service_type: collectedDataFromDb.service_type || dbData.service_type || null,\n  lead_name: collectedDataFromDb.lead_name || dbData.contact_name || null,\n  contact_phone: collectedDataFromDb.contact_phone || dbData.contact_phone || null,\n  email: collectedDataFromDb.email || dbData.contact_email || null,\n  city: collectedDataFromDb.city || dbData.city || null\n};\n\nconsole.log('V63.2 CRITICAL: Created currentData:', JSON.stringify(currentData));\n\n// V64 DEBUG: Extended logging\nconsole.log('=== V64 EXISTING USER EXTENDED DEBUG ===');\nconsole.log('V64: dbData.collected_data TYPE:', typeof dbData.collected_data);\nconsole.log('V64: dbData.collected_data RAW:', dbData.collected_data);\nconsole.log('V64: collectedDataFromDb PARSED:', JSON.stringify(collectedDataFromDb));\nconsole.log('V64: currentData.service_selected:', currentData.service_selected);\nconsole.log('V64: currentData.service_type:', currentData.service_type);\nconsole.log('V64: currentData.lead_name:', currentData.lead_name);\nconsole.log('V64: dbData.state_machine_state:', dbData.state_machine_state);\nconsole.log('V64: current_stage SET TO:', current_stage);\nconsole.log('=== V64 EXISTING USER DEBUG END ===');\n\nconst combinedData = {\n  ...queriesData,\n  ...dbData,\n\n  // EXPLICIT conversation_id mapping\n  conversation_id: conversation_id,\n  id: conversation_id,\n\n  phone_number: dbData.phone_number || queriesData.phone_number || '',\n  message: queriesData.message || queriesData.body || queriesData.text || '',\n\n  // V63.2 CRITICAL FIX: Add currentData and current_stage\n  currentData: currentData,                    // ✅ NEW!\n  current_stage: current_stage,                // ✅ NEW!\n  collected_data: collectedDataFromDb,         // ✅ Parsed from DB\n\n  v63_2_fix_applied: true,                     // ✅ NEW metadata\n  v63_2_processor_executed: true,\n  v63_2_processor_timestamp: new Date().toISOString(),\n  v63_2_items_processed: items.length,\n  v63_2_conversation_id_source: 'dbData.id',\n  v63_2_path: 'existing_user',\n  v63_2_current_stage_set: current_stage,      // ✅ Debug info\n  v63_2_currentData_keys: Object.keys(currentData).join(',')  // ✅ Debug info\n};\n\nconsole.log('V63.2: Combined data keys:', Object.keys(combinedData).join(', '));\nconsole.log('V63.2: conversation_id in output:', combinedData.conversation_id);\nconsole.log('V63.2: phone_number in output:', combinedData.phone_number);\nconsole.log('V63.2: current_stage in output:', combinedData.current_stage);\nconsole.log('V63.2: currentData keys in output:', Object.keys(combinedData.currentData || {}).join(', '));\nconsole.log('✅ V63.2 CODE PROCESSOR EXISTING USER COMPLETE');\n\nreturn [combinedData];\n"
      },
      "id": "90799635-5858-4027-8e7d-519929a9e060",
      "name": "Process Existing User Data V57",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        1312
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "f35247e9-4a95-499f-a02d-254a3501f965",
      "name": "Claude AI Agent State 9 (collect_appointment_date)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        32,
        352
      ],
      "credentials": {},
      "notes": "V70: NEW STATE - Collect appointment date"
    },
    {
      "parameters": {
        "jsCode": "// Validate Appointment Date (V70)\nconst collectedData = $json.collected_data || {};\nconst userResponse = ($json.message || '').toLowerCase().trim();\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\n// Parse date (multiple formats)\nlet parsedDate = null;\n\n// 1. DD/MM/YYYY\nif (userResponse.match(/\\d{2}\\/\\d{2}\\/\\d{4}/)) {\n    const [day, month, year] = userResponse.split('/');\n    parsedDate = new Date(`${year}-${month}-${day}`);\n}\n// 2. DD/MM (assume current year)\nelse if (userResponse.match(/\\d{2}\\/\\d{2}/)) {\n    const [day, month] = userResponse.split('/');\n    const year = new Date().getFullYear();\n    parsedDate = new Date(`${year}-${month}-${day}`);\n}\n// 3. \"amanhã\"\nelse if (userResponse.includes('amanhã') || userResponse.includes('amanha')) {\n    parsedDate = new Date(today);\n    parsedDate.setDate(parsedDate.getDate() + 1);\n}\n// 4. \"próxima segunda\"\nelse if (userResponse.includes('próxima segunda') || userResponse.includes('proxima segunda')) {\n    parsedDate = new Date(today);\n    const daysUntilMonday = (1 + 7 - parsedDate.getDay()) % 7 || 7;\n    parsedDate.setDate(parsedDate.getDate() + daysUntilMonday);\n}\n// 5. Other weekdays\nelse if (userResponse.includes('próxima') || userResponse.includes('proxima')) {\n    const weekdays = {\n        'segunda': 1, 'terça': 2, 'terca': 2, 'quarta': 3,\n        'quinta': 4, 'sexta': 5\n    };\n\n    for (const [day, num] of Object.entries(weekdays)) {\n        if (userResponse.includes(day)) {\n            parsedDate = new Date(today);\n            const daysUntil = (num + 7 - parsedDate.getDay()) % 7 || 7;\n            parsedDate.setDate(parsedDate.getDate() + daysUntil);\n            break;\n        }\n    }\n}\n\n// Validations\nif (!parsedDate || isNaN(parsedDate)) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Data inválida. Por favor, use o formato DD/MM/YYYY ou DD/MM.',\n        ai_response_needed: true\n    };\n}\n\n// Check if date is in the past\nif (parsedDate < today) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Data não pode ser no passado. Por favor, escolha uma data futura.',\n        ai_response_needed: true\n    };\n}\n\n// Check if date is too far (>60 days)\nconst maxDate = new Date(today);\nmaxDate.setDate(maxDate.getDate() + 60);\nif (parsedDate > maxDate) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Data muito distante. Por favor, escolha uma data nos próximos 60 dias.',\n        ai_response_needed: true\n    };\n}\n\n// Check if weekday (Monday-Friday)\nconst dayOfWeek = parsedDate.getDay();\nif (dayOfWeek === 0 || dayOfWeek === 6) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Visitas técnicas apenas de segunda a sexta-feira. Por favor, escolha um dia útil.',\n        ai_response_needed: true\n    };\n}\n\n// Date is VALID\nconst formattedDate = parsedDate.toISOString().split('T')[0]; // YYYY-MM-DD\nconst dayNames = ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'];\nconst dayName = dayNames[dayOfWeek];\n\nconsole.log('✅ [Validate Date] Valid:', formattedDate, dayName);\n\nreturn {\n    ...collectedData,\n    scheduled_date: formattedDate,\n    scheduled_date_display: `${parsedDate.getDate()}/${parsedDate.getMonth()+1}/${parsedDate.getFullYear()} (${dayName})`,\n    current_state: 'collect_appointment_date',\n    next_stage: 'collect_appointment_time',\n    validation_error: null,\n    ai_response_needed: false\n};\n"
      },
      "id": "a1b8f075-fe05-42d6-b780-d16e9ca9230d",
      "name": "Validate Appointment Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        352
      ],
      "alwaysOutputData": true,
      "notes": "V70: Validate appointment date (weekday, not past, <60 days)"
    },
    {
      "parameters": {},
      "id": "7841a25a-ae42-4b5a-a8ae-50d78d295c89",
      "name": "Claude AI Agent State 10 (collect_appointment_time)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        432,
        352
      ],
      "credentials": {},
      "notes": "V70: NEW STATE - Collect appointment time"
    },
    {
      "parameters": {
        "jsCode": "// Validate Appointment Time (V70)\nconst collectedData = $json.collected_data || {};\nconst userResponse = ($json.message || '').toLowerCase().trim();\n\nlet timeStart, timeEnd;\n\n// Parse time formats\nif (userResponse.includes('manhã') || userResponse.includes('manha')) {\n    timeStart = '09:00';\n    timeEnd = '11:00';\n}\nelse if (userResponse.includes('tarde')) {\n    timeStart = '14:00';\n    timeEnd = '16:00';\n}\nelse if (userResponse.match(/\\d{1,2}:\\d{2}/)) {\n    const match = userResponse.match(/(\\d{1,2}):(\\d{2})/);\n    const hour = parseInt(match[1]);\n    const min = match[2];\n\n    // Validate hour format\n    if (hour < 0 || hour > 23) {\n        return {\n            ...collectedData,\n            current_state: 'collect_appointment_time',\n            next_stage: 'collect_appointment_time',\n            validation_error: 'Horário inválido. Use formato HH:MM (exemplo: 09:00).',\n            ai_response_needed: true\n        };\n    }\n\n    timeStart = `${String(hour).padStart(2, '0')}:${min}`;\n\n    // Calculate end time (+2 hours)\n    const endHour = hour + 2;\n    timeEnd = `${String(endHour).padStart(2, '0')}:${min}`;\n}\nelse {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_time',\n        next_stage: 'collect_appointment_time',\n        validation_error: 'Formato não reconhecido. Use HH:MM, \"manhã\" ou \"tarde\".',\n        ai_response_needed: true\n    };\n}\n\n// Validate business hours (08:00-18:00)\nconst startHour = parseInt(timeStart.split(':')[0]);\nconst endHour = parseInt(timeEnd.split(':')[0]);\n\nif (startHour < 8) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_time',\n        next_stage: 'collect_appointment_time',\n        validation_error: 'Horário muito cedo. Nosso atendimento inicia às 08:00.',\n        ai_response_needed: true\n    };\n}\n\nif (endHour > 18) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_time',\n        next_stage: 'collect_appointment_time',\n        validation_error: 'Horário muito tarde. Nosso atendimento encerra às 18:00. Escolha um horário que permita 2h de visita.',\n        ai_response_needed: true\n    };\n}\n\n// Time is VALID\nconsole.log('✅ [Validate Time] Valid:', timeStart, '-', timeEnd);\n\nreturn {\n    ...collectedData,\n    scheduled_time_start: timeStart,\n    scheduled_time_end: timeEnd,\n    scheduled_time_display: `${timeStart} às ${timeEnd}`,\n    current_state: 'collect_appointment_time',\n    next_stage: 'confirmation',\n    validation_error: null,\n    ai_response_needed: false\n};\n"
      },
      "id": "afac623f-2bd9-4ec0-968a-5b62b974b833",
      "name": "Validate Appointment Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        352
      ],
      "alwaysOutputData": true,
      "notes": "V70: Validate appointment time (08:00-18:00, +2h visit)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- V73: Create Appointment in Database\n-- FIX: Simplified n8n expressions (use $json instead of $(\"node\").first())\n-- Data flow: Build Update Queries → Prepare Appointment Data (Set) → HERE\n-- IF nodes don't pass data, so we use Set node to extract and pass data\nINSERT INTO appointments (\n    id,\n    lead_id,\n    scheduled_date,\n    scheduled_time_start,\n    scheduled_time_end,\n    service_type,\n    notes,\n    status,\n    created_at,\n    updated_at\n)\nVALUES (\n    gen_random_uuid(),\n    (SELECT id FROM leads WHERE phone_number = '{{ $json.phone_number }}'),\n    '{{ $json.scheduled_date }}',\n    '{{ $json.scheduled_time_start }}',\n    '{{ $json.scheduled_time_end }}',\n    '{{ $json.service_type }}',\n    'Agendamento via WhatsApp Bot - Cliente: {{ $json.lead_name }} | Cidade: {{ $json.city }}',\n    'agendado',\n    NOW(),\n    NOW()\n)\nRETURNING\n    id as appointment_id,\n    lead_id,\n    scheduled_date,\n    scheduled_time_start,\n    scheduled_time_end,\n    service_type,\n    status,\n    created_at;",
        "options": {}
      },
      "id": "1be0e146-3641-4267-86d1-1790e2f1ff9a",
      "name": "Create Appointment in Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        880,
        -144
      ],
      "alwaysOutputData": true,
      "connections": {
        "main": [
          [
            {
              "node": "Trigger Appointment Scheduler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "credentials": {
        "postgres": {
          "id": "vsRWyRE8vIjBjSwX",
          "name": "Postgres account 2"
        }
      },
      "notes": "V73: CREATE appointment with simplified SQL expressions"
    },
    {
      "parameters": {},
      "id": "4b37d24c-075e-4724-81d9-cc79a4805ca7",
      "name": "Claude AI Agent State 11 (appointment_confirmation)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        432,
        560
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Build Update Queries",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "credentials": {},
      "notes": "V70: NEW STATE - Collect appointment time"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "phone_number",
              "value": "={{ $('Build Update Queries').first().json.phone_number }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "scheduled_date",
              "value": "={{ $('Build Update Queries').first().json.collected_data.scheduled_date }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "scheduled_time_start",
              "value": "={{ $('Build Update Queries').first().json.collected_data.scheduled_time_start }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "scheduled_time_end",
              "value": "={{ $('Build Update Queries').first().json.collected_data.scheduled_time_end }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "service_type",
              "value": "={{ $('Build Update Queries').first().json.collected_data.service_type }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "lead_name",
              "value": "={{ $('Build Update Queries').first().json.collected_data.lead_name }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "city",
              "value": "={{ $('Build Update Queries').first().json.collected_data.city }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2a1e4d9b-7d94-4433-8e1b-a886c486b69a",
      "name": "Prepare Appointment Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        352
      ],
      "alwaysOutputData": true,
      "notes": "V73: Extract data from Build Update Queries to bypass IF node data loss"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Build Update Queries'].json.next_stage }}",
              "value2": "scheduling_redirect"
            }
          ]
        }
      },
      "id": "94c37965-5c0e-4904-883a-096388c35729",
      "name": "Check If Scheduling",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        352,
        64
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Build Update Queries'].json.next_stage }}",
              "value2": "trigger_wf06_next_dates"
            }
          ]
        }
      },
      "id": "7c5734fa-c72b-4b1b-b17b-f08d6f722417",
      "name": "Check If WF06 Next Dates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1024,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Build Update Queries'].json.next_stage }}",
              "value2": "trigger_wf06_available_slots"
            }
          ]
        }
      },
      "id": "e98be4d4-d121-4770-9b48-9d5d6a912167",
      "name": "Check If WF06 Available Slots",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -784,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-n8n-dev:5678/webhook/calendar-availability",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"action\": \"next_dates\",\n  \"count\": 3,\n  \"service_type\": \"$node['State Machine'].json.service_type\",\n  \"duration_minutes\": 120\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "9f314934-6b73-4310-a597-0be4b073eb47",
      "name": "HTTP Request - Get Next Dates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -544,
        96
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Prepare WF06 Next Dates Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-n8n-dev:5678/webhook/calendar-availability",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"available_slots\",\n  \"date\": \"{{ $node['State Machine'].json.collected_data.selected_date }}\",\n  \"service_type\": \"{{ $json.service_type || 'energia_solar' }}\",\n  \"duration_minutes\": 120\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "8c5b1152-a1b4-4b2e-8419-5ce59f86bb28",
      "name": "HTTP Request - Get Available Slots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -512,
        896
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Prepare WF06 Available Slots Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare WF06 Next Dates Response V88\n// FIX: Preserva dados do usuário (phone_number, conversation_id, etc.) do HTTP Request input\n// ANTES V87: Retornava APENAS {wf06_next_dates} → phone_number perdido no Merge\n// DEPOIS V88: Retorna input completo + wf06_next_dates → phone_number preservado\n\n// IMPORTANTE: Este node recebe dados do \"HTTP Request - Get Next Dates\"\n// que contém: phone_number, phone_with_code, conversation_id, message, etc.\n\nconst httpResponse = $input.first().json;\nconst inputData = $input.first().json; // V88: Preservar TODOS os dados de entrada\n\nconsole.log('=== PREPARE WF06 NEXT DATES V88 (DATA PRESERVATION FIX) ===');\nconsole.log('Full inputData keys:', Object.keys(inputData));\nconsole.log('Has phone_number:', !!inputData.phone_number);\nconsole.log('Has conversation_id:', !!inputData.conversation_id);\n\n// Validar resposta existe\nif (!httpResponse) {\n  console.error('ERROR: No httpResponse from HTTP Request node');\n  throw new Error('HTTP Request returned empty response');\n}\n\n// Extrair 'dates' array - TODAS as possibilidades de acesso\nlet datesData = null;\nlet accessPath = '';\n\n// 1. Acesso direto ao root\nif (httpResponse.dates && Array.isArray(httpResponse.dates)) {\n  datesData = httpResponse.dates;\n  accessPath = 'httpResponse.dates';\n  console.log('✅ Found dates at ROOT level');\n}\n// 2. Propriedade 'json' wrapeada (comum em n8n)\nelse if (httpResponse.json && httpResponse.json.dates) {\n  datesData = httpResponse.json.dates;\n  accessPath = 'httpResponse.json.dates';\n  console.log('✅ Found dates in WRAPPED .json property');\n}\n// 3. Propriedade 'body' (algumas versões n8n)\nelse if (httpResponse.body) {\n  console.log('Found .body property, parsing...');\n  const bodyData = typeof httpResponse.body === 'string' ? JSON.parse(httpResponse.body) : httpResponse.body;\n  if (bodyData.dates) {\n    datesData = bodyData.dates;\n    accessPath = 'httpResponse.body.dates';\n    console.log('✅ Found dates in .body property');\n  }\n}\n// 4. Propriedade 'data' (outro padrão comum)\nelse if (httpResponse.data && httpResponse.data.dates) {\n  datesData = httpResponse.data.dates;\n  accessPath = 'httpResponse.data.dates';\n  console.log('✅ Found dates in .data property');\n}\n// 5. Response direta é o JSON do WF06 (raro mas possível)\nelse if (httpResponse.success && httpResponse.dates) {\n  datesData = httpResponse.dates;\n  accessPath = 'httpResponse.dates (WF06 direct)';\n  console.log('✅ Found dates in WF06 direct format');\n}\n\n// Se não encontrou, logar estrutura completa e falhar\nif (!datesData) {\n  console.error('❌ ERROR: Could not find dates property in ANY expected location');\n  console.error('Response structure:', JSON.stringify(httpResponse, null, 2));\n  console.error('Checked paths: root.dates, json.dates, body.dates, data.dates, direct WF06');\n  throw new Error('Invalid WF06 response format - missing dates property in all locations');\n}\n\n// Validar estrutura\nif (!Array.isArray(datesData)) {\n  console.error('ERROR: dates is not an array');\n  console.error('Received type:', typeof datesData);\n  console.error('Received value:', datesData);\n  throw new Error('WF06 returned dates in invalid format (not array)');\n}\n\nif (datesData.length === 0) {\n  console.error('ERROR: dates array is empty');\n  throw new Error('WF06 returned empty dates array');\n}\n\nconsole.log(`✅ SUCCESS: Received ${datesData.length} dates with availability`);\nconsole.log(`Access path used: ${accessPath}`);\n\n// V88 FIX: Preservar TODOS os dados de entrada + adicionar wf06_next_dates\n// Isso garante que phone_number, conversation_id, etc. sejam passados para o Merge\nconst preparedData = {\n  ...inputData,  // V88: Preserva phone_number, conversation_id, message, etc.\n  wf06_next_dates: datesData  // Adiciona resposta do WF06\n};\n\nconsole.log('✅ V88 Data preservation:');\nconsole.log('  - phone_number:', preparedData.phone_number);\nconsole.log('  - conversation_id:', preparedData.conversation_id);\nconsole.log('  - wf06_next_dates count:', preparedData.wf06_next_dates.length);\n\nreturn preparedData;\n"
      },
      "id": "622e6284-f8e2-4e10-9506-74c8b287cdfc",
      "name": "Prepare WF06 Next Dates Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        -352
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Merge WF06 Next Dates with User Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {},
      "id": "654deb91-3b08-4d14-a206-5fe86242be37",
      "name": "Merge WF06 Next Dates with User Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -912,
        -384
      ],
      "connections": {
        "main": [
          [
            {
              "node": "State Machine Logic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare WF06 Available Slots Response V88\n// FIX: Preserva dados do usuário (phone_number, conversation_id, etc.) do HTTP Request input\n// ANTES V87: Retornava APENAS {wf06_available_slots} → phone_number perdido no Merge\n// DEPOIS V88: Retorna input completo + wf06_available_slots → phone_number preservado\n\nconst httpResponse = $input.first().json;\nconst inputData = $input.first().json; // V88: Preservar TODOS os dados de entrada\n\nconsole.log('=== PREPARE WF06 AVAILABLE SLOTS V88 (DATA PRESERVATION FIX) ===');\nconsole.log('Full inputData keys:', Object.keys(inputData));\nconsole.log('Has phone_number:', !!inputData.phone_number);\nconsole.log('Has conversation_id:', !!inputData.conversation_id);\n\n// Validar resposta existe\nif (!httpResponse) {\n  console.error('ERROR: No httpResponse from HTTP Request node');\n  throw new Error('HTTP Request returned empty response');\n}\n\n// Extrair 'slots' array - TODAS as possibilidades de acesso\nlet slotsData = null;\nlet accessPath = '';\n\n// 1. Acesso direto ao root (formato WF06 V2.1)\nif (httpResponse.slots && Array.isArray(httpResponse.slots)) {\n  slotsData = httpResponse.slots;\n  accessPath = 'httpResponse.slots';\n  console.log('✅ Found slots at ROOT level');\n}\n// 2. Propriedade 'json' wrapeada\nelse if (httpResponse.json && httpResponse.json.slots) {\n  slotsData = httpResponse.json.slots;\n  accessPath = 'httpResponse.json.slots';\n  console.log('✅ Found slots in WRAPPED .json property');\n}\n// 3. Propriedade 'body'\nelse if (httpResponse.body) {\n  console.log('Found .body property, parsing...');\n  const bodyData = typeof httpResponse.body === 'string' ? JSON.parse(httpResponse.body) : httpResponse.body;\n  if (bodyData.slots) {\n    slotsData = bodyData.slots;\n    accessPath = 'httpResponse.body.slots';\n    console.log('✅ Found slots in .body property');\n  }\n}\n// 4. Propriedade 'data'\nelse if (httpResponse.data && httpResponse.data.slots) {\n  slotsData = httpResponse.data.slots;\n  accessPath = 'httpResponse.data.slots';\n  console.log('✅ Found slots in .data property');\n}\n// 5. Response direta WF06 format\nelse if (httpResponse.success && httpResponse.slots) {\n  slotsData = httpResponse.slots;\n  accessPath = 'httpResponse.slots (WF06 direct)';\n  console.log('✅ Found slots in WF06 direct format');\n}\n// 6. Fallback: WF06 pode retornar 'available_slots' para este endpoint\nelse if (httpResponse.available_slots && Array.isArray(httpResponse.available_slots)) {\n  slotsData = httpResponse.available_slots;\n  accessPath = 'httpResponse.available_slots';\n  console.log('⚠️ Found available_slots (fallback format)');\n}\n\n// Se não encontrou, logar estrutura completa e falhar\nif (!slotsData) {\n  console.error('❌ ERROR: Could not find slots/available_slots property in ANY expected location');\n  console.error('Response structure:', JSON.stringify(httpResponse, null, 2));\n  console.error('Checked paths: root.slots, json.slots, body.slots, data.slots, available_slots');\n  throw new Error('Invalid WF06 response format - missing slots property in all locations');\n}\n\n// Validar estrutura\nif (!Array.isArray(slotsData)) {\n  console.error('ERROR: slots is not an array');\n  console.error('Received type:', typeof slotsData);\n  console.error('Received value:', slotsData);\n  throw new Error('WF06 returned slots in invalid format (not array)');\n}\n\nif (slotsData.length === 0) {\n  console.error('ERROR: slots array is empty');\n  throw new Error('WF06 returned empty slots array');\n}\n\nconsole.log(`✅ SUCCESS: Received ${slotsData.length} available slots`);\nconsole.log(`Access path used: ${accessPath}`);\n\n// V88 FIX: Preservar TODOS os dados de entrada + adicionar wf06_available_slots\nconst preparedData = {\n  ...inputData,  // V88: Preserva phone_number, conversation_id, message, etc.\n  wf06_available_slots: slotsData  // Adiciona resposta do WF06\n};\n\nconsole.log('✅ V88 Data preservation:');\nconsole.log('  - phone_number:', preparedData.phone_number);\nconsole.log('  - conversation_id:', preparedData.conversation_id);\nconsole.log('  - wf06_available_slots count:', preparedData.wf06_available_slots.length);\n\nreturn preparedData;\n"
      },
      "id": "3529d925-ab5a-4ce0-94a3-c6875d571293",
      "name": "Prepare WF06 Available Slots Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        1376
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Merge WF06 Available Slots with User Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {},
      "id": "50892c09-4f74-49a7-82fa-56ede6a27cba",
      "name": "Merge WF06 Available Slots with User Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -656,
        1376
      ],
      "connections": {
        "main": [
          [
            {
              "node": "State Machine Logic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// DEBUG WF06 Next Dates Response V85\n// Captura e loga TODA a resposta do HTTP Request\n\nconst httpResponse = $input.first().json;\n\nconsole.log('=== DEBUG WF06 NEXT DATES RESPONSE ===');\nconsole.log('Full HTTP Response:', JSON.stringify(httpResponse, null, 2));\nconsole.log('Response type:', typeof httpResponse);\nconsole.log('Response is array:', Array.isArray(httpResponse));\nconsole.log('Response keys:', Object.keys(httpResponse));\n\n// Verificar se tem property 'json' wrapeada\nif (httpResponse.json) {\n  console.log('Found wrapped .json property');\n  console.log('Wrapped json:', JSON.stringify(httpResponse.json, null, 2));\n  console.log('Wrapped json keys:', Object.keys(httpResponse.json));\n}\n\n// Verificar se tem property 'body'\nif (httpResponse.body) {\n  console.log('Found .body property');\n  console.log('Body type:', typeof httpResponse.body);\n  console.log('Body:', httpResponse.body);\n}\n\n// Verificar se tem property 'data'\nif (httpResponse.data) {\n  console.log('Found .data property');\n  console.log('Data:', JSON.stringify(httpResponse.data, null, 2));\n}\n\n// Verificar propriedades dates e dates_with_availability\nif (httpResponse.dates) {\n  console.log('✅ Found .dates property (EXPECTED FORMAT)');\n  console.log('Dates count:', httpResponse.dates.length);\n}\n\nif (httpResponse.dates_with_availability) {\n  console.log('⚠️ Found .dates_with_availability property (OLD FORMAT)');\n}\n\n// Passar resposta original adiante para Prepare node\nreturn httpResponse;\n"
      },
      "id": "dda74e8b-e6a0-4d49-bb73-11e187bcb8ab",
      "name": "Debug WF06 Next Dates Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -192
      ]
    },
    {
      "parameters": {
        "jsCode": "// DEBUG WF06 Available Slots Response V85\n// Captura e loga TODA a resposta do HTTP Request\n\nconst httpResponse = $input.first().json;\n\nconsole.log('=== DEBUG WF06 AVAILABLE SLOTS RESPONSE ===');\nconsole.log('Full HTTP Response:', JSON.stringify(httpResponse, null, 2));\nconsole.log('Response type:', typeof httpResponse);\nconsole.log('Response is array:', Array.isArray(httpResponse));\nconsole.log('Response keys:', Object.keys(httpResponse));\n\n// Verificar se tem property 'json' wrapeada\nif (httpResponse.json) {\n  console.log('Found wrapped .json property');\n  console.log('Wrapped json:', JSON.stringify(httpResponse.json, null, 2));\n  console.log('Wrapped json keys:', Object.keys(httpResponse.json));\n}\n\n// Verificar se tem property 'body'\nif (httpResponse.body) {\n  console.log('Found .body property');\n  console.log('Body type:', typeof httpResponse.body);\n  console.log('Body:', httpResponse.body);\n}\n\n// Verificar propriedades slots e available_slots\nif (httpResponse.slots) {\n  console.log('✅ Found .slots property (EXPECTED FORMAT)');\n  console.log('Slots count:', httpResponse.slots.length);\n}\n\nif (httpResponse.available_slots) {\n  console.log('⚠️ Found .available_slots property (ALTERNATE FORMAT)');\n}\n\n// Passar resposta original adiante para Prepare node\nreturn httpResponse;\n"
      },
      "id": "ce19c41c-a7d7-43fb-bbfa-25a2b486fcf3",
      "name": "Debug WF06 Available Slots Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        1104
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-evolution-dev:8080/message/sendText/e2-solucoes-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "ae569043cfa169380c378347f91a1141ea572541d2d1cadbed222db519c8a891"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Build Update Queries\"].json.phone_number }}"
            },
            {
              "name": "text",
              "value": "={{ $input.first().json.response_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f04d1a3e-d83e-494a-a840-9aba1e43e9be",
      "name": "Send WhatsApp Response1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -416,
        -400
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Check If Scheduling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// WF02 V102 - Build WF06 Response Message\n// Purpose: Format WF06 calendar dates for WhatsApp without triggering State Machine\n// This fixes the double State Machine execution bug\n\nconst input = $input.first().json;\nconst dates = input.wf06_next_dates || [];\n\nconsole.log('=== BUILD WF06 RESPONSE MESSAGE V102 ===');\nconsole.log('Input phone_number:', input.phone_number);\nconsole.log('WF06 dates count:', dates.length);\n\n// Handle empty calendar\nif (!dates || dates.length === 0) {\n  console.log('⚠️ No dates available from WF06');\n  return {\n    json: {\n      phone_number: input.phone_number,\n      response_text: '⚠️ Não encontramos horários disponíveis no momento.\\n\\n📞 Entre em contato: (62) 3092-2900'\n    }\n  };\n}\n\n// Build date options message\nlet dateOptions = '';\ndates.forEach((dateObj, index) => {\n  const number = index + 1;\n  const qualityEmoji = dateObj.quality === 'high' ? '✨' :\n                      dateObj.quality === 'medium' ? '📅' : '⚠️';\n  dateOptions += `${number}️⃣ *${dateObj.display}*\\n   🕐 ${dateObj.total_slots} horários livres ${qualityEmoji}\\n\\n`;\n});\n\nconst responseText = `📅 *Agendar Visita Técnica*\\n\\n` +\n                    `📆 *Próximas datas disponíveis:*\\n\\n` +\n                    dateOptions +\n                    `💡 *Escolha uma opção (1-3)*\\n` +\n                    `_Digite o número da data desejada_`;\n\nconsole.log('✅ Response message built successfully');\nconsole.log('Message length:', responseText.length);\n\nreturn {\n  json: {\n    phone_number: input.phone_number,\n    response_text: responseText,\n    date_suggestions: dates\n  }\n};\n"
      },
      "id": "94a18a44-a626-44d8-9438-5570f34b6971",
      "name": "Build WF06 Slots Response Message1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        1376
      ],
      "alwaysOutputData": true,
      "notes": "V70: Validate appointment date (weekday, not past, <60 days)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-evolution-dev:8080/message/sendText/e2-solucoes-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "ae569043cfa169380c378347f91a1141ea572541d2d1cadbed222db519c8a891"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Build Update Queries\"].json.phone_number }}"
            },
            {
              "name": "text",
              "value": "={{ $input.first().json.response_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "225fae8d-8f9c-4563-ba07-17085365c7a0",
      "name": "Send WhatsApp Response2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -208,
        1376
      ],
      "connections": {
        "main": [
          [
            {
              "node": "Check If Scheduling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    {
      "parameters": {
        "jsCode": "// WF02 V102 - Build WF06 Response Message\n// Purpose: Format WF06 calendar dates for WhatsApp without triggering State Machine\n// This fixes the double State Machine execution bug\n\nconst input = $input.first().json;\nconst dates = input.wf06_next_dates || [];\n\nconsole.log('=== BUILD WF06 RESPONSE MESSAGE V102 ===');\nconsole.log('Input phone_number:', input.phone_number);\nconsole.log('WF06 dates count:', dates.length);\n\n// Handle empty calendar\nif (!dates || dates.length === 0) {\n  console.log('⚠️ No dates available from WF06');\n  return {\n    json: {\n      phone_number: input.phone_number,\n      response_text: '⚠️ Não encontramos horários disponíveis no momento.\\n\\n📞 Entre em contato: (62) 3092-2900'\n    }\n  };\n}\n\n// Build date options message\nlet dateOptions = '';\ndates.forEach((dateObj, index) => {\n  const number = index + 1;\n  const qualityEmoji = dateObj.quality === 'high' ? '✨' :\n                      dateObj.quality === 'medium' ? '📅' : '⚠️';\n  dateOptions += `${number}️⃣ *${dateObj.display}*\\n   🕐 ${dateObj.total_slots} horários livres ${qualityEmoji}\\n\\n`;\n});\n\nconst responseText = `📅 *Agendar Visita Técnica*\\n\\n` +\n                    `📆 *Próximas datas disponíveis:*\\n\\n` +\n                    dateOptions +\n                    `💡 *Escolha uma opção (1-3)*\\n` +\n                    `_Digite o número da data desejada_`;\n\nconsole.log('✅ Response message built successfully');\nconsole.log('Message length:', responseText.length);\n\nreturn {\n  json: {\n    phone_number: input.phone_number,\n    response_text: responseText,\n    date_suggestions: dates\n  }\n};\n"
      },
      "id": "a60490df-2e47-4ac6-a3b5-0a77bbe16fce",
      "name": "Build WF06 NEXT DATE Response Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -384
      ],
      "alwaysOutputData": true,
      "notes": "V70: Validate appointment date (weekday, not past, <60 days)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.update_query }}",
        "options": {}
      },
      "id": "88299472-db9a-4855-8cf4-dd2c44738594",
      "name": "Update Conversation State1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -368,
        -688
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vsRWyRE8vIjBjSwX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Update Queries1 - WF06 Next Dates State Update\n  // Prepares data for updating state after showing WF06 dates to user\n  //\n  // PURPOSE: After showing dates from WF06, update database to:\n  // - state_machine_state = \"show_available_dates\"\n  // - collected_data.current_stage = \"show_available_dates\"\n  // - collected_data.awaiting_wf06_next_dates = true\n  //\n  // This ensures when user sends next message (date selection),\n  // State Machine knows to process it as date selection, not as error.\n\n  // Get data from previous nodes\n  // The Merge node combined WF06 response with user data\n  const inputData = $input.first().json;\n\n  // Extract phone number (try multiple possible sources)\n  const phone_number = inputData.phone_number ||\n                       inputData.phone_with_code ||\n                       inputData.from ||\n                       '';\n\n  // Validate phone number exists\n  if (!phone_number) {\n    console.error('Build Update Queries1: No phone_number found in input!');\n    console.error('Build Update Queries1: Available keys:', Object.keys(inputData));\n    throw new Error('Phone number is required for state update');\n  }\n\n  // Build SQL query for state update\n  const update_query = `\n  UPDATE conversations\n  SET\n    state_machine_state = 'show_available_dates',\n    collected_data = jsonb_set(\n      jsonb_set(\n        collected_data,\n        '{current_stage}',\n        '\"show_available_dates\"'\n      ),\n      '{awaiting_wf06_next_dates}',\n      'true'\n    ),\n    updated_at = NOW()\n  WHERE phone_number = '${phone_number.replace(/'/g, \"''\")}'\n  RETURNING *;\n  `.trim();\n\n  // Log for debugging\n  console.log('=== Build Update Queries1 ===');\n  console.log('Phone number:', phone_number);\n  console.log('Setting state to: show_available_dates');\n  console.log('Setting awaiting_wf06_next_dates: true');\n\n  // Return data for Update Conversation State1 node\n  return [{\n    json: {\n      // Preserve all original data\n      ...inputData,\n\n      // Add query for PostgreSQL node\n      update_query: update_query,\n\n      // Explicitly set phone_number for reference\n      phone_number: phone_number,\n\n      // Add metadata\n      state_update_type: 'wf06_next_dates_shown',\n      target_state: 'show_available_dates',\n      timestamp: new Date().toISOString()\n    }\n  }];"
      },
      "id": "c8c51232-cce3-4ad9-be71-6285f4bb4ae2",
      "name": "Build Update Queries1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -592
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": " // Build Update Queries2 - WF06 Available Slots State Update\n\n  const inputData = $input.first().json;\n\n  const phone_number = inputData.phone_number ||\n                       inputData.phone_with_code ||\n                       inputData.from ||\n                       '';\n\n  if (!phone_number) {\n    throw new Error('Phone number is required for state update');\n  }\n\n  const update_query = `\n  UPDATE conversations\n  SET\n    state_machine_state = 'show_available_slots',\n    collected_data = jsonb_set(\n      jsonb_set(\n        collected_data,\n        '{current_stage}',\n        '\"show_available_slots\"'\n      ),\n      '{awaiting_wf06_available_slots}',\n      'true'\n    ),\n    updated_at = NOW()\n  WHERE phone_number = '${phone_number.replace(/'/g, \"''\")}'\n  RETURNING *;\n  `.trim();\n\n  console.log('=== Build Update Queries2 ===');\n  console.log('Phone number:', phone_number);\n  console.log('Setting state to: show_available_slots');\n  console.log('Setting awaiting_wf06_available_slots: true');\n\n  return [{\n    json: {\n      ...inputData,\n      update_query: update_query,\n      phone_number: phone_number,\n      state_update_type: 'wf06_available_slots_shown',\n      target_state: 'show_available_slots',\n      timestamp: new Date().toISOString()\n    }\n  }];\n"
      },
      "id": "0660c79c-1fb5-4b07-b986-fb49ec87a72d",
      "name": "Build Update Queries2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        1376
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.update_query }}",
        "options": {}
      },
      "id": "7a59e2ec-ffd2-4988-807f-b8fa96b10263",
      "name": "Update Conversation State2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        208,
        1376
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vsRWyRE8vIjBjSwX",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Receive Message": {
      "main": [
        [
          {
            "node": "Prepare Phone Formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Count": {
      "main": [
        [
          {
            "node": "Check If New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If New User": {
      "main": [
        [
          {
            "node": "Merge Queries Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Queries Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Details": {
      "main": [
        [
          {
            "node": "Merge Append Existing User V57",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create New Conversation": {
      "main": [
        [
          {
            "node": "Merge Append New User V57",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "State Machine Logic": {
      "main": [
        [
          {
            "node": "Build Update Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Check If Handoff",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check If Scheduling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Scheduling": {
      "main": [
        [
          {
            "node": "Prepare Appointment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Handoff": {
      "main": [
        [
          {
            "node": "Trigger Human Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Appointment Scheduler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Human Handoff": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Data": {
      "main": [
        [
          {
            "node": "Prepare Phone Formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Phone Formats": {
      "main": [
        [
          {
            "node": "Build SQL Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL Queries": {
      "main": [
        [
          {
            "node": "Get Conversation Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Queries Data": {
      "main": [
        [
          {
            "node": "Create New Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Append New User V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Queries Data1": {
      "main": [
        [
          {
            "node": "Get Conversation Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Append Existing User V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Queries": {
      "main": [
        [
          {
            "node": "Update Conversation State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Inbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Outbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Append New User V57": {
      "main": [
        [
          {
            "node": "Process New User Data V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Append Existing User V57": {
      "main": [
        [
          {
            "node": "Process Existing User Data V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process New User Data V57": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Existing User Data V57": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment in Database": {
      "main": [
        [
          {
            "node": "Trigger Appointment Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Appointment Data": {
      "main": [
        [
          {
            "node": "Create Appointment in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If WF06 Next Dates": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Next Dates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If WF06 Available Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If WF06 Available Slots": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Available Slots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Lead Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Next Dates": {
      "main": [
        [
          {
            "node": "Debug WF06 Next Dates Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Available Slots": {
      "main": [
        [
          {
            "node": "Debug WF06 Available Slots Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WF06 Next Dates Data": {
      "main": [
        [
          {
            "node": "Merge WF06 Next Dates with User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge WF06 Next Dates with User Data": {
      "main": [
        [
          {
            "node": "Build WF06 NEXT DATE Response Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare WF06 Available Slots Data": {
      "main": [
        [
          {
            "node": "Merge WF06 Available Slots with User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge WF06 Available Slots with User Data": {
      "main": [
        [
          {
            "node": "Build WF06 Slots Response Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug WF06 Next Dates Response": {
      "main": [
        [
          {
            "node": "Prepare WF06 Next Dates Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug WF06 Available Slots Response": {
      "main": [
        [
          {
            "node": "Prepare WF06 Available Slots Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation State": {
      "main": [
        [
          {
            "node": "Check If WF06 Next Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build WF06 Slots Response Message1": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response1": {
      "main": [
        []
      ]
    },
    "Build WF06 NEXT DATE Response Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Update Queries1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Queries1": {
      "main": [
        [
          {
            "node": "Update Conversation State1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response2": {
      "main": [
        [
          {
            "node": "Build Update Queries2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Queries2": {
      "main": [
        [
          {
            "node": "Update Conversation State2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "99d7b41c-6236-423e-936f-7c1687a9b0b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fdfe93abe32498449a5c562287377531721c192ed09d1b2d907a8a704f3a5883"
  },
  "id": "9tG2gR6KBt6nYyHT",
  "tags": []
}