e2-solucoes-bot/n8n/workflows/historical/wf02/wk02_v102_exported.json
[{"updatedAt":"2026-04-27T21:27:26.566Z","createdAt":"2026-04-27T21:21:49.139Z","id":"9tG2gR6KBt6nYyHT","name":"wk02_v102_1","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"36318480-72ce-48b6-afd1-33609451a222","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-2288,576]},{"parameters":{"jsCode":"// Validação de entrada do Workflow 01\nconst inputData = $input.first().json;\n\n// Validação crítica do phone_number\nif (!inputData.phone_number || inputData.phone_number === 'undefined') {\n    throw new Error('Phone number is required but was not received from Workflow 01');\n}\n\n// Limpar e validar formato do phone_number\nlet phone_number = String(inputData.phone_number).replace(/[^0-9]/g, '');\n\n// Remover @s.whatsapp.net se existir\nif (phone_number.includes('@')) {\n  phone_number = phone_number.split('@')[0];\n}\n\n// IMPORTANTE: Adicionar código 55 se não tiver (MOVIDO DO PREPARE UPDATE DATA)\nif (phone_number && !phone_number.startsWith('55')) {\n  // Se tem 10 ou 11 dígitos (formato brasileiro), adiciona 55\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n    console.log('Adicionado código 55:', phone_number);\n  }\n  // Se tem 12 ou 13 dígitos começando com outro código, mantém\n  else if (phone_number.length >= 12) {\n    console.log('Número já tem código de país:', phone_number);\n  }\n  // Qualquer outro caso, tenta adicionar 55\n  else {\n    phone_number = '55' + phone_number;\n    console.log('Formato desconhecido, adicionado 55:', phone_number);\n  }\n}\n\n// Validação de formato brasileiro (DDD + número) - AGORA COM 55\nif (phone_number.length < 12 || phone_number.length > 13) {\n    console.warn(`Phone number format unusual: ${phone_number} (expected 12-13 digits with country code)`);\n}\n\nconsole.log('Validated input:', {\n    phone_number: phone_number,  // Agora já tem 55\n    whatsapp_name: inputData.whatsapp_name,\n    message_type: inputData.message_type\n});\n\nreturn {\n    phone_number: phone_number,  // COM código 55\n    whatsapp_name: inputData.whatsapp_name || '',\n    message: inputData.message || '',\n    message_type: inputData.message_type || 'text',\n    media_url: inputData.media_url || null,\n    message_id: inputData.message_id || '',\n    timestamp: inputData.timestamp || new Date().toISOString()\n};"},"id":"de86eda1-b64e-45bf-939f-b40b1c034f6e","name":"Validate Input Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2688,672]},{"parameters":{"jsCode":"// Prepare both phone formats for SQL queries\n// This node receives data directly from WEBHOOK (not from Validate Input Data)\nconst inputData = $input.first().json;\n\n// Get phone number - could come from webhook or validate input\nlet phone_with_code = String(inputData.phone_number || '');\n\n// Clean the phone number\nphone_with_code = phone_with_code.replace(/[^0-9]/g, '');\n\n// Add country code if missing\nif (phone_with_code && !phone_with_code.startsWith('55')) {\n    if (phone_with_code.length === 10 || phone_with_code.length === 11) {\n        phone_with_code = '55' + phone_with_code;\n        console.log('Added country code 55:', phone_with_code);\n    }\n}\n\n// Create version without country code for compatibility\nlet phone_without_code = phone_with_code;\nif (phone_with_code.startsWith('55')) {\n    phone_without_code = phone_with_code.substring(2);\n}\n\nconsole.log('=== PHONE FORMAT PREPARATION ===');\nconsole.log('With code (55):', phone_with_code);\nconsole.log('Without code:', phone_without_code);\n\n// Return both formats and pass through all other data\nreturn {\n    ...inputData, // Pass through all original data\n    phone_with_code: phone_with_code,      // e.g., \"556181755748\"\n    phone_without_code: phone_without_code, // e.g., \"6181755748\"\n    // Keep original for compatibility\n    phone_number: phone_with_code,\n\n    // CRITICAL V26 FIX: Ensure ALL possible message field names are present\n    // This handles different webhook formats from Evolution API\n    message: inputData.message || inputData.body || inputData.text || inputData.content || '',\n    content: inputData.content || inputData.message || inputData.body || inputData.text || '',\n    body: inputData.body || inputData.message || inputData.text || inputData.content || '',\n    text: inputData.text || inputData.message || inputData.body || inputData.content || '',\n\n    // Also ensure whatsapp_name is present\n    whatsapp_name: inputData.whatsapp_name || inputData.pushName || inputData.profileName || ''\n};"},"id":"272f908f-2fbf-446f-9fe5-13fcaff5e0b5","name":"Prepare Phone Formats","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2848,432]},{"parameters":{"httpMethod":"POST","path":"webhook-ai-agent","responseMode":"lastNode","options":{}},"id":"6cc8856d-2402-4e43-b9a6-eeab00be506a","name":"Webhook - Receive Message","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-2288,736],"webhookId":"ai-agent-conversation-v1"},{"parameters":{"operation":"executeQuery","query":"{{$json.query_count}}","additionalFields":{}},"id":"2a4f6b18-cc1e-4f43-9269-454fcaf7a2a5","name":"Get Conversation Count","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-2080,736],"credentials":{"postgres":{"id":"vsRWyRE8vIjBjSwX","name":"Postgres account 2"}}},{"parameters":{"operation":"executeQuery","query":"{{$json.query_details}}","additionalFields":{}},"id":"cc9301e0-2b2e-4ac0-bfde-2aa640d663da","name":"Get Conversation Details","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-1472,976],"alwaysOutputData":true,"connections":{"main":[[{"node":"Merge WF06 Next Dates with User Data","type":"main","index":1},{"node":"Merge WF06 Available Slots with User Data","type":"main","index":1}]]},"credentials":{"postgres":{"id":"vsRWyRE8vIjBjSwX","name":"Postgres account 2"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.count }}","value2":"0"}]}},"id":"595affbf-b70b-4edd-bb73-7a6928fed061","name":"Check If New User","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1888,736]},{"parameters":{"operation":"executeQuery","query":"{{$json.query_upsert}}","options":{}},"id":"e029b847-9408-47d5-9071-578289413bbe","name":"Create New Conversation","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[-1760,-320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"vsRWyRE8vIjBjSwX","name":"Postgres account 2"}}},{"parameters":{"functionCode":"// FIX WF02 V101 - Prepare WF06 Next Dates Data - User Data Preservation\n// Problem: After HTTP Request node, $input.first().json only contains HTTP response\n//          User data (phone_number, conversation_id, collected_data) is LOST\n// Solution: Explicitly get user data from \"Build Update Queries\" node using $node[\"Build Update Queries\"].json\n\nconst httpResponse = $input.first().json;\n\n// V101 FIX: Get user data from Build Update Queries node (BEFORE HTTP Request)\n// This is CRITICAL because HTTP Request node replaces $input with HTTP response only\nconst userData = $node[\"Build Update Queries\"].json;\n\nconsole.log('=== PREPARE WF06 NEXT DATES V101 (USER DATA PRESERVATION FIX) ===');\nconsole.log('HTTP Response keys:', Object.keys(httpResponse));\nconsole.log('User Data keys:', Object.keys(userData));\nconsole.log('User phone_number:', userData.phone_number);\nconsole.log('User conversation_id:', userData.conversation_id);\nconsole.log('User collected_data exists:', !!userData.collected_data);\n\n// Validar resposta existe\nif (!httpResponse) {\n  console.error('ERROR: No httpResponse from HTTP Request node');\n  throw new Error('HTTP Request returned empty response');\n}\n\n// Extrair 'dates' array - TODAS as possibilidades de acesso\nlet datesData = null;\nlet accessPath = '';\n\n// 1. Acesso direto ao root\nif (httpResponse.dates && Array.isArray(httpResponse.dates)) {\n  datesData = httpResponse.dates;\n  accessPath = 'httpResponse.dates';\n  console.log('✅ Found dates at ROOT level');\n}\n// 2. Propriedade 'json' wrapeada (comum em n8n)\nelse if (httpResponse.json && httpResponse.json.dates) {\n  datesData = httpResponse.json.dates;\n  accessPath = 'httpResponse.json.dates';\n  console.log('✅ Found dates in WRAPPED .json property');\n}\n// 3. Propriedade 'body' (algumas versões n8n)\nelse if (httpResponse.body) {\n  console.log('Found .body property, parsing...');\n  const bodyData = typeof httpResponse.body === 'string' ? JSON.parse(httpResponse.body) : httpResponse.body;\n  if (bodyData.dates) {\n    datesData = bodyData.dates;\n    accessPath = 'httpResponse.body.dates';\n    console.log('✅ Found dates in .body property');\n  }\n}\n// 4. Propriedade 'data' (outro padrão comum)\nelse if (httpResponse.data && httpResponse.data.dates) {\n  datesData = httpResponse.data.dates;\n  accessPath = 'httpResponse.data.dates';\n  console.log('✅ Found dates in .data property');\n}\n// 5. Response direta é o JSON do WF06 (raro mas possível)\nelse if (httpResponse.success && httpResponse.dates) {\n  datesData = httpResponse.dates;\n  accessPath = 'httpResponse.dates (WF06 direct)';\n  console.log('✅ Found dates in WF06 direct format');\n}\n\n// Se não encontrou, logar estrutura completa e falhar\nif (!datesData) {\n  console.error('❌ ERROR: Could not find dates property in ANY expected location');\n  console.error('Response structure:', JSON.stringify(httpResponse, null, 2));\n  console.error('Checked paths: root.dates, json.dates, body.dates, data.dates, direct WF06');\n  throw new Error('Invalid WF06 response format - missing dates property in all locations');\n}\n\n// Validar estrutura\nif (!Array.isArray(datesData)) {\n  console.error('ERROR: dates is not an array');\n  console.error('Received type:', typeof datesData);\n  console.error('Received value:', datesData);\n  throw new Error('WF06 returned dates in invalid format (not array)');\n}\n\nif (datesData.length === 0) {\n  console.error('ERROR: dates array is empty');\n  throw new Error('WF06 returned empty dates array');\n}\n\nconsole.log(`✅ SUCCESS: Received ${datesData.length} dates with availability`);\nconsole.log(`Access path used: ${accessPath}`);\n\n// V101 FIX: Merge user data from Build Update Queries + WF06 response\n// This preserves phone_number, conversation_id, collected_data, etc.\nconst preparedData = {\n  ...userData,  // V101: User data from BEFORE HTTP Request (phone_number, conversation_id, etc.)\n  wf06_next_dates: datesData  // WF06 response dates\n};\n\nconsole.log('✅ V101 User Data Preservation:');\nconsole.log('  - phone_number:', preparedData.phone_number);\nconsole.log('  - phone_with_code:', preparedData.phone_with_code);\nconsole.log('  - conversation_id:', preparedData.conversation_id);\nconsole.log('  - next_stage:', preparedData.next_stage);\nconsole.log('  - response_text:', preparedData.response_text ? 'exists' : 'missing');\nconsole.log('  - collected_data exists:', !!preparedData.collected_data);\nconsole.log('  - wf06_next_dates count:', preparedData.wf06_next_dates.length);\nconsole.log('=== V101 PREPARE WF06 COMPLETE ===');\n\nreturn preparedData;\n"},"id":"81c30a13-d268-4e1b-a810-e52325f5f327","name":"State Machine Logic","type":"n8n-nodes-base.function","typeVersion":1,"position":[-1568,608],"connections":{"main":[[{"node":"Build Update Queries","type":"main","index":0}],[{"node":"Claude AI Agent State 9 (collect_appointment_date)","type":"main","index":0}],[{"node":"Claude AI Agent State 10 (collect_appointment_time)","type":"main","index":0}],[{"node":"Claude AI Agent State 11 (appointment_confirmation)","type":"main","index":0}]]}},{"parameters":{"operation":"executeQuery","query":"{{ $json.query_update_conversation }}","options":{}},"id":"3211e07a-6d59-4366-8d7a-d947d3d54dfb","name":"Update Conversation State","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1088,1040],"alwaysOutputData":true,"credentials":{"postgres":{"id":"vsRWyRE8vIjBjSwX","name":"Postgres account 2"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.query_save_inbound }}","options":{}},"id":"8feeb2a6-bd10-41e7-b704-83a139b89265","name":"Save Inbound Message","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1104,160],"alwaysOutputData":true,"credentials":{"postgres":{"id":"vsRWyRE8vIjBjSwX","name":"Postgres account 2"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.query_save_outbound }}","options":{}},"id":"ccc7f681-b02b-43fa-bb26-e254e893da24","name":"Save Outbound Message","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-912,176],"alwaysOutputData":true,"credentials":{"postgres":{"id":"vsRWyRE8vIjBjSwX","name":"Postgres account 2"}}},{"parameters":{"method":"POST","url":"http://e2bot-evolution-dev:8080/message/sendText/e2-solucoes-bot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"ae569043cfa169380c378347f91a1141ea572541d2d1cadbed222db519c8a891"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $input.first().json.phone_number }}"},{"name":"text","value":"={{ $input.first().json.response_text }}"}]},"options":{}},"id":"b308108c-d136-40f2-92b2-e924f4882dd5","name":"Send WhatsApp Response","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-368,256],"connections":{"main":[[{"node":"Check If Scheduling","type":"main","index":0}]]}},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"Build Update Queries\"].json.next_stage }}","value2":"handoff_comercial"}]}},"id":"46f162c6-3dd6-4d67-b74c-899b46619ce7","name":"Check If Handoff","type":"n8n-nodes-base.if","typeVersion":1,"position":[-304,576]},{"parameters":{"workflowId":"42eG7UpfmZ2PoBlY","options":{}},"id":"8b4dea88-03d4-4b00-b45d-cde3fa598093","name":"Trigger Appointment Scheduler","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-32,-160],"notes":"V70: MODIFIED - Now sends appointment_id from database INSERT"},{"parameters":{"workflowId":"={{ $workflow.id + 8 }}","options":{}},"id":"b5f30d80-6f4d-42cd-a71f-962f9fe9feb1","name":"Trigger Human Handoff","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[-48,1136]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query_upsert_lead }}","options":{}},"id":"462d2eb8-9499-4401-b221-fc8c36c1e000","name":"Upsert Lead Data","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-464,1264],"alwaysOutputData":true,"credentials":{"postgres":{"id":"vsRWyRE8vIjBjSwX","name":"Postgres account 2"}}},{"parameters":{"respondWith":"text","responseBody":"={{ { success: true, stage: $json.next_stage } }}","options":{}},"id":"dbc150eb-8f79-4a48-a746-c9995b30a899","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[128,768]},{"parameters":{"jsCode":"// Build SQL Queries Node - Prepara todas as queries SQL\n// Recebe dados do node anterior\nconst data = $input.first().json;\nconst phone_with_code = data.phone_with_code || '';\nconst phone_without_code = data.phone_without_code || '';\n\n// Validação de segurança\nif (!phone_with_code || !phone_without_code) {\n  throw new Error('Phone numbers not properly formatted');\n}\n\n// Escape simples para SQL injection\nconst escapeSql = (str) => {\n  return String(str).replace(/'/g, \"''\");\n};\n\n// Query para contar conversas existentes\nconst query_count = `\n  SELECT COUNT(*) as count\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n`.trim();\n\n// Query para buscar detalhes da conversa\nconst query_details = `\n  SELECT\n    *,\n    COALESCE(state_machine_state,\n      CASE current_state\n        WHEN 'novo' THEN 'greeting'\n        WHEN 'identificando_servico' THEN 'service_selection'\n        WHEN 'coletando_dados' THEN 'collect_name'\n        WHEN 'agendando' THEN 'scheduling'\n        WHEN 'handoff_comercial' THEN 'handoff_comercial'\n        WHEN 'concluido' THEN 'completed'\n        ELSE 'greeting'\n      END\n    ) as state_for_machine\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  ORDER BY updated_at DESC\n  LIMIT 1\n`.trim();\n\n// Query para criar/atualizar conversa\nconst query_upsert = `\n  -- Limpar duplicatas antigas\n  DELETE FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  AND id NOT IN (\n    SELECT id FROM conversations\n    WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n    ORDER BY updated_at DESC\n    LIMIT 1\n  );\n\n  -- Inserir ou atualizar conversa\n  INSERT INTO conversations (\n    phone_number,\n    whatsapp_name,\n    service_id,\n    contact_name,\n    contact_email,\n    city,\n    current_state,\n    state_machine_state,\n    collected_data,\n    error_count,\n    created_at,\n    updated_at\n  ) VALUES (\n    '${escapeSql(phone_with_code)}',\n    '${escapeSql(data.whatsapp_name || '')}',\n    NULL,\n    NULL,\n    NULL,\n    NULL,\n    'novo',\n    'greeting',\n    '{}'::jsonb,\n    0,\n    CURRENT_TIMESTAMP,\n    CURRENT_TIMESTAMP\n  )\n  ON CONFLICT (phone_number) DO UPDATE SET\n    whatsapp_name = COALESCE(EXCLUDED.whatsapp_name, conversations.whatsapp_name),\n    last_message_at = CURRENT_TIMESTAMP,\n    updated_at = CURRENT_TIMESTAMP,\n    state_machine_state = CASE\n      WHEN conversations.state_machine_state IN ('completed', 'handoff_comercial')\n      THEN 'greeting'\n      ELSE conversations.state_machine_state\n    END\n  RETURNING *\n`.trim();\n\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (FIXED) ===');\nconsole.log('Phone with code:', phone_with_code);\nconsole.log('Phone without code:', phone_without_code);\nconsole.log('Queries built successfully as STRINGS');\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V27) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V27: PRESERVAR CAMPOS DE MENSAGEM\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V28) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V28: PRESERVAR CAMPOS DE MENSAGEM E RETORNAR ARRAY\nconst result = {\n  ...data,  // Pass through ALL original data\n\n  // SQL Queries\n  query_count: query_count,        // String SQL\n  query_details: query_details,    // String SQL\n  query_upsert: query_upsert,      // String SQL\n\n  // V28 CRITICAL: Explicitly preserve message fields\n  message: data.message || '',\n  content: data.content || '',\n  body: data.body || '',\n  text: data.text || '',\n\n  // Phone fields\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  phone_number: data.phone_number || phone_with_code,\n\n  // Other fields\n  whatsapp_name: data.whatsapp_name || ''\n};\n\n// V28: Return as array for n8n compatibility\nconsole.log('V28: Build SQL Queries returning array');\nreturn [result];"},"id":"0e0404b8-f48d-4b74-a607-ac231d950fe4","name":"Build SQL Queries","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2544,320],"alwaysOutputData":true},{"parameters":{"jsCode":"// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados após o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // ← ARRAY RETURN FIX"},"id":"5de6064e-6ce9-4edf-8ef3-7a4a8d9c85eb","name":"Merge Queries Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2064,64],"alwaysOutputData":true},{"parameters":{"jsCode":"// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados após o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // ← ARRAY RETURN FIX"},"id":"9a3108c8-244b-4762-9b29-554f84f59ea0","name":"Merge Queries Data1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2128,1216],"alwaysOutputData":true},{"parameters":{"jsCode":"// Build Update Queries - V79.1 (SCHEMA-ALIGNED FIX)\n// ===================================================\n// CRITICAL FIX: Remove contact_phone column (does not exist in PostgreSQL schema)\n//\n// PostgreSQL Schema Analysis:\n// ✅ phone_number (exists)\n// ✅ contact_name (exists)\n// ✅ contact_email (exists)\n// ❌ contact_phone (DOES NOT EXIST!)\n//\n// Reason V74 \"works\": ON CONFLICT may be silently ignoring the error\n// V79.1 Fix: Remove contact_phone from INSERT and UPDATE statements\n//\n// Date: 2026-04-13\n// Version: V79.1 Schema-Aligned Fix\n// ===================================================\n\nconst inputData = $input.first().json;\n\nconsole.log('=== V79.1 BUILD UPDATE QUERIES (SCHEMA-ALIGNED) ===');\n\n// V66 FIX: Declare query_correction_update at function scope\nlet query_correction_update = null;\n\nconsole.log('Input keys:', Object.keys(inputData));\n\n// Helper functions\nconst escapeSql = (str) => {\n  if (str === null || str === undefined || str === '') return '';\n  return String(str).replace(/'/g, \"''\");\n};\n\nconst prepareJsonb = (obj) => {\n  if (!obj || typeof obj !== 'object') return '{}';\n  return JSON.stringify(obj).replace(/'/g, \"''\");\n};\n\n// Extract phone data\nlet phone_number = String(inputData.phone_number || '');\nphone_number = phone_number.replace(/[^0-9]/g, '');\n\nif (phone_number && !phone_number.startsWith('55')) {\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n  }\n}\n\nconst phone_with_code = phone_number;\nconst phone_without_code = phone_number.startsWith('55') ? phone_number.substring(2) : phone_number;\n\n// Extract other data\nconst response_text = escapeSql(inputData.response_text || 'Olá! Como posso ajudar?');\nconst next_stage = inputData.next_stage || inputData.current_state || 'greeting';\nconst collected_data = inputData.collected_data || {};\nconst collected_data_json = prepareJsonb(collected_data);\nconst message_content = escapeSql(inputData.message || '');\nconst message_type = inputData.message_type || 'text';\nconst message_id = inputData.message_id || '';\nconst conversation_id = inputData.conversation_id || null;\n\n// Extract service_type from collected_data\nconst service_type = collected_data?.service_type || null;\nconsole.log('V79.1: service_type extracted:', service_type);\n\n// V79.1 FIX: Store contact_phone in collected_data JSONB only (no DB column)\nconst contact_phone = collected_data?.contact_phone ||\n                     collected_data?.phone_primary ||\n                     collected_data?.phone ||\n                     '';\nconsole.log('V79.1: contact_phone extracted (JSONB only):', contact_phone);\n\n// State mapping\nconst state_mapping = {\n  'greeting': 'novo',\n  'service_selection': 'identificando_servico',\n  'collect_name': 'coletando_dados',\n  'collect_phone': 'coletando_dados',\n  'collect_phone_whatsapp_confirmation': 'coletando_dados',\n  'collect_phone_alternative': 'coletando_dados',\n  'collect_email': 'coletando_dados',\n  'collect_city': 'coletando_dados',\n  'confirmation': 'coletando_dados',\n  'scheduling': 'agendando',\n  'handoff_comercial': 'handoff_comercial',\n  'completed': 'concluido'\n};\n\nconst db_state = state_mapping[next_stage] || 'novo';\n\nconsole.log('V79.1: Building queries with SCHEMA-ALIGNED fix (no contact_phone column)');\n\n// ===================================================\n// Query 1: Update Conversation State (V79.1 SCHEMA-ALIGNED)\n// ===================================================\n// REMOVED: contact_phone column (does not exist in PostgreSQL)\n// PRESERVED: All other columns that exist in schema\nconst query_update_conversation = `\nINSERT INTO conversations (\n  phone_number,\n  whatsapp_name,\n  current_state,\n  state_machine_state,\n  collected_data,\n  service_type,\n  contact_name,\n  contact_email,\n  city,\n  status,\n  last_message_at,\n  created_at,\n  updated_at\n) VALUES (\n  '${phone_with_code}',\n  '${escapeSql(collected_data?.lead_name || '')}',\n  '${db_state}',\n  '${next_stage}',\n  '${collected_data_json}'::jsonb,\n  ${service_type ? \"'\" + escapeSql(service_type) + \"'\" : 'NULL'},\n  '${escapeSql(collected_data?.lead_name || '')}',\n  '${escapeSql(collected_data?.email || '')}',\n  '${escapeSql(collected_data?.city || '')}',\n  'active',\n  NOW(),\n  NOW(),\n  NOW()\n)\nON CONFLICT (phone_number)\nDO UPDATE SET\n  current_state = EXCLUDED.current_state,\n  state_machine_state = EXCLUDED.state_machine_state,\n  collected_data = conversations.collected_data || EXCLUDED.collected_data,\n  service_type = COALESCE(EXCLUDED.service_type, conversations.service_type),\n  contact_name = COALESCE(NULLIF(EXCLUDED.contact_name, ''), conversations.contact_name),\n  contact_email = COALESCE(NULLIF(EXCLUDED.contact_email, ''), conversations.contact_email),\n  city = COALESCE(NULLIF(EXCLUDED.city, ''), conversations.city),\n  whatsapp_name = COALESCE(NULLIF(EXCLUDED.whatsapp_name, ''), conversations.whatsapp_name),\n  last_message_at = NOW(),\n  updated_at = NOW()\nRETURNING *`.trim();\n\nconsole.log('✅ V79.1: UPSERT query SCHEMA-ALIGNED (no contact_phone column)');\n\n// Query 2: Save Inbound Message (unchanged)\nconst query_save_inbound = `\nINSERT INTO messages (\n  conversation_id,\n  direction,\n  content,\n  message_type,\n  whatsapp_message_id,\n  created_at\n)\nVALUES (\n  (SELECT id FROM conversations WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}') ORDER BY updated_at DESC LIMIT 1),\n  'inbound',\n  '${message_content}',\n  '${message_type}',\n  '${message_id}',\n  NOW()\n)\nON CONFLICT (whatsapp_message_id)\nWHERE whatsapp_message_id IS NOT NULL AND whatsapp_message_id != ''\nDO NOTHING\nRETURNING *`.trim();\n\n// Query 3: Save Outbound Message (unchanged)\nconst query_save_outbound = `\nINSERT INTO messages (\n  conversation_id,\n  direction,\n  content,\n  message_type,\n  whatsapp_message_id,\n  created_at\n)\nVALUES (\n  (SELECT id FROM conversations WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}') ORDER BY updated_at DESC LIMIT 1),\n  'outbound',\n  '${response_text}',\n  'text',\n  'out_' || extract(epoch from NOW())::bigint || '_' || random()::text,\n  NOW()\n)\nRETURNING *`.trim();\n\n// Query 4: Upsert Lead Data (unchanged)\nconst query_upsert_lead = `\nWITH existing_lead AS (\n  SELECT id\n  FROM leads\n  WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}')\n  LIMIT 1\n),\nupdated AS (\n  UPDATE leads\n  SET\n    name = COALESCE(NULLIF('${escapeSql(collected_data?.lead_name || '')}', ''), name),\n    email = COALESCE(NULLIF('${escapeSql(collected_data?.email || '')}', ''), email),\n    city = COALESCE(NULLIF('${escapeSql(collected_data?.city || '')}', ''), city),\n    service_type = COALESCE(NULLIF('${escapeSql(collected_data?.service_type || '')}', ''), service_type),\n    service_details = '${collected_data_json}'::jsonb,\n    updated_at = NOW()\n  WHERE id IN (SELECT id FROM existing_lead)\n  RETURNING *, 'updated' as operation\n),\ninserted AS (\n  INSERT INTO leads (\n    phone_number,\n    name,\n    email,\n    city,\n    service_type,\n    service_details,\n    created_at,\n    updated_at\n  )\n  SELECT\n    '${phone_with_code}',\n    '${escapeSql(collected_data?.lead_name || '')}',\n    '${escapeSql(collected_data?.email || '')}',\n    '${escapeSql(collected_data?.city || '')}',\n    '${escapeSql(collected_data?.service_type || '')}',\n    '${collected_data_json}'::jsonb,\n    NOW(),\n    NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM existing_lead)\n  RETURNING *, 'inserted' as operation\n)\nSELECT * FROM updated\nUNION ALL\nSELECT * FROM inserted`.trim();\n\nconsole.log('✅ V79.1: All queries built with SCHEMA-ALIGNED fix');\n\n  // V66: Correction UPDATE Query Builder\n  // V79.1 FIX: Remove contact_phone from correction logic (column does not exist)\n  if (inputData.needs_db_update && inputData.update_field) {\n    console.log('V79.1: Building correction UPDATE query for field:', inputData.update_field);\n\n    const fieldConfig = {\n      'lead_name': { db_column: 'contact_name', jsonb_key: 'lead_name' },\n      // V79.1 REMOVED: contact_phone (no DB column)\n      'email': { db_column: 'contact_email', jsonb_key: 'email' },\n      'city': { db_column: 'city', jsonb_key: 'city' }\n    };\n\n    const config = fieldConfig[inputData.update_field];\n\n    if (!config) {\n      console.warn('V79.1: Field not supported for correction:', inputData.update_field);\n      query_correction_update = null;\n    } else {\n      const newValue = escapeSql(inputData[inputData.update_field] || '');\n\n      let additionalUpdates = '';\n      if (config.also_update) {\n        const additionalValue = escapeSql(inputData[config.also_update] || newValue);\n        additionalUpdates = `${config.also_update} = '${additionalValue}',`;\n      }\n\n      query_correction_update = `\nUPDATE conversations\nSET\n  ${config.db_column} = '${newValue}',\n  ${additionalUpdates}\n  collected_data = jsonb_set(\n    collected_data,\n    '{${config.jsonb_key}}',\n    to_jsonb('${newValue}')\n  ),\n  current_state = 'coletando_dados',\n  state_machine_state = 'confirmation',\n  updated_at = NOW()\nWHERE conversation_id = '${conversation_id}'\n  AND phone_number IN ('${phone_with_code}', '${phone_without_code}')\nRETURNING conversation_id, phone_number, collected_data,\n          ${config.db_column} as corrected_field, current_state,\n          state_machine_state, updated_at\n      `.trim();\n\n      console.log('V79.1: Correction UPDATE query built for field:', inputData.update_field);\n    }\n  }\n\n  // V68 DEBUG: Log trigger check data\n  console.log('V79.1 DEBUG - Trigger check:', {\n    next_stage: inputData.next_stage,\n    service_selected: collected_data.service_selected,\n    status: collected_data.status\n  });\n\n  // V79.1 RETURN\n  return {\n    query_correction_update: query_correction_update || null,\n    correction_field_updated: inputData.update_field || null,\n  phone_number: phone_with_code,\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  response_text: inputData.response_text,\n  next_stage: inputData.next_stage,\n  collected_data: collected_data,\n  conversation_id: conversation_id,\n  message: inputData.message,\n  message_type: message_type,\n  message_id: message_id,\n\n  // Queries SQL\n  query_update_conversation,\n  query_save_inbound,\n  query_save_outbound,\n  query_upsert_lead,\n\n  // V79.1 metadata\n  v79_1_schema_aligned: true,\n  v79_1_contact_phone_removed: true,  // Stored in JSONB only\n  timestamp: new Date().toISOString()\n};\n"},"id":"8929643d-ef92-4e66-9238-53a2229a3778","name":"Build Update Queries","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1312,544],"alwaysOutputData":true},{"parameters":{},"id":"52663068-f9f5-47b2-b549-d2b2df442c6f","name":"Merge Append New User V57","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1776,416],"alwaysOutputData":true},{"parameters":{"jsCode":"// V57 Code Processor - Process append-merged data (NEW USER PATH)\nconsole.log('=== V63.2 CODE PROCESSOR NEW USER START ===');\n\nconst items = $input.all();\nconsole.log(`V63.2: Received ${items.length} items from Merge append`);\n\nif (items.length !== 2) {\n  console.error(`V63.2 ERROR: Expected 2 items from append, received ${items.length}`);\n  throw new Error(`V63.2: Merge append should produce 2 items, got ${items.length}`);\n}\n\nconst queriesData = items[0].json;  // Input 0 from Merge (Queries)\nconst dbData = items[1].json;       // Input 1 from Merge (Database)\n\nconsole.log('V63.2 Item 0 (Queries) keys:', Object.keys(queriesData).join(', '));\nconsole.log('V63.2 Item 1 (Database) keys:', Object.keys(dbData).join(', '));\n\nconst conversation_id = dbData.id || dbData.conversation_id || null;\n\nconsole.log('V63.2: Extracted conversation_id:', conversation_id);\n\nif (!conversation_id) {\n  console.error('V63.2 CRITICAL ERROR: conversation_id is NULL!');\n  console.error('V63.2: Database data (item[1]):', JSON.stringify(dbData, null, 2));\n  throw new Error('V63.2: No conversation_id found in database result');\n}\n\n// V63.2 CRITICAL FIX: Create currentData and current_stage for NEW users\nconst currentData = {};  // Empty for new users\nconst current_stage = 'greeting';  // Always greeting for new users\n\nconsole.log('V63.2 NEW USER: Setting current_stage:', current_stage);\nconsole.log('V63.2 NEW USER: Setting currentData:', JSON.stringify(currentData));\n\nconst combinedData = {\n  ...queriesData,\n  ...dbData,\n\n  conversation_id: conversation_id,\n  id: conversation_id,\n  phone_number: dbData.phone_number || queriesData.phone_number || '',\n  message: queriesData.message || queriesData.body || queriesData.text || '',\n\n  // V63.2 CRITICAL FIX: Add currentData and current_stage\n  currentData: currentData,        // ✅ NEW! (empty for new user)\n  current_stage: current_stage,    // ✅ NEW! (always greeting)\n  collected_data: {},              // ✅ Empty for new user\n\n  v63_2_fix_applied: true,\n  v63_2_processor_executed: true,\n  v63_2_processor_timestamp: new Date().toISOString(),\n  v63_2_items_processed: items.length,\n  v63_2_conversation_id_source: 'dbData.id',\n  v63_2_path: 'new_user',\n  v63_2_current_stage_set: current_stage,\n  v63_2_currentData_keys: ''  // Empty for new user\n};\n\nconsole.log('V63.2: Combined data keys:', Object.keys(combinedData).join(', '));\nconsole.log('V63.2: conversation_id in output:', combinedData.conversation_id);\nconsole.log('V63.2: phone_number in output:', combinedData.phone_number);\nconsole.log('V63.2: current_stage in output:', combinedData.current_stage);\nconsole.log('✅ V63.2 CODE PROCESSOR NEW USER COMPLETE');\n\nreturn [combinedData];\n"},"id":"0614ed8f-a832-488a-afe8-7ed2b2552c44","name":"Process New User Data V57","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,-112],"alwaysOutputData":true},{"parameters":{},"id":"70063979-fa59-4f6c-8ce6-7634928c13e3","name":"Merge Append Existing User V57","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1856,1360],"alwaysOutputData":true},{"parameters":{"jsCode":"// V57 Code Processor - Process append-merged data (EXISTING USER PATH)\nconsole.log('=== V63.2 CODE PROCESSOR EXISTING USER START ===');\n\nconst items = $input.all();\nconsole.log(`V63.2: Received ${items.length} items from Merge append`);\n\nif (items.length !== 2) {\n  console.error(`V63.2 ERROR: Expected 2 items from append, received ${items.length}`);\n  throw new Error(`V63.2: Merge append should produce 2 items, got ${items.length}`);\n}\n\nconst queriesData = items[0].json;  // Input 0 from Merge (Queries)\nconst dbData = items[1].json;       // Input 1 from Merge (Database)\n\nconsole.log('V63.2 Item 0 (Queries) keys:', Object.keys(queriesData).join(', '));\nconsole.log('V63.2 Item 1 (Database) keys:', Object.keys(dbData).join(', '));\n\n// CRITICAL: Extract conversation_id from existing conversation\nconst conversation_id = dbData.id || dbData.conversation_id || null;\n\nconsole.log('V63.2: Extracted conversation_id:', conversation_id);\nconsole.log('V63.2: Type:', typeof conversation_id);\n\nif (!conversation_id) {\n  console.error('V63.2 CRITICAL ERROR: No conversation_id in existing user data!');\n  console.error('V63.2: Database data (item[1]):', JSON.stringify(dbData, null, 2));\n  throw new Error('V63.2: No conversation_id found in existing conversation');\n}\n\n// V63.2 CRITICAL FIX: Parse collected_data from database JSONB column\nlet collectedDataFromDb = {};\ntry {\n  // Database returns collected_data as string or already parsed object\n  if (typeof dbData.collected_data === 'string') {\n    collectedDataFromDb = JSON.parse(dbData.collected_data);\n  } else if (typeof dbData.collected_data === 'object' && dbData.collected_data !== null) {\n    collectedDataFromDb = dbData.collected_data;\n  }\n  console.log('V63.2: Parsed collected_data:', JSON.stringify(collectedDataFromDb));\n} catch (e) {\n  console.error('V63.2: Failed to parse collected_data:', e.message);\n  collectedDataFromDb = {};\n}\n\n// V63.2 CRITICAL FIX: Set current_stage from database state_machine_state\nconst current_stage = dbData.state_machine_state ||\n                     dbData.state_for_machine ||\n                     dbData.current_state ||\n                     'greeting';\n\nconsole.log('V63.2 CRITICAL: Setting current_stage:', current_stage);\n\n// V63.2 CRITICAL FIX: Create currentData object for State Machine\nconst currentData = {\n  ...collectedDataFromDb,  // All collected data from previous messages\n\n  // Add database fields to currentData\n  service_selected: collectedDataFromDb.service_selected || null,\n  service_type: collectedDataFromDb.service_type || dbData.service_type || null,\n  lead_name: collectedDataFromDb.lead_name || dbData.contact_name || null,\n  contact_phone: collectedDataFromDb.contact_phone || dbData.contact_phone || null,\n  email: collectedDataFromDb.email || dbData.contact_email || null,\n  city: collectedDataFromDb.city || dbData.city || null\n};\n\nconsole.log('V63.2 CRITICAL: Created currentData:', JSON.stringify(currentData));\n\n// V64 DEBUG: Extended logging\nconsole.log('=== V64 EXISTING USER EXTENDED DEBUG ===');\nconsole.log('V64: dbData.collected_data TYPE:', typeof dbData.collected_data);\nconsole.log('V64: dbData.collected_data RAW:', dbData.collected_data);\nconsole.log('V64: collectedDataFromDb PARSED:', JSON.stringify(collectedDataFromDb));\nconsole.log('V64: currentData.service_selected:', currentData.service_selected);\nconsole.log('V64: currentData.service_type:', currentData.service_type);\nconsole.log('V64: currentData.lead_name:', currentData.lead_name);\nconsole.log('V64: dbData.state_machine_state:', dbData.state_machine_state);\nconsole.log('V64: current_stage SET TO:', current_stage);\nconsole.log('=== V64 EXISTING USER DEBUG END ===');\n\nconst combinedData = {\n  ...queriesData,\n  ...dbData,\n\n  // EXPLICIT conversation_id mapping\n  conversation_id: conversation_id,\n  id: conversation_id,\n\n  phone_number: dbData.phone_number || queriesData.phone_number || '',\n  message: queriesData.message || queriesData.body || queriesData.text || '',\n\n  // V63.2 CRITICAL FIX: Add currentData and current_stage\n  currentData: currentData,                    // ✅ NEW!\n  current_stage: current_stage,                // ✅ NEW!\n  collected_data: collectedDataFromDb,         // ✅ Parsed from DB\n\n  v63_2_fix_applied: true,                     // ✅ NEW metadata\n  v63_2_processor_executed: true,\n  v63_2_processor_timestamp: new Date().toISOString(),\n  v63_2_items_processed: items.length,\n  v63_2_conversation_id_source: 'dbData.id',\n  v63_2_path: 'existing_user',\n  v63_2_current_stage_set: current_stage,      // ✅ Debug info\n  v63_2_currentData_keys: Object.keys(currentData).join(',')  // ✅ Debug info\n};\n\nconsole.log('V63.2: Combined data keys:', Object.keys(combinedData).join(', '));\nconsole.log('V63.2: conversation_id in output:', combinedData.conversation_id);\nconsole.log('V63.2: phone_number in output:', combinedData.phone_number);\nconsole.log('V63.2: current_stage in output:', combinedData.current_stage);\nconsole.log('V63.2: currentData keys in output:', Object.keys(combinedData.currentData || {}).join(', '));\nconsole.log('✅ V63.2 CODE PROCESSOR EXISTING USER COMPLETE');\n\nreturn [combinedData];\n"},"id":"90799635-5858-4027-8e7d-519929a9e060","name":"Process Existing User Data V57","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,1312],"alwaysOutputData":true},{"parameters":{},"id":"f35247e9-4a95-499f-a02d-254a3501f965","name":"Claude AI Agent State 9 (collect_appointment_date)","type":"n8n-nodes-base.openAi","typeVersion":1.3,"position":[32,352],"credentials":{},"notes":"V70: NEW STATE - Collect appointment date"},{"parameters":{"jsCode":"// Validate Appointment Date (V70)\nconst collectedData = $json.collected_data || {};\nconst userResponse = ($json.message || '').toLowerCase().trim();\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\n// Parse date (multiple formats)\nlet parsedDate = null;\n\n// 1. DD/MM/YYYY\nif (userResponse.match(/\\d{2}\\/\\d{2}\\/\\d{4}/)) {\n    const [day, month, year] = userResponse.split('/');\n    parsedDate = new Date(`${year}-${month}-${day}`);\n}\n// 2. DD/MM (assume current year)\nelse if (userResponse.match(/\\d{2}\\/\\d{2}/)) {\n    const [day, month] = userResponse.split('/');\n    const year = new Date().getFullYear();\n    parsedDate = new Date(`${year}-${month}-${day}`);\n}\n// 3. \"amanhã\"\nelse if (userResponse.includes('amanhã') || userResponse.includes('amanha')) {\n    parsedDate = new Date(today);\n    parsedDate.setDate(parsedDate.getDate() + 1);\n}\n// 4. \"próxima segunda\"\nelse if (userResponse.includes('próxima segunda') || userResponse.includes('proxima segunda')) {\n    parsedDate = new Date(today);\n    const daysUntilMonday = (1 + 7 - parsedDate.getDay()) % 7 || 7;\n    parsedDate.setDate(parsedDate.getDate() + daysUntilMonday);\n}\n// 5. Other weekdays\nelse if (userResponse.includes('próxima') || userResponse.includes('proxima')) {\n    const weekdays = {\n        'segunda': 1, 'terça': 2, 'terca': 2, 'quarta': 3,\n        'quinta': 4, 'sexta': 5\n    };\n\n    for (const [day, num] of Object.entries(weekdays)) {\n        if (userResponse.includes(day)) {\n            parsedDate = new Date(today);\n            const daysUntil = (num + 7 - parsedDate.getDay()) % 7 || 7;\n            parsedDate.setDate(parsedDate.getDate() + daysUntil);\n            break;\n        }\n    }\n}\n\n// Validations\nif (!parsedDate || isNaN(parsedDate)) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Data inválida. Por favor, use o formato DD/MM/YYYY ou DD/MM.',\n        ai_response_needed: true\n    };\n}\n\n// Check if date is in the past\nif (parsedDate < today) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Data não pode ser no passado. Por favor, escolha uma data futura.',\n        ai_response_needed: true\n    };\n}\n\n// Check if date is too far (>60 days)\nconst maxDate = new Date(today);\nmaxDate.setDate(maxDate.getDate() + 60);\nif (parsedDate > maxDate) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Data muito distante. Por favor, escolha uma data nos próximos 60 dias.',\n        ai_response_needed: true\n    };\n}\n\n// Check if weekday (Monday-Friday)\nconst dayOfWeek = parsedDate.getDay();\nif (dayOfWeek === 0 || dayOfWeek === 6) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_date',\n        next_stage: 'collect_appointment_date',\n        validation_error: 'Visitas técnicas apenas de segunda a sexta-feira. Por favor, escolha um dia útil.',\n        ai_response_needed: true\n    };\n}\n\n// Date is VALID\nconst formattedDate = parsedDate.toISOString().split('T')[0]; // YYYY-MM-DD\nconst dayNames = ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'];\nconst dayName = dayNames[dayOfWeek];\n\nconsole.log('✅ [Validate Date] Valid:', formattedDate, dayName);\n\nreturn {\n    ...collectedData,\n    scheduled_date: formattedDate,\n    scheduled_date_display: `${parsedDate.getDate()}/${parsedDate.getMonth()+1}/${parsedDate.getFullYear()} (${dayName})`,\n    current_state: 'collect_appointment_date',\n    next_stage: 'collect_appointment_time',\n    validation_error: null,\n    ai_response_needed: false\n};\n"},"id":"a1b8f075-fe05-42d6-b780-d16e9ca9230d","name":"Validate Appointment Date","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,352],"alwaysOutputData":true,"notes":"V70: Validate appointment date (weekday, not past, <60 days)"},{"parameters":{},"id":"7841a25a-ae42-4b5a-a8ae-50d78d295c89","name":"Claude AI Agent State 10 (collect_appointment_time)","type":"n8n-nodes-base.openAi","typeVersion":1.3,"position":[432,352],"credentials":{},"notes":"V70: NEW STATE - Collect appointment time"},{"parameters":{"jsCode":"// Validate Appointment Time (V70)\nconst collectedData = $json.collected_data || {};\nconst userResponse = ($json.message || '').toLowerCase().trim();\n\nlet timeStart, timeEnd;\n\n// Parse time formats\nif (userResponse.includes('manhã') || userResponse.includes('manha')) {\n    timeStart = '09:00';\n    timeEnd = '11:00';\n}\nelse if (userResponse.includes('tarde')) {\n    timeStart = '14:00';\n    timeEnd = '16:00';\n}\nelse if (userResponse.match(/\\d{1,2}:\\d{2}/)) {\n    const match = userResponse.match(/(\\d{1,2}):(\\d{2})/);\n    const hour = parseInt(match[1]);\n    const min = match[2];\n\n    // Validate hour format\n    if (hour < 0 || hour > 23) {\n        return {\n            ...collectedData,\n            current_state: 'collect_appointment_time',\n            next_stage: 'collect_appointment_time',\n            validation_error: 'Horário inválido. Use formato HH:MM (exemplo: 09:00).',\n            ai_response_needed: true\n        };\n    }\n\n    timeStart = `${String(hour).padStart(2, '0')}:${min}`;\n\n    // Calculate end time (+2 hours)\n    const endHour = hour + 2;\n    timeEnd = `${String(endHour).padStart(2, '0')}:${min}`;\n}\nelse {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_time',\n        next_stage: 'collect_appointment_time',\n        validation_error: 'Formato não reconhecido. Use HH:MM, \"manhã\" ou \"tarde\".',\n        ai_response_needed: true\n    };\n}\n\n// Validate business hours (08:00-18:00)\nconst startHour = parseInt(timeStart.split(':')[0]);\nconst endHour = parseInt(timeEnd.split(':')[0]);\n\nif (startHour < 8) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_time',\n        next_stage: 'collect_appointment_time',\n        validation_error: 'Horário muito cedo. Nosso atendimento inicia às 08:00.',\n        ai_response_needed: true\n    };\n}\n\nif (endHour > 18) {\n    return {\n        ...collectedData,\n        current_state: 'collect_appointment_time',\n        next_stage: 'collect_appointment_time',\n        validation_error: 'Horário muito tarde. Nosso atendimento encerra às 18:00. Escolha um horário que permita 2h de visita.',\n        ai_response_needed: true\n    };\n}\n\n// Time is VALID\nconsole.log('✅ [Validate Time] Valid:', timeStart, '-', timeEnd);\n\nreturn {\n    ...collectedData,\n    scheduled_time_start: timeStart,\n    scheduled_time_end: timeEnd,\n    scheduled_time_display: `${timeStart} às ${timeEnd}`,\n    current_state: 'collect_appointment_time',\n    next_stage: 'confirmation',\n    validation_error: null,\n    ai_response_needed: false\n};\n"},"id":"afac623f-2bd9-4ec0-968a-5b62b974b833","name":"Validate Appointment Time","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,352],"alwaysOutputData":true,"notes":"V70: Validate appointment time (08:00-18:00, +2h visit)"},{"parameters":{"operation":"executeQuery","query":"-- V73: Create Appointment in Database\n-- FIX: Simplified n8n expressions (use $json instead of $(\"node\").first())\n-- Data flow: Build Update Queries → Prepare Appointment Data (Set) → HERE\n-- IF nodes don't pass data, so we use Set node to extract and pass data\nINSERT INTO appointments (\n    id,\n    lead_id,\n    scheduled_date,\n    scheduled_time_start,\n    scheduled_time_end,\n    service_type,\n    notes,\n    status,\n    created_at,\n    updated_at\n)\nVALUES (\n    gen_random_uuid(),\n    (SELECT id FROM leads WHERE phone_number = '{{ $json.phone_number }}'),\n    '{{ $json.scheduled_date }}',\n    '{{ $json.scheduled_time_start }}',\n    '{{ $json.scheduled_time_end }}',\n    '{{ $json.service_type }}',\n    'Agendamento via WhatsApp Bot - Cliente: {{ $json.lead_name }} | Cidade: {{ $json.city }}',\n    'agendado',\n    NOW(),\n    NOW()\n)\nRETURNING\n    id as appointment_id,\n    lead_id,\n    scheduled_date,\n    scheduled_time_start,\n    scheduled_time_end,\n    service_type,\n    status,\n    created_at;","options":{}},"id":"1be0e146-3641-4267-86d1-1790e2f1ff9a","name":"Create Appointment in Database","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[880,-144],"alwaysOutputData":true,"connections":{"main":[[{"node":"Trigger Appointment Scheduler","type":"main","index":0}]]},"credentials":{"postgres":{"id":"vsRWyRE8vIjBjSwX","name":"Postgres account 2"}},"notes":"V73: CREATE appointment with simplified SQL expressions"},{"parameters":{},"id":"4b37d24c-075e-4724-81d9-cc79a4805ca7","name":"Claude AI Agent State 11 (appointment_confirmation)","type":"n8n-nodes-base.openAi","typeVersion":1.3,"position":[432,560],"connections":{"main":[[{"node":"Build Update Queries","type":"main","index":0}]]},"credentials":{},"notes":"V70: NEW STATE - Collect appointment time"},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"phone_number","value":"={{ $('Build Update Queries').first().json.phone_number }}","type":"string"},{"id":"2","name":"scheduled_date","value":"={{ $('Build Update Queries').first().json.collected_data.scheduled_date }}","type":"string"},{"id":"3","name":"scheduled_time_start","value":"={{ $('Build Update Queries').first().json.collected_data.scheduled_time_start }}","type":"string"},{"id":"4","name":"scheduled_time_end","value":"={{ $('Build Update Queries').first().json.collected_data.scheduled_time_end }}","type":"string"},{"id":"5","name":"service_type","value":"={{ $('Build Update Queries').first().json.collected_data.service_type }}","type":"string"},{"id":"6","name":"lead_name","value":"={{ $('Build Update Queries').first().json.collected_data.lead_name }}","type":"string"},{"id":"7","name":"city","value":"={{ $('Build Update Queries').first().json.collected_data.city }}","type":"string"}]},"options":{}},"id":"2a1e4d9b-7d94-4433-8e1b-a886c486b69a","name":"Prepare Appointment Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,352],"alwaysOutputData":true,"notes":"V73: Extract data from Build Update Queries to bypass IF node data loss"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Build Update Queries'].json.next_stage }}","value2":"scheduling_redirect"}]}},"id":"94c37965-5c0e-4904-883a-096388c35729","name":"Check If Scheduling","type":"n8n-nodes-base.if","typeVersion":1,"position":[352,64],"alwaysOutputData":false},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Build Update Queries'].json.next_stage }}","value2":"trigger_wf06_next_dates"}]}},"id":"7c5734fa-c72b-4b1b-b17b-f08d6f722417","name":"Check If WF06 Next Dates","type":"n8n-nodes-base.if","typeVersion":1,"position":[-1040,432]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Build Update Queries'].json.next_stage }}","value2":"trigger_wf06_available_slots"}]}},"id":"e98be4d4-d121-4770-9b48-9d5d6a912167","name":"Check If WF06 Available Slots","type":"n8n-nodes-base.if","typeVersion":1,"position":[-784,720]},{"parameters":{"method":"POST","url":"http://e2bot-n8n-dev:5678/webhook/calendar-availability","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"action\": \"next_dates\",\n  \"count\": 3,\n  \"service_type\": \"energia_solar\",\n  \"duration_minutes\": 120\n}","options":{"response":{"response":{"neverError":true}},"timeout":30000}},"id":"9f314934-6b73-4310-a597-0be4b073eb47","name":"HTTP Request - Get Next Dates","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-544,96],"connections":{"main":[[{"node":"Prepare WF06 Next Dates Data","type":"main","index":0}]]}},{"parameters":{"method":"POST","url":"http://e2bot-n8n-dev:5678/webhook/calendar-availability","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"action\": \"available_slots\",\n  \"date\": \"{{ $json.collected_data.selected_date || $json.selected_date }}\",\n  \"service_type\": \"{{ $json.service_type || 'energia_solar' }}\",\n  \"duration_minutes\": 120\n}","options":{"response":{"response":{"neverError":true}},"timeout":30000}},"id":"8c5b1152-a1b4-4b2e-8419-5ce59f86bb28","name":"HTTP Request - Get Available Slots","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-528,768],"connections":{"main":[[{"node":"Prepare WF06 Available Slots Data","type":"main","index":0}]]}},{"parameters":{"jsCode":"// Prepare WF06 Next Dates Response V88\n// FIX: Preserva dados do usuário (phone_number, conversation_id, etc.) do HTTP Request input\n// ANTES V87: Retornava APENAS {wf06_next_dates} → phone_number perdido no Merge\n// DEPOIS V88: Retorna input completo + wf06_next_dates → phone_number preservado\n\n// IMPORTANTE: Este node recebe dados do \"HTTP Request - Get Next Dates\"\n// que contém: phone_number, phone_with_code, conversation_id, message, etc.\n\nconst httpResponse = $input.first().json;\nconst inputData = $input.first().json; // V88: Preservar TODOS os dados de entrada\n\nconsole.log('=== PREPARE WF06 NEXT DATES V88 (DATA PRESERVATION FIX) ===');\nconsole.log('Full inputData keys:', Object.keys(inputData));\nconsole.log('Has phone_number:', !!inputData.phone_number);\nconsole.log('Has conversation_id:', !!inputData.conversation_id);\n\n// Validar resposta existe\nif (!httpResponse) {\n  console.error('ERROR: No httpResponse from HTTP Request node');\n  throw new Error('HTTP Request returned empty response');\n}\n\n// Extrair 'dates' array - TODAS as possibilidades de acesso\nlet datesData = null;\nlet accessPath = '';\n\n// 1. Acesso direto ao root\nif (httpResponse.dates && Array.isArray(httpResponse.dates)) {\n  datesData = httpResponse.dates;\n  accessPath = 'httpResponse.dates';\n  console.log('✅ Found dates at ROOT level');\n}\n// 2. Propriedade 'json' wrapeada (comum em n8n)\nelse if (httpResponse.json && httpResponse.json.dates) {\n  datesData = httpResponse.json.dates;\n  accessPath = 'httpResponse.json.dates';\n  console.log('✅ Found dates in WRAPPED .json property');\n}\n// 3. Propriedade 'body' (algumas versões n8n)\nelse if (httpResponse.body) {\n  console.log('Found .body property, parsing...');\n  const bodyData = typeof httpResponse.body === 'string' ? JSON.parse(httpResponse.body) : httpResponse.body;\n  if (bodyData.dates) {\n    datesData = bodyData.dates;\n    accessPath = 'httpResponse.body.dates';\n    console.log('✅ Found dates in .body property');\n  }\n}\n// 4. Propriedade 'data' (outro padrão comum)\nelse if (httpResponse.data && httpResponse.data.dates) {\n  datesData = httpResponse.data.dates;\n  accessPath = 'httpResponse.data.dates';\n  console.log('✅ Found dates in .data property');\n}\n// 5. Response direta é o JSON do WF06 (raro mas possível)\nelse if (httpResponse.success && httpResponse.dates) {\n  datesData = httpResponse.dates;\n  accessPath = 'httpResponse.dates (WF06 direct)';\n  console.log('✅ Found dates in WF06 direct format');\n}\n\n// Se não encontrou, logar estrutura completa e falhar\nif (!datesData) {\n  console.error('❌ ERROR: Could not find dates property in ANY expected location');\n  console.error('Response structure:', JSON.stringify(httpResponse, null, 2));\n  console.error('Checked paths: root.dates, json.dates, body.dates, data.dates, direct WF06');\n  throw new Error('Invalid WF06 response format - missing dates property in all locations');\n}\n\n// Validar estrutura\nif (!Array.isArray(datesData)) {\n  console.error('ERROR: dates is not an array');\n  console.error('Received type:', typeof datesData);\n  console.error('Received value:', datesData);\n  throw new Error('WF06 returned dates in invalid format (not array)');\n}\n\nif (datesData.length === 0) {\n  console.error('ERROR: dates array is empty');\n  throw new Error('WF06 returned empty dates array');\n}\n\nconsole.log(`✅ SUCCESS: Received ${datesData.length} dates with availability`);\nconsole.log(`Access path used: ${accessPath}`);\n\n// V88 FIX: Preservar TODOS os dados de entrada + adicionar wf06_next_dates\n// Isso garante que phone_number, conversation_id, etc. sejam passados para o Merge\nconst preparedData = {\n  ...inputData,  // V88: Preserva phone_number, conversation_id, message, etc.\n  wf06_next_dates: datesData  // Adiciona resposta do WF06\n};\n\nconsole.log('✅ V88 Data preservation:');\nconsole.log('  - phone_number:', preparedData.phone_number);\nconsole.log('  - conversation_id:', preparedData.conversation_id);\nconsole.log('  - wf06_next_dates count:', preparedData.wf06_next_dates.length);\n\nreturn preparedData;\n"},"id":"622e6284-f8e2-4e10-9506-74c8b287cdfc","name":"Prepare WF06 Next Dates Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,-208],"connections":{"main":[[{"node":"Merge WF06 Next Dates with User Data","type":"main","index":0}]]}},{"parameters":{},"id":"654deb91-3b08-4d14-a206-5fe86242be37","name":"Merge WF06 Next Dates with User Data","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-736,336],"connections":{"main":[[{"node":"State Machine Logic","type":"main","index":0}]]}},{"parameters":{"jsCode":"// Prepare WF06 Available Slots Response V88\n// FIX: Preserva dados do usuário (phone_number, conversation_id, etc.) do HTTP Request input\n// ANTES V87: Retornava APENAS {wf06_available_slots} → phone_number perdido no Merge\n// DEPOIS V88: Retorna input completo + wf06_available_slots → phone_number preservado\n\nconst httpResponse = $input.first().json;\nconst inputData = $input.first().json; // V88: Preservar TODOS os dados de entrada\n\nconsole.log('=== PREPARE WF06 AVAILABLE SLOTS V88 (DATA PRESERVATION FIX) ===');\nconsole.log('Full inputData keys:', Object.keys(inputData));\nconsole.log('Has phone_number:', !!inputData.phone_number);\nconsole.log('Has conversation_id:', !!inputData.conversation_id);\n\n// Validar resposta existe\nif (!httpResponse) {\n  console.error('ERROR: No httpResponse from HTTP Request node');\n  throw new Error('HTTP Request returned empty response');\n}\n\n// Extrair 'slots' array - TODAS as possibilidades de acesso\nlet slotsData = null;\nlet accessPath = '';\n\n// 1. Acesso direto ao root (formato WF06 V2.1)\nif (httpResponse.slots && Array.isArray(httpResponse.slots)) {\n  slotsData = httpResponse.slots;\n  accessPath = 'httpResponse.slots';\n  console.log('✅ Found slots at ROOT level');\n}\n// 2. Propriedade 'json' wrapeada\nelse if (httpResponse.json && httpResponse.json.slots) {\n  slotsData = httpResponse.json.slots;\n  accessPath = 'httpResponse.json.slots';\n  console.log('✅ Found slots in WRAPPED .json property');\n}\n// 3. Propriedade 'body'\nelse if (httpResponse.body) {\n  console.log('Found .body property, parsing...');\n  const bodyData = typeof httpResponse.body === 'string' ? JSON.parse(httpResponse.body) : httpResponse.body;\n  if (bodyData.slots) {\n    slotsData = bodyData.slots;\n    accessPath = 'httpResponse.body.slots';\n    console.log('✅ Found slots in .body property');\n  }\n}\n// 4. Propriedade 'data'\nelse if (httpResponse.data && httpResponse.data.slots) {\n  slotsData = httpResponse.data.slots;\n  accessPath = 'httpResponse.data.slots';\n  console.log('✅ Found slots in .data property');\n}\n// 5. Response direta WF06 format\nelse if (httpResponse.success && httpResponse.slots) {\n  slotsData = httpResponse.slots;\n  accessPath = 'httpResponse.slots (WF06 direct)';\n  console.log('✅ Found slots in WF06 direct format');\n}\n// 6. Fallback: WF06 pode retornar 'available_slots' para este endpoint\nelse if (httpResponse.available_slots && Array.isArray(httpResponse.available_slots)) {\n  slotsData = httpResponse.available_slots;\n  accessPath = 'httpResponse.available_slots';\n  console.log('⚠️ Found available_slots (fallback format)');\n}\n\n// Se não encontrou, logar estrutura completa e falhar\nif (!slotsData) {\n  console.error('❌ ERROR: Could not find slots/available_slots property in ANY expected location');\n  console.error('Response structure:', JSON.stringify(httpResponse, null, 2));\n  console.error('Checked paths: root.slots, json.slots, body.slots, data.slots, available_slots');\n  throw new Error('Invalid WF06 response format - missing slots property in all locations');\n}\n\n// Validar estrutura\nif (!Array.isArray(slotsData)) {\n  console.error('ERROR: slots is not an array');\n  console.error('Received type:', typeof slotsData);\n  console.error('Received value:', slotsData);\n  throw new Error('WF06 returned slots in invalid format (not array)');\n}\n\nif (slotsData.length === 0) {\n  console.error('ERROR: slots array is empty');\n  throw new Error('WF06 returned empty slots array');\n}\n\nconsole.log(`✅ SUCCESS: Received ${slotsData.length} available slots`);\nconsole.log(`Access path used: ${accessPath}`);\n\n// V88 FIX: Preservar TODOS os dados de entrada + adicionar wf06_available_slots\nconst preparedData = {\n  ...inputData,  // V88: Preserva phone_number, conversation_id, message, etc.\n  wf06_available_slots: slotsData  // Adiciona resposta do WF06\n};\n\nconsole.log('✅ V88 Data preservation:');\nconsole.log('  - phone_number:', preparedData.phone_number);\nconsole.log('  - conversation_id:', preparedData.conversation_id);\nconsole.log('  - wf06_available_slots count:', preparedData.wf06_available_slots.length);\n\nreturn preparedData;\n"},"id":"3529d925-ab5a-4ce0-94a3-c6875d571293","name":"Prepare WF06 Available Slots Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,944],"connections":{"main":[[{"node":"Merge WF06 Available Slots with User Data","type":"main","index":0}]]}},{"parameters":{},"id":"50892c09-4f74-49a7-82fa-56ede6a27cba","name":"Merge WF06 Available Slots with User Data","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-736,1312],"connections":{"main":[[{"node":"State Machine Logic","type":"main","index":0}]]}},{"parameters":{"jsCode":"// DEBUG WF06 Next Dates Response V85\n// Captura e loga TODA a resposta do HTTP Request\n\nconst httpResponse = $input.first().json;\n\nconsole.log('=== DEBUG WF06 NEXT DATES RESPONSE ===');\nconsole.log('Full HTTP Response:', JSON.stringify(httpResponse, null, 2));\nconsole.log('Response type:', typeof httpResponse);\nconsole.log('Response is array:', Array.isArray(httpResponse));\nconsole.log('Response keys:', Object.keys(httpResponse));\n\n// Verificar se tem property 'json' wrapeada\nif (httpResponse.json) {\n  console.log('Found wrapped .json property');\n  console.log('Wrapped json:', JSON.stringify(httpResponse.json, null, 2));\n  console.log('Wrapped json keys:', Object.keys(httpResponse.json));\n}\n\n// Verificar se tem property 'body'\nif (httpResponse.body) {\n  console.log('Found .body property');\n  console.log('Body type:', typeof httpResponse.body);\n  console.log('Body:', httpResponse.body);\n}\n\n// Verificar se tem property 'data'\nif (httpResponse.data) {\n  console.log('Found .data property');\n  console.log('Data:', JSON.stringify(httpResponse.data, null, 2));\n}\n\n// Verificar propriedades dates e dates_with_availability\nif (httpResponse.dates) {\n  console.log('✅ Found .dates property (EXPECTED FORMAT)');\n  console.log('Dates count:', httpResponse.dates.length);\n}\n\nif (httpResponse.dates_with_availability) {\n  console.log('⚠️ Found .dates_with_availability property (OLD FORMAT)');\n}\n\n// Passar resposta original adiante para Prepare node\nreturn httpResponse;\n"},"id":"dda74e8b-e6a0-4d49-bb73-11e187bcb8ab","name":"Debug WF06 Next Dates Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1440,-368]},{"parameters":{"jsCode":"// DEBUG WF06 Available Slots Response V85\n// Captura e loga TODA a resposta do HTTP Request\n\nconst httpResponse = $input.first().json;\n\nconsole.log('=== DEBUG WF06 AVAILABLE SLOTS RESPONSE ===');\nconsole.log('Full HTTP Response:', JSON.stringify(httpResponse, null, 2));\nconsole.log('Response type:', typeof httpResponse);\nconsole.log('Response is array:', Array.isArray(httpResponse));\nconsole.log('Response keys:', Object.keys(httpResponse));\n\n// Verificar se tem property 'json' wrapeada\nif (httpResponse.json) {\n  console.log('Found wrapped .json property');\n  console.log('Wrapped json:', JSON.stringify(httpResponse.json, null, 2));\n  console.log('Wrapped json keys:', Object.keys(httpResponse.json));\n}\n\n// Verificar se tem property 'body'\nif (httpResponse.body) {\n  console.log('Found .body property');\n  console.log('Body type:', typeof httpResponse.body);\n  console.log('Body:', httpResponse.body);\n}\n\n// Verificar propriedades slots e available_slots\nif (httpResponse.slots) {\n  console.log('✅ Found .slots property (EXPECTED FORMAT)');\n  console.log('Slots count:', httpResponse.slots.length);\n}\n\nif (httpResponse.available_slots) {\n  console.log('⚠️ Found .available_slots property (ALTERNATE FORMAT)');\n}\n\n// Passar resposta original adiante para Prepare node\nreturn httpResponse;\n"},"id":"ce19c41c-a7d7-43fb-bbfa-25a2b486fcf3","name":"Debug WF06 Available Slots Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,736]},{"parameters":{"jsCode":"// WF02 V102 - Build WF06 Response Message\n// Purpose: Format WF06 calendar dates for WhatsApp without triggering State Machine\n// This fixes the double State Machine execution bug\n\nconst input = $input.first().json;\nconst dates = input.wf06_next_dates || [];\n\nconsole.log('=== BUILD WF06 RESPONSE MESSAGE V102 ===');\nconsole.log('Input phone_number:', input.phone_number);\nconsole.log('WF06 dates count:', dates.length);\n\n// Handle empty calendar\nif (!dates || dates.length === 0) {\n  console.log('⚠️ No dates available from WF06');\n  return {\n    json: {\n      phone_number: input.phone_number,\n      response_text: '⚠️ Não encontramos horários disponíveis no momento.\\n\\n📞 Entre em contato: (62) 3092-2900'\n    }\n  };\n}\n\n// Build date options message\nlet dateOptions = '';\ndates.forEach((dateObj, index) => {\n  const number = index + 1;\n  const qualityEmoji = dateObj.quality === 'high' ? '✨' :\n                      dateObj.quality === 'medium' ? '📅' : '⚠️';\n  dateOptions += `${number}️⃣ *${dateObj.display}*\\n   🕐 ${dateObj.total_slots} horários livres ${qualityEmoji}\\n\\n`;\n});\n\nconst responseText = `📅 *Agendar Visita Técnica*\\n\\n` +\n                    `📆 *Próximas datas disponíveis:*\\n\\n` +\n                    dateOptions +\n                    `💡 *Escolha uma opção (1-3)*\\n` +\n                    `_Digite o número da data desejada_`;\n\nconsole.log('✅ Response message built successfully');\nconsole.log('Message length:', responseText.length);\n\nreturn {\n  json: {\n    phone_number: input.phone_number,\n    response_text: responseText,\n    date_suggestions: dates\n  }\n};\n"},"id":"a60490df-2e47-4ac6-a3b5-0a77bbe16fce","name":"Build WF06 Slots Response Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,528],"alwaysOutputData":true,"notes":"V70: Validate appointment date (weekday, not past, <60 days)"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Validate Input Data","type":"main","index":0}]]},"Webhook - Receive Message":{"main":[[{"node":"Prepare Phone Formats","type":"main","index":0}]]},"Get Conversation Count":{"main":[[{"node":"Check If New User","type":"main","index":0}]]},"Check If New User":{"main":[[{"node":"Merge Queries Data","type":"main","index":0}],[{"node":"Merge Queries Data1","type":"main","index":0}]]},"Get Conversation Details":{"main":[[{"node":"Merge Append Existing User V57","type":"main","index":1},{"node":"Merge WF06 Next Dates with User Data","type":"main","index":1},{"node":"Merge WF06 Available Slots with User Data","type":"main","index":1}]]},"Create New Conversation":{"main":[[{"node":"Merge Append New User V57","type":"main","index":1}]]},"State Machine Logic":{"main":[[{"node":"Build Update Queries","type":"main","index":0}]]},"Send WhatsApp Response":{"main":[[{"node":"Check If Handoff","type":"main","index":0},{"node":"Check If Scheduling","type":"main","index":0}]]},"Upsert Lead Data":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Check If Scheduling":{"main":[[{"node":"Prepare Appointment Data","type":"main","index":0}]]},"Check If Handoff":{"main":[[{"node":"Trigger Human Handoff","type":"main","index":0}]]},"Trigger Appointment Scheduler":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Trigger Human Handoff":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Validate Input Data":{"main":[[{"node":"Prepare Phone Formats","type":"main","index":0}]]},"Prepare Phone Formats":{"main":[[{"node":"Build SQL Queries","type":"main","index":0}]]},"Build SQL Queries":{"main":[[{"node":"Get Conversation Count","type":"main","index":0}]]},"Merge Queries Data":{"main":[[{"node":"Create New Conversation","type":"main","index":0},{"node":"Merge Append New User V57","type":"main","index":0}]]},"Merge Queries Data1":{"main":[[{"node":"Get Conversation Details","type":"main","index":0},{"node":"Merge Append Existing User V57","type":"main","index":0}]]},"Build Update Queries":{"main":[[{"node":"Check If WF06 Next Dates","type":"main","index":0}]]},"Merge Append New User V57":{"main":[[{"node":"Process New User Data V57","type":"main","index":0}]]},"Merge Append Existing User V57":{"main":[[{"node":"Process Existing User Data V57","type":"main","index":0}]]},"Process New User Data V57":{"main":[[{"node":"State Machine Logic","type":"main","index":0}]]},"Process Existing User Data V57":{"main":[[{"node":"State Machine Logic","type":"main","index":0}]]},"Create Appointment in Database":{"main":[[{"node":"Trigger Appointment Scheduler","type":"main","index":0}]]},"Prepare Appointment Data":{"main":[[{"node":"Create Appointment in Database","type":"main","index":0}]]},"Check If WF06 Next Dates":{"main":[[{"node":"HTTP Request - Get Next Dates","type":"main","index":0}],[{"node":"Check If WF06 Available Slots","type":"main","index":0}]]},"Check If WF06 Available Slots":{"main":[[{"node":"HTTP Request - Get Available Slots","type":"main","index":0}],[{"node":"Update Conversation State","type":"main","index":0},{"node":"Save Inbound Message","type":"main","index":0},{"node":"Save Outbound Message","type":"main","index":0},{"node":"Upsert Lead Data","type":"main","index":0},{"node":"Send WhatsApp Response","type":"main","index":0}]]},"HTTP Request - Get Next Dates":{"main":[[{"node":"Debug WF06 Next Dates Response","type":"main","index":0}]]},"HTTP Request - Get Available Slots":{"main":[[{"node":"Debug WF06 Available Slots Response","type":"main","index":0}]]},"Prepare WF06 Next Dates Data":{"main":[[{"node":"Merge WF06 Next Dates with User Data","type":"main","index":0}]]},"Merge WF06 Next Dates with User Data":{"main":[[{"node":"Build WF06 Slots Response Message","type":"main","index":0}]]},"Prepare WF06 Available Slots Data":{"main":[[{"node":"Merge WF06 Available Slots with User Data","type":"main","index":0}]]},"Merge WF06 Available Slots with User Data":{"main":[[{"node":"State Machine Logic","type":"main","index":0}]]},"Debug WF06 Next Dates Response":{"main":[[{"node":"Prepare WF06 Next Dates Data","type":"main","index":0}]]},"Debug WF06 Available Slots Response":{"main":[[{"node":"Prepare WF06 Available Slots Data","type":"main","index":0}]]},"Build WF06 Slots Response Message":{"main":[[{"node":"Send WhatsApp Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"767db6c4-70f6-466a-a961-090a86af97a5","activeVersionId":"767db6c4-70f6-466a-a961-090a86af97a5","versionCounter":58,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-27T21:21:49.143Z","createdAt":"2026-04-27T21:21:49.143Z","role":"workflow:owner","workflowId":"9tG2gR6KBt6nYyHT","projectId":"PdaTEsJXls1Zvsqz","project":{"updatedAt":"2026-04-08T23:06:02.606Z","createdAt":"2026-04-08T23:04:35.214Z","id":"PdaTEsJXls1Zvsqz","name":"Bruno Vasconcelos <bruno.amv@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"1a5d993c-f5af-4a1f-a395-3ab2a14d879b"}}],"versionMetadata":{"name":"Version 767db6c4","description":""}}]