e2-solucoes-bot/n8n/workflows/development/wf06/06_calendar_availability_service_v2_1.json
{
  "name": "06_calendar_availability_service_v2_1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-availability",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-v2",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "calendar-availability"
    },
    {
      "parameters": {
        "jsCode": "// Parse and Validate Request - V2\nconst body = $input.first().json.body;\n\nconsole.log('📥 [WF06 V2.1] Request received:', JSON.stringify(body, null, 2));\n\n// Validate required action field\nif (!body.action) {\n    throw new Error('Missing required field: action (must be \"next_dates\" or \"available_slots\")');\n}\n\nconst validActions = ['next_dates', 'available_slots'];\nif (!validActions.includes(body.action)) {\n    throw new Error(`Invalid action: ${body.action}. Must be \"next_dates\" or \"available_slots\"`);\n}\n\n// Validate action-specific fields\nif (body.action === 'next_dates') {\n    // Default values\n    const count = body.count || 3;\n    const startDate = body.start_date || new Date().toISOString().split('T')[0];\n\n    if (count < 1 || count > 10) {\n        throw new Error('Invalid count: must be between 1 and 10');\n    }\n\n    console.log('✅ [WF06 V2.1] next_dates action validated:', { count, startDate });\n\n    return {\n        action: 'next_dates',\n        count: count,\n        start_date: startDate,\n        service_type: body.service_type || 'energia_solar',\n        duration_minutes: body.duration_minutes || 120\n    };\n}\n\nif (body.action === 'available_slots') {\n    if (!body.date) {\n        throw new Error('Missing required field: date (format: YYYY-MM-DD)');\n    }\n\n    // Validate date format\n    const dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\n    if (!dateRegex.test(body.date)) {\n        throw new Error('Invalid date format. Use YYYY-MM-DD');\n    }\n\n    const duration = body.duration_minutes || 120;\n\n    console.log('✅ [WF06 V2.1] available_slots action validated:', { date: body.date, duration });\n\n    return {\n        action: 'available_slots',\n        date: body.date,\n        duration_minutes: duration\n    };\n}\n\nthrow new Error('Unknown error in request parsing');"
      },
      "id": "parse-validate-request-v2",
      "name": "Parse & Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "alwaysOutputData": true,
      "notes": "V2: Parse webhook body and validate action-specific fields"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "next_dates"
            }
          ]
        }
      },
      "id": "route-by-action-v2",
      "name": "Route by Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "notes": "V2: Route to next_dates or available_slots logic"
    },
    {
      "parameters": {
        "jsCode": "// Calculate Next N Business Days - V2\nconst data = $input.first().json;\nconst count = data.count;\nconst startDateStr = data.start_date;\n\nconsole.log('📅 [WF06 V2.1] Calculating next business days:', { count, startDate: startDateStr });\n\n// HARDCODED BUSINESS RULES (V7 pattern)\nconst WORK_DAYS = [1, 2, 3, 4, 5];  // Monday-Friday\nconst MAX_SEARCH_DAYS = 30;  // Search up to 30 days ahead\n\nconst startDate = new Date(startDateStr);\nstartDate.setHours(0, 0, 0, 0);\n\nconst businessDates = [];\nlet daysChecked = 0;\n\nwhile (businessDates.length < count && daysChecked < MAX_SEARCH_DAYS) {\n    const checkDate = new Date(startDate);\n    checkDate.setDate(startDate.getDate() + daysChecked + 1);  // Start from tomorrow\n\n    const dayOfWeek = checkDate.getDay();\n\n    // Skip weekends (Sunday = 0, Saturday = 6)\n    if (WORK_DAYS.includes(dayOfWeek)) {\n        const dateStr = checkDate.toISOString().split('T')[0];\n\n        businessDates.push({\n            date: dateStr,\n            day_of_week: dayOfWeek,\n            iso_date: dateStr\n        });\n\n        console.log(`✅ [WF06 V2.1] Business day found: ${dateStr} (day ${dayOfWeek})`);\n    }\n\n    daysChecked++;\n}\n\nif (businessDates.length === 0) {\n    throw new Error('No business days found in the next 30 days');\n}\n\nconsole.log(`✅ [WF06 V2.1] Found ${businessDates.length} business days`);\n\nreturn {\n    ...data,\n    business_dates: businessDates,\n    dates_to_check: businessDates.length\n};"
      },
      "id": "calculate-next-business-days-v2",
      "name": "Calculate Next Business Days",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        200
      ],
      "alwaysOutputData": true,
      "notes": "V2: Generate next N business days (Mon-Fri) starting from tomorrow"
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendarId": "={{ $env.GOOGLE_CALENDAR_ID }}",
        "returnAll": true,
        "options": {
          "timeMin": "={{ $json.business_dates[0].iso_date }}T00:00:00-03:00",
          "timeMax": "={{ $json.business_dates[$json.business_dates.length - 1].iso_date }}T23:59:59-03:00",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "get-calendar-events-batch-v2",
      "name": "Get Calendar Events (Batch)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1",
          "name": "Google Calendar API"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "notes": "V2: Batch fetch with retry logic (WF05 pattern) + OAuth fix"
    },
    {
      "parameters": {
        "jsCode": "// Calculate Slot Availability for Multiple Dates - V2.1 INPUT FIX\n// ===== FIX: Use correct node reference for input data =====\n// PROBLEM: $input.first().json comes from \"Get Calendar Events (Batch)\" which is EMPTY\n// SOLUTION: Use $node[\"Calculate Next Business Days\"].json for business_dates and duration_minutes\n\nconst requestData = $node[\"Calculate Next Business Days\"].json;\nconst businessDates = requestData.business_dates;\nconst durationMinutes = requestData.duration_minutes;\n\n// ===== V2 FIX: ROBUST EMPTY CALENDAR HANDLING =====\n// n8n behavior:\n// - Empty calendar: [{ json: {} }] (1 item with empty object)\n// - Calendar with events: [{ json: { id: \"...\", start: {...}, ... } }, ...]\n// - API error: [] (no items)\n\nconst rawItems = $('Get Calendar Events (Batch)').all();\n\nconsole.log(`🔍 [WF06 V2.1] Raw items from calendar API:`, {\n    count: rawItems.length,\n    first_item: rawItems.length > 0 ? JSON.stringify(rawItems[0].json) : 'NO_ITEMS'\n});\n\n// Filter out empty objects (check if .json has any meaningful properties)\nconst calendarEvents = rawItems\n    .map(item => item.json)\n    .filter(event => {\n        // Empty object check: must have 'id' or 'start' property\n        // Empty calendar returns: {}\n        // Real event returns: { id: \"...\", start: { dateTime: \"...\" }, ... }\n        const isRealEvent = event && (event.id || event.start);\n        \n        if (!isRealEvent && Object.keys(event || {}).length > 0) {\n            console.log(`⚠️ [WF06 V2.1] Filtered out invalid event:`, event);\n        }\n        \n        return isRealEvent;\n    });\n\nconsole.log(`📊 [WF06 V2.1] Processing ${businessDates.length} dates with ${calendarEvents.length} calendar events`);\n\n// ⚠️ V2: Log empty calendar for debugging (this is NORMAL, not an error)\nif (calendarEvents.length === 0) {\n    console.log('ℹ️ [WF06 V2.1] Empty calendar detected - all slots will be available (no conflicts)');\n}\n\n// HARDCODED BUSINESS HOURS (V7 pattern)\nconst WORK_START = 8;   // 08:00\nconst WORK_END = 18;    // 18:00\nconst SLOT_INTERVAL = 60;  // 1-hour intervals\n\n// Helper: Check if slot conflicts with any event\nfunction hasConflict(slotStart, slotEnd, events) {\n    for (const event of events) {\n        // V2: Extra safety check (should never trigger after filter above)\n        if (!event.start || !event.start.dateTime) {\n            console.warn(`⚠️ [WF06 V2.1] Invalid event in hasConflict:`, event);\n            continue;\n        }\n\n        const eventStart = new Date(event.start.dateTime);\n        const eventEnd = new Date(event.end.dateTime);\n\n        // Check overlap: slot starts before event ends AND slot ends after event starts\n        if (slotStart < eventEnd && slotEnd > eventStart) {\n            return true;  // Conflict found\n        }\n    }\n    return false;  // No conflict\n}\n\n// Helper: Calculate all slots for a specific date\nfunction calculateSlotsForDate(dateStr, events) {\n    const allSlots = [];\n\n    // Generate all possible slots\n    for (let hour = WORK_START; hour < WORK_END; hour += (SLOT_INTERVAL / 60)) {\n        const startTime = `${String(hour).padStart(2, '0')}:00`;\n        const endHour = hour + (durationMinutes / 60);\n\n        // Check if slot + duration fits in business hours\n        if (endHour <= WORK_END) {\n            const endTime = `${String(endHour).padStart(2, '0')}:00`;\n\n            // Build ISO datetime strings with Brazil timezone\n            const slotStart = new Date(`${dateStr}T${startTime}:00-03:00`);\n            const slotEnd = new Date(`${dateStr}T${endTime}:00-03:00`);\n\n            // Check for conflicts\n            if (!hasConflict(slotStart, slotEnd, events)) {\n                allSlots.push({\n                    start_time: startTime,\n                    end_time: endTime\n                });\n            }\n        }\n    }\n\n    return allSlots;\n}\n\n// Process each business date\nconst datesWithAvailability = businessDates.map(dateInfo => {\n    const availableSlots = calculateSlotsForDate(dateInfo.date, calendarEvents);\n\n    console.log(`📆 [WF06 V2.1] ${dateInfo.date}: ${availableSlots.length} slots available`);\n\n    return {\n        date: dateInfo.date,\n        day_of_week: dateInfo.day_of_week,\n        total_slots: availableSlots.length,\n        slots: availableSlots\n    };\n});\n\n// Filter dates with at least 1 available slot\nconst validDates = datesWithAvailability.filter(d => d.total_slots > 0);\n\nif (validDates.length === 0) {\n    console.log('⚠️ [WF06 V2.1] No dates with available slots found');\n}\n\nconsole.log(`✅ [WF06 V2.1] ${validDates.length} dates with availability`);\n\nreturn {\n    dates_with_availability: validDates,\n    total_dates_checked: businessDates.length,\n    total_dates_available: validDates.length\n};"
      },
      "id": "calculate-slot-availability-v2",
      "name": "Calculate Slot Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        200
      ],
      "alwaysOutputData": true,
      "notes": "V2.1: INPUT FIX - Use $node reference for request data"
    },
    {
      "parameters": {
        "jsCode": "// Format next_dates Response - V2\nconst data = $input.first().json;\nconst datesWithAvailability = data.dates_with_availability;\n\nconsole.log('📤 [WF06 V2.1] Formatting next_dates response');\n\n// Day of week names in Portuguese\nconst dayNames = {\n    0: 'Domingo',\n    1: 'Segunda',\n    2: 'Terça',\n    3: 'Quarta',\n    4: 'Quinta',\n    5: 'Sexta',\n    6: 'Sábado'\n};\n\n// Helper: Format date display (DD/MM format)\nfunction formatDateDisplay(dateStr) {\n    const [year, month, day] = dateStr.split('-');\n    return `${day}/${month}`;\n}\n\n// Helper: Get friendly date label (Amanhã, Depois de amanhã, etc)\nfunction getFriendlyDateLabel(dateStr) {\n    const today = new Date();\n    today.setHours(0, 0, 0, 0);\n\n    const targetDate = new Date(dateStr);\n    targetDate.setHours(0, 0, 0, 0);\n\n    const diffDays = Math.floor((targetDate - today) / (1000 * 60 * 60 * 24));\n\n    if (diffDays === 1) return 'Amanhã';\n    if (diffDays === 2) return 'Depois de amanhã';\n\n    return formatDateDisplay(dateStr);\n}\n\n// Helper: Quality indicator based on slot count\nfunction getQualityIndicator(totalSlots) {\n    if (totalSlots >= 5) return 'high';\n    if (totalSlots >= 3) return 'medium';\n    return 'low';\n}\n\n// Format dates for response\nconst formattedDates = datesWithAvailability.map(dateInfo => {\n    const friendlyLabel = getFriendlyDateLabel(dateInfo.date);\n    const dayName = dayNames[dateInfo.day_of_week] || 'Dia';\n    const display = `${friendlyLabel} (${formatDateDisplay(dateInfo.date)})`;\n\n    return {\n        date: dateInfo.date,\n        display: display,\n        day_of_week: dayName,\n        total_slots: dateInfo.total_slots,\n        quality: getQualityIndicator(dateInfo.total_slots),\n        slots: dateInfo.slots  // Include slots for debugging (optional)\n    };\n});\n\nconst response = {\n    success: true,\n    action: 'next_dates',\n    dates: formattedDates,\n    total_available: formattedDates.length\n};\n\nconsole.log('✅ [WF06 V2.1] Response formatted:', JSON.stringify(response, null, 2));\n\nreturn response;"
      },
      "id": "format-next-dates-response-v2",
      "name": "Format next_dates Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        200
      ],
      "alwaysOutputData": true,
      "notes": "V2: Format response with friendly labels (Amanhã, quality indicators)"
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendarId": "={{ $env.GOOGLE_CALENDAR_ID }}",
        "returnAll": true,
        "options": {
          "timeMin": "={{ $json.date }}T00:00:00-03:00",
          "timeMax": "={{ $json.date }}T23:59:59-03:00",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "get-calendar-events-single-v2",
      "name": "Get Calendar Events (Single Date)",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        850,
        400
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1",
          "name": "Google Calendar API"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "notes": "V2: Single date fetch with retry logic (WF05 pattern) + OAuth fix"
    },
    {
      "parameters": {
        "jsCode": "// Calculate Available Slots for Single Date - V2.1 INPUT FIX\n// ===== FIX: Use correct node reference for input data =====\n// PROBLEM: $input.first().json comes from \"Get Calendar Events (Single Date)\" which may be EMPTY\n// SOLUTION: Use $node[\"Route by Action\"].json for date and duration_minutes\n\nconst requestData = $node[\"Route by Action\"].json;\nconst dateStr = requestData.date;\nconst durationMinutes = requestData.duration_minutes;\n\n// ===== V2 FIX: ROBUST EMPTY CALENDAR HANDLING =====\nconst rawItems = $('Get Calendar Events (Single Date)').all();\n\nconsole.log(`🔍 [WF06 V2.1] Raw items from calendar API (single date):`, {\n    count: rawItems.length,\n    first_item: rawItems.length > 0 ? JSON.stringify(rawItems[0].json) : 'NO_ITEMS'\n});\n\n// Filter out empty objects (same logic as batch path)\nconst calendarEvents = rawItems\n    .map(item => item.json)\n    .filter(event => event && (event.id || event.start));\n\nconsole.log(`📊 [WF06 V2.1] Calculating slots for ${dateStr} with ${calendarEvents.length} events`);\n\nif (calendarEvents.length === 0) {\n    console.log('ℹ️ [WF06 V2.1] Empty calendar for this date - all slots available');\n}\n\n// HARDCODED BUSINESS HOURS (V7 pattern)\nconst WORK_START = 8;   // 08:00\nconst WORK_END = 18;    // 18:00\nconst SLOT_INTERVAL = 60;  // 1-hour intervals\n\n// Helper: Format time range for display\nfunction formatTimeRange(startTime, endTime) {\n    const startHour = parseInt(startTime.split(':')[0]);\n    const endHour = parseInt(endTime.split(':')[0]);\n\n    // Convert to Portuguese format (9h, meio-dia, etc)\n    const formatHour = (hour) => {\n        if (hour === 12) return 'meio-dia';\n        return `${hour}h`;\n    };\n\n    return `${formatHour(startHour)} às ${formatHour(endHour)}`;\n}\n\n// Helper: Check if slot conflicts with any event\nfunction hasConflict(slotStart, slotEnd, events) {\n    for (const event of events) {\n        if (!event.start || !event.start.dateTime) {\n            console.warn(`⚠️ [WF06 V2.1] Invalid event in hasConflict:`, event);\n            continue;\n        }\n\n        const eventStart = new Date(event.start.dateTime);\n        const eventEnd = new Date(event.end.dateTime);\n\n        // Check overlap\n        if (slotStart < eventEnd && slotEnd > eventStart) {\n            return true;\n        }\n    }\n    return false;\n}\n\n// Generate all possible slots\nconst availableSlots = [];\n\nfor (let hour = WORK_START; hour < WORK_END; hour += (SLOT_INTERVAL / 60)) {\n    const startTime = `${String(hour).padStart(2, '0')}:00`;\n    const endHour = hour + (durationMinutes / 60);\n\n    // Check if slot + duration fits in business hours\n    if (endHour <= WORK_END) {\n        const endTime = `${String(endHour).padStart(2, '0')}:00`;\n\n        // Build ISO datetime strings with Brazil timezone\n        const slotStart = new Date(`${dateStr}T${startTime}:00-03:00`);\n        const slotEnd = new Date(`${dateStr}T${endTime}:00-03:00`);\n\n        // Check for conflicts\n        if (!hasConflict(slotStart, slotEnd, calendarEvents)) {\n            availableSlots.push({\n                start_time: startTime,\n                end_time: endTime,\n                formatted: formatTimeRange(startTime, endTime)\n            });\n\n            console.log(`✅ [WF06 V2.1] Available: ${startTime}-${endTime}`);\n        } else {\n            console.log(`❌ [WF06 V2.1] Occupied: ${startTime}-${endTime}`);\n        }\n    }\n}\n\nconsole.log(`✅ [WF06 V2.1] ${availableSlots.length} slots available for ${dateStr}`);\n\nreturn {\n    date: dateStr,\n    available_slots: availableSlots,\n    total_available: availableSlots.length\n};"
      },
      "id": "calculate-available-slots-v2",
      "name": "Calculate Available Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        400
      ],
      "alwaysOutputData": true,
      "notes": "V2.1: INPUT FIX - Use $node reference for request data"
    },
    {
      "parameters": {
        "jsCode": "// Format available_slots Response - V2\nconst data = $input.first().json;\n\nconsole.log('📤 [WF06 V2.1] Formatting available_slots response');\n\nconst response = {\n    success: true,\n    action: 'available_slots',\n    date: data.date,\n    available_slots: data.available_slots,\n    total_available: data.total_available\n};\n\nconsole.log('✅ [WF06 V2.1] Response formatted:', JSON.stringify(response, null, 2));\n\nreturn response;"
      },
      "id": "format-available-slots-response-v2",
      "name": "Format available_slots Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        400
      ],
      "alwaysOutputData": true,
      "notes": "V2: Simple response formatting for available_slots endpoint"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond-to-webhook-v2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1650,
        300
      ],
      "notes": "V2: Return JSON response to caller"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse & Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Request": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Calculate Next Business Days",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Calendar Events (Single Date)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Next Business Days": {
      "main": [
        [
          {
            "node": "Get Calendar Events (Batch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events (Batch)": {
      "main": [
        [
          {
            "node": "Calculate Slot Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Slot Availability": {
      "main": [
        [
          {
            "node": "Format next_dates Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format next_dates Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events (Single Date)": {
      "main": [
        [
          {
            "node": "Calculate Available Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Available Slots": {
      "main": [
        [
          {
            "node": "Format available_slots Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format available_slots Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "calendar",
      "createdAt": "2026-04-18T00:00:00.000000"
    },
    {
      "name": "availability",
      "createdAt": "2026-04-18T00:00:00.000000"
    },
    {
      "name": "v2",
      "createdAt": "2026-04-18T00:00:00.000000"
    },
    {
      "name": "empty-calendar-fix",
      "createdAt": "2026-04-18T00:00:00.000000"
    },
    {
      "name": "proactive-ux",
      "createdAt": "2026-04-18T00:00:00.000000"
    },
    {
      "name": "input-fix",
      "createdAt": "2026-04-18T00:00:00.000000"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-18T00:00:00.000000",
  "versionId": "V2.1"
}