e2-solucoes-bot/n8n/workflows/old/02_ai_agent_conversation_V32_STATE_MAPPING.json
{
  "name": "AI Agent Conversation - V31 (Comprehensive Fix)",
  "nodes": [
    {
      "parameters": {},
      "id": "e007064a-93ec-4da7-a718-bf4a4bcf331f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validação de entrada do Workflow 01\nconst inputData = $input.first().json;\n\n// Validação crítica do phone_number\nif (!inputData.phone_number || inputData.phone_number === 'undefined') {\n    throw new Error('Phone number is required but was not received from Workflow 01');\n}\n\n// Limpar e validar formato do phone_number\nlet phone_number = String(inputData.phone_number).replace(/[^0-9]/g, '');\n\n// Remover @s.whatsapp.net se existir\nif (phone_number.includes('@')) {\n  phone_number = phone_number.split('@')[0];\n}\n\n// IMPORTANTE: Adicionar código 55 se não tiver (MOVIDO DO PREPARE UPDATE DATA)\nif (phone_number && !phone_number.startsWith('55')) {\n  // Se tem 10 ou 11 dígitos (formato brasileiro), adiciona 55\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n    console.log('Adicionado código 55:', phone_number);\n  }\n  // Se tem 12 ou 13 dígitos começando com outro código, mantém\n  else if (phone_number.length >= 12) {\n    console.log('Número já tem código de país:', phone_number);\n  }\n  // Qualquer outro caso, tenta adicionar 55\n  else {\n    phone_number = '55' + phone_number;\n    console.log('Formato desconhecido, adicionado 55:', phone_number);\n  }\n}\n\n// Validação de formato brasileiro (DDD + número) - AGORA COM 55\nif (phone_number.length < 12 || phone_number.length > 13) {\n    console.warn(`Phone number format unusual: ${phone_number} (expected 12-13 digits with country code)`);\n}\n\nconsole.log('Validated input:', {\n    phone_number: phone_number,  // Agora já tem 55\n    whatsapp_name: inputData.whatsapp_name,\n    message_type: inputData.message_type\n});\n\nreturn {\n    phone_number: phone_number,  // COM código 55\n    whatsapp_name: inputData.whatsapp_name || '',\n    message: inputData.message || '',\n    message_type: inputData.message_type || 'text',\n    media_url: inputData.media_url || null,\n    message_id: inputData.message_id || '',\n    timestamp: inputData.timestamp || new Date().toISOString()\n};"
      },
      "id": "56bd8c6a-b7a0-40a4-a6c4-57f05ca25744",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare both phone formats for SQL queries\n// This node receives data directly from WEBHOOK (not from Validate Input Data)\nconst inputData = $input.first().json;\n\n// Get phone number - could come from webhook or validate input\nlet phone_with_code = String(inputData.phone_number || '');\n\n// Clean the phone number\nphone_with_code = phone_with_code.replace(/[^0-9]/g, '');\n\n// Add country code if missing\nif (phone_with_code && !phone_with_code.startsWith('55')) {\n    if (phone_with_code.length === 10 || phone_with_code.length === 11) {\n        phone_with_code = '55' + phone_with_code;\n        console.log('Added country code 55:', phone_with_code);\n    }\n}\n\n// Create version without country code for compatibility\nlet phone_without_code = phone_with_code;\nif (phone_with_code.startsWith('55')) {\n    phone_without_code = phone_with_code.substring(2);\n}\n\nconsole.log('=== PHONE FORMAT PREPARATION ===');\nconsole.log('With code (55):', phone_with_code);\nconsole.log('Without code:', phone_without_code);\n\n// Return both formats and pass through all other data\nreturn {\n    ...inputData, // Pass through all original data\n    phone_with_code: phone_with_code,      // e.g., \"556181755748\"\n    phone_without_code: phone_without_code, // e.g., \"6181755748\"\n    // Keep original for compatibility\n    phone_number: phone_with_code,\n\n    // CRITICAL V26 FIX: Ensure ALL possible message field names are present\n    // This handles different webhook formats from Evolution API\n    message: inputData.message || inputData.body || inputData.text || inputData.content || '',\n    content: inputData.content || inputData.message || inputData.body || inputData.text || '',\n    body: inputData.body || inputData.message || inputData.text || inputData.content || '',\n    text: inputData.text || inputData.message || inputData.body || inputData.content || '',\n\n    // Also ensure whatsapp_name is present\n    whatsapp_name: inputData.whatsapp_name || inputData.pushName || inputData.profileName || ''\n};"
      },
      "id": "580dfe3e-31ea-4337-a502-f8addfbf9367",
      "name": "Prepare Phone Formats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        384
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-ai-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "0c70f884-0df7-418d-b238-d74060588bed",
      "name": "Webhook - Receive Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -464,
        688
      ],
      "webhookId": "ai-agent-conversation-v1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_count}}",
        "additionalFields": {}
      },
      "id": "6ce6c308-1183-4ffd-a8b2-1290a45b82d3",
      "name": "Get Conversation Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -256,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_details}}",
        "additionalFields": {}
      },
      "id": "d6f73a5f-97f4-417d-8b06-83f7c2c6e2ea",
      "name": "Get Conversation Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        352,
        928
      ],
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "0"
            }
          ]
        }
      },
      "id": "c21aeec7-83c2-4f54-9ad2-ec3b033d9078",
      "name": "Check If New User",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -64,
        688
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_upsert}}",
        "options": {}
      },
      "id": "4657386e-04f9-4e40-b63d-74bf9cf206fa",
      "name": "Create New Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// ============================================================================\n// E2 Soluções Bot v1 - Menu State Machine (FIXED)\n// ============================================================================\n\nconst items = $input.all();\n\n// V28 ARRAY FIX DEBUG\nconsole.log('=== V28 INPUT ANALYSIS (ARRAY FIX) ===');\nconsole.log('Total inputs received:', items.length);\nconsole.log('Input types:', items.map(i => typeof i.json));\n\n// Debug first input (from Merge Conversation Data)\nif (items[0]) {\n  const keys0 = Object.keys(items[0].json);\n  console.log('Input 0 keys:', keys0);\n  console.log('Input 0 has message?:', 'message' in items[0].json);\n  console.log('Input 0 has content?:', 'content' in items[0].json);\n  console.log('Input 0 has body?:', 'body' in items[0].json);\n  console.log('Input 0 has text?:', 'text' in items[0].json);\n  console.log('Input 0 message value:', items[0].json.message);\n  console.log('Input 0 content value:', items[0].json.content);\n  console.log('Input 0 body value:', items[0].json.body);\n  console.log('Input 0 text value:', items[0].json.text);\n}\n\n// Debug second input (from database)\nif (items[1]) {\n  console.log('Input 1 keys:', Object.keys(items[1].json));\n  console.log('Input 1 conversation_id:', items[1].json.id);\n}\n\n// V27 COMPREHENSIVE DEBUG\nconsole.log('=== V27 INPUT ANALYSIS ===');\nconsole.log('Total inputs received:', items.length);\n\n// Debug first input (from Merge Conversation Data)\nif (items[0]) {\n  const keys0 = Object.keys(items[0].json);\n  console.log('Input 0 keys:', keys0);\n  console.log('Input 0 has message?:', 'message' in items[0].json);\n  console.log('Input 0 has content?:', 'content' in items[0].json);\n  console.log('Input 0 has body?:', 'body' in items[0].json);\n  console.log('Input 0 has text?:', 'text' in items[0].json);\n  console.log('Input 0 message value:', items[0].json.message);\n  console.log('Input 0 content value:', items[0].json.content);\n  console.log('Input 0 body value:', items[0].json.body);\n  console.log('Input 0 text value:', items[0].json.text);\n}\n\n// Debug second input (from database)\nif (items[1]) {\n  console.log('Input 1 keys:', Object.keys(items[1].json));\n}\nconsole.log('=== INPUT DEBUG ===');\nconsole.log('Total inputs received:', items.length);\nconsole.log('Input 0:', JSON.stringify(items[0]?.json || {}));\nconsole.log('Input 1:', JSON.stringify(items[1]?.json || {}));\n\n// Get basic input data (phone, message, etc)\nconst inputData = items[0].json;\nconst leadId = inputData.phone_number;\n// V26 FIX: Comprehensive message extraction with debug\nconst rawMessage = inputData.content ||\n                  inputData.body ||\n                  inputData.text ||\n                  inputData.message ||\n                  inputData.input ||  // Additional fallback\n                  '';\n\n// Debug message extraction\nconsole.log('=== V26 MESSAGE EXTRACTION DEBUG ===');\nconsole.log('inputData keys:', Object.keys(inputData));\nconsole.log('inputData.content:', inputData.content);\nconsole.log('inputData.body:', inputData.body);\nconsole.log('inputData.text:', inputData.text);\nconsole.log('inputData.message:', inputData.message);\nconsole.log('Raw message extracted:', rawMessage);\n\n// Clean message from invisible characters\nconst message = rawMessage\n  .toString()  // Ensure it's a string\n  .replace(/[\\u200B-\\u200D\\uFEFF]/g, '')  // Remove zero-width chars\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, '')  // Remove control chars\n  .trim();\n\nconsole.log('Cleaned message:', message);\nconsole.log('Message type:', typeof message);\nconsole.log('Message length:', message.length);\nconsole.log('Message charCodes:', message.split('').map(c => c.charCodeAt(0)));\n\nconsole.log('=== PHONE NUMBER DEBUG ===');\nconsole.log('Raw phone from input:', leadId);\nconsole.log('Message:', message);\n\n// Get conversation state from database (second input if exists)\nlet conversation;\nlet conversationId;\n\n// Check if we have conversation data from database\nif (items.length > 1 && items[1].json && items[1].json.id) {\n  conversation = items[1].json;\n  conversationId = conversation.id; // UUID from database\n  console.log('✅ Found existing conversation with ID:', conversationId);\n} else {\n  // New conversation - no ID yet\n  conversation = {\n    phone_number: leadId,\n    current_state: 'greeting',\n    state_machine_state: 'greeting',\n    collected_data: {}\n  };\n  conversationId = null;\n  console.log('⚠️ New conversation - no ID yet');\n}\n\n// Get current state and stage data\n\n// =====================================\n// V32: STATE NORMALIZATION\n// =====================================\n\n// Get the raw state from database (try multiple fields for compatibility)\nconst rawCurrentStage = conversation.state_machine_state ||\n                        conversation.state_for_machine ||\n                        conversation.current_state ||\n                        conversation.current_state_v2 ||\n                        'greeting';\n\n// V32: NORMALIZE STATE NAME using mapping\nconst currentStage = stateNameMapping[rawCurrentStage] || rawCurrentStage;\n\nconsole.log('=====================================');\nconsole.log('V32 STATE NORMALIZATION:');\nconsole.log('  Raw state from DB:', rawCurrentStage);\nconsole.log('  Normalized state:', currentStage);\nconsole.log('  Mapping applied:', rawCurrentStage !== currentStage ? 'YES ✓' : 'NO');\nconsole.log('=====================================');\n\n// V32: Diagnostic - Log if state was not in mapping\nif (!stateNameMapping[rawCurrentStage]) {\n  console.log('⚠️ V32 WARNING: State not in mapping:', rawCurrentStage);\n  console.log('  Using raw state as-is. Consider adding to mapping.');\n}\n\nconst stageData = conversation.collected_data || {};\n\n// DEBUG\nconsole.log('=== STATE MACHINE DEBUG ===');\nconsole.log('Conversation ID:', conversationId);\nconsole.log('Current Stage:', currentStage);\nconsole.log('Message:', message);\nconsole.log('Stage Data:', JSON.stringify(stageData));\nconsole.log('Phone Number:', leadId);\n\n// ============================================================================\n// Service Mapping\n// ============================================================================\n\nconst serviceMapping = {\n  '1': {\n    id: 'energia_solar',\n    name: 'Energia Solar',\n    description: 'Projetos fotovoltaicos residenciais, comerciais e industriais',\n    emoji: '☀️'\n  },\n  '2': {\n    id: 'subestacao',\n    name: 'Subestação',\n    description: 'Reforma, manutenção e construção de subestações',\n    emoji: '⚡'\n  },\n  '3': {\n    id: 'projetos_eletricos',\n    name: 'Projetos Elétricos',\n    description: 'Projetos elétricos, adequações e laudos de conformidade',\n    emoji: '📐'\n  },\n  '4': {\n    id: 'bess',\n    name: 'BESS (Armazenamento)',\n    description: 'Sistemas de armazenamento de energia com baterias',\n    emoji: '🔋'\n  },\n  '5': {\n    id: 'analise_laudos',\n    name: 'Análise e Laudos',\n    description: 'Análise de qualidade de energia e laudos técnicos',\n    emoji: '📊'\n  }\n};\n\n// ============================================================================\n// Validators\n// ============================================================================\n\nconst validators = {\n  number_1_to_5: (input) => {\n    // V29: Enhanced validation with stage tracking\n    console.log('=== V31 VALIDATOR EXECUTED: number_1_to_5 ===');\n    console.log('V31 CHECK: This should ONLY run for service_selection stage!');\n    console.log('V30: This should ONLY be called in service_selection stage');\n    const cleaned = String(input)\n      .trim()\n      .replace(/[^\\d]/g, '')  // Remove everything except digits\n      .substring(0, 1);        // Take only first digit\n\n    console.log('V29 number validator - Input:', JSON.stringify(input), '-> Cleaned:', cleaned);\n\n    if (!cleaned) {\n      console.log('V26 Validator - No digits found in input');\n      return false;\n    }\n\n    const num = parseInt(cleaned);\n    const isValid = num >= 1 && num <= 5;\n    console.log('V26 Validator - Number:', num, 'Valid:', isValid);\n    return isValid;\n  },\n\n  text_min_3_chars: (input) => {\n    console.log('=== V31 VALIDATOR EXECUTED: text_min_3_chars ===');\n    console.log('V31 CHECK: This should ONLY run for collect_name stage!');\n    console.log('V31: Input received:', JSON.stringify(input));\n    const trimmed = String(input).trim();\n    const isValid = trimmed.length >= 3;\n    console.log('V31: Trimmed:', trimmed);\n    console.log('V31: Length:', trimmed.length);\n    console.log('V31: Valid:', isValid);\n    console.log('V31: Returning:', isValid);\n    return isValid;\n  },\n\n  phone_brazil: (input) => {\n    const cleaned = input.replace(/\\D/g, '');\n    const regex = /^(\\d{2})(\\d{4,5})(\\d{4})$/;\n    return regex.test(cleaned) && cleaned.length >= 10 && cleaned.length <= 11;\n  },\n\n  email_or_skip: (input) => {\n    const trimmed = input.trim().toLowerCase();\n    if (trimmed === 'pular') return true;\n    const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n    return emailRegex.test(trimmed);\n  },\n\n  city_name: (input) => {\n    return input.trim().length >= 3;\n  },\n\n  confirmation_1_or_2: (input) => {\n    const num = parseInt(input.trim());\n    return num === 1 || num === 2;\n  }\n};\n\n// V31: EXPLICIT VALIDATOR MAPPING FUNCTION\nfunction getValidatorForStage(stage) {\n  const validatorMap = {\n    'greeting': null,\n    'service_selection': 'number_1_to_5',\n    'collect_name': 'text_min_3_chars',\n    'collect_phone': 'phone_brazil',\n    'collect_email': 'email_or_skip',\n    'collect_city': 'city_name',\n    'confirmation': 'confirmation_1_or_2',\n    'scheduling': null,\n    'handoff_comercial': null,\n    'completed': null\n  };\n\n  console.log(`V31 VALIDATOR MAPPING: Stage \"${stage}\" → Validator \"${validatorMap[stage]}\"`);\n  return validatorMap[stage];\n}\n\n// V31: Force update flag for persistence\nlet forceUpdateRequired = false;\nlet stageTransitionOccurred = false;\n\n\n\n// ============================================================================\n// Message Templates\n// ============================================================================\n\nconst templates = {\n  greeting: {\n    text: '🤖 Olá! Bem-vindo à *E2 Soluções*!\\n\\nSomos especialistas em engenharia elétrica.\\n\\n*Escolha o serviço desejado:*\\n\\n☀️ 1 - Energia Solar\\n⚡ 2 - Subestação\\n📐 3 - Projetos Elétricos\\n🔋 4 - BESS (Armazenamento)\\n📊 5 - Análise e Laudos\\n\\n_Digite o número de 1 a 5:_',\n    footer: 'E2 Soluções Engenharia'\n  },\n\n  service_selected: {\n    template: '{{emoji}} *{{service_name}}*\\n\\n{{description}}\\n\\n━━━━━━━━━━━━━━━\\n\\nPerfeito! Vou coletar alguns dados para melhor atendê-lo.\\n\\n👤 *Qual seu nome completo?*'\n  },\n\n  collect_phone: {\n    text: '📱 *Qual seu telefone com DDD?*\\n\\n_Exemplo: (62) 99988-7766_'\n  },\n\n  collect_email: {\n    text: '📧 *Qual seu email?*\\n\\n_Ou digite \"pular\" para não informar_'\n  },\n\n  collect_city: {\n    text: '📍 *Em qual cidade você está?*\\n\\n_Exemplo: Goiânia_'\n  },\n\n  \n// V32: Enhanced confirmation template with phone details\nconfirmation: {\n  template: '✅ *Dados confirmados!*\\n\\n' +\n    '👤 *Nome:* {{lead_name}}\\n' +\n    '📱 *Telefone Principal:* {{phone}}\\n' +\n    '📲 *WhatsApp:* {{phone_whatsapp}}\\n' +\n    '📧 *Email:* {{email}}\\n' +\n    '📍 *Cidade:* {{city}}\\n' +\n    '{{emoji}} *Serviço:* {{service_name}}\\n\\n' +\n    '━━━━━━━━━━━━━━━\\n\\n' +\n    '🗓️ Deseja agendar uma *visita técnica gratuita*?\\n\\n' +\n    '1️⃣ Sim, quero agendar\\n' +\n    '2️⃣ Não, prefiro falar com especialista\\n\\n' +\n    '_Digite 1 ou 2:_'\n}\n,\n\n  invalid_option: {\n    text: '❌ Opção inválida. Por favor, escolha uma opção válida.'\n  },\n\n  invalid_phone: {\n    text: '❌ Telefone inválido.\\n\\n📱 Digite um telefone válido com DDD:\\n_Exemplo: (62) 99988-7766_'\n  },\n\n  invalid_email: {\n    text: '❌ Email inválido.\\n\\n📧 Digite um email válido ou \"pular\":\\n_Exemplo: seu@email.com_'\n  },\n\n  error_generic: {\n    text: '⚠️ Ops! Algo deu errado.\\n\\nPor favor, tente novamente ou digite *AJUDA* para falar com um especialista.'\n  }\n};\n\n// ============================================================================\n// Template Filler\n// ============================================================================\n\nfunction fillTemplate(template, data) {\n  let text = template;\n  for (const [key, value] of Object.entries(data)) {\n    text = text.replace(new RegExp(`{{${key}}}`, 'g'), value);\n  }\n  return text;\n}\n\n// ============================================================================\n// State Machine Logic\n// ============================================================================\n\nlet nextStage = currentStage;\nlet responseText = '';\nlet updateData = { ...stageData };\nlet errorCount = stageData.error_count || 0;\nconst MAX_ERRORS = 3;\n\n// DEBUG - Log antes do switch\nconsole.log('Processing stage:', currentStage, 'with message:', message);\n\n\n// V29 VALIDATION FIX DEBUG\nconsole.log('=== V29 STATE VALIDATION ===');\nconsole.log('Current Stage:', currentStage);\nconsole.log('Message:', message);\nconsole.log('Message type:', typeof message);\nconsole.log('Message length:', message.length);\n\n// Helper to track which validator should be used\nconst getExpectedValidator = (stage) => {\n  const validatorMap = {\n    'greeting': 'none',\n    'service_selection': 'number_1_to_5',\n    'collect_name': 'text_min_3_chars',\n    'collect_phone': 'phone_brazil',\n    'collect_email': 'email_or_skip',\n    'collect_city': 'city_name',\n    'confirmation': 'confirmation_1_or_2'\n  };\n  return validatorMap[stage] || 'unknown';\n};\n\nconsole.log('Expected validator for stage:', getExpectedValidator(currentStage));\n\n// V30: EXPLICIT STAGE-TO-VALIDATOR MAPPING\nconst stageValidatorMap = {\n  'greeting': 'none',\n  'service_selection': 'number_1_to_5',\n  'collect_name': 'text_min_3_chars',\n  'collect_phone': 'phone_brazil',\n  'collect_email': 'email_or_skip',\n  'collect_city': 'city_name',\n  'confirmation': 'confirmation_1_or_2',\n  'handoff_comercial': 'none',\n  'completed': 'none'\n};\n\nconsole.log('=== V30 VALIDATOR ISOLATION CHECK ===');\nconsole.log('Current Stage:', currentStage);\nconsole.log('Expected Validator:', stageValidatorMap[currentStage]);\nconsole.log('Message to validate:', message);\nconsole.log('================================');\n\n\n\n// V31: PRE-SWITCH VALIDATION\nconsole.log('--- V31 BEFORE SWITCH ---');\nconsole.log('About to process stage:', currentStage);\nconsole.log('Stage is exactly \"collect_name\"?:', currentStage === 'collect_name');\nconsole.log('Stage is exactly \"service_selection\"?:', currentStage === 'service_selection');\n\n// V31: Ensure stage is trimmed and clean\nconst cleanStage = String(currentStage).trim();\nconsole.log('V31: Using clean stage:', cleanStage);\n\nswitch (cleanStage) {\n  case 'greeting':\n    responseText = templates.greeting.text;\n    nextStage = 'service_selection';\n    break;\n\n      case 'service_selection':\n    console.log('=== V31 STAGE: service_selection ===');\n    console.log('V31: Message received:', message);\n\n    // V31: Use explicit validator\n    const serviceValidatorName = getValidatorForStage('service_selection');\n    console.log('V31: Using validator:', serviceValidatorName);\n\n    if (serviceValidatorName === 'number_1_to_5' && validators.number_1_to_5(message)) {\n      console.log('V31: Service number validated successfully');\n\n      const service = serviceMapping[message];\n      updateData.service_type = service.id;\n      updateData.service_name = service.name;\n      updateData.service_emoji = service.emoji;\n\n      responseText = fillTemplate(templates.service_selected.template, {\n        emoji: service.emoji,\n        service_name: service.name,\n        description: service.description\n      });\n\n      // V31: CRITICAL - Explicit stage transition\n      nextStage = 'collect_name';\n      console.log('V31 CRITICAL: Setting nextStage to:', nextStage);\n      console.log('V31: Stage transition will occur: service_selection → collect_name');\n\n      // V31: Force persistence\n      forceUpdateRequired = true;\n      stageTransitionOccurred = true;\n\n      errorCount = 0;\n    } else {\n      console.log('V31: Invalid service selection');\n      responseText = templates.invalid_option.text + '\\n\\n' + templates.greeting.text;\n      nextStage = 'service_selection';\n      errorCount++;\n\n      if (errorCount >= MAX_ERRORS) {\n        nextStage = 'handoff_comercial';\n        responseText = '⚠️ Percebi dificuldades. Vou transferir você para um especialista.\\n\\nAguarde...';\n        forceUpdateRequired = true;\n      }\n    }\n    break;\n\n    case 'collect_name':\n    console.log('=== V31 STAGE EXECUTION: collect_name ===');\n    console.log('V31 CRITICAL: This log MUST appear when processing names!');\n    console.log('V31: Input message:', message);\n    console.log('V31: Message type:', typeof message);\n    console.log('V31: Message length:', message?.length);\n\n    // V31: Get correct validator\n    const nameValidatorName = getValidatorForStage('collect_name');\n    console.log('V31: Validator for collect_name:', nameValidatorName);\n\n    if (nameValidatorName !== 'text_min_3_chars') {\n      console.error('V31 CRITICAL ERROR: Wrong validator mapped for collect_name!');\n      console.error('Expected: text_min_3_chars, Got:', nameValidatorName);\n    }\n\n    // V31: ONLY use text validator for names\n    const nameIsValid = validators.text_min_3_chars(message);\n    console.log('V31: Name validation result:', nameIsValid);\n    console.log('V31: Validator used: text_min_3_chars ONLY');\n\n    if (nameIsValid) {\n      console.log('V31 SUCCESS: Name accepted, transitioning to collect_phone');\n      updateData.lead_name = message.trim();\n      responseText = templates.collect_phone.text;\n\n      // V31: Explicit transition\n      nextStage = 'collect_phone';\n      console.log('V31 CRITICAL: Setting nextStage to:', nextStage);\n      console.log('V31: Stage transition will occur: collect_name → collect_phone');\n\n      // V31: Force update\n      forceUpdateRequired = true;\n      stageTransitionOccurred = true;\n      errorCount = 0;\n    } else {\n      console.log('V31: Name rejected - too short');\n      responseText = '❌ Nome muito curto.\\n\\n👤 Digite seu nome completo:';\n\n      // V31: Explicitly stay in current stage\n      nextStage = 'collect_name';\n      console.log('V31: Staying in collect_name stage');\n      errorCount++;\n\n      if (errorCount >= MAX_ERRORS) {\n        nextStage = 'handoff_comercial';\n        responseText = '⚠️ Vou transferir você para um especialista.\\n\\nAguarde...';\n        forceUpdateRequired = true;\n      }\n    }\n    break;\n\n  \n    case 'collect_phone':\n      console.log('=== V32 PHONE VALIDATION ENHANCED ===');\n\n      // Get WhatsApp number (the one they're messaging from)\n      const whatsappNumber = leadId.replace(/\\D/g, '');\n      const inputMessage = message.toLowerCase().trim();\n      const inputNumber = message.replace(/\\D/g, '');\n\n      console.log('V32 Phone Data:');\n      console.log('  WhatsApp number:', whatsappNumber);\n      console.log('  Input message:', inputMessage);\n      console.log('  Input number:', inputNumber);\n      console.log('  Stage data:', JSON.stringify(stageData));\n\n      // Check if it's a confirmation response\n      if (inputMessage === 'sim' || inputMessage === '1' || inputMessage === 's') {\n        // User confirmed same number as WhatsApp\n        const formatted = whatsappNumber.replace(/(\\d{2})(\\d{4,5})(\\d{4})/, '($1) $2-$3');\n\n        console.log('V32: User confirmed WhatsApp as primary phone');\n\n        updateData.phone = formatted;\n        updateData.phone_whatsapp = formatted;\n        updateData.phone_alternative = null;\n        updateData.phone_validated = true;\n\n        responseText = templates.collect_email.text;\n        nextStage = 'collect_email';\n        errorCount = 0;\n\n      } else if (inputMessage === 'não' || inputMessage === 'nao' || inputMessage === '2' || inputMessage === 'n') {\n        // User wants to provide different number\n        console.log('V32: User wants different phone number');\n\n        responseText = '📱 Por favor, digite seu telefone principal com DDD:\\n\\nExemplo: (62) 98175-5548';\n        nextStage = 'collect_phone';\n        updateData.phone_confirmation_asked = true;\n        updateData.phone_different_requested = true;\n\n      } else if (stageData.phone_different_requested && validators.phone_brazil(message)) {\n        // User provided a different valid number\n        const cleaned = inputNumber;\n        const formatted = cleaned.replace(/(\\d{2})(\\d{4,5})(\\d{4})/, '($1) $2-$3');\n        const whatsappFormatted = whatsappNumber.replace(/(\\d{2})(\\d{4,5})(\\d{4})/, '($1) $2-$3');\n\n        console.log('V32: Different phone number provided and validated');\n\n        updateData.phone = formatted;  // Main phone (different)\n        updateData.phone_whatsapp = whatsappFormatted;  // WhatsApp phone\n        updateData.phone_alternative = formatted;  // Alternative provided\n        updateData.phone_validated = true;\n\n        responseText = templates.collect_email.text;\n        nextStage = 'collect_email';\n        errorCount = 0;\n\n      } else if (!stageData.phone_confirmation_asked) {\n        // First time in this stage - ask for confirmation\n        const formatted = whatsappNumber.replace(/(\\d{2})(\\d{4,5})(\\d{4})/, '($1) $2-$3');\n\n        console.log('V32: First time - asking for phone confirmation');\n\n        responseText = `📱 Percebi que você está usando o WhatsApp do número:\\n\\n*${formatted}*\\n\\nEste é seu telefone principal?\\n\\n✅ Digite *1* ou *SIM* para confirmar\\n❌ Digite *2* ou *NÃO* para informar outro número`;\n\n        updateData.phone_confirmation_asked = true;\n        nextStage = 'collect_phone';  // Stay in same stage\n\n      } else if (validators.phone_brazil(message)) {\n        // Direct phone number input (backward compatibility)\n        const cleaned = inputNumber;\n        const formatted = cleaned.replace(/(\\d{2})(\\d{4,5})(\\d{4})/, '($1) $2-$3');\n\n        console.log('V32: Direct phone input validated (backward compatibility)');\n\n        updateData.phone = formatted;\n        updateData.phone_whatsapp = whatsappNumber.replace(/(\\d{2})(\\d{4,5})(\\d{4})/, '($1) $2-$3');\n        updateData.phone_alternative = formatted !== updateData.phone_whatsapp ? formatted : null;\n        updateData.phone_validated = true;\n\n        responseText = templates.collect_email.text;\n        nextStage = 'collect_email';\n        errorCount = 0;\n\n      } else {\n        // Validation failed\n        console.log('V32: Phone validation failed');\n\n        responseText = templates.invalid_phone.text;\n        nextStage = 'collect_phone';\n        errorCount++;\n\n        if (errorCount >= MAX_ERRORS) {\n          nextStage = 'handoff_comercial';\n          responseText = '⚠️ Vou transferir você para um especialista que pode ajudar melhor.\\n\\nAguarde um momento...';\n        }\n      }\n\n      console.log('V32 Phone Stage Result:');\n      console.log('  Next stage:', nextStage);\n      console.log('  Phone validated:', updateData.phone_validated || false);\n      console.log('  Error count:', errorCount);\n      break;\n\n\n\n  case 'collect_email':\n    if (validators.email_or_skip(message)) {\n      const trimmed = message.trim().toLowerCase();\n      updateData.email = trimmed === 'pular' ? 'Não informado' : trimmed;\n      responseText = templates.collect_city.text;\n      nextStage = 'collect_city';\n      errorCount = 0;\n    } else {\n      responseText = templates.invalid_email.text;\n      nextStage = 'collect_email';  // V29: Keep current stage on error\n      errorCount++;\n\n      if (errorCount >= MAX_ERRORS) {\n        nextStage = 'handoff_comercial';\n        responseText = '⚠️ Vou transferir você para um especialista.\\n\\nAguarde...';\n      }\n    }\n    break;\n\n  case 'collect_city':\n    if (validators.city_name(message)) {\n      updateData.city = message.trim();\n\n      responseText = fillTemplate(templates.confirmation.template, {\n        lead_name: updateData.lead_name,\n        phone: updateData.phone,\n        email: updateData.email,\n        city: updateData.city,\n        emoji: updateData.service_emoji,\n        service_name: updateData.service_name\n      });\n\n      nextStage = 'confirmation';\n      errorCount = 0;\n    } else {\n      responseText = '❌ Cidade inválida.\\n\\n📍 Digite o nome da cidade:';\n      nextStage = 'collect_city';  // V29: Keep current stage on error\n      errorCount++;\n\n      if (errorCount >= MAX_ERRORS) {\n        nextStage = 'handoff_comercial';\n        responseText = '⚠️ Vou transferir você para um especialista.\\n\\nAguarde...';\n      }\n    }\n    break;\n\n  case 'confirmation':\n    if (validators.confirmation_1_or_2(message)) {\n      const choice = parseInt(message);\n\n      if (choice === 1) {\n        // User wants to schedule\n        nextStage = 'scheduling';\n        updateData.wants_appointment = true;\n        responseText = '🗓️ Perfeito! Vou verificar os horários disponíveis...\\n\\n⏳ Aguarde um momento.';\n      } else {\n        // User wants to speak with specialist\n        nextStage = 'handoff_comercial';\n        updateData.wants_appointment = false;\n        responseText = '👨‍💼 Entendi! Vou transferir você para um especialista da equipe.\\n\\n⏳ Aguarde um momento...';\n      }\n\n      errorCount = 0;\n    } else {\n      responseText = '❌ Opção inválida.\\n\\n_Digite 1 para agendar ou 2 para falar com especialista:_';\n      errorCount++;\n\n      if (errorCount >= MAX_ERRORS) {\n        nextStage = 'handoff_comercial';\n        responseText = '⚠️ Vou transferir você para um especialista.\\n\\nAguarde...';\n      }\n    }\n    break;\n\n  case 'handoff_comercial':\n    responseText = '👨‍💼 Você foi transferido para nossa equipe comercial.\\n\\nEm breve um especialista entrará em contato!\\n\\n_Horário de atendimento: Segunda a Sexta, 8h às 18h_';\n    nextStage = 'completed';\n    break;\n\n  case 'completed':\n    responseText = '✅ Seu atendimento já foi finalizado.\\n\\nPara iniciar uma nova conversa, digite *NOVO*.';\n\n    if (message.toLowerCase().includes('novo')) {\n      responseText = templates.greeting.text;\n      nextStage = 'service_selection';\n      updateData = {};\n    }\n    break;\n\n  default:\n    responseText = templates.error_generic.text;\n    nextStage = 'greeting';\n}\n\n// V31: POST-SWITCH VALIDATION\nconsole.log('--- V31 AFTER SWITCH ---');\nconsole.log('Final nextStage:', nextStage);\nconsole.log('Force update required:', forceUpdateRequired);\nconsole.log('Stage transition occurred:', stageTransitionOccurred);\nconsole.log('Update data:', JSON.stringify(updateData, null, 2));\n\n// V31: Ensure critical updates are persisted\nif (stageTransitionOccurred || forceUpdateRequired) {\n  console.log('V31 CRITICAL: Database update MUST occur now!');\n  updateData.conversation_stage = nextStage;\n  updateData.force_update = true;\n}\n\n\n// Update error count\nupdateData.error_count = errorCount;\n\n// DEBUG - Log resultado\nconsole.log('=== FINAL STATE ===');\nconsole.log('Next stage:', nextStage);\nconsole.log('Conversation ID being passed:', conversationId);\nconsole.log('Response prepared');\n\n// ============================================================================\n// Return Output\n// ============================================================================\n\nreturn [\n  {\n    json: {\n      phone_number: leadId,\n      conversation_id: conversationId, // Will be null for new conversations, UUID for existing\n      message: message,\n      current_state: currentStage,\n      next_stage: nextStage,\n      collected_data: updateData,\n      response_text: responseText,\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "3b0d5abe-e6f6-435d-9ff1-8d55163dcaa4",
      "name": "State Machine Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        320,
        432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_update_conversation }}",
        "options": {
          "queryBatching": "independent"
        }
      },
      "id": "66353703-f1f3-484e-9968-38434542d35f",
      "name": "Update Conversation State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        608,
        752
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_save_inbound }}",
        "options": {
          "queryBatching": "independent"
        }
      },
      "id": "81b1fa8f-a8d0-4ff8-8181-ee25c085d2f3",
      "name": "Save Inbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        720,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_save_outbound }}",
        "options": {
          "queryBatching": "independent"
        }
      },
      "id": "73cd6d71-0a16-427a-aaae-f46a450c7788",
      "name": "Save Outbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        912,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-evolution-dev:8080/message/sendText/e2-solucoes-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "ae569043cfa169380c378347f91a1141ea572541d2d1cadbed222db519c8a891"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Build Update Queries\"].json[\"phone_number\"] }}"
            },
            {
              "name": "text",
              "value": "={{ $node[\"Build Update Queries\"].json[\"response_text\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f54980b-240b-43f6-bd38-6cd95e547d86",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        928,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.next_stage }}",
              "value2": "scheduling"
            }
          ]
        }
      },
      "id": "689d6869-74ad-486c-920d-75feff34c381",
      "name": "Check If Scheduling",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1136,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.next_stage }}",
              "value2": "handoff_comercial"
            }
          ]
        }
      },
      "id": "e6eb8498-894a-42c5-9ab2-268128a46989",
      "name": "Check If Handoff",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1136,
        880
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id + 3 }}",
        "options": {}
      },
      "id": "4881d6ce-2c8a-4acc-af3e-2d41eaf35f36",
      "name": "Trigger Appointment Scheduler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1344,
        592
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id + 8 }}",
        "options": {}
      },
      "id": "88c3d6ed-566a-41d8-a3c9-d0b6ac5d903d",
      "name": "Trigger Human Handoff",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1344,
        880
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_upsert_lead }}",
        "options": {}
      },
      "id": "6e324676-b9d4-4075-9033-aaaef8880693",
      "name": "Upsert Lead Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        928,
        1024
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ { success: true, stage: $json.next_stage } }}",
        "options": {}
      },
      "id": "16badfa3-fda3-43e7-9690-0ca5a6db30cd",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1536,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build SQL Queries Node - Prepara todas as queries SQL\n// Recebe dados do node anterior\nconst data = $input.first().json;\nconst phone_with_code = data.phone_with_code || '';\nconst phone_without_code = data.phone_without_code || '';\n\n// Validação de segurança\nif (!phone_with_code || !phone_without_code) {\n  throw new Error('Phone numbers not properly formatted');\n}\n\n// Escape simples para SQL injection\nconst escapeSql = (str) => {\n  return String(str).replace(/'/g, \"''\");\n};\n\n// Query para contar conversas existentes\nconst query_count = `\n  SELECT COUNT(*) as count\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n`.trim();\n\n// Query para buscar detalhes da conversa\nconst query_details = `\n  SELECT\n    *,\n    COALESCE(state_machine_state,\n      CASE current_state\n        WHEN 'novo' THEN 'greeting'\n        WHEN 'identificando_servico' THEN 'service_selection'\n        WHEN 'coletando_dados' THEN 'collect_name'\n        WHEN 'agendando' THEN 'scheduling'\n        WHEN 'handoff_comercial' THEN 'handoff_comercial'\n        WHEN 'concluido' THEN 'completed'\n        ELSE 'greeting'\n      END\n    ) as state_for_machine\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  ORDER BY updated_at DESC\n  LIMIT 1\n`.trim();\n\n// Query para criar/atualizar conversa\nconst query_upsert = `\n  -- Limpar duplicatas antigas\n  DELETE FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  AND id NOT IN (\n    SELECT id FROM conversations\n    WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n    ORDER BY updated_at DESC\n    LIMIT 1\n  );\n\n  -- Inserir ou atualizar conversa\n  INSERT INTO conversations (\n    phone_number,\n    whatsapp_name,\n    service_id,\n    contact_name,\n    contact_email,\n    city,\n    current_state,\n    state_machine_state,\n    collected_data,\n    error_count,\n    created_at,\n    updated_at\n  ) VALUES (\n    '${escapeSql(phone_without_code)}',\n    '${escapeSql(data.whatsapp_name || '')}',\n    NULL,\n    NULL,\n    NULL,\n    NULL,\n    'novo',\n    'greeting',\n    '{}'::jsonb,\n    0,\n    CURRENT_TIMESTAMP,\n    CURRENT_TIMESTAMP\n  )\n  ON CONFLICT (phone_number) DO UPDATE SET\n    whatsapp_name = COALESCE(EXCLUDED.whatsapp_name, conversations.whatsapp_name),\n    last_message_at = CURRENT_TIMESTAMP,\n    updated_at = CURRENT_TIMESTAMP,\n    state_machine_state = CASE\n      WHEN conversations.state_machine_state IN ('completed', 'handoff_comercial')\n      THEN 'greeting'\n      ELSE conversations.state_machine_state\n    END\n  RETURNING *\n`.trim();\n\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (FIXED) ===');\nconsole.log('Phone with code:', phone_with_code);\nconsole.log('Phone without code:', phone_without_code);\nconsole.log('Queries built successfully as STRINGS');\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V27) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V27: PRESERVAR CAMPOS DE MENSAGEM\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V28) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V28: PRESERVAR CAMPOS DE MENSAGEM E RETORNAR ARRAY\nconst result = {\n  ...data,  // Pass through ALL original data\n\n  // SQL Queries\n  query_count: query_count,        // String SQL\n  query_details: query_details,    // String SQL\n  query_upsert: query_upsert,      // String SQL\n\n  // V28 CRITICAL: Explicitly preserve message fields\n  message: data.message || '',\n  content: data.content || '',\n  body: data.body || '',\n  text: data.text || '',\n\n  // Phone fields\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  phone_number: data.phone_number || phone_with_code,\n\n  // Other fields\n  whatsapp_name: data.whatsapp_name || ''\n};\n\n// V28: Return as array for n8n compatibility\nconsole.log('V28: Build SQL Queries returning array');\nreturn [result];"
      },
      "id": "720cb1d4-f306-4b9a-885c-4819e20ba03d",
      "name": "Build SQL Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        272
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados após o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // ← ARRAY RETURN FIX"
      },
      "id": "fa6e38f7-1d32-4861-bc3d-1fe9355fe60e",
      "name": "Merge Queries Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        16
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados após o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // ← ARRAY RETURN FIX"
      },
      "id": "f5af431d-1cd1-41f9-8253-3023f61c18de",
      "name": "Merge Queries Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        1040
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "22c5f52e-f449-43b8-bb85-ddd3af8923d5",
      "name": "Merge Conversation Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        176,
        768
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Build Update Queries - V21 FIXED DATA FLOW\n// Recebe dados DIRETAMENTE do State Machine Logic\nconst inputData = $input.first().json;\n\nconsole.log('=== V25 BUILD UPDATE QUERIES DEBUG (SIMPLIFIED) ===');\nconsole.log('Input keys:', Object.keys(inputData));\nconsole.log('Phone number:', inputData.phone_number);\nconsole.log('Response text:', inputData.response_text);\nconsole.log('Next stage:', inputData.next_stage);\nconsole.log('Collected data:', inputData.collected_data);\n\n// Função helper para escapar SQL\nconst escapeSql = (str) => {\n  if (str === null || str === undefined || str === '') return '';\n  return String(str).replace(/'/g, \"''\");\n};\n\n// Função para preparar JSON para PostgreSQL\nconst prepareJsonb = (obj) => {\n  if (!obj || typeof obj !== 'object') return '{}';\n  return JSON.stringify(obj).replace(/'/g, \"''\");\n};\n\n// CRITICAL FIX: Extrair dados com fallbacks robustos\nlet phone_number = String(inputData.phone_number || '');\n\n// Limpar e garantir formato correto\nphone_number = phone_number.replace(/[^0-9]/g, '');\n\n// Adicionar código 55 se necessário\nif (phone_number && !phone_number.startsWith('55')) {\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n  }\n}\n\n// Criar versões com e sem código\nconst phone_with_code = phone_number;\nconst phone_without_code = phone_number.startsWith('55') ? phone_number.substring(2) : phone_number;\n\n// Extrair outros dados necessários\nconst response_text = escapeSql(inputData.response_text || 'Olá! Como posso ajudar?');\nconst next_stage = inputData.next_stage || inputData.current_state || 'greeting';\nconst collected_data = inputData.collected_data || {};\nconst collected_data_json = prepareJsonb(collected_data);\nconst message_content = escapeSql(inputData.message || '');\nconst message_type = inputData.message_type || 'text';\nconst message_id = inputData.message_id || '';\nconst conversation_id = inputData.conversation_id || null;\n\n// Mapear estados para o banco\nconst state_mapping = {\n  'greeting': 'novo',\n  'service_selection': 'identificando_servico',\n  'collect_name': 'coletando_dados',\n  'collect_phone': 'coletando_dados',\n  'collect_email': 'coletando_dados',\n  'collect_city': 'coletando_dados',\n  'confirmation': 'coletando_dados',\n  'scheduling': 'agendando',\n  'handoff_comercial': 'handoff_comercial',\n  'completed': 'concluido'\n};\n\nconst db_state = state_mapping[next_stage] || 'novo';\n\nconsole.log('=== V25 QUERY BUILDING (SIMPLIFIED) ===');\nconsole.log('Phone with code:', phone_with_code);\nconsole.log('Phone without code:', phone_without_code);\nconsole.log('Next stage:', next_stage);\nconsole.log('DB State:', db_state);\nconsole.log('Conversation ID:', conversation_id);\n\n// Query 1: Update Conversation State (V25 SIMPLIFIED)\nconst query_update_conversation = `\n-- V25: Simplified UPSERT with native PostgreSQL INSERT...ON CONFLICT\nINSERT INTO conversations (\n  phone_number,\n  whatsapp_name,\n  current_state,\n  state_machine_state,\n  collected_data,\n  service_type,\n  contact_name,\n  contact_email,\n  city,\n  status,\n  last_message_at,\n  created_at,\n  updated_at\n) VALUES (\n  '${phone_with_code}',\n  '${escapeSql(collected_data?.lead_name || '')}',\n  '${db_state}',\n  '${next_stage}',\n  '${collected_data_json}'::jsonb,\n  ${collected_data?.service_type ? \"'\" + escapeSql(collected_data.service_type) + \"'\" : 'NULL'},\n  '${escapeSql(collected_data?.lead_name || '')}',\n  '${escapeSql(collected_data?.email || '')}',\n  '${escapeSql(collected_data?.city || '')}',\n  'active',\n  NOW(),\n  NOW(),\n  NOW()\n)\nON CONFLICT (phone_number)\nDO UPDATE SET\n  current_state = EXCLUDED.current_state,\n  state_machine_state = EXCLUDED.state_machine_state,\n  collected_data = EXCLUDED.collected_data,\n  service_type = COALESCE(EXCLUDED.service_type, conversations.service_type),\n  contact_name = COALESCE(NULLIF(EXCLUDED.contact_name, ''), conversations.contact_name),\n  contact_email = COALESCE(NULLIF(EXCLUDED.contact_email, ''), conversations.contact_email),\n  city = COALESCE(NULLIF(EXCLUDED.city, ''), conversations.city),\n  whatsapp_name = COALESCE(NULLIF(EXCLUDED.whatsapp_name, ''), conversations.whatsapp_name),\n  last_message_at = NOW(),\n  updated_at = NOW()\nRETURNING *`.trim();\n\nconsole.log('✅ V25: Simplified UPSERT query built');\nconsole.log('Query length:', query_update_conversation.length);\n\n// Query 2: Save Inbound Message\nconst query_save_inbound = `\nINSERT INTO messages (\n  conversation_id,\n  direction,\n  content,\n  message_type,\n  whatsapp_message_id,\n  created_at\n)\nVALUES (\n  (SELECT id FROM conversations WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}') ORDER BY updated_at DESC LIMIT 1),\n  'inbound',\n  '${message_content}',\n  '${message_type}',\n  '${message_id}',\n  NOW()\n)\nON CONFLICT (whatsapp_message_id)\nWHERE whatsapp_message_id IS NOT NULL AND whatsapp_message_id != ''\nDO NOTHING\nRETURNING *`.trim();\n\n// Query 3: Save Outbound Message\nconst query_save_outbound = `\nINSERT INTO messages (\n  conversation_id,\n  direction,\n  content,\n  message_type,\n  whatsapp_message_id,\n  created_at\n)\nVALUES (\n  (SELECT id FROM conversations WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}') ORDER BY updated_at DESC LIMIT 1),\n  'outbound',\n  '${response_text}',\n  'text',\n  'out_' || extract(epoch from NOW())::bigint || '_' || random()::text,\n  NOW()\n)\nRETURNING *`.trim();\n\n// Query 4: Upsert Lead Data\nconst query_upsert_lead = `\nWITH existing_lead AS (\n  SELECT id\n  FROM leads\n  WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}')\n  LIMIT 1\n),\nupdated AS (\n  UPDATE leads\n  SET\n    name = COALESCE(NULLIF('${escapeSql(collected_data?.lead_name || '')}', ''), name),\n    email = COALESCE(NULLIF('${escapeSql(collected_data?.email || '')}', ''), email),\n    city = COALESCE(NULLIF('${escapeSql(collected_data?.city || '')}', ''), city),\n    service_type = COALESCE(NULLIF('${escapeSql(collected_data?.service_type || '')}', ''), service_type),\n    state_machine_state = '${next_stage}',\n    service_details = '${collected_data_json}'::jsonb,\n    updated_at = NOW()\n  WHERE id IN (SELECT id FROM existing_lead)\n  RETURNING *, 'updated' as operation\n),\ninserted AS (\n  INSERT INTO leads (\n    phone_number,\n    name,\n    email,\n    city,\n    service_type,\n    state_machine_state,\n    service_details,\n    created_at,\n    updated_at\n  )\n  SELECT\n    '${phone_with_code}',\n    '${escapeSql(collected_data?.lead_name || '')}',\n    '${escapeSql(collected_data?.email || '')}',\n    '${escapeSql(collected_data?.city || '')}',\n    '${escapeSql(collected_data?.service_type || '')}',\n    '${next_stage}',\n    '${collected_data_json}'::jsonb,\n    NOW(),\n    NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM existing_lead)\n  RETURNING *, 'inserted' as operation\n)\nSELECT * FROM updated\nUNION ALL\nSELECT * FROM inserted`.trim();\n\n// Log para debug\nconsole.log('✅ V25: All queries built with simplified UPSERT');\n\n// Retornar todas as queries e TODOS os dados necessários\nreturn {\n  // Dados originais do State Machine\n  phone_number: phone_with_code,\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  response_text: inputData.response_text,\n  next_stage: next_stage,\n  collected_data: collected_data,\n  conversation_id: conversation_id,\n  message: inputData.message,\n  message_type: message_type,\n  message_id: message_id,\n\n  // Queries SQL prontas\n  query_update_conversation,\n  query_save_inbound,\n  query_save_outbound,\n  query_upsert_lead,\n\n  // Metadados\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "7ed4b34c-e158-4180-8d42-63042a07188e",
      "name": "Build Update Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        496
      ],
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Receive Message": {
      "main": [
        [
          {
            "node": "Prepare Phone Formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Count": {
      "main": [
        [
          {
            "node": "Check If New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If New User": {
      "main": [
        [
          {
            "node": "Merge Queries Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Queries Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Details": {
      "main": [
        [
          {
            "node": "Merge Conversation Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create New Conversation": {
      "main": [
        [
          {
            "node": "Merge Conversation Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "State Machine Logic": {
      "main": [
        [
          {
            "node": "Build Update Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Check If Scheduling",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check If Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Scheduling": {
      "main": [
        [
          {
            "node": "Trigger Appointment Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Handoff": {
      "main": [
        [
          {
            "node": "Trigger Human Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Appointment Scheduler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Human Handoff": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Data": {
      "main": [
        [
          {
            "node": "Prepare Phone Formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Phone Formats": {
      "main": [
        [
          {
            "node": "Build SQL Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL Queries": {
      "main": [
        [
          {
            "node": "Get Conversation Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Queries Data": {
      "main": [
        [
          {
            "node": "Create New Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Conversation Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Queries Data1": {
      "main": [
        [
          {
            "node": "Get Conversation Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Conversation Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Conversation Data": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Queries": {
      "main": [
        [
          {
            "node": "Update Conversation State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Inbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Outbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3eef1ee-5903-4d81-9d33-8ccfa52e377b",
  "meta": {
    "instanceId": "be7607dc500d0df7a2cb94e774f3665239bf8a65324d98f4d2534280e5bd21e1"
  },
  "id": "LS2EakwfZkKyqeb4",
  "tags": [
    {
      "updatedAt": "2025-12-16T17:43:09.351Z",
      "createdAt": "2025-12-16T17:43:09.351Z",
      "id": "Bt7aSJBUi1XItwT9",
      "name": "menu-based"
    },
    {
      "updatedAt": "2025-12-16T17:43:09.349Z",
      "createdAt": "2025-12-16T17:43:09.349Z",
      "id": "xvWQ3HxS15JPlKvc",
      "name": "v1"
    }
  ]
}