e2-solucoes-bot/n8n/workflows/old/02_ai_agent_conversation_V65_UX_COMPLETE_FIX.json
{
  "name": "WF02: AI Agent V65 UX COMPLETE FIX",
  "nodes": [
    {
      "parameters": {},
      "id": "e007064a-93ec-4da7-a718-bf4a4bcf331f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validação de entrada do Workflow 01\nconst inputData = $input.first().json;\n\n// Validação crítica do phone_number\nif (!inputData.phone_number || inputData.phone_number === 'undefined') {\n    throw new Error('Phone number is required but was not received from Workflow 01');\n}\n\n// Limpar e validar formato do phone_number\nlet phone_number = String(inputData.phone_number).replace(/[^0-9]/g, '');\n\n// Remover @s.whatsapp.net se existir\nif (phone_number.includes('@')) {\n  phone_number = phone_number.split('@')[0];\n}\n\n// IMPORTANTE: Adicionar código 55 se não tiver (MOVIDO DO PREPARE UPDATE DATA)\nif (phone_number && !phone_number.startsWith('55')) {\n  // Se tem 10 ou 11 dígitos (formato brasileiro), adiciona 55\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n    console.log('Adicionado código 55:', phone_number);\n  }\n  // Se tem 12 ou 13 dígitos começando com outro código, mantém\n  else if (phone_number.length >= 12) {\n    console.log('Número já tem código de país:', phone_number);\n  }\n  // Qualquer outro caso, tenta adicionar 55\n  else {\n    phone_number = '55' + phone_number;\n    console.log('Formato desconhecido, adicionado 55:', phone_number);\n  }\n}\n\n// Validação de formato brasileiro (DDD + número) - AGORA COM 55\nif (phone_number.length < 12 || phone_number.length > 13) {\n    console.warn(`Phone number format unusual: ${phone_number} (expected 12-13 digits with country code)`);\n}\n\nconsole.log('Validated input:', {\n    phone_number: phone_number,  // Agora já tem 55\n    whatsapp_name: inputData.whatsapp_name,\n    message_type: inputData.message_type\n});\n\nreturn {\n    phone_number: phone_number,  // COM código 55\n    whatsapp_name: inputData.whatsapp_name || '',\n    message: inputData.message || '',\n    message_type: inputData.message_type || 'text',\n    media_url: inputData.media_url || null,\n    message_id: inputData.message_id || '',\n    timestamp: inputData.timestamp || new Date().toISOString()\n};"
      },
      "id": "56bd8c6a-b7a0-40a4-a6c4-57f05ca25744",
      "name": "Validate Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        624
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare both phone formats for SQL queries\n// This node receives data directly from WEBHOOK (not from Validate Input Data)\nconst inputData = $input.first().json;\n\n// Get phone number - could come from webhook or validate input\nlet phone_with_code = String(inputData.phone_number || '');\n\n// Clean the phone number\nphone_with_code = phone_with_code.replace(/[^0-9]/g, '');\n\n// Add country code if missing\nif (phone_with_code && !phone_with_code.startsWith('55')) {\n    if (phone_with_code.length === 10 || phone_with_code.length === 11) {\n        phone_with_code = '55' + phone_with_code;\n        console.log('Added country code 55:', phone_with_code);\n    }\n}\n\n// Create version without country code for compatibility\nlet phone_without_code = phone_with_code;\nif (phone_with_code.startsWith('55')) {\n    phone_without_code = phone_with_code.substring(2);\n}\n\nconsole.log('=== PHONE FORMAT PREPARATION ===');\nconsole.log('With code (55):', phone_with_code);\nconsole.log('Without code:', phone_without_code);\n\n// Return both formats and pass through all other data\nreturn {\n    ...inputData, // Pass through all original data\n    phone_with_code: phone_with_code,      // e.g., \"556181755748\"\n    phone_without_code: phone_without_code, // e.g., \"6181755748\"\n    // Keep original for compatibility\n    phone_number: phone_with_code,\n\n    // CRITICAL V26 FIX: Ensure ALL possible message field names are present\n    // This handles different webhook formats from Evolution API\n    message: inputData.message || inputData.body || inputData.text || inputData.content || '',\n    content: inputData.content || inputData.message || inputData.body || inputData.text || '',\n    body: inputData.body || inputData.message || inputData.text || inputData.content || '',\n    text: inputData.text || inputData.message || inputData.body || inputData.content || '',\n\n    // Also ensure whatsapp_name is present\n    whatsapp_name: inputData.whatsapp_name || inputData.pushName || inputData.profileName || ''\n};"
      },
      "id": "580dfe3e-31ea-4337-a502-f8addfbf9367",
      "name": "Prepare Phone Formats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        384
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-ai-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "0c70f884-0df7-418d-b238-d74060588bed",
      "name": "Webhook - Receive Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -464,
        688
      ],
      "webhookId": "ai-agent-conversation-v1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_count}}",
        "additionalFields": {}
      },
      "id": "6ce6c308-1183-4ffd-a8b2-1290a45b82d3",
      "name": "Get Conversation Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -256,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_details}}",
        "additionalFields": {}
      },
      "id": "d6f73a5f-97f4-417d-8b06-83f7c2c6e2ea",
      "name": "Get Conversation Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        352,
        928
      ],
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.count }}",
              "value2": "0"
            }
          ]
        }
      },
      "id": "c21aeec7-83c2-4f54-9ad2-ec3b033d9078",
      "name": "Check If New User",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -64,
        688
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json.query_upsert}}",
        "options": {}
      },
      "id": "4657386e-04f9-4e40-b63d-74bf9cf206fa",
      "name": "Create New Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "// ===================================================\n// V63 STATE MACHINE - COMPLETE FLOW REDESIGN\n// ===================================================\n// Changes from V62.3:\n// - REMOVED: collect_phone state (redundant)\n// - DIRECT: collect_name → collect_phone_whatsapp_confirmation\n// - SOURCE: input.phone_number (from Evolution API webhook)\n// - STATES: 8 (was 9 in V62.3)\n// - TEMPLATES: 12 (was 16 in V62.3)\n// Date: 2026-03-10\n// ===================================================\n\n// Helper function for phone formatting\nfunction formatPhoneDisplay(phone) {\n  if (!phone) return '';\n\n  // Remove all non-numeric characters\n  const cleaned = phone.replace(/\\D/g, '');\n\n  // Format based on length\n  if (cleaned.length === 11) {\n    return `(${cleaned.substring(0,2)}) ${cleaned.substring(2,7)}-${cleaned.substring(7,11)}`;\n  } else if (cleaned.length === 10) {\n    return `(${cleaned.substring(0,2)}) ${cleaned.substring(2,6)}-${cleaned.substring(6,10)}`;\n  }\n\n  return phone; // Return original if format not recognized\n}\n\n// Main execution\nconst input = $input.all()[0].json;\nconst message = (input.message || '').toString().trim().toLowerCase();\nconst currentStage = input.current_stage || 'greeting';\n\n// Get currentData from Postgres (Merge Append node)\nconst currentData = input.currentData || {};\n\n// V64 DEBUG: Log currentData at STATE MACHINE START\nconsole.log('=== V64 STATE MACHINE DEBUG START ===');\nconsole.log('V64: Input currentData type:', typeof input.currentData);\nconsole.log('V64: Input currentData:', JSON.stringify(input.currentData));\nconsole.log('V64: Input current_stage:', input.current_stage);\nconsole.log('V64: currentData.service_selected:', currentData.service_selected);\nconsole.log('V64: currentData.service_type:', currentData.service_type);\nconsole.log('V64: currentData.lead_name:', currentData.lead_name);\nconsole.log('=== V64 STATE MACHINE DEBUG END ===');\n\n// Service type mapping\nconst serviceMapping = {\n  '1': 'energia_solar',          // V64 FIX: Matches DB constraint valid_service_v58\n  '2': 'subestacao',             // Unchanged\n  '3': 'projeto_eletrico',       // V64 FIX: Was 'projetos'\n  '4': 'armazenamento_energia',  // V64 FIX: Was 'bess'\n  '5': 'analise_laudo'           // V64 FIX: Was 'analise'\n};\n\n// Service emoji and name mapping\nconst serviceDisplay = {\n  'solar': { emoji: '☀️', name: 'Energia Solar' },\n  'subestacao': { emoji: '⚡', name: 'Subestações' },\n  'projetos': { emoji: '📐', name: 'Projetos Elétricos' },\n  'bess': { emoji: '🔋', name: 'BESS (Armazenamento de Energia)' },\n  'analise': { emoji: '📊', name: 'Análise de Consumo' }\n};\n\n// Templates (12 total - V63 optimization)\nconst templates = {\n  // 1. GREETING E MENU PRINCIPAL (2)\n  \"greeting\": `🤖 *Olá! Bem-vindo à E2 Soluções!*\n\nSomos especialistas em engenharia elétrica com 15+ anos de experiência.\n\n*Qual serviço você precisa?*\n\n☀️ *1 - Energia Solar*\n   Projetos fotovoltaicos residenciais e comerciais\n\n⚡ *2 - Subestação*\n   Reforma, manutenção e construção\n\n📐 *3 - Projetos Elétricos*\n   Adequações e laudos técnicos\n\n🔋 *4 - BESS (Armazenamento)*\n   Sistemas de armazenamento de energia\n\n📊 *5 - Análise e Laudos*\n   Qualidade de energia e eficiência\n\n_Digite o número do serviço (1-5):_`,\n\n  \"invalid_service\": `❌ *Opção inválida*\n\nPor favor, escolha uma das opções disponíveis:\n\n1️⃣ - Energia Solar\n2️⃣ - Subestações\n3️⃣ - Projetos Elétricos\n4️⃣ - BESS\n5️⃣ - Análise de Consumo\n\n_Digite apenas o número (1 a 5)_`,\n\n  // 2. COLETA DE NOME (2)\n  \"service_acknowledged\": `✅ *Perfeito!*\n\n👤 *Qual é o seu nome completo?*\n\n💡 _Exemplo: Maria Silva Santos_\n_Usaremos para personalizar seu atendimento_`,\n\n  \"invalid_name\": `❌ *Nome inválido*\n\nPor favor, informe seu nome completo (mínimo 2 letras).\n\n_Não use apenas números ou caracteres especiais._`,\n\n  // 3. COLETA DE TELEFONE (3)\n  \"phone_whatsapp_confirm\": `📱 *Ótimo, {{name}}!*\n\nVi que você está me enviando mensagens pelo número:\n*{{whatsapp_number}}*\n\nEste é o melhor número para contato?\n\n1️⃣ *Sim, pode usar este*\n2️⃣ *Não, vou informar outro*\n\n💡 _Digite 1 ou 2_`,\n\n  \"phone_alternative\": `📱 *Qual número prefere para contato, {{name}}?*\n\nPor favor, informe com DDD:\n\n💡 _Exemplo: (62) 98765-4321_\n_Usaremos este número para agendarmos sua visita técnica_`,\n\n  \"invalid_phone\": `❌ *Telefone inválido*\n\nPor favor, informe um telefone válido com DDD.\n\n💡 _Exemplos aceitos:_\n• (62) 98765-4321\n• 62987654321\n• 6298765-4321\n\n_Use apenas números, espaços, parênteses e hífen_`,\n\n  // 4. COLETA DE EMAIL (2)\n  \"email_request\": `📧 *Qual é o seu e-mail, {{name}}?*\n\n💡 _Exemplo: maria.silva@email.com_\n\nSe preferir não informar, digite *pular*\n_O e-mail nos ajuda a enviar documentação técnica e propostas_`,\n\n  \"invalid_email\": `❌ *E-mail inválido*\n\nPor favor, informe um e-mail válido.\n\n*Exemplos:*\n• maria@gmail.com\n• joao.silva@empresa.com.br\n\nOu digite *pular* se não quiser informar.`,\n\n  // 5. COLETA DE CIDADE (2)\n  \"city_request\": `📍 *Em qual cidade você está, {{name}}?*\n\n💡 _Exemplo: Goiânia - GO_\n_Precisamos saber para agendar a visita técnica com nossa equipe local_`,\n\n  \"invalid_city\": `❌ *Cidade inválida*\n\nPor favor, informe uma cidade válida (mínimo 2 letras).\n\n_Exemplo: Goiânia, Brasília, Anápolis..._`,\n\n  // 6. CONFIRMAÇÃO - 3 OPÇÕES (2) ← V65 KEY CHANGE\n  \"confirmation\": `✅ *Perfeito! Veja o resumo dos seus dados:*\n\n👤 *Nome:* {{name}}\n📱 *Telefone:* {{phone}}\n📧 *E-mail:* {{email}}\n📍 *Cidade:* {{city}}\n{{service_emoji}} *Serviço:* {{service_name}}\n\n---\n\nDeseja agendar uma visita técnica gratuita para avaliarmos seu projeto?\n\n1️⃣ *Sim, quero agendar*\n2️⃣ *Não agora, falar com uma pessoa*\n3️⃣ *Meus dados estão errados, quero corrigir*`,\n\n  \"invalid_confirmation\": `❌ *Opção inválida*\n\nPor favor, escolha uma das opções:\n\n1️⃣ *Sim, quero agendar*\n2️⃣ *Não agora, falar com uma pessoa*\n3️⃣ *Meus dados estão errados, quero corrigir*`,\n\n  // 7. REDIRECIONAMENTOS (2) ← V65 NEW\n  \"scheduling_redirect\": `⏰ *Agendamento de Visita Técnica*\n\nPerfeito! Agora vamos agendar sua visita técnica.\n\nNossa equipe entrará em contato em breve para:\n✅ Confirmar melhor data e horário\n✅ Esclarecer detalhes técnicos\n✅ Preparar documentação necessária\n\n🕐 *Horário de atendimento:*\nSegunda a Sexta: 8h às 18h\nSábado: 8h às 12h\n\n📱 *Contato direto:* (62) 3092-2900\n\n_Obrigado por escolher a E2 Soluções!_`,\n\n  \"handoff_comercial\": `👔 *Transferência para Atendimento Comercial*\n\nObrigado pelas informações!\n\nNossa equipe comercial especializada entrará em contato para:\n✅ Apresentar soluções personalizadas\n✅ Elaborar proposta técnica-comercial\n✅ Esclarecer dúvidas sobre investimento\n\n🕐 *Retorno em:* até 24 horas úteis\n\n📱 *Contato direto:* (62) 3092-2900\n\n_Aguarde nosso retorno!_`\n};\n\n// Initialize response variables\nlet responseText = '';\nlet nextStage = currentStage;\nlet updateData = {};\n\nconsole.log('V63: Current stage:', currentStage);\nconsole.log('V63: User message:', message);\nconsole.log('V63: Current data:', JSON.stringify(currentData));\n\n// ===================================================\n// STATE MACHINE LOGIC\n// ===================================================\n\nswitch (currentStage) {\n\n  // ===== STATE 1: GREETING - Show menu =====\n  case 'greeting':\n  case 'menu':\n    console.log('V63: Processing GREETING state');\n    responseText = templates.greeting;\n    nextStage = 'service_selection';\n    break;\n\n  // ===== STATE 2: SERVICE SELECTION - Capture service =====\n  case 'service_selection':\n  case 'identificando_servico':\n    console.log('V63: Processing SERVICE_SELECTION state');\n\n    if (/^[1-5]$/.test(message)) {\n      console.log('V63: Valid service number:', message);\n      updateData.service_selected = message;\n      updateData.service_type = serviceMapping[message];\n      console.log('V63: Service mapped:', message, '→', updateData.service_type);\n\n      // V63 FIX: Use service_acknowledged template (asks for name WITHOUT {{name}} placeholder)\n      responseText = templates.service_acknowledged;\n      nextStage = 'collect_name';\n    } else {\n      console.log('V63: Invalid service selection');\n      responseText = templates.invalid_service;\n      nextStage = 'service_selection';\n    }\n    break;\n\n  // ===== STATE 3: COLLECT NAME - Get name + DIRECT to WhatsApp confirmation =====\n  case 'collect_name':\n  case 'coletando_nome':\n    console.log('V63: Processing COLLECT_NAME state');\n\n    const trimmedName = message.trim();\n\n    // Validate name (at least 2 chars, not just numbers)\n    if (trimmedName.length >= 2 && !/^[0-9]+$/.test(trimmedName)) {\n      console.log('V63: Valid name received:', trimmedName);\n      updateData.lead_name = trimmedName;\n\n      // V63 CRITICAL CHANGE: Skip collect_phone, go DIRECTLY to WhatsApp confirmation\n      // Use phone number from Evolution API webhook (input.phone_number)\n      const whatsappPhone = input.phone_number || input.phone_with_code || '';\n      console.log('V63: WhatsApp phone from input:', whatsappPhone);\n\n      // Generate WhatsApp confirmation message\n      responseText = templates.phone_whatsapp_confirm\n        .replace('{{name}}', trimmedName)\n        .replace('{{whatsapp_number}}', formatPhoneDisplay(whatsappPhone));\n\n      nextStage = 'collect_phone_whatsapp_confirmation'; // DIRECT!\n      console.log('V63: OPTIMIZATION - Skip collect_phone, go directly to WhatsApp confirmation');\n\n    } else {\n      console.log('V63: Invalid name format');\n      responseText = templates.invalid_name;\n      nextStage = 'collect_name';\n    }\n    break;\n\n  // ===== STATE 4: PHONE WHATSAPP CONFIRMATION - Confirm WhatsApp or get alternative =====\n  case 'collect_phone_whatsapp_confirmation':\n    console.log('V63: Processing PHONE_WHATSAPP_CONFIRMATION state');\n\n    if (message === '1') {\n      // User confirms WhatsApp number is correct\n      console.log('V63: WhatsApp number confirmed');\n\n      // Use the WhatsApp number from webhook\n      const confirmedPhone = input.phone_number || input.phone_with_code || '';\n      updateData.phone_number = confirmedPhone;\n      updateData.contact_phone = confirmedPhone; // V43 field\n\n      // Proceed to email collection\n      responseText = templates.email_request.replace('{{name}}', currentData.lead_name || 'cliente');\n      nextStage = 'collect_email';\n\n    } else if (message === '2') {\n      // User wants to provide alternative number\n      console.log('V63: User wants alternative phone');\n\n      responseText = templates.phone_alternative.replace('{{name}}', currentData.lead_name || 'cliente');\n      nextStage = 'collect_phone_alternative';\n\n    } else {\n      // Invalid option\n      console.log('V63: Invalid WhatsApp confirmation option');\n      const whatsappPhone = input.phone_number || input.phone_with_code || '';\n      responseText = `❌ *Opção inválida*\\n\\n${templates.phone_whatsapp_confirm\n        .replace('{{name}}', currentData.lead_name || 'cliente')\n        .replace('{{whatsapp_number}}', formatPhoneDisplay(whatsappPhone))}`;\n      nextStage = 'collect_phone_whatsapp_confirmation';\n    }\n    break;\n\n  // ===== STATE 5: COLLECT PHONE ALTERNATIVE - Get alternative phone =====\n  case 'collect_phone_alternative':\n    console.log('V63: Processing COLLECT_PHONE_ALTERNATIVE state');\n\n    // Phone validation regex (DDD + number)\n    const phoneRegex = /^\\(?\\d{2}\\)?\\s?9?\\d{4}[-\\s]?\\d{4}$/;\n\n    if (phoneRegex.test(message)) {\n      console.log('V63: Valid alternative phone received');\n\n      // Clean and store alternative phone\n      const cleanedPhone = message.replace(/\\D/g, '');\n      updateData.phone_number = cleanedPhone;\n      updateData.contact_phone = cleanedPhone; // V43 field\n\n      // Proceed to email collection\n      responseText = templates.email_request.replace('{{name}}', currentData.lead_name || 'cliente');\n      nextStage = 'collect_email';\n\n    } else {\n      console.log('V63: Invalid alternative phone format');\n      responseText = templates.invalid_phone;\n      nextStage = 'collect_phone_alternative';\n    }\n    break;\n\n  // ===== STATE 6: COLLECT EMAIL - Get email or skip =====\n  case 'collect_email':\n  case 'coletando_email':\n    console.log('V63: Processing COLLECT_EMAIL state');\n\n    if (message === 'pular') {\n      console.log('V63: User skipped email');\n      updateData.email = 'não informado';\n      responseText = templates.city_request.replace('{{name}}', currentData.lead_name || 'cliente');\n      nextStage = 'collect_city';\n\n    } else {\n      // Basic email validation\n      const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\n      if (emailRegex.test(message)) {\n        console.log('V63: Valid email received');\n        updateData.email = message;\n        responseText = templates.city_request.replace('{{name}}', currentData.lead_name || 'cliente');\n        nextStage = 'collect_city';\n      } else {\n        console.log('V63: Invalid email format');\n        responseText = `❌ *E-mail inválido*\\n\\n${templates.email_request.replace('{{name}}', currentData.lead_name || 'cliente')}`;\n        nextStage = 'collect_email';\n      }\n    }\n    break;\n\n  // ===== STATE 7: COLLECT CITY - Get city =====\n  case 'collect_city':\n  case 'coletando_cidade':\n    console.log('V63: Processing COLLECT_CITY state');\n\n    if (message.length >= 2) {\n      console.log('V63: Valid city received');\n      updateData.city = message;\n\n      // Build confirmation message with ALL data\n      const leadName = currentData.lead_name || updateData.lead_name || 'não informado';\n      const phoneNumber = currentData.contact_phone || currentData.phone_number || updateData.phone_number || updateData.contact_phone || 'não informado';\n      const email = currentData.email || updateData.email || 'não informado';\n      const city = updateData.city || 'não informado';\n      const serviceType = currentData.service_type || 'não informado';\n      const serviceInfo = serviceDisplay[serviceType] || { emoji: '❓', name: 'Não informado' };\n\n      responseText = templates.confirmation\n        .replace('{{name}}', leadName)\n        .replace('{{phone}}', formatPhoneDisplay(phoneNumber))\n        .replace('{{email}}', email)\n        .replace('{{city}}', city)\n        .replace('{{service_emoji}}', serviceInfo.emoji)\n        .replace('{{service_name}}', serviceInfo.name);\n\n      nextStage = 'confirmation';\n\n    } else {\n      console.log('V63: Invalid city (too short)');\n      responseText = `❌ *Cidade inválida*\\n\\n${templates.city_request.replace('{{name}}', currentData.lead_name || 'cliente')}`;\n      nextStage = 'collect_city';\n    }\n    break;\n\n  // ===== STATE 8: CONFIRMATION - Final confirmation =====\n  case 'confirmation':\n    console.log('V63: Processing CONFIRMATION state');\n\n    if (message === 'sim') {\n      console.log('V63: User confirmed data');\n\n      // Check service_selected to determine next flow\n      const serviceSelected = currentData.service_selected || updateData.service_selected || '1';\n\n      if (serviceSelected === '1' || serviceSelected === '3') {\n        // Service 1 (Solar) or 3 (Projetos) → scheduling\n        console.log('V63: Routing to SCHEDULING (service:', serviceSelected, ')');\n        responseText = templates.scheduling_redirect;\n        nextStage = 'scheduling'; // ✅ TRIGGERS \"Trigger Appointment Scheduler\"\n        updateData.status = 'scheduling';\n\n      } else {\n        // Other services → handoff to commercial team\n        console.log('V63: Routing to HANDOFF_COMERCIAL (service:', serviceSelected, ')');\n        responseText = templates.handoff_comercial;\n        nextStage = 'handoff_comercial'; // ✅ TRIGGERS \"Trigger Human Handoff\"\n        updateData.status = 'handoff';\n      }\n\n    } else if (message === 'não' || message === 'nao') {\n      console.log('V63: User wants to correct data');\n\n      // Ask which field to correct\n      responseText = `📝 *Qual dado deseja corrigir?*\\n\\n` +\n                    `1️⃣ - Nome\\n` +\n                    `2️⃣ - Telefone\\n` +\n                    `3️⃣ - E-mail\\n` +\n                    `4️⃣ - Cidade\\n` +\n                    `5️⃣ - Serviço\\n\\n` +\n                    `_Digite o número do campo_`;\n      nextStage = 'confirmation_correction';\n\n    } else {\n      console.log('V63: Invalid confirmation response');\n\n      // Regenerate confirmation with current data\n      const leadName = currentData.lead_name || 'não informado';\n      const phoneNumber = currentData.contact_phone || currentData.phone_number || 'não informado';\n      const email = currentData.email || 'não informado';\n      const city = currentData.city || 'não informado';\n      const serviceType = currentData.service_type || 'não informado';\n      const serviceInfo = serviceDisplay[serviceType] || { emoji: '❓', name: 'Não informado' };\n\n      responseText = `❌ *Opção inválida*\\n\\nPor favor, digite *sim* ou *não*\\n\\n` +\n                    templates.confirmation\n                      .replace('{{name}}', leadName)\n                      .replace('{{phone}}', formatPhoneDisplay(phoneNumber))\n                      .replace('{{email}}', email)\n                      .replace('{{city}}', city)\n                      .replace('{{service_emoji}}', serviceInfo.emoji)\n                      .replace('{{service_name}}', serviceInfo.name);\n      nextStage = 'confirmation';\n    }\n    break;\n\n  // ===== CORRECTION STATE - Handle field corrections =====\n  case 'confirmation_correction':\n    console.log('V63: Processing CORRECTION state');\n\n    if (/^[1-5]$/.test(message)) {\n      const correctionField = message;\n      console.log('V63: User wants to correct field:', correctionField);\n\n      switch (correctionField) {\n        case '1': // Nome\n          responseText = templates.service_acknowledged; // Reuse template that asks for name\n          nextStage = 'collect_name';\n          break;\n        case '2': // Telefone\n          responseText = templates.phone_alternative.replace('{{name}}', currentData.lead_name || 'cliente');\n          nextStage = 'collect_phone_alternative';\n          break;\n        case '3': // E-mail\n          responseText = templates.email_request.replace('{{name}}', currentData.lead_name || 'cliente');\n          nextStage = 'collect_email';\n          break;\n        case '4': // Cidade\n          responseText = templates.city_request.replace('{{name}}', currentData.lead_name || 'cliente');\n          nextStage = 'collect_city';\n          break;\n        case '5': // Serviço\n          responseText = templates.greeting;\n          nextStage = 'service_selection';\n          break;\n      }\n\n    } else {\n      console.log('V63: Invalid correction option');\n      responseText = `❌ *Opção inválida*\\n\\n` +\n                    `📝 *Qual dado deseja corrigir?*\\n\\n` +\n                    `1️⃣ - Nome\\n` +\n                    `2️⃣ - Telefone\\n` +\n                    `3️⃣ - E-mail\\n` +\n                    `4️⃣ - Cidade\\n` +\n                    `5️⃣ - Serviço\\n\\n` +\n                    `_Digite o número do campo (1 a 5)_`;\n      nextStage = 'confirmation_correction';\n    }\n    break;\n\n  // ===== DEFAULT - Unknown state =====\n  default:\n    console.log('V63: Unknown state, returning to greeting');\n    responseText = templates.greeting;\n    nextStage = 'greeting';\n}\n\n// ===================================================\n// RETURN RESULTS - V63.1 FIX\n// ===================================================\n\nconsole.log('V63.1: Next stage:', nextStage);\nconsole.log('V63.1: Update data:', JSON.stringify(updateData));\nconsole.log('V63.1: Response length:', responseText.length);\nconsole.log('V63.1: Phone number:', input.phone_number);\n\n// V63.1 FIX: Pass ALL input data to Build Update Queries\nreturn {\n  response_text: responseText,\n  next_stage: nextStage,\n  update_data: updateData,\n\n  // V63.1 CRITICAL FIX: Pass phone data (was missing in V63)\n  phone_number: input.phone_number || input.phone_with_code || '',\n  phone_with_code: input.phone_with_code || input.phone_number || '',\n  phone_without_code: input.phone_without_code || '',\n\n  // V63.1 FIX: Pass conversation data\n  conversation_id: input.conversation_id || null,\n  message: input.message || '',\n  message_id: input.message_id || '',\n  message_type: input.message_type || 'text',\n\n  // V63.1 FIX: Pass collected_data for Build Update Queries\n  collected_data: {\n    ...currentData,\n    ...updateData\n  },\n\n  // V63.1 Metadata\n  v63_1_fix_applied: true,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "3b0d5abe-e6f6-435d-9ff1-8d55163dcaa4",
      "name": "State Machine Logic",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        320,
        432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_update_conversation }}"
      },
      "id": "66353703-f1f3-484e-9968-38434542d35f",
      "name": "Update Conversation State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        608,
        752
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_save_inbound }}"
      },
      "id": "81b1fa8f-a8d0-4ff8-8181-ee25c085d2f3",
      "name": "Save Inbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        720,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_save_outbound }}"
      },
      "id": "73cd6d71-0a16-427a-aaae-f46a450c7788",
      "name": "Save Outbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        912,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://e2bot-evolution-dev:8080/message/sendText/e2-solucoes-bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "ae569043cfa169380c378347f91a1141ea572541d2d1cadbed222db519c8a891"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $node[\"Build Update Queries\"].json[\"phone_number\"] }}"
            },
            {
              "name": "text",
              "value": "={{ $node[\"Build Update Queries\"].json[\"response_text\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f54980b-240b-43f6-bd38-6cd95e547d86",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        928,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.next_stage }}",
              "value2": "scheduling"
            }
          ]
        }
      },
      "id": "689d6869-74ad-486c-920d-75feff34c381",
      "name": "Check If Scheduling",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1136,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.next_stage }}",
              "value2": "handoff_comercial"
            }
          ]
        }
      },
      "id": "e6eb8498-894a-42c5-9ab2-268128a46989",
      "name": "Check If Handoff",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1136,
        880
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id + 3 }}",
        "options": {}
      },
      "id": "4881d6ce-2c8a-4acc-af3e-2d41eaf35f36",
      "name": "Trigger Appointment Scheduler",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1344,
        592
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id + 8 }}",
        "options": {}
      },
      "id": "88c3d6ed-566a-41d8-a3c9-d0b6ac5d903d",
      "name": "Trigger Human Handoff",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1344,
        880
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query_upsert_lead }}",
        "options": {}
      },
      "id": "6e324676-b9d4-4075-9033-aaaef8880693",
      "name": "Upsert Lead Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        928,
        1024
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "VXA1r8sd0TMIdPvS",
          "name": "PostgreSQL - E2 Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ { success: true, stage: $json.next_stage } }}",
        "options": {}
      },
      "id": "16badfa3-fda3-43e7-9690-0ca5a6db30cd",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1536,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build SQL Queries Node - Prepara todas as queries SQL\n// Recebe dados do node anterior\nconst data = $input.first().json;\nconst phone_with_code = data.phone_with_code || '';\nconst phone_without_code = data.phone_without_code || '';\n\n// Validação de segurança\nif (!phone_with_code || !phone_without_code) {\n  throw new Error('Phone numbers not properly formatted');\n}\n\n// Escape simples para SQL injection\nconst escapeSql = (str) => {\n  return String(str).replace(/'/g, \"''\");\n};\n\n// Query para contar conversas existentes\nconst query_count = `\n  SELECT COUNT(*) as count\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n`.trim();\n\n// Query para buscar detalhes da conversa\nconst query_details = `\n  SELECT\n    *,\n    COALESCE(state_machine_state,\n      CASE current_state\n        WHEN 'novo' THEN 'greeting'\n        WHEN 'identificando_servico' THEN 'service_selection'\n        WHEN 'coletando_dados' THEN 'collect_name'\n        WHEN 'agendando' THEN 'scheduling'\n        WHEN 'handoff_comercial' THEN 'handoff_comercial'\n        WHEN 'concluido' THEN 'completed'\n        ELSE 'greeting'\n      END\n    ) as state_for_machine\n  FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  ORDER BY updated_at DESC\n  LIMIT 1\n`.trim();\n\n// Query para criar/atualizar conversa\nconst query_upsert = `\n  -- Limpar duplicatas antigas\n  DELETE FROM conversations\n  WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n  AND id NOT IN (\n    SELECT id FROM conversations\n    WHERE phone_number IN ('${escapeSql(phone_with_code)}', '${escapeSql(phone_without_code)}')\n    ORDER BY updated_at DESC\n    LIMIT 1\n  );\n\n  -- Inserir ou atualizar conversa\n  INSERT INTO conversations (\n    phone_number,\n    whatsapp_name,\n    service_id,\n    contact_name,\n    contact_email,\n    city,\n    current_state,\n    state_machine_state,\n    collected_data,\n    error_count,\n    created_at,\n    updated_at\n  ) VALUES (\n    '${escapeSql(phone_with_code)}',\n    '${escapeSql(data.whatsapp_name || '')}',\n    NULL,\n    NULL,\n    NULL,\n    NULL,\n    'novo',\n    'greeting',\n    '{}'::jsonb,\n    0,\n    CURRENT_TIMESTAMP,\n    CURRENT_TIMESTAMP\n  )\n  ON CONFLICT (phone_number) DO UPDATE SET\n    whatsapp_name = COALESCE(EXCLUDED.whatsapp_name, conversations.whatsapp_name),\n    last_message_at = CURRENT_TIMESTAMP,\n    updated_at = CURRENT_TIMESTAMP,\n    state_machine_state = CASE\n      WHEN conversations.state_machine_state IN ('completed', 'handoff_comercial')\n      THEN 'greeting'\n      ELSE conversations.state_machine_state\n    END\n  RETURNING *\n`.trim();\n\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (FIXED) ===');\nconsole.log('Phone with code:', phone_with_code);\nconsole.log('Phone without code:', phone_without_code);\nconsole.log('Queries built successfully as STRINGS');\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V27) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V27: PRESERVAR CAMPOS DE MENSAGEM\n// Log para debug\nconsole.log('=== BUILD SQL QUERIES (V28) ===');\nconsole.log('Input message fields:');\nconsole.log('  data.message:', data.message);\nconsole.log('  data.content:', data.content);\nconsole.log('  data.body:', data.body);\nconsole.log('  data.text:', data.text);\n\n// IMPORTANTE: Retornar cada query como campo string individual\n// V28: PRESERVAR CAMPOS DE MENSAGEM E RETORNAR ARRAY\nconst result = {\n  ...data,  // Pass through ALL original data\n\n  // SQL Queries\n  query_count: query_count,        // String SQL\n  query_details: query_details,    // String SQL\n  query_upsert: query_upsert,      // String SQL\n\n  // V28 CRITICAL: Explicitly preserve message fields\n  message: data.message || '',\n  content: data.content || '',\n  body: data.body || '',\n  text: data.text || '',\n\n  // Phone fields\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  phone_number: data.phone_number || phone_with_code,\n\n  // Other fields\n  whatsapp_name: data.whatsapp_name || ''\n};\n\n// V28: Return as array for n8n compatibility\nconsole.log('V28: Build SQL Queries returning array');\nreturn [result];"
      },
      "id": "720cb1d4-f306-4b9a-885c-4819e20ba03d",
      "name": "Build SQL Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        272
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados após o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // ← ARRAY RETURN FIX"
      },
      "id": "fa6e38f7-1d32-4861-bc3d-1fe9355fe60e",
      "name": "Merge Queries Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        16
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Merge Queries Node - V28 Array Return Fix\n// Este node garante que os campos query_* sejam preservados após o IF node\n// V28: RETORNA ARRAY DE OBJETOS como n8n espera\n\nconst inputData = $input.first().json;\nconst queryData = $node[\"Build SQL Queries\"].json;\n\n// Log para debug\nconsole.log('=== MERGE QUERIES V28 ARRAY FIX ===');\nconsole.log('Input has count:', inputData.count);\nconsole.log('Query data available:', !!queryData);\nconsole.log('Message fields from queryData:');\nconsole.log('  queryData.message:', queryData.message);\nconsole.log('  queryData.content:', queryData.content);\nconsole.log('  queryData.body:', queryData.body);\nconsole.log('  queryData.text:', queryData.text);\n\n// Merge todos os dados preservando os campos de query E mensagem\nconst mergedData = {\n    ...inputData,\n    ...queryData,  // V28: Include ALL fields from queryData\n\n    // Preservar todos os campos de query do Build SQL Queries\n    query_count: queryData.query_count,\n    query_details: queryData.query_details,\n    query_upsert: queryData.query_upsert,\n\n    // V28 CRITICAL: Preservar campos de mensagem\n    message: queryData.message || inputData.message || '',\n    content: queryData.content || inputData.content || '',\n    body: queryData.body || inputData.body || '',\n    text: queryData.text || inputData.text || '',\n\n    // Preservar dados do telefone\n    phone_with_code: queryData.phone_with_code,\n    phone_without_code: queryData.phone_without_code,\n    phone_number: queryData.phone_number || queryData.phone_with_code,\n\n    // Manter o count do resultado anterior\n    count: inputData.count || 0,\n\n    // Pass through outros dados\n    whatsapp_name: queryData.whatsapp_name || inputData.whatsapp_name || ''\n};\n\n// V28 CRITICAL: Return ARRAY of objects, not single object\nconsole.log('V28: Returning array with 1 object');\nreturn [mergedData];  // ← ARRAY RETURN FIX"
      },
      "id": "f5af431d-1cd1-41f9-8253-3023f61c18de",
      "name": "Merge Queries Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        1040
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Build Update Queries - V58.1 (GAP #6 and #8 FIXES)\nconst inputData = $input.first().json;\n\nconsole.log('=== V58.1 BUILD UPDATE QUERIES (GAP #6 & #8 FIXES) ===');\nconsole.log('Input keys:', Object.keys(inputData));\n\n// Helper functions\nconst escapeSql = (str) => {\n  if (str === null || str === undefined || str === '') return '';\n  return String(str).replace(/'/g, \"''\");\n};\n\nconst prepareJsonb = (obj) => {\n  if (!obj || typeof obj !== 'object') return '{}';\n  return JSON.stringify(obj).replace(/'/g, \"''\");\n};\n\n// Extract phone data\nlet phone_number = String(inputData.phone_number || '');\nphone_number = phone_number.replace(/[^0-9]/g, '');\n\nif (phone_number && !phone_number.startsWith('55')) {\n  if (phone_number.length === 10 || phone_number.length === 11) {\n    phone_number = '55' + phone_number;\n  }\n}\n\nconst phone_with_code = phone_number;\nconst phone_without_code = phone_number.startsWith('55') ? phone_number.substring(2) : phone_number;\n\n// Extract other data\nconst response_text = escapeSql(inputData.response_text || 'Olá! Como posso ajudar?');\nconst next_stage = inputData.next_stage || inputData.current_state || 'greeting';\nconst collected_data = inputData.collected_data || {};\nconst collected_data_json = prepareJsonb(collected_data);\nconst message_content = escapeSql(inputData.message || '');\nconst message_type = inputData.message_type || 'text';\nconst message_id = inputData.message_id || '';\nconst conversation_id = inputData.conversation_id || null;\n\n// GAP #6: Extract service_type from collected_data ✅\nconst service_type = collected_data?.service_type || null;\nconsole.log('V58.1 GAP #6: service_type extracted:', service_type);\n\n// GAP #8: Extract contact_phone with priority fallback ✅\nconst contact_phone = collected_data?.contact_phone ||\n                     collected_data?.phone_primary ||\n                     collected_data?.phone ||\n                     '';\nconsole.log('V58.1 GAP #8: contact_phone extracted:', contact_phone);\n\n// State mapping\nconst state_mapping = {\n  'greeting': 'novo',\n  'service_selection': 'identificando_servico',\n  'collect_name': 'coletando_dados',\n  'collect_phone': 'coletando_dados',\n  'collect_phone_whatsapp_confirmation': 'coletando_dados',  // V58.1 NEW\n  'collect_phone_alternative': 'coletando_dados',            // V58.1 NEW\n  'collect_email': 'coletando_dados',\n  'collect_city': 'coletando_dados',\n  'confirmation': 'coletando_dados',\n  'scheduling': 'agendando',\n  'handoff_comercial': 'handoff_comercial',\n  'completed': 'concluido'\n};\n\nconst db_state = state_mapping[next_stage] || 'novo';\n\nconsole.log('V58.1: Building queries with GAP #6 and #8 fixes');\n\n// Query 1: Update Conversation State (V58.1 with GAP #6 and #8)\nconst query_update_conversation = `\nINSERT INTO conversations (\n  phone_number,\n  whatsapp_name,\n  current_state,\n  state_machine_state,\n  collected_data,\n  service_type,           -- GAP #6 ✅\n  contact_name,\n  contact_email,\n  contact_phone,          -- GAP #8 ✅\n  city,\n  status,\n  last_message_at,\n  created_at,\n  updated_at\n) VALUES (\n  '${phone_with_code}',\n  '${escapeSql(collected_data?.lead_name || '')}',\n  '${db_state}',\n  '${next_stage}',\n  '${collected_data_json}'::jsonb,\n  ${service_type ? \"'\" + escapeSql(service_type) + \"'\" : 'NULL'},  -- GAP #6 ✅\n  '${escapeSql(collected_data?.lead_name || '')}',\n  '${escapeSql(collected_data?.email || '')}',\n  '${escapeSql(contact_phone)}',  -- GAP #8 ✅\n  '${escapeSql(collected_data?.city || '')}',\n  'active',\n  NOW(),\n  NOW(),\n  NOW()\n)\nON CONFLICT (phone_number)\nDO UPDATE SET\n  current_state = EXCLUDED.current_state,\n  state_machine_state = EXCLUDED.state_machine_state,\n  collected_data = conversations.collected_data || EXCLUDED.collected_data,\n  service_type = COALESCE(EXCLUDED.service_type, conversations.service_type),  -- GAP #6 ✅\n  contact_name = COALESCE(NULLIF(EXCLUDED.contact_name, ''), conversations.contact_name),\n  contact_email = COALESCE(NULLIF(EXCLUDED.contact_email, ''), conversations.contact_email),\n  contact_phone = COALESCE(EXCLUDED.contact_phone, conversations.contact_phone),  -- GAP #8 ✅\n  city = COALESCE(NULLIF(EXCLUDED.city, ''), conversations.city),\n  whatsapp_name = COALESCE(NULLIF(EXCLUDED.whatsapp_name, ''), conversations.whatsapp_name),\n  last_message_at = NOW(),\n  updated_at = NOW()\nRETURNING *`.trim();\n\nconsole.log('✅ V58.1: UPSERT query with GAP #6 (service_type) and GAP #8 (contact_phone)');\n\n// Query 2: Save Inbound Message (unchanged)\nconst query_save_inbound = `\nINSERT INTO messages (\n  conversation_id,\n  direction,\n  content,\n  message_type,\n  whatsapp_message_id,\n  created_at\n)\nVALUES (\n  (SELECT id FROM conversations WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}') ORDER BY updated_at DESC LIMIT 1),\n  'inbound',\n  '${message_content}',\n  '${message_type}',\n  '${message_id}',\n  NOW()\n)\nON CONFLICT (whatsapp_message_id)\nWHERE whatsapp_message_id IS NOT NULL AND whatsapp_message_id != ''\nDO NOTHING\nRETURNING *`.trim();\n\n// Query 3: Save Outbound Message (unchanged)\nconst query_save_outbound = `\nINSERT INTO messages (\n  conversation_id,\n  direction,\n  content,\n  message_type,\n  whatsapp_message_id,\n  created_at\n)\nVALUES (\n  (SELECT id FROM conversations WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}') ORDER BY updated_at DESC LIMIT 1),\n  'outbound',\n  '${response_text}',\n  'text',\n  'out_' || extract(epoch from NOW())::bigint || '_' || random()::text,\n  NOW()\n)\nRETURNING *`.trim();\n\n// Query 4: Upsert Lead Data (unchanged)\nconst query_upsert_lead = `\nWITH existing_lead AS (\n  SELECT id\n  FROM leads\n  WHERE phone_number IN ('${phone_with_code}', '${phone_without_code}')\n  LIMIT 1\n),\nupdated AS (\n  UPDATE leads\n  SET\n    name = COALESCE(NULLIF('${escapeSql(collected_data?.lead_name || '')}', ''), name),\n    email = COALESCE(NULLIF('${escapeSql(collected_data?.email || '')}', ''), email),\n    city = COALESCE(NULLIF('${escapeSql(collected_data?.city || '')}', ''), city),\n    service_type = COALESCE(NULLIF('${escapeSql(collected_data?.service_type || '')}', ''), service_type),\n    service_details = '${collected_data_json}'::jsonb,\n    updated_at = NOW()\n  WHERE id IN (SELECT id FROM existing_lead)\n  RETURNING *, 'updated' as operation\n),\ninserted AS (\n  INSERT INTO leads (\n    phone_number,\n    name,\n    email,\n    city,\n    service_type,\n    service_details,\n    created_at,\n    updated_at\n  )\n  SELECT\n    '${phone_with_code}',\n    '${escapeSql(collected_data?.lead_name || '')}',\n    '${escapeSql(collected_data?.email || '')}',\n    '${escapeSql(collected_data?.city || '')}',\n    '${escapeSql(collected_data?.service_type || '')}',\n    '${collected_data_json}'::jsonb,\n    NOW(),\n    NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM existing_lead)\n  RETURNING *, 'inserted' as operation\n)\nSELECT * FROM updated\nUNION ALL\nSELECT * FROM inserted`.trim();\n\nconsole.log('✅ V58.1: All queries built with GAP #6 and #8 fixes');\n\n// Return all queries and data\nreturn {\n  phone_number: phone_with_code,\n  phone_with_code: phone_with_code,\n  phone_without_code: phone_without_code,\n  response_text: inputData.response_text,\n  next_stage: next_stage,\n  collected_data: collected_data,\n  conversation_id: conversation_id,\n  message: inputData.message,\n  message_type: message_type,\n  message_id: message_id,\n\n  // Queries SQL\n  query_update_conversation,\n  query_save_inbound,\n  query_save_outbound,\n  query_upsert_lead,\n\n  // V58.1 metadata\n  v58_1_gap_6_applied: !!service_type,\n  v58_1_gap_8_applied: !!contact_phone,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "7ed4b34c-e158-4180-8d42-63042a07188e",
      "name": "Build Update Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        496
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "49d1b29d-e96c-45fa-b3e8-d87c09910b53",
      "name": "Merge Append New User V57",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        176,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// V57 Code Processor - Process append-merged data (NEW USER PATH)\nconsole.log('=== V63.2 CODE PROCESSOR NEW USER START ===');\n\nconst items = $input.all();\nconsole.log(`V63.2: Received ${items.length} items from Merge append`);\n\nif (items.length !== 2) {\n  console.error(`V63.2 ERROR: Expected 2 items from append, received ${items.length}`);\n  throw new Error(`V63.2: Merge append should produce 2 items, got ${items.length}`);\n}\n\nconst queriesData = items[0].json;  // Input 0 from Merge (Queries)\nconst dbData = items[1].json;       // Input 1 from Merge (Database)\n\nconsole.log('V63.2 Item 0 (Queries) keys:', Object.keys(queriesData).join(', '));\nconsole.log('V63.2 Item 1 (Database) keys:', Object.keys(dbData).join(', '));\n\nconst conversation_id = dbData.id || dbData.conversation_id || null;\n\nconsole.log('V63.2: Extracted conversation_id:', conversation_id);\n\nif (!conversation_id) {\n  console.error('V63.2 CRITICAL ERROR: conversation_id is NULL!');\n  console.error('V63.2: Database data (item[1]):', JSON.stringify(dbData, null, 2));\n  throw new Error('V63.2: No conversation_id found in database result');\n}\n\n// V63.2 CRITICAL FIX: Create currentData and current_stage for NEW users\nconst currentData = {};  // Empty for new users\nconst current_stage = 'greeting';  // Always greeting for new users\n\nconsole.log('V63.2 NEW USER: Setting current_stage:', current_stage);\nconsole.log('V63.2 NEW USER: Setting currentData:', JSON.stringify(currentData));\n\nconst combinedData = {\n  ...queriesData,\n  ...dbData,\n\n  conversation_id: conversation_id,\n  id: conversation_id,\n  phone_number: dbData.phone_number || queriesData.phone_number || '',\n  message: queriesData.message || queriesData.body || queriesData.text || '',\n\n  // V63.2 CRITICAL FIX: Add currentData and current_stage\n  currentData: currentData,        // ✅ NEW! (empty for new user)\n  current_stage: current_stage,    // ✅ NEW! (always greeting)\n  collected_data: {},              // ✅ Empty for new user\n\n  v63_2_fix_applied: true,\n  v63_2_processor_executed: true,\n  v63_2_processor_timestamp: new Date().toISOString(),\n  v63_2_items_processed: items.length,\n  v63_2_conversation_id_source: 'dbData.id',\n  v63_2_path: 'new_user',\n  v63_2_current_stage_set: current_stage,\n  v63_2_currentData_keys: ''  // Empty for new user\n};\n\nconsole.log('V63.2: Combined data keys:', Object.keys(combinedData).join(', '));\nconsole.log('V63.2: conversation_id in output:', combinedData.conversation_id);\nconsole.log('V63.2: phone_number in output:', combinedData.phone_number);\nconsole.log('V63.2: current_stage in output:', combinedData.current_stage);\nconsole.log('✅ V63.2 CODE PROCESSOR NEW USER COMPLETE');\n\nreturn [combinedData];\n"
      },
      "id": "22ec745c-5fa0-490b-9144-9545693e2503",
      "name": "Process New User Data V57",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        326,
        400
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "3c99d347-346a-4119-aabe-2a096dbc8a09",
      "name": "Merge Append Existing User V57",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        176,
        1100
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// V57 Code Processor - Process append-merged data (EXISTING USER PATH)\nconsole.log('=== V63.2 CODE PROCESSOR EXISTING USER START ===');\n\nconst items = $input.all();\nconsole.log(`V63.2: Received ${items.length} items from Merge append`);\n\nif (items.length !== 2) {\n  console.error(`V63.2 ERROR: Expected 2 items from append, received ${items.length}`);\n  throw new Error(`V63.2: Merge append should produce 2 items, got ${items.length}`);\n}\n\nconst queriesData = items[0].json;  // Input 0 from Merge (Queries)\nconst dbData = items[1].json;       // Input 1 from Merge (Database)\n\nconsole.log('V63.2 Item 0 (Queries) keys:', Object.keys(queriesData).join(', '));\nconsole.log('V63.2 Item 1 (Database) keys:', Object.keys(dbData).join(', '));\n\n// CRITICAL: Extract conversation_id from existing conversation\nconst conversation_id = dbData.id || dbData.conversation_id || null;\n\nconsole.log('V63.2: Extracted conversation_id:', conversation_id);\nconsole.log('V63.2: Type:', typeof conversation_id);\n\nif (!conversation_id) {\n  console.error('V63.2 CRITICAL ERROR: No conversation_id in existing user data!');\n  console.error('V63.2: Database data (item[1]):', JSON.stringify(dbData, null, 2));\n  throw new Error('V63.2: No conversation_id found in existing conversation');\n}\n\n// V63.2 CRITICAL FIX: Parse collected_data from database JSONB column\nlet collectedDataFromDb = {};\ntry {\n  // Database returns collected_data as string or already parsed object\n  if (typeof dbData.collected_data === 'string') {\n    collectedDataFromDb = JSON.parse(dbData.collected_data);\n  } else if (typeof dbData.collected_data === 'object' && dbData.collected_data !== null) {\n    collectedDataFromDb = dbData.collected_data;\n  }\n  console.log('V63.2: Parsed collected_data:', JSON.stringify(collectedDataFromDb));\n} catch (e) {\n  console.error('V63.2: Failed to parse collected_data:', e.message);\n  collectedDataFromDb = {};\n}\n\n// V63.2 CRITICAL FIX: Set current_stage from database state_machine_state\nconst current_stage = dbData.state_machine_state ||\n                     dbData.state_for_machine ||\n                     dbData.current_state ||\n                     'greeting';\n\nconsole.log('V63.2 CRITICAL: Setting current_stage:', current_stage);\n\n// V63.2 CRITICAL FIX: Create currentData object for State Machine\nconst currentData = {\n  ...collectedDataFromDb,  // All collected data from previous messages\n\n  // Add database fields to currentData\n  service_selected: collectedDataFromDb.service_selected || null,\n  service_type: collectedDataFromDb.service_type || dbData.service_type || null,\n  lead_name: collectedDataFromDb.lead_name || dbData.contact_name || null,\n  contact_phone: collectedDataFromDb.contact_phone || dbData.contact_phone || null,\n  email: collectedDataFromDb.email || dbData.contact_email || null,\n  city: collectedDataFromDb.city || dbData.city || null\n};\n\nconsole.log('V63.2 CRITICAL: Created currentData:', JSON.stringify(currentData));\n\n// V64 DEBUG: Extended logging\nconsole.log('=== V64 EXISTING USER EXTENDED DEBUG ===');\nconsole.log('V64: dbData.collected_data TYPE:', typeof dbData.collected_data);\nconsole.log('V64: dbData.collected_data RAW:', dbData.collected_data);\nconsole.log('V64: collectedDataFromDb PARSED:', JSON.stringify(collectedDataFromDb));\nconsole.log('V64: currentData.service_selected:', currentData.service_selected);\nconsole.log('V64: currentData.service_type:', currentData.service_type);\nconsole.log('V64: currentData.lead_name:', currentData.lead_name);\nconsole.log('V64: dbData.state_machine_state:', dbData.state_machine_state);\nconsole.log('V64: current_stage SET TO:', current_stage);\nconsole.log('=== V64 EXISTING USER DEBUG END ===');\n\nconst combinedData = {\n  ...queriesData,\n  ...dbData,\n\n  // EXPLICIT conversation_id mapping\n  conversation_id: conversation_id,\n  id: conversation_id,\n\n  phone_number: dbData.phone_number || queriesData.phone_number || '',\n  message: queriesData.message || queriesData.body || queriesData.text || '',\n\n  // V63.2 CRITICAL FIX: Add currentData and current_stage\n  currentData: currentData,                    // ✅ NEW!\n  current_stage: current_stage,                // ✅ NEW!\n  collected_data: collectedDataFromDb,         // ✅ Parsed from DB\n\n  v63_2_fix_applied: true,                     // ✅ NEW metadata\n  v63_2_processor_executed: true,\n  v63_2_processor_timestamp: new Date().toISOString(),\n  v63_2_items_processed: items.length,\n  v63_2_conversation_id_source: 'dbData.id',\n  v63_2_path: 'existing_user',\n  v63_2_current_stage_set: current_stage,      // ✅ Debug info\n  v63_2_currentData_keys: Object.keys(currentData).join(',')  // ✅ Debug info\n};\n\nconsole.log('V63.2: Combined data keys:', Object.keys(combinedData).join(', '));\nconsole.log('V63.2: conversation_id in output:', combinedData.conversation_id);\nconsole.log('V63.2: phone_number in output:', combinedData.phone_number);\nconsole.log('V63.2: current_stage in output:', combinedData.current_stage);\nconsole.log('V63.2: currentData keys in output:', Object.keys(combinedData.currentData || {}).join(', '));\nconsole.log('✅ V63.2 CODE PROCESSOR EXISTING USER COMPLETE');\n\nreturn [combinedData];\n"
      },
      "id": "f94a3de5-d69a-4662-a132-1bf0613a17f2",
      "name": "Process Existing User Data V57",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        326,
        1100
      ],
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Receive Message": {
      "main": [
        [
          {
            "node": "Prepare Phone Formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Count": {
      "main": [
        [
          {
            "node": "Check If New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If New User": {
      "main": [
        [
          {
            "node": "Merge Queries Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Queries Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation Details": {
      "main": [
        [
          {
            "node": "Merge Append Existing User V57",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create New Conversation": {
      "main": [
        [
          {
            "node": "Merge Append New User V57",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "State Machine Logic": {
      "main": [
        [
          {
            "node": "Build Update Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Check If Scheduling",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check If Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Scheduling": {
      "main": [
        [
          {
            "node": "Trigger Appointment Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Handoff": {
      "main": [
        [
          {
            "node": "Trigger Human Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Appointment Scheduler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Human Handoff": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Data": {
      "main": [
        [
          {
            "node": "Prepare Phone Formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Phone Formats": {
      "main": [
        [
          {
            "node": "Build SQL Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SQL Queries": {
      "main": [
        [
          {
            "node": "Get Conversation Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Queries Data": {
      "main": [
        [
          {
            "node": "Create New Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Append New User V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Queries Data1": {
      "main": [
        [
          {
            "node": "Get Conversation Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Append Existing User V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Queries": {
      "main": [
        [
          {
            "node": "Update Conversation State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Inbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Outbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Append New User V57": {
      "main": [
        [
          {
            "node": "Process New User Data V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Append Existing User V57": {
      "main": [
        [
          {
            "node": "Process Existing User Data V57",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process New User Data V57": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Existing User Data V57": {
      "main": [
        [
          {
            "node": "State Machine Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65.0.0",
  "meta": {
    "version": "v65-ux-fix-templates-only",
    "generated_at": "2026-03-11 12:06:52",
    "base_version": "V64 Complete Refactor",
    "generator_script": "generate-workflow-v65-ux-complete-fix.py (simplified)",
    "templates_updated": 14,
    "states": 8,
    "features": [
      "Updated confirmation template with 3 options",
      "New redirect messages (scheduling_redirect, handoff_redirect)",
      "All templates follow V65 spec UX",
      "Preserved V64 state machine logic (stable)"
    ],
    "notes": "V65 Simplified - Template updates only, no correction states yet (will be V66)"
  },
  "id": "LS2EakwfZkKyqeb4",
  "tags": [
    {
      "name": "v65-ux-fix-templates-only"
    },
    {
      "name": "ready-for-testing"
    }
  ]
}